/****** Object:  View [DataStore].[V_Resource]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [DataStore].[V_Resource] AS

SELECT	  ISNULL(ORORS.ResourceId, '_N/A') AS ResourceCode
		, ISNULL(NULLIF(ORORS.ResourceName, ''),'_N/A') AS ResourceName
		, CAST(ISNULL(ORORS.ResourceId + ' - '  + NULLIF(ORORS.ResourceName, ''), '_N/A') AS nvarchar(255)) AS ResourceCodeName
		, ISNULL(NULLIF(ORORGS.GroupId, ''), '_N/A') AS ResourceGroupCode
		, ISNULL(NULLIF(ORORGS.GroupName, ''), '_N/A') AS ResourceGroupName
		, CAST(ISNULL(NULLIF(ORORGS.GroupId, '') + ' - '  + NULLIF(ORORGS.GroupName, ''), '_N/A') AS nvarchar(255)) AS ResourceGroupCodeName
		, ISNULL(ORORS.DataAreaId,'_N/A') AS CompanyCode
		, ISNULL(STRM.Name, '_N/A') AS ResourceType
		, ISNULL(NULLIF(ORORGS.InputWarehouseId, ''), '_N/A') AS InputWarehouseCode
		, ISNULL(NULLIF(ORORGS.InputWarehouseLocationId, ''), '_N/A') AS InputWarehouseLocationCode
		, ISNULL(NULLIF(ORORGS.OutputWarehouseId, ''), '_N/A') AS OutputWarehouseCode
		, ISNULL(NULLIF(ORORGS.OutputWarehouseLocationId, ''), '_N/A') AS OutputWarehouseLocationCode
		, ISNULL(ORORS.EfficiencyPercentage, 0) AS EfficiencyPercentage
		, ISNULL(NULLIF(ORORS.RouteGroupId, ''), '_N/A') AS RouteGroupCode
		, ISNULL(NULLIF(ORORS.HasFiniteSchedulingCapacity, ''), 0) AS HasFiniteSchedulingCapacity --Technical Field
		, ISNULL(RGA.ValidFrom, '1900-01-01') AS ValidFromDate
		, ISNULL(RGA.ValidTo, '1900-01-01') AS ValidToDate
		, ISNULL(ORORWCAS.WorkCalendarId,'_N/A') AS CalendarCode

FROM dbo.SMRBIOpResOperationsResourceStaging ORORS

LEFT JOIN dbo.SMRBIOpResOperationsResourceGroupAssignmentStaging RGA
ON ORORS.DataAreaId = RGA.DataAreaId
	and ORORS.ResourceId = RGA.OperationsResourceId

LEFT JOIN dbo.SMRBIOpResOperationsResourceGroupStaging ORORGS
ON ORORGS.DataAreaId = RGA.DataAreaId
	and ORORGS.GroupId = RGA.OperationsResourceGroupId

LEFT JOIN dbo.SMRBIOpResOperationsResourceWorkCalendarAssignmentStaging ORORWCAS
ON ORORWCAS.DataAreaId = ORORS.DataAreaId
	and ORORWCAS.OperationsResourceId = ORORS.ResourceId

LEFT JOIN ETL.StringMap STRM
ON STRM.SourceTable = 'OpResOperationsResourceStaging'
	and STRM.SourceColumn = 'OperationsResourceType'
	and STRM.Enum = CAST(ORORS.OperationsResourceType AS nvarchar(1))

WHERE ORORS.IsIndividualResource = 1 --Only individual resources

/* Add resource group as resource for production capacity planning */

UNION ALL

SELECT ISNULL(ORORGS.GroupId, '_N/A') AS ResourceCode
		, ISNULL(ORORGS.GroupName, '_N/A') AS ResourceName
		, CAST(ISNULL(ORORGS.GroupId + ' - '  + NULLIF(ORORGS.GroupName, ''), '_N/A') AS nvarchar(255)) AS ResourceCodeName
		, ISNULL(ORORGS.GroupId, '_N/A') AS ResourceGroupCode
		, ISNULL(ORORGS.GroupName, '_N/A') AS ResourceGroupName
		, CAST(ISNULL(ORORGS.GroupId + ' - '  + NULLIF(ORORGS.GroupName, ''), '_N/A') AS nvarchar(255)) AS ResourceGroupCodeName
		, ORORGS.DataAreaId AS CompanyCode
		, N'Resource Group' AS ResourceType
		, ISNULL(NULLIF(ORORGS.InputWarehouseId, ''), '_N/A') AS InputWarehouseCode
		, ISNULL(NULLIF(ORORGS.InputWarehouseLocationId, ''), '_N/A') AS InputWarehouseLocationCode
		, ISNULL(NULLIF(ORORGS.OutputWarehouseId, ''), '_N/A') AS OutputWarehouseCode
		, ISNULL(NULLIF(ORORGS.OutputWarehouseLocationId, ''), '_N/A') AS OutputWarehouseLocationCode
		, CAST(0 AS int) AS EfficiencyPercentage
		, N'_N/A' AS RouteGroupCode
		, CAST(0 AS int) AS HasFiniteSchedulingCapacity
		, CAST('1900-01-01' AS datetime) AS ValidFromDate
		, CAST('9999-12-31' AS datetime) AS ValidToDate
		, N'_N/A' AS CalendarCode

FROM dbo.SMRBIOpResOperationsResourceGroupStaging ORORGS
GO
