/****** Object:  View [DataStore].[V_Time]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DataStore].[V_Time] AS

SELECT	DimTimeId
		, HourId
		, HourZoneCode
		, HourZoneName
		, MinuteId
		, [Time]

FROM ETL.Time
GO
