/****** Object:  View [DataStore].[V_ForecastModel]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DataStore].[V_ForecastModel] AS 

SELECT	UPPER(FMS.DataAreaId) AS CompanyCode
	  , UPPER(FMS.ModelId) AS ForecastModelCode
	  , ISNULL(FMS.ModelName,'_N/A') AS ForecastModelName
	  , ISNULL(UPPER(FSMS.SubModelId),'_N/A') AS ForecastSubModelCode
FROM dbo.SMRBIForecastModelStaging FMS

LEFT JOIN (SELECT DISTINCT * 
		   FROM dbo.SMRBIForecastSubModelStaging) FSMS

ON FMS.ModelId = FSMS.ModelId
GO
