/****** Object:  View [DataStore].[V_AccountsPayable]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [DataStore].[V_AccountsPayable] AS

WITH [Period] AS (
	SELECT MIN(MonthId) AS DimPeriodId
		 , MonthId
		 , MAX([DateTime]) AS PeriodDate
		 , YearId
	FROM ETL.Date
	WHERE DateTime <= GETDATE()
	GROUP BY MonthId, YEAR([DateTime]), MONTH([DateTime]), YearId
	),

	MaxSettlement AS (
	SELECT	VSS.TransRecId AS TransRecId
		  , CASE
			   WHEN VTS.Closed = '1900-01-01' THEN GETDATE()
			   ELSE MAX(VSS.TransDate)
			END AS MaxTransDate
			/* When not Closed yet -> return numbers up until now */
	FROM dbo.SMRBIVendSettlementStaging VSS 
	JOIN dbo.SMRBIVendTransStaging VTS
	ON VSS.TransRecId = VTS.VendTransRecId
	GROUP BY VSS.TransRecId, VTS.Closed
	),

	CumulSettlementsPerPeriod AS (
	SELECT	  VSS.AccountNum AS AccountNum
			, VSS.TransCompany AS TransCompany
			, MAX(VSS.TransDate) AS MaxTransDatePerPeriod
			, VSS.TransRecId AS TransRecId
			, SUM(CONVERT(decimal(22,6),VSS.ExChAdjustment)) AS ExChAdjustment
			, SUM(CONVERT(decimal(22,6),VSS.SettleAmountCur)) AS SettleAmountCur
			, SUM(CONVERT(decimal(22,6),VSS.SettleAmountMst)) AS SettleAmountMst
			, P.MonthId
	FROM [Period] P
	JOIN dbo.SMRBIVendSettlementStaging VSS
	ON YEAR(VSS.TransDate) * 100 + MONTH(VSS.TransDate) <= P.MonthId
	JOIN MaxSettlement 
	ON VSS.TransRecId = MaxSettlement.TransRecId 
	AND P.MonthId <= YEAR(MaxSettlement.MaxTransDate)*100 + MONTH(MaxSettlement.MaxTransDate)
	WHERE 1=1
	AND P.YearId >= 2005
	AND P.MonthId <= YEAR(GETDATE()-1) * 100 + MONTH(GETDATE()-1)
	GROUP BY VSS.AccountNum, VSS.TransCompany, VSS.TransRecId, P.MonthId, P.PeriodDate
	)

SELECT
		  --Information on fields
		  Concat(VTS.VendTransRecId,VTS.DataAreaId) AS AccountsPayableCodeScreening
		, VTS.VendTransRecId AS RecId
		, ISNULL(CASE WHEN VTS.Invoice = '' THEN NULL ELSE UPPER(VTS.Invoice) END, N'_N/A') AS PurchaseInvoiceCode
		, ISNULL(VTS.Voucher, N'_N/A') AS PayablesVoucher
		, ISNULL(NULLIF(CONVERT(nvarchar(255), CASE 
												 WHEN LEN(LTRIM(RTRIM(UPPER(VTS.Txt)))) > 255 
												 THEN LEFT(LTRIM(RTRIM(UPPER(VTS.Txt))), 255 - 3) + '...' 
												 ELSE LTRIM(RTRIM(UPPER(VTS.Txt))) 
											   END), ''), '_N/A') AS [Description]
		  --Dimensions
		, ISNULL(UPPER(VTS.DataAreaId), N'_N/A') AS CompanyCode
		, CASE 
			WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.MonthId AND VTS.AmountCur = VSS.SettleAmountCur THEN 0 
			ELSE 1 
		  END AS DimIsOpenAmountId
        , CASE
            WHEN DATEDIFF(DAY, DATEADD(DAY,  0, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'<0'
            WHEN DATEDIFF(DAY, DATEADD(DAY,  7, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'0-7'
            WHEN DATEDIFF(DAY, DATEADD(DAY,  15, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'8-15'
            WHEN DATEDIFF(DAY, DATEADD(DAY,  30, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'16-30'
            WHEN DATEDIFF(DAY, DATEADD(DAY,  60, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'31-60'
            WHEN DATEDIFF(DAY, DATEADD(DAY,  90, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'61-90'
            WHEN DATEDIFF(DAY, DATEADD(DAY,  120, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'91-120'
            WHEN DATEDIFF(DAY, DATEADD(DAY,  180, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'121-180'
            WHEN DATEDIFF(DAY, DATEADD(DAY,  365, CASE WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate ELSE VTS.DueDate END), 
                                                CASE WHEN (YEAR(VTS.Closed) * 100 + MONTH(VTS.Closed)) = P.DimPeriodId AND VTS.AmountCur = VSS.SettleAmountCur 
                                                THEN VSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'181-365'
            ELSE N'>365' 
        END AS OutStandingPeriodCode

		, ISNULL(VTS.AccountNum, N'_N/A') AS SupplierCode
		, UPPER(VTS.CurrencyCode) AS TransactionCurrencyCode
		, ISNULL(CAST(UPPER(L.AccountingCurrency) AS Nvarchar(5)), N'_N/A') AS AccountingCurrencyCode
		, ISNULL(CAST(UPPER(L.ReportingCurrency) AS Nvarchar(5)), N'_N/A') AS ReportingCurrencyCode
		, ISNULL(CAST(UPPER(L.GroupCurrency) AS Nvarchar(5)), N'_N/A') AS GroupCurrencyCode
		  --Dates
		, ISNULL(NULLIF(VTS.TransDate, ''), '1900-01-01') AS InvoiceDate
		, CASE 
			WHEN VTS.DueDate < VTS.TransDate THEN VTS.TransDate
			WHEN VTS.DueDate BETWEEN D.MinDate AND D.MaxDate THEN VTS.DueDate
			ELSE '1900-01-01'
			END AS DueDate
		, ISNULL(VSS.MaxTransDatePerPeriod, '1900-01-01') AS LastPaymentDate
		, CASE 
			WHEN VTS.DocumentDate = '1900-01-01' THEN '1900-01-01' --When Documentdate is unrealistically low or high -> 19000101
			WHEN VTS.DocumentDate BETWEEN D.MinDate AND D.MaxDate THEN VTS.DocumentDate
			ELSE '1900-01-01'
		  END AS DocumentDate
		, P.DimPeriodId * 100 + '01' AS ReportDate
		  --Measures
		, CONVERT(decimal(22, 6), VTS.AmountCur) AS InvoiceAmountTC
		, CONVERT(decimal(22, 6), VTS.AmountMst) InvoiceAmountAC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode  = L.ReportingCurrency 
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur))  
					ELSE (CONVERT(decimal(22, 6), VTS.AmountCur)) * RC.ExchangeRate 
				 END, 0) AS InvoiceAmountRC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode  = L.GroupCurrency 
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur))  
					ELSE (CONVERT(decimal(22, 6), VTS.AmountCur)) * GC.ExchangeRate 
				 END, 0) AS InvoiceAmountGC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.AccountingCurrency 
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur))  ELSE (CONVERT(decimal(22, 6), VTS.AmountCur)) * AC_Budget.ExchangeRate 
				 END, 0) AS InvoiceAmountAC_Budget
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.ReportingCurrency 
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur))  ELSE (CONVERT(decimal(22, 6), VTS.AmountCur)) * RC_Budget.ExchangeRate 
				 END, 0) AS InvoiceAmountRC_Budget
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.GroupCurrency 
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur))  ELSE (CONVERT(decimal(22, 6), VTS.AmountCur)) * GC_Budget.ExchangeRate 
				 END, 0) AS InvoiceAmountGC_Budget
		, CASE 
			WHEN VSS.TransRecId IS NULL
			THEN 0.00 
			ELSE VSS.SettleAmountCur 
		  END AS PaidAmountTC
		, CASE
			WHEN VSS.TransRecId IS NULL
			THEN 0.00 
			ELSE VSS.SettleAmountMst 
		  END AS PaidAmountAC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.ReportingCurrency 
					THEN (CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)  
					ELSE (CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END) * RC.ExchangeRate 
				 END, 0) AS PaidAmountRC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode  = L.GroupCurrency 
					THEN (CASE WHEN VSS.TransRecId IS NULL 
					THEN 0.00 ELSE VSS.SettleAmountCur END)  
					ELSE (CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END) * GC.ExchangeRate 
				 END, 0) AS PaidAmountGC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.AccountingCurrency THEN (CASE 
					WHEN VSS.TransRecId IS NULL 
					THEN 0.00 ELSE VSS.SettleAmountCur END)  
					ELSE (CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END) * AC_Budget.ExchangeRate 
				 END, 0) AS PaidAmountAC_Budget
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.ReportingCurrency THEN (CASE 
					WHEN VSS.TransRecId IS NULL 
					THEN 0.00 ELSE VSS.SettleAmountCur END)  
					ELSE (CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END) * AC_Budget.ExchangeRate 
				 END, 0) AS PaidAmountRC_Budget
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.GroupCurrency THEN (CASE 
					WHEN VSS.TransRecId IS NULL 
					THEN 0.00 ELSE VSS.SettleAmountCur END)  
					ELSE (CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END) * AC_Budget.ExchangeRate 
				 END, 0) AS PaidAmountGC_Budget
		, CONVERT(decimal(22, 6), VTS.AmountCur) 
		  - CASE
				WHEN VSS.TransRecId IS NULL 
				THEN 0.00 
				ELSE VSS.SettleAmountCur 
			END AS OpenAmountTC
		, CONVERT(decimal(22, 6), VTS.AmountMst) 
		  + CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.ExChAdjustment END
		  - CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountMst END AS OpenAmountAC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.ReportingCurrency 
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur) - CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)
					ELSE ((CONVERT(decimal(22, 6), VTS.AmountCur)- CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)) * RC.ExchangeRate 
				 END, 0) AS OpenAmountRC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode  = L.GroupCurrency
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur) - CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)
					ELSE ((CONVERT(decimal(22, 6), VTS.AmountCur) - CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)) * GC.ExchangeRate 
				 END, 0) AS OpenAmountGC
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.AccountingCurrency
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur) - CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)
					ELSE ((CONVERT(decimal(22, 6), VTS.AmountCur)- CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)) * AC_Budget.ExchangeRate 
				 END, 0) AS OpenAmountAC_Budget
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.ReportingCurrency
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur) - CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)
					ELSE ((CONVERT(decimal(22, 6), VTS.AmountCur)- CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)) * RC_Budget.ExchangeRate 
				 END, 0) AS OpenAmountRC_Budget
		, ISNULL(CASE 
					WHEN VTS.CurrencyCode = L.GroupCurrency
					THEN (CONVERT(decimal(22, 6), VTS.AmountCur) - CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)
					ELSE ((CONVERT(decimal(22, 6), VTS.AmountCur)- CASE WHEN VSS.TransRecId IS NULL THEN 0.00 ELSE VSS.SettleAmountCur END)) * GC_Budget.ExchangeRate 
				 END, 0) AS OpenAmountGC_Budget
		, CAST(1 AS NUMERIC(38,6)) AS AppliedExchangeRateTC
		, ISNULL(RC.ExchangeRate, 0) AS AppliedExchangeRateRC
		, ISNULL(AC.ExchangeRate, 0) AS AppliedExchangeRateAC
		, ISNULL(GC.ExchangeRate, 0) AS AppliedExchangeRateGC
		, ISNULL(RC_Budget.ExchangeRate, 0) AS AppliedExchangeRateRC_Budget
		, ISNULL(AC_Budget.ExchangeRate, 0) AS AppliedExchangeRateAC_Budget
		, ISNULL(GC_Budget.ExchangeRate, 0) AS AppliedExchangeRateGC_Budget

FROM dbo.SMRBIVendTransStaging VTS WITH (NOLOCK)
INNER JOIN [Period] P WITH (NOLOCK) 
ON YEAR(VTS.TransDate) * 100 + MONTH(VTS.TransDate) <= P.MonthId
AND CASE WHEN VTS.Closed = '1900-01-01' THEN 999999 
		 WHEN VTS.Closed < VTS.TransDate THEN (YEAR(VTS.TransDate)*100 + MONTH(VTS.TransDate))
		 ELSE (YEAR(VTS.Closed)*100 + MONTH(VTS.Closed)) END >= P.MonthId
LEFT JOIN CumulSettlementsPerPeriod VSS
ON VTS.VendTransRecId = VSS.TransRecId 
AND P.MonthId = VSS.MonthId

--Required for currencies
JOIN 
	(SELECT DISTINCT LES.ReportingCurrency
			       , LES.AccountingCurrency
			       , LES.ExchangeRateType
			       , LES.BudgetExchangeRateType
			       , LES.[Name]
			       , G.GroupCurrencyCode AS GroupCurrency
	 FROM dbo.SMRBILedgerStaging LES
	 CROSS JOIN (SELECT TOP 1 GroupCurrencyCode FROM ETL.GroupCurrency) G
	) L
ON L.[Name] = VTS.DataAreaId

LEFT JOIN DataStore.ExchangeRate RC -- ReportingCurreny
ON RC.FromCurrencyCode = VTS.CurrencyCode 
AND RC.ToCurrencyCode = L.ReportingCurrency
AND RC.ExchangeRateTypeCode = L.ExchangeRateType
AND VTS.TransDate BETWEEN RC.ValidFrom AND RC.ValidTo

LEFT JOIN DataStore.ExchangeRate AC -- AccountingCurrency
ON AC.FromCurrencyCode = VTS.CurrencyCode
AND AC.ToCurrencyCode = L.AccountingCurrency
AND AC.ExchangeRateTypeCode = L.ExchangeRateType
AND VTS.TransDate BETWEEN AC.ValidFrom AND AC.ValidTo

LEFT JOIN DataStore.ExchangeRate GC -- GroupCurrency
ON GC.FromCurrencyCode = VTS.CurrencyCode 
AND GC.ToCurrencyCode  = L.GroupCurrency
AND GC.ExchangeRateTypeCode = L.ExchangeRateType
AND VTS.TransDate BETWEEN GC.ValidFrom AND GC.ValidTo
	
LEFT JOIN DataStore.ExchangeRate RC_Budget -- ReportingCurreny
ON RC_Budget.FromCurrencyCode = VTS.CurrencyCode 
AND RC_Budget.ToCurrencyCode = L.ReportingCurrency
AND RC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND VTS.TransDate BETWEEN RC_Budget.ValidFrom AND RC_Budget.ValidTo

LEFT JOIN DataStore.ExchangeRate AC_Budget -- AccountingCurrency
ON AC_Budget.FromCurrencyCode = VTS.CurrencyCode
AND AC_Budget.ToCurrencyCode = L.AccountingCurrency
AND AC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND VTS.TransDate BETWEEN AC_Budget.ValidFrom AND AC_Budget.ValidTo

LEFT JOIN DataStore.ExchangeRate GC_Budget -- GroupCurrency
ON GC_Budget.FromCurrencyCode = VTS.CurrencyCode 
AND GC_Budget.ToCurrencyCode  = L.GroupCurrency
AND GC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND VTS.TransDate BETWEEN GC_Budget.ValidFrom AND GC_Budget.ValidTo

--Required for ReportDate
CROSS JOIN 
	(SELECT MIN([DateTime]) AS MinDate, MAX([DateTime]) AS MaxDate 
	 FROM ETL.Date
	 WHERE YearId > 1900
		AND YearId < 9999) D

WHERE 1=1
	AND P.YearId >= 2005
	AND P.MonthId <= YEAR(GETDATE()-1) * 100 + MONTH(GETDATE()-1)
GO
