/****** Object:  View [DataStore].[V_Currency]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [DataStore].[V_Currency] AS

SELECT  UPPER(CS.CurrencyCode) AS CurrencyCode
	  , ISNULL(CS.[Name],'_N/A') AS CurrencyName
FROM dbo.SMRBICurrencyStaging CS
GO
