/****** Object:  View [DataStore].[V_PurchaseDelivery]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [DataStore].[V_PurchaseDelivery] AS


SELECT 
	  VPSJS.PackingSlipId AS PackingSlipCode	
/*Dimensions*/	
	, ISNULL(NULLIF(VPSJS.PurchId,''),'_N/A') AS PurchaseOrderCode
	, ISNULL(NULLIF(VPSJS.DataAreaId,''),'_N/A') AS CompanyCode
	, ISNULL(NULLIF(VPSTS.InventDimId,''),'_N/A') AS ProductConfigurationCode
	, ISNULL(NULLIF(VPSTS.ItemId,''),'_N/A') AS ProductCode
	, ISNULL(NULLIF(VPSJS.OrderAccount,''),'_N/A') AS OrderSupplierCode
	, ISNULL(NULLIF(VPSJS.InvoiceAccount,''),'_N/A') AS SupplierCode
	, ISNULL(NULLIF(VPSJS.DlvMode,''),'_N/A') AS DeliveryModeCode
	, ISNULL(NULLIF(VPSJS.DlvTerm,''),'_N/A') AS DeliveryTermsCode

/*Dates*/
	, CAST(ISNULL(VPSJS.DeliveryDate,'1900-01-01') AS DATE) AS ActualDeliveryDate
	, CAST(ISNULL(PO.RequestedDeliveryDate,'1900-01-01') AS DATE) AS RequestedDeliveryDate
	, CAST(ISNULL(PO.ConfirmedDeliveryDate,'1900-01-01') AS DATE) AS ConfirmedDeliveryDate

/*Delivery Details*/
	, CAST(ISNULL(NULLIF(StringMapPurchaseType.Name,''),'_N/A') AS NVARCHAR(50)) AS PurchaseType
	, ISNULL(VPSTS.PurchaseLineLineNumber,-1) AS PurchaseOrderLineNumber	
	, ISNULL(NULLIF(VPSJS.DeliveryName,''),'_N/A') AS DeliveryName
	, ISNULL(VPSTS.LineNum,-1) AS DeliveryLineNumber
	, ISNULL(NULLIF(VPSTS.PurchUnit,''),'_N/A') AS PurchaseUnit
	, VPSTS.Ordered AS QuantityOrdered
	, VPSTS.Qty AS QuantityDelivered	

FROM dbo.SMRBIVendPackingSlipJourStaging AS VPSJS

LEFT JOIN dbo.SMRBIVendPackingSlipTransStaging AS VPSTS
ON VPSJS.VendPackingSlipJourRecId = VPSTS.VendPackingSlipJour
AND VPSJS.DataAreaId = VPSTS.DataAreaId

LEFT JOIN DataStore.PurchaseOrder AS PO
ON VPSJS.PurchId = PO.PurchaseOrderCode
AND VPSTS.PurchaseLineLineNumber = PO.PurchaseOrderLineNumber
AND VPSTS.DataAreaId = PO.CompanyCode

--/*To get enum labels*/
LEFT JOIN ETL.StringMap StringMapPurchaseType
ON StringMapPurchaseType.SourceTable = 'PurchaseType'
AND StringMapPurchaseType.Enum = Cast(VPSJS.PurchaseType as NVARCHAR(25))
GO
