/****** Object:  View [DataStore].[V_DeliveryMode]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [DataStore].[V_DeliveryMode] AS 

SELECT	  UPPER(DDMS.DataAreaId) AS CompanyCode
		, UPPER(DDMS.ModeCode) AS DeliveryModeCode
		, ISNULL(DDMS.ModeDescription,'_N/A') AS DeliveryModeName

FROM dbo.SMRBIDeliveryModeStaging DDMS
GO
