/****** Object:  View [DataStore].[V_Product]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/* Create dynamic table for product attributes */

CREATE VIEW [DataStore].[V_Product] AS

SELECT	ProductId
	  , CompanyId AS CompanyCode
	  , ProductCode
	  , ProductName
	  , ProductGroupCode
	  , ProductGroupName
	  , ProductGroupCodeName
	  , ProductInventoryUnit
	  , ProductPurchaseUnit
	  , ProductSalesUnit
	  , PhysicalUnitSymbol
	  , PhysicalVolume
	  , PhysicalWeight
	  , PrimaryVendorId AS PrimaryVendorCode
	  , CountryOfOrigin
	  , IntrastatCommodityCode
	  , ABCClassification
--Product Attributes:
	  , Brand /* ADD IF REQUIRED */
	  , Material /* ADD IF REQUIRED */
	  , BusinessType /* ADD IF REQUIRED */

FROM
	(SELECT	ProductId
		  , CompanyId
		  , ProductCode
		  , ProductName
		  , ProductGroupCode
		  , ProductGroupName
		  , ProductGroupCodeName
		  , ProductInventoryUnit
		  , ProductPurchaseUnit
		  , PhysicalUnitSymbol
		  , PhysicalVolume
		  , PhysicalWeight
		  , ProductSalesUnit
		  , PrimaryVendorId
		  , CountryOfOrigin
		  , IntrastatCommodityCode
		  , ABCClassification
	--Product Attributes:
		  , ISNULL(NULLIF(MIN(P.[Brand]), ''),'_N/A') AS Brand--To be completed (field needs to be sourced) !!!
		  , ISNULL(NULLIF(MIN(P.[Material]), ''),'_N/A') AS Material --To be completed (field needs to be sourced) !!!
		  , ISNULL(NULLIF(MIN(P.[BusinessType]), ''),'_N/A') AS BusinessType --To be completed (field needs to be sourced) !!!
	FROM
		(SELECT	ERRPS.ProductRecId AS ProductId
				, UPPER(ERRPS.DataAreaId) AS CompanyId
				, ISNULL(NULLIF(UPPER(ERRPS.ItemNumber),''), '_N/A') AS ProductCode
				, ISNULL(NULLIF(ERPTS.ProductName, ''),'_N/A') AS ProductName
				, ISNULL(NULLIF(ERRPS.ProductGroupId, ''), '_N/A') AS ProductGroupCode
				, ISNULL(CASE WHEN IPGS.Name = '' THEN NULL ELSE IPGS.Name END, '_N/A') AS ProductGroupName
				, ISNULL((ERRPS.ProductGroupId + ' - '+ ISNULL(CASE WHEN IPGS.Name = '' THEN NULL ELSE IPGS.Name END, '_N/A')),'_N/A') AS ProductGroupCodeName
			  
				, ISNULL(NULLIF(UPPER(ERRPS.InventoryUnitSymbol), ''), '_N/A') AS ProductInventoryUnit
				, ISNULL(NULLIF(UPPER(ERRPS.PurchaseUnitSymbol), ''), '_N/A') AS ProductPurchaseUnit
				, ISNULL(NULLIF(UPPER(ERRPS.SalesUnitSymbol), ''), '_N/A') AS ProductSalesUnit
				, ISNULL(PDGD.PhysicalDepth, 0) * ISNULL(PDGD.PhysicalHeight, 0) * ISNULL(PDGD.PhysicalWidth, 0) AS PhysicalVolume
				, ISNULL(PDGD.PhysicalWeight, 0) AS PhysicalWeight
				, ISNULL(PDGD.PhysicalUnitSymbol,'_N/A') AS PhysicalUnitSymbol
			 
				, COALESCE(NULLIF(PPAVS.ApprovedVendorAccountNumber, ''), NULLIF(ERRPS.PrimaryVendorAccountNumber, ''), '_N/A') AS PrimaryVendorId

				, ISNULL(NULLIF(ERRPS.OriginCountryRegionId, ''),'_N/A') AS CountryOfOrigin
				, ISNULL(NULLIF(ERRPS.IntrastatCommodityCode, ''),'_N/A') AS IntrastatCommodityCode

				, ABCClassification = CAST(CASE WHEN ISNULL(NULLIF(ERRPS.RevenueAbcCode, ''), 0) = 0 THEN 'None'
							WHEN ISNULL(NULLIF(ERRPS.RevenueAbcCode, ''), 0) = 1 THEN 'A'
							WHEN ISNULL(NULLIF(ERRPS.RevenueAbcCode, ''), 0) = 2 THEN 'B'
							WHEN ISNULL(NULLIF(ERRPS.RevenueAbcCode, ''), 0) = 3 THEN 'C'
							END AS nvarchar(10))

				, PROD.AttributeName
				, PROD.AttributeValue

		FROM dbo.SMRBIEcoResReleasedProductStaging ERRPS

		--Required for Manufacturing Site
		LEFT JOIN 
			(SELECT	RankNr = ROW_NUMBER() OVER (PARTITION BY PPAVS.DataAreaId, PPAVS.ItemNumber ORDER BY PPAVS.DataAreaId, PPAVS.ItemNumber)
					, PPAVS.DataAreaId
					, PPAVS.ItemNumber
					, PPAVS.ApprovedVendorAccountNumber
					, VVS.VendorOrganizationName
				FROM dbo.SMRBIPurchProductApprovedVendorStaging PPAVS
				LEFT JOIN dbo.SMRBIVendorStaging VVS
				ON VVS.DataAreaId = PPAVS.DataAreaId
					and VVS.VendorAccountNumber = PPAVS.ApprovedVendorAccountNumber) PPAVS
		ON PPAVS.DataAreaId = ERRPS.DataAreaId
			and PPAVS.ItemNumber = ERRPS.ItemNumber
			and PPAVS.RankNr = 1 --Only take the primary vendor
		
		LEFT JOIN dbo.SMRBIWHSPhysicalDimensionGroupDetailStaging PDGD 
		ON ERRPS.PhysicalDimensionGroupId = PDGD.PhysicalDimensionGroupId
		AND ERRPS.DataAreaId = PDGD.DataAreaId
		AND ERRPS.InventoryUnitSymbol = PDGD.PhysicalUnitSymbol
		
		--Required for ProductName 
		LEFT JOIN dbo.SMRBIEcoResProductTranslationStaging ERPTS
		ON ERRPS.ProductNumber = ERPTS.ProductNumber
		AND ERPTS.LanguageId = 'en-us' --> Required?

		--Required for ProductGroupName
		LEFT JOIN dbo.SMRBIInventProductGroupStaging IPGS
		ON ERRPS.ProductGroupId = IPGS.ItemGroupId
		AND ERRPS.DataAreaId = IPGS.DataAreaId		
		
		LEFT JOIN 
			(SELECT	COALESCE(ERPAVS1.ProductNumber, ERPAVS2.ProductNumber, ERPAVS3.ProductNumber, ERPAVS4.ProductNumber
						   , ERPAVS5.ProductNumber, ERPAVS20.ProductNumber) AS ProductNumber
				  , COALESCE(ERPAVS1.AttributeName, ERPAVS2.AttributeName, ERPAVS3.AttributeName, ERPAVS4.AttributeName
						   , ERPAVS5.AttributeName, ERPAVS20.AttributeName) AS AttributeName
				  , CASE 
		  				WHEN ERPAVS.DataType = 1 THEN CAST(ERPAVS1.CurrencyCode AS NVARCHAR(100))
		  				WHEN ERPAVS.DataType = 2 THEN CAST(ERPAVS2.DateTimeValue AS NVARCHAR(100))
		  				WHEN ERPAVS.DataType = 3 THEN CAST(ERPAVS3.DecimalValue AS NVARCHAR(100))
		  				WHEN ERPAVS.DataType = 4 THEN CAST(ERPAVS4.IntegerValue AS NVARCHAR(100))
		  				WHEN ERPAVS.DataType = 5 THEN CAST(ERPAVS5.TextValue AS NVARCHAR(100))
		  				WHEN ERPAVS.DataType = 20 THEN CAST(ERPAVS20.BooleanValue AS NVARCHAR(100))
		  			END AS AttributeValue	

			 FROM dbo.SMRBIEcoResProductAttributeValueStaging ERPAVS

			 LEFT JOIN dbo.SMRBIEcoResProductAttributeValueStaging ERPAVS1
			 ON ERPAVS.Name = ERPAVS1.AttributeTypeName
			 AND ERPAVS.ProductNumber = ERPAVS1.ProductNumber
			 AND ERPAVS.DataType = 1

			 LEFT JOIN dbo.SMRBIEcoResProductAttributeValueStaging ERPAVS2
			 ON ERPAVS.Name = ERPAVS2.AttributeTypeName
			 AND ERPAVS.ProductNumber = ERPAVS2.ProductNumber
			 AND ERPAVS.DataType = 2

			 LEFT JOIN dbo.SMRBIEcoResProductAttributeValueStaging ERPAVS3
			 ON ERPAVS.Name = ERPAVS3.AttributeTypeName
			 AND ERPAVS.ProductNumber = ERPAVS3.ProductNumber
			 AND  ERPAVS.DataType = 3

			 LEFT JOIN dbo.SMRBIEcoResProductAttributeValueStaging ERPAVS4
			 ON ERPAVS.Name = ERPAVS4.AttributeTypeName
			 AND  ERPAVS.ProductNumber = ERPAVS4.ProductNumber
			 AND  ERPAVS.DataType = 4

			 LEFT JOIN dbo.SMRBIEcoResProductAttributeValueStaging ERPAVS5
			 ON ERPAVS.Name = ERPAVS5.AttributeTypeName
			 AND  ERPAVS.ProductNumber = ERPAVS5.ProductNumber
			 AND  ERPAVS.DataType = 5

			 LEFT JOIN dbo.SMRBIEcoResProductAttributeValueStaging ERPAVS20
			 ON ERPAVS.Name = ERPAVS20.AttributeTypeName
			 AND  ERPAVS.ProductNumber = ERPAVS20.ProductNumber
			 AND  ERPAVS.DataType = 20

			 WHERE 1=1
			 AND COALESCE(ERPAVS1.ProductNumber, ERPAVS2.ProductNumber, ERPAVS3.ProductNumber, ERPAVS4.ProductNumber
	 					, ERPAVS5.ProductNumber, ERPAVS20.ProductNumber) IS NOT NULL
			) PROD
		ON PROD.ProductNumber = ERRPS.ItemNumber

		) ATTR

	PIVOT (MIN(AttributeValue) FOR AttributeName IN ([Brand], [Material], [BusinessType])) AS P /* ADD IF REQUIRED */

	GROUP BY  ProductId
			, CompanyId
			, ProductCode
			, ProductName
			, ProductGroupCode
			, ProductGroupName
			, ProductGroupCodeName
			, ProductInventoryUnit
			, ProductPurchaseUnit
			, ProductSalesUnit
			, PhysicalUnitSymbol
			, PhysicalVolume
			, PhysicalWeight
			, PrimaryVendorId
			, CountryOfOrigin
			, IntrastatCommodityCode
			, ABCClassification
		
	) ATTR2
GO
