/****** Object:  View [DataStore].[V_Supplier]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [DataStore].[V_Supplier] AS

SELECT	VVS.VendTableRecId AS SupplierId
	  , UPPER(VVS.DataAreaId) AS CompanyCode
	  , UPPER(VVS.VendorAccountNumber) AS SupplierCode
	  , ISNULL(VVS.Name,'_N/A') AS SupplierName
	  , UPPER(VVS.VendorAccountNumber) + ' - ' + ISNULL(VVS.Name,'_N/A') AS SupplierCodeName
	  , ISNULL(CASE WHEN VVS.VendorGroupId = '' THEN NULL ELSE VVS.VendorGroupId END,'_N/A') AS SupplierGroupCode
	  , ISNULL((CASE WHEN VVGS.[Description] = '' THEN NULL ELSE VVGS.[Description] END), '_N/A') AS SupplierGroupName
	  , ISNULL(CASE WHEN VVS.VendorGroupId = '' THEN NULL ELSE VVS.VendorGroupId END,'_N/A') + ' - ' + ISNULL((CASE WHEN VVGS.[Description] = '' THEN NULL ELSE VVGS.[Description] END), '_N/A') AS SupplierGroupCodeName
	  , CAST(ISNULL(CASE WHEN VVS.FormattedPrimaryAddress = '' THEN NULL ELSE VVS.FormattedPrimaryAddress END,'_N/A') AS NVARCHAR(255)) AS [Address] --Remove cast !!! 
	  , ISNULL(CASE WHEN VVS.AddressZipCode = '' THEN NULL ELSE VVS.AddressZipCode END,'_N/A') AS PostalCode
	  , ISNULL(CASE WHEN VVS.AddressCity = '' THEN NULL ELSE VVS.AddressCity END,'_N/A') AS City
	  , ISNULL(CASE WHEN VVS.AddressCountryRegionId = '' THEN NULL ELSE VVS.AddressCountryRegionId END,'_N/A') AS CountryRegionCode
	  , ISNULL(NULLIF(VVS.CompanyChainName, ''), N'_N/A') AS CompanyChainName

FROM dbo.SMRBIVendorStaging VVS

LEFT JOIN dbo.SMRBIVendVendorGroupStaging VVGS
ON VVS.VendorGroupId = VVGS.VendorGroupId
AND VVS.DataAreaId = VVGS.DataAreaId
GO
