/****** Object:  View [DataStore].[V_GeneralLedgerHistoric]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXECUTE ETL.SPR_LoadDataStoreData 'DataStore', 'GeneralLedgerHistoric', 0

/****** Script for SelectTopNRows command from SSMS  ******/
CREATE VIEW [DataStore].[V_GeneralLedgerHistoric]
AS
SELECT CAST(- 1 AS INT) AS RecId
	, CAST(N'_N/A' AS NVARCHAR(100)) AS TransactionCode
	, CAST(UPPER(ISNULL(CompanyCode, N'_N/A')) AS NVARCHAR(100)) AS CompanyCode
	, CAST(UPPER(L.ExchangeRateType) AS NVARCHAR(100)) AS DefaultExchangeRateTypeCode
	, CAST(UPPER(L.BudgetExchangeRateType) AS NVARCHAR(100)) AS BudgetExchangeRateTypeCode
	, CAST(UPPER(LES.AccountingCurrency) AS NVARCHAR(100)) AS TransactionCurrencyCode
	--CAST(, ISNULL(CAST(UPPER(LES.AccountingCurrency) AS NVARCHAR(5)), N'_N/A') AS AccountingCurrencyCode
	, CAST(ISNULL(UPPER(GL.AccountingCurrencyCode), N'_N/A') AS NVARCHAR(100)) AS AccountingCurrencyCode
	, ISNULL(CAST(UPPER(LES.ReportingCurrency) AS NVARCHAR(5)), N'_N/A') AS ReportingCurrencyCode
	, ISNULL(CAST(UPPER(L.GroupCurrency) AS NVARCHAR(5)), N'_N/A') AS GroupCurrencyCode
	, CAST(UPPER(ISNULL(GLAccountCode, N'_N/A')) AS nvarchar(100)) AS GLAccountCode
	, CAST(UPPER(ISNULL(IntercompanyCode, N'_N/A'))  AS nvarchar(100)) AS InterCompanyCode
	, CAST(UPPER(ISNULL(BusinessSegmentCode, N'_N/A'))  AS NVARCHAR(100)) AS BusinessSegmentCode
	, CAST(UPPER(ISNULL(DepartmentCode, N'_N/A'))  AS NVARCHAR(100)) AS DepartmentCode
	, CAST(UPPER(ISNULL(EndCustomerCode, N'_N/A')) AS NVARCHAR(100))  AS EndCustomerCode
	, CAST(UPPER(ISNULL(LocationCode, N'_N/A')) AS NVARCHAR(100)) AS LocationCode
	, CAST(UPPER(ISNULL(ShipmentContractCode, N'_N/A'))  AS NVARCHAR(100)) AS ShipmentContractCode
	, CAST(UPPER(ISNULL(LocalAccountCode, N'_N/A'))  AS NVARCHAR(100)) AS LocalAccountCode
	, CAST(UPPER(ISNULL(ProductCode, N'_N/A'))  AS NVARCHAR(100)) AS ProductFDCode
	, CAST('1900-01-01' AS DATETIME2) AS DocumentDate
	, CAST(DimPostingDateId as int) AS DimPostingDateId
	, N'_N/A' AS Voucher
	, ISNULL(CASE 
			WHEN GL.AccountingCurrencyCode = LES.AccountingCurrency
				THEN (ISNULL(REPLACE(amountAC, ',', '.'), 0))
			ELSE (ISNULL(REPLACE(amountAC, ',', '.'), 0)) * TC.ExchangeRate
			END, 0) AS AmountTC
	, CAST(ISNULL(REPLACE(amountAC, ',', '.'), 0) as numeric(38,6)) AS AmountAC
	, CAST(ISNULL(REPLACE(amountAC, ',', '.'), 0) as numeric(38,6))  AS AmountRC
	, ISNULL(CASE 
			WHEN GL.AccountingCurrencyCode = L.GroupCurrency
				THEN (ISNULL(REPLACE(amountAC, ',', '.'), 0))
			ELSE (ISNULL(REPLACE(amountAC, ',', '.'), 0)) * GC.ExchangeRate
			END, 0) AS AmountGC
	, ISNULL(TC.ExchangeRate, 1) AS AppliedExchangeRateTC
	, CAST(1 AS NUMERIC(38, 17)) AS AppliedExchangeRateAC
	, CAST(1 AS NUMERIC(38, 17)) AS AppliedExchangeRateRC
	, ISNULL(GC.ExchangeRate, 1) AS AppliedExchangeRateGC
FROM StagingHistoric.GeneralLedger GL
INNER JOIN (
	SELECT DISTINCT *
	FROM dbo.SMRBILedgerStaging
	) LES
	ON GL.CompanyCode = LES.Name
INNER JOIN (
	SELECT DISTINCT LES.ReportingCurrency
		, LES.AccountingCurrency
		, LES.ExchangeRateType
		, LES.BudgetExchangeRateType
		, LES.[Name]
		, GroupCurrency = G.GroupCurrencyCode
	FROM dbo.SMRBILedgerStaging LES
	CROSS JOIN (
		SELECT TOP 1 GroupCurrencyCode
		FROM ETL.GroupCurrency
		) G
	) L
	ON L.[Name] = GL.CompanyCode
LEFT JOIN DataStore.ExchangeRate GC -- GroupCurrency
	ON GC.FromCurrencyCode = GL.AccountingCurrencyCode --LES.AccountingCurrency
		AND GC.ToCurrencyCode = L.GroupCurrency AND GC.ExchangeRateTypeCode = L.ExchangeRateType AND GL.DimPostingDateId BETWEEN GC.ValidFrom AND GC.ValidTo
LEFT JOIN DataStore.ExchangeRate TC -- GroupCurrency
	ON TC.FromCurrencyCode = GL.AccountingCurrencyCode --LES.AccountingCurrency
		AND TC.ToCurrencyCode = LES.AccountingCurrency AND TC.ExchangeRateTypeCode = L.ExchangeRateType AND GL.DimPostingDateId BETWEEN TC.ValidFrom AND TC.ValidTo
GO
