/****** Object:  View [DataStore].[V_Date]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [DataStore].[V_Date] AS

SELECT	DateCalculation
	  , DateTime
	  , DayNameLong
	  , DayNameShort
	  , DayOfWeekId
	  , DayOfWeekName
	  , DayOfYearId
	  , DayOfYearName
	  , DimDateId
	  , MonthId
	  , MonthName
	  , MonthOfYearId
	  , MonthOfYearName
	  , QuarterId
	  , QuarterName
	  , QuarterOfYearId
	  , QuarterOfYearName
	  , SemesterId
	  , SemesterName
	  , SemesterOfYearId
	  , SemesterOfYearName
	  , WeekId
	  , WeekName
	  , WeekOfYearId
	  , WeekOfYearName
	  , YearId
	  , YearName
	  , CASE WHEN MonthOfYearId > '3' THEN CONVERT(DATETIME, CONCAT('01/04/' , CAST(YearId AS NVARCHAR(255))), 103)
	  ELSE CONVERT(DATETIME, CONCAT('01/04/' , CAST((YearId -1) AS NVARCHAR(255))), 103) END	  
	  AS FYStart

FROM ETL.Date


GO
