/****** Object:  View [DataStore].[V_WarehouseLocation]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [DataStore].[V_WarehouseLocation] AS

SELECT	WWLS.WarehouseLocationRecId AS RecId
	  , UPPER(WWLS.DataAreaId) AS CompanyCode
	  , WWLS.WarehouseLocationId AS WarehouseLocationCode
	  , IWS.WarehouseId AS WarehouseCode
	  , ISNULL(IWS.WarehouseName,'_N/A') AS WarehouseName
	  , IWS.WarehouseId + ' - ' + ISNULL(IWS.WarehouseName,'_N/A') AS WarehouseCodeName
	  , ISNULL(NULLIF(WWLS.WareHouseLocationProfileId,''),'_N/A') AS WareHouseLocationType

FROM dbo.SMRBIWMSWarehouseLocationStaging WWLS

LEFT JOIN dbo.SMRBIInventWarehouseStaging IWS
	ON WWLS.WarehouseId = IWS.WarehouseId

AND WWLS.DataAreaId = IWS.DataAreaId
GO
