/****** Object:  View [DataStore].[V_SystemUser]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [DataStore].[V_SystemUser] AS

SELECT	ISNULL(UPPER(DPS.User_),'_N/A') AS SystemUserCode
	  , ISNULL(SUS.UserName,'_N/A') AS UserName
	  , CAST(ISNULL(SUS.NetworkDomain + '\' + SUS.Alias,'_N/A') AS NVARCHAR(255)) AS DomainUserName

FROM dbo.SMRBIHcmWorkerStaging HWS

INNER JOIN dbo.SMRBIDirPersonStaging DPS
ON HWS.HcmWorkerRecId = DPS.DirPersonRecId

INNER JOIN dbo.SMRBISystemUserStaging SUS
ON DPS.User_ = SUS.UserId
GO
