/****** Object:  View [DataStore].[V_ProductConfiguration]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [DataStore].[V_ProductConfiguration] AS

SELECT	UPPER(IDS.DataAreaId) AS CompanyCode
	  , IDS.InventDimId AS InventDimCode
	  , ISNULL(NULLIF(IDS.ConfigId, ''),'_N/A') AS ProductConfigurationCode
	  , ISNULL(NULLIF(UPPER(IDS.InventBatchId), ''),'_N/A') AS InventBatchCode
	  , ISNULL(NULLIF(IDS.InventColorId, ''),'_N/A') AS InventColorCode
	  , ISNULL(NULLIF(IDS.InventSizeId, ''),'_N/A') AS InventSizeCode
	  , ISNULL(NULLIF(IDS.InventStyleId, ''),'_N/A') AS InventStyleCode
	  , ISNULL(NULLIF(IDS.InventStatusId, ''),'_N/A') AS InventStatusCode
	  , ISNULL(NULLIF(IDS.InventSiteId, ''),'_N/A') AS SiteCode
	  , ISNULL(UPPER(ISS.Name), '_N/A') AS SiteName
	  , ISNULL(NULLIF(IDS.InventLocationId, ''),'_N/A') AS WarehouseCode
	  , ISNULL(UPPER(IWS.WarehouseName), '_N/A') AS WarehouseName
	  , ISNULL(NULLIF(IDS.WMSLocationId, ''),'_N/A') AS WarehouseLocationCode

FROM dbo.SMRBIInventDimStaging IDS
LEFT JOIN dbo.SMRBIInventWarehouseStaging IWS
ON IWS.WarehouseId = IDS.InventLocationId

AND IWS.DataAreaId = IDS.DataAreaId
LEFT JOIN dbo.SMRBIInventSiteStaging ISS

ON ISS.SiteId = IDS.InventSiteId
AND ISS.DataAreaId = IDS.DataAreaId
GO
