/****** Object:  View [DataStore].[V_AnalyticalDimensionLedgerSalesAndPurchase]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE VIEW [DataStore].[V_AnalyticalDimensionLedgerSalesAndPurchase] AS

/*
	/*
FIN Dimensions Yusen
·	GL Account
·	Intercompany
·	Business Segment
·	Department
·	End Customer
·	Local Account
·	Location
·	Product
·	Shipment Contract
·	Vendor

*/
*/
SELECT DefaultDimension AS DefaultDimensionId
		, ISNULL(MIN([MainAccount]), '_N/A') AS MainAccount
		, ISNULL(MIN([Intercompany]), '_N/A') AS Intercompany
		, ISNULL(MIN([Business_segment]), '_N/A') AS BusinessSegment   
	   , ISNULL(MIN([Customer]),'_N/A') AS EndCustomer
	   , ISNULL(MIN([Department]), '_N/A') AS Department
	   , ISNULL(MIN([Local_account]),'_N/A') AS LocalAccount
	   , ISNULL(MIN([Location]), '_N/A') AS Location
	   , ISNULL(MIN([Product]), '_N/A') AS Product
	   , ISNULL(MIN([Shipment_Contract]), '_N/A') AS ShipmentContract
	   , ISNULL(MIN([Vendor]), '_N/A') AS Vendor
		/* Custom dimensions */
		/* ADD/ALTER others if required */
FROM  
	(
	SELECT	DDVS.DefaultDimension AS DefaultDimension
		  , DDVS.DisplayValue AS DisplayValue
		  , DDVS.[Name] AS DimensionAttributeName
	FROM dbo.SMRBIDefaultDimensionViewStaging DDVS
	
	) DAV

PIVOT (MIN(DisplayValue) FOR DimensionAttributeName IN ([MainAccount], [Intercompany],  [Business_segment], [Customer], [Department], [Local_account], [Location], [Product], [Shipment_Contract], [Vendor]) ) AS P  /* ADD/ALTER others if required */
GROUP BY DefaultDimension

/* Create unknown member */

UNION ALL

SELECT	-1
	  , '_N/A'
	  , '_N/A'
	  , '_N/A'
	  , '_N/A'
	  , '_N/A'
	  , '_N/A'
	  , '_N/A'
	  , '_N/A'
	  , '_N/A'
	  , '_N/A'
GO
