/****** Object:  View [DataStore].[V_AnalyticalDimensionLedger]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE VIEW [DataStore].[V_AnalyticalDimensionLedger] AS

/*
FIN Dimensions Yusen
·	GL Account
·	Intercompany
·	Business Segment
·	Department
·	End Customer
·	Local Account
·	Location
·	Product
·	Shipment Contract
·	Vendor

*/

SELECT ValueCombinationRecId AS LedgerDimensionId
	   , ISNULL(MIN([MainAccount]),-1) AS MainAccount
	   , ISNULL(MIN([Intercompany]), -1) AS Intercompany
	   , ISNULL(MIN([Business_segment]), -1) AS BusinessSegment   
	   , ISNULL(MIN([EndCustomer]),-1) AS EndCustomer
	   , ISNULL(MIN([Department]), -1) AS Department
	   , ISNULL(MIN([Local_account]),-1) AS LocalAccount
	   , ISNULL(MIN([Location]), -1) AS Location
	   , ISNULL(MIN([Product]), -1) AS Product
	   , ISNULL(MIN([Shipment_Contract]), -1) AS ShipmentContract
	   , ISNULL(MIN([Vendor]), -1) AS Vendor
	   /* Custom dimensions */
	   
	   /* ADD/ALTER others if required */

FROM (
	SELECT	DAVVS.ValueCombinationRecId
		  , DAVVS.DisplayValue
		  , DAVVS.DimensionAttribute
		  , DAVVS.EntityInstance
		  , DAS.DimensionName AS DimensionAttributeName
	FROM dbo.SMRBIDimensionAttributeLevelValueAllViewStaging DAVVS
	INNER JOIN (
	SELECT DimensionAttributeRecId, DimensionName
	FROM dbo.SMRBIDimensionAttributeStaging
	
	UNION
	
	SELECT 5637144587, 'MainAccount' )DAS
	ON DAVVS.DimensionAttribute =  DAS.DimensionAttributeRecId
	) DAV

PIVOT (MIN(EntityInstance) FOR DimensionAttributeName IN ([MainAccount], [Intercompany], [Business_segment], [EndCustomer], [Department], [Local_account], [Location], [Product], [Shipment_Contract], [Vendor]) ) AS P  /* ADD/ALTER others if required */
GROUP BY ValueCombinationRecId

/* Create unkown member */

UNION ALL

SELECT	-1
	  , -1
	  , -1
	  , -1
	  , -1
	  , -1
	  , -1
	  , -1
	  , -1
	  , -1
	  , -1

GO
