/****** Object:  Table [DataStore].[Vehicle]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Vehicle](
	[VehicleId] [bigint] NOT NULL,
	[VehicleCode] [nvarchar](30) NOT NULL,
	[VehicleName] [nvarchar](60) NOT NULL,
	[VehicleCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
