/****** Object:  Table [DataStore2].[IntercompanyARAP]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[IntercompanyARAP](
	[SalesInvoiceCode] [nvarchar](255) NOT NULL,
	[PurchaseInvoiceCode] [nvarchar](255) NOT NULL,
	[ReportDate] [int] NULL,
	[SupplierCode] [nvarchar](255) NOT NULL,
	[CustomerCode] [nvarchar](255) NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](255) NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[InvoiceAmountTC] [numeric](38, 8) NULL,
	[InvoiceAmountAC] [numeric](38, 6) NULL,
	[InvoiceAmountRC] [numeric](38, 6) NULL,
	[InvoiceAmountGC] [numeric](38, 6) NULL,
	[OpenAmountTC] [numeric](38, 6) NULL,
	[OpenAmountAC] [numeric](38, 6) NULL,
	[OpenAmountRC] [numeric](38, 6) NULL,
	[OpenAmountGC] [numeric](38, 6) NULL,
	[AmountInvoiceTC] [decimal](38, 6) NULL,
	[AmountInvoiceAC] [decimal](38, 6) NULL,
	[AmountInvoiceRC] [decimal](38, 6) NULL,
	[AmountInvoiceGC] [decimal](38, 6) NULL,
	[SupplierSettlement] [nvarchar](255) NOT NULL,
	[CustomerSettlement] [nvarchar](255) NULL,
	[DimInvoiceDateId] [int] NULL,
	[DimDueDateId] [int] NULL,
	[PostedDate] [datetime] NULL,
	[ETA] [datetime2](7) NULL,
	[ETD] [datetime2](7) NULL,
	[Branch] [nvarchar](255) NOT NULL,
	[Departement] [nvarchar](255) NOT NULL,
	[BusinessType] [nvarchar](3) NOT NULL,
	[AR_AP_Type] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
	[JobInvoice] [nvarchar](255) NOT NULL,
	[POD] [nvarchar](255) NOT NULL,
	[POL] [nvarchar](255) NOT NULL,
	[House] [nvarchar](255) NOT NULL,
	[ShipmentNumber] [nvarchar](255) NOT NULL,
	[Master] [nvarchar](255) NOT NULL,
	[OrigCountry] [nvarchar](255) NOT NULL,
	[OrigCountryName] [nvarchar](255) NOT NULL,
	[CompanyCode] [nvarchar](10) NULL
) ON [PRIMARY]
GO
