/****** Object:  Table [DataStore].[Resource]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Resource](
	[ResourceCode] [nvarchar](10) NOT NULL,
	[ResourceName] [nvarchar](60) NOT NULL,
	[ResourceCodeName] [nvarchar](255) NULL,
	[ResourceGroupCode] [nvarchar](10) NOT NULL,
	[ResourceGroupName] [nvarchar](60) NOT NULL,
	[ResourceGroupCodeName] [nvarchar](255) NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ResourceType] [nvarchar](255) NOT NULL,
	[InputWarehouseCode] [nvarchar](10) NOT NULL,
	[InputWarehouseLocationCode] [nvarchar](10) NOT NULL,
	[OutputWarehouseCode] [nvarchar](10) NOT NULL,
	[OutputWarehouseLocationCode] [nvarchar](10) NOT NULL,
	[EfficiencyPercentage] [numeric](32, 6) NULL,
	[RouteGroupCode] [nvarchar](10) NOT NULL,
	[HasFiniteSchedulingCapacity] [int] NULL,
	[ValidFromDate] [datetime] NULL,
	[ValidToDate] [datetime] NULL,
	[CalendarCode] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
