/****** Object:  Table [DataStore2].[PurchaseOrder]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[PurchaseOrder](
	[PurchaseOrderIdScreening] [nvarchar](48) NOT NULL,
	[PurchaseOrderCode] [nvarchar](20) NULL,
	[PurchaseOrderLineNumber] [bigint] NOT NULL,
	[OrderLineNumberCombination] [nvarchar](53) NULL,
	[DeliveryAddress] [nvarchar](356) NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[SupplierCode] [nvarchar](20) NULL,
	[OrderSupplierCode] [nvarchar](20) NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[PaymentTermsCode] [nvarchar](10) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[PurchaseOrderStatus] [nvarchar](255) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[CreationDate] [date] NULL,
	[RequestedDeliveryDate] [datetime] NOT NULL,
	[ConfirmedDeliveryDate] [datetime] NOT NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitTC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitAC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitRC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitGC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitAC_Budget] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitRC_Budget] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseTC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseAC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseRC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseGC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseGC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountTC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountTC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountAC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountRC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountGC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountTC] [numeric](38, 6) NOT NULL,
	[MarkupAmountAC] [numeric](38, 6) NOT NULL,
	[MarkupAmountRC] [numeric](38, 6) NOT NULL,
	[MarkupAmountGC] [numeric](38, 6) NOT NULL,
	[MarkupAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountTC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountAC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountRC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountGC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 21) NOT NULL,
	[SurchargeTransportTC] [numeric](38, 6) NULL,
	[SurchargeTransportAC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseTC] [numeric](38, 6) NULL,
	[SurchargePurchaseAC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseRC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseGC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryTC] [numeric](38, 6) NULL,
	[SurchargeDeliveryAC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryRC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryGC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalTC] [numeric](38, 6) NULL,
	[SurchargeTotalAC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC_Budget] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
