/****** Object:  Table [DataStore].[NetRequirements]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[NetRequirements](
	[RecId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ReferenceType] [nvarchar](255) NOT NULL,
	[PlanVersion] [nvarchar](10) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[RequirementDate] [datetime] NULL,
	[RequirementTime] [varchar](23) NOT NULL,
	[RequirementDateTime] [datetime] NULL,
	[ReferenceCode] [nvarchar](20) NOT NULL,
	[ProducedItemCode] [nvarchar](20) NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[VendorCode] [nvarchar](20) NOT NULL,
	[ActionDate] [datetime] NULL,
	[ActionDays] [int] NOT NULL,
	[ActionType] [nvarchar](255) NOT NULL,
	[ActionMarked] [nvarchar](255) NOT NULL,
	[FuturesDate] [datetime] NOT NULL,
	[FuturesDays] [int] NOT NULL,
	[FuturesCalculated] [nvarchar](255) NOT NULL,
	[FuturesMarked] [nvarchar](255) NOT NULL,
	[Direction] [nvarchar](255) NOT NULL,
	[RankNr] [bigint] NULL,
	[Quantity] [numeric](32, 6) NOT NULL,
	[QuantityConfirmed] [numeric](32, 6) NOT NULL
) ON [PRIMARY]
GO
