/****** Object:  Table [DataStore3].[ProductivityTarget]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore3].[ProductivityTarget](
	[ApplicableDate] [datetime] NULL,
	[CompanyId] [nvarchar](50) NULL,
	[ResourceId] [nvarchar](50) NULL,
	[RouteId] [nvarchar](50) NULL,
	[ResourceTargetSpeed] [numeric](32, 17) NULL
) ON [PRIMARY]
GO
