/****** Object:  View [DataStore3].[V_ProductCostBreakdownQuantityRatioTMP]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [DataStore3].[V_ProductCostBreakdownQuantityRatioTMP] AS

--Step 4: Calculate the QtyRatio per PriceCalcId

SELECT DISTINCT BCT.DataAreaId
		, PPCB.ItemNumber
		, BCT.PriceCalcId
		, BCT.ConsistOfPrice
		, QtyRatio = CAST((CAST(BCT.ConsumptionConstant AS float) + CAST(BCT.ConsumptionVariable AS float)) / CAST(ISNULL(NULLIF(BCT.Qty, 0), 1) AS float) AS real)
		--Components:
		, BCT.ConsumptionConstant
		, BCT.ConsumptionVariable
		, BCT.Qty

FROM DataStore.ProductCostBreakdownTheoretical BCT
JOIN (SELECT DISTINCT CompanyCode
				, ItemNumber
				, InventDimCode
				, StartValidityDate
				, EndValidityDate
				, LowestLevelCalc
				, PriceCalcId
				, Levelling
				, LevellingNr
		FROM DataStore2.ProductCostBreakdownLevelling) PPCB
ON PPCB.CompanyCode = BCT.DataAreaId
	and PPCB.PriceCalcId = BCT.PriceCalcId
WHERE 1=1
	and NULLIF(ConsistOfPrice, '') is not NULL --Lowest level should not be taken into account for the calculation of the Required Quantity Ratio
GO
