/****** Object:  Table [DataStore3].[ProductionOrder]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore3].[ProductionOrder](
	[ProductionOrderCode] [nvarchar](20) NOT NULL,
	[ProductionOrderStatus] [nvarchar](255) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[RouteCode] [nvarchar](20) NOT NULL,
	[SiteCode] [nvarchar](10) NOT NULL,
	[OperationCode] [nvarchar](10) NOT NULL,
	[OperationNumber] [int] NOT NULL,
	[ResourceCode] [nvarchar](30) NOT NULL,
	[CalculationType] [nvarchar](255) NOT NULL,
	[ProductionResourceCode] [nvarchar](30) NOT NULL,
	[CostGroupCode] [nvarchar](10) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[BOMCode] [nvarchar](20) NOT NULL,
	[TransactionType] [varchar](11) NOT NULL,
	[JournalPostingDate] [datetime] NOT NULL,
	[RequestedDeliveryDate] [datetime] NOT NULL,
	[ScheduledDeliveryDate] [datetime] NOT NULL,
	[ActualDeliveryDate] [datetime] NOT NULL,
	[ScheduledProductionStartDate] [datetime] NOT NULL,
	[ScheduledProductionEndDate] [datetime] NOT NULL,
	[ProductionStartDate] [datetime] NULL,
	[ProductionEndDate] [datetime] NULL,
	[OTIF] [numeric](38, 6) NOT NULL,
	[InventUnit] [nvarchar](10) NOT NULL,
	[OriginalEstimatedQuantity] [numeric](32, 6) NOT NULL,
	[OriginalEstimatedQuantityDetail] [numeric](38, 12) NULL,
	[EstimatedQuantity] [numeric](32, 6) NOT NULL,
	[EstimatedQuantityDetail] [numeric](38, 12) NULL,
	[ProducedQuantity] [numeric](38, 6) NOT NULL,
	[ProducedQuantityDetail] [numeric](38, 6) NULL,
	[ReportRemainderAsFinished] [numeric](32, 6) NOT NULL,
	[ReportRemainderAsFinishedDetail] [numeric](38, 12) NULL,
	[NetEstimatedConsumptionQuantity] [numeric](38, 6) NULL,
	[TotalEstimatedConsumptionQuantity] [numeric](34, 17) NULL,
	[RealConsumptionQuantity] [numeric](33, 17) NULL,
	[Price_UsedBOMLines] [numeric](38, 9) NULL,
	[TotalEstimatedCostAmountAC] [numeric](34, 17) NULL,
	[EstimatedCostAmountAC] [numeric](38, 6) NULL,
	[RealCostAmountAC] [numeric](33, 17) NULL,
	[TotalScrapQuantity] [numeric](38, 6) NULL,
	[ConstantScrapQuantity] [numeric](38, 6) NULL,
	[VariableScrapQuantity] [numeric](38, 6) NULL,
	[NetScrapQuantity] [numeric](38, 6) NULL,
	[TotalScrapAmountAC] [numeric](38, 6) NULL,
	[NetScrapAmountAC] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
