/****** Object:  Table [DataStore].[Supplier]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Supplier](
	[SupplierId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[SupplierCode] [nvarchar](20) NULL,
	[SupplierName] [nvarchar](100) NOT NULL,
	[SupplierCodeName] [nvarchar](123) NULL,
	[SupplierGroupCode] [nvarchar](10) NOT NULL,
	[SupplierGroupName] [nvarchar](60) NOT NULL,
	[SupplierGroupCodeName] [nvarchar](73) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[City] [nvarchar](60) NOT NULL,
	[CountryRegionCode] [nvarchar](10) NOT NULL,
	[CompanyChainName] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
