/****** Object:  View [DataStore].[V_ProductionTimeRegistration]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [DataStore].[V_ProductionTimeRegistration] AS

SELECT ISNULL(NULLIF(PRT.TransRefId,''),'_N/A') AS ProductionOrderCode
	 , ISNULL(NULLIF(UPPER(PRT.Company),''),'_N/A') AS CompanyCode
	 , ISNULL(NULLIF(UPPER(PT.InventDimId),''),'_N/A') AS ProductConfigurationCode
	 , ISNULL(NULLIF(PT.RouteId,''),'_N/A') AS RouteCode
	 , ISNULL(NULLIF(RHS.RouteName,''),'_N/A') AS RoutingName
	 , ISNULL(NULLIF(PRT.WrkCtrId,''),'_N/A') AS ResourceCode
	 , ISNULL(NULLIF(PRT.OPRId,''),'_N/A') AS OperationCode
	 , ISNULL(PRT.OPRNum,-1) AS OperationNumber
	 , N'_N/A' AS Shift
	 , ISNULL(NULLIF(PRT.CategoryId,''),'_N/A') AS OperatorType
	 , ISNULL(PRT.Worker,-1) AS OperatorName
	 , PRT.ProdRouteTransRecId AS RecId

	   /*Dates*/
	 , CAST(ISNULL(PRT.DateWip,'1900-01-01') AS DATE) AS PostedJournalDate

	   /*Key figures*/
	 , PRT.Hours AS Hours
	 , PRT.HourPrice AS HourPrice

FROM dbo.SMRBIProdRouteTransStaging PRT

LEFT JOIN dbo.SMRBIProdTableStaging PT
ON PT.Company = PRT.Company
AND PT.ProdId = PRT.TransRefId

LEFT JOIN dbo.SMRBIRouteHeaderStaging RHS
ON RHS.Company = PRT.Company
AND RHS.RouteId = PT.RouteId
GO
