/****** Object:  View [DataStore].[V_ShipmentInvoice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [DataStore].[V_ShipmentInvoice] AS 

SELECT
	
	 ISNULL(NULLIF(SDS.BUSINESSOWNER , '') , N'_N/A') AS BusinessOwnerCode
	, ISNULL(NULLIF(SDS.DATAAREAID, '') , N'_N/A')  AS CompanyCode
	, ISNULL(NULLIF(SDS.CUSTACCOUNT, '') , N'_N/A')  AS CustomerCode
	, ISNULL(NULLIF(SDS.DEPARTMENT, '') , N'_N/A')  AS DepartmentCode
	, ISNULL(NULLIF(SDS.DESTINATIONAGENT, '') , N'_N/A')  AS DestinationAgentCode
	, ISNULL(NULLIF(SDS.JOBOWNER, '') , N'_N/A')  AS JobOwnerCode
	, ISNULL(NULLIF(SDS.LINEOFBUSINESSID, '') , N'_N/A')  AS LineOfBusinessCode
	, ISNULL(NULLIF(SDS.MODEOFTRANSPORTID, '') , N'_N/A')  AS ModeOfTransportCode
	, ISNULL(NULLIF(SIDS.VENDINVOICEID, '') , N'_N/A')  AS PurchaseInvoiceCode
	, ISNULL(NULLIF(SIDS.CUSTINVOICEID, '') , N'_N/A')  AS SalesInvoiceCode
	, ISNULL(NULLIF(SDS.SHIPMENT, '') , N'_N/A')  AS ShipmentContractCode
	
	, ISNULL(NULLIF(CAST(SIDS.CURRENCYCODE AS NVARCHAR(50)), '') , '_N/A')  AS TransactionCurrencyCode
	--, ISNULL(NULLIF(SDS.CUSTNAME, '') , N'_N/A')  AS CustomerName
	, ISNULL(NULLIF(SDS.MASTERBILLOFLADING , '') , N'_N/A') AS MasterBillOfLading
	, ISNULL(NULLIF(SDS.HOUSEBILLOFLADING , '') , N'_N/A') AS HouseBillOfLading
	, ISNULL(NULLIF(SDS.PORTOFDESTINATION, '') , N'_N/A')  AS PortOfDestination
	, ISNULL(NULLIF(SDS.PORTOFORIGIN, '') , N'_N/A')  AS PortOfOrigin
	, CAST(ISNULL(NULLIF(SDS.ETD , ''), '1900-01-01') AS DATE)AS Etd
	, CAST(ISNULL(NULLIF(SDS.ETA ,''), '1900-01-01') AS DATE) AS Eta
	, ISNULL(NULLIF(SDS.DESCRIPTION , '') , N'_N/A') AS Description
	, ISNULL(NULLIF(SDS.BRANCH, ''), N'_N/A') AS Branch
	, ISNULL(NULLIF(SDS.REMARK , '') , N'_N/A') AS Remark
	, ISNULL(SIDS.LINENUM  , 0) AS ShipmentInvoiceLineNumber
	, CAST(ISNULL(NULLIF(SIDS.INVOICEDATE , ''), '1900-01-01') AS DATE) AS ShipmentInvoiceDate
	, ISNULL(SIDS.AMOUNT ,  N'0') AS Amount
	, ISNULL(NULLIF(SIDS.VOUCHER , '') , N'_N/A') AS Voucher
FROM dbo.YSLEShipmentDetailsStaging SDS
LEFT JOIN dbo.YSLEShipmentInvoiceDetailsStaging SIDS
	ON SDS.Shipment = SIDS.ShipmentId 
		AND SDS.DataAreaId = SIDS.DATAAREAID
GO
