/****** Object:  Table [DataStore6].[ProductCostBreakdownTheoretical]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore6].[ProductCostBreakdownTheoretical](
	[BOMCalcTransRecId] [bigint] NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[FinishedProductCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[CalculationType] [nvarchar](255) NULL,
	[PriceType] [nvarchar](10) NOT NULL,
	[CalculationCode] [nvarchar](20) NOT NULL,
	[IsCalculatedPrice] [nvarchar](10) NULL,
	[IsMaxCalculation] [nvarchar](10) NULL,
	[IsMaxPrice] [nvarchar](10) NULL,
	[Levelling] [nvarchar](20) NULL,
	[Resource_] [nvarchar](510) NULL,
	[CostGroupCode] [nvarchar](20) NULL,
	[CostPriceUnitSymbol] [nvarchar](10) NOT NULL,
	[CostPriceCalculationNumber] [nvarchar](20) NOT NULL,
	[CostPriceModel] [nvarchar](40) NULL,
	[CostPriceVersion] [nvarchar](10) NOT NULL,
	[CostPriceType] [nvarchar](10) NULL,
	[CalculationDate] [datetime] NOT NULL,
	[IsActivePrice] [nvarchar](10) NULL,
	[AccountingCurrencyCode] [nvarchar](3) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](3) NOT NULL,
	[GroupCurrencyCode] [nvarchar](50) NOT NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[Level_1] [nvarchar](93) NOT NULL,
	[Level_2] [nvarchar](93) NOT NULL,
	[Level_3] [nvarchar](93) NOT NULL,
	[ProductCostPriceAC] [numeric](38, 17) NOT NULL,
	[ProductCostPriceRC] [decimal](38, 13) NOT NULL,
	[ProductCostPriceGC] [decimal](38, 13) NOT NULL,
	[ProductCostPriceRC_Budget] [decimal](38, 13) NOT NULL,
	[ProductCostPriceGC_Budget] [decimal](38, 13) NOT NULL,
	[ComponentCostPriceAC] [numeric](38, 17) NOT NULL,
	[ComponentCostPriceRC] [numeric](38, 17) NOT NULL,
	[ComponentCostPriceGC] [numeric](38, 17) NOT NULL,
	[ComponentCostPriceRC_Budget] [numeric](38, 17) NOT NULL,
	[ComponentCostPriceGC_Budget] [numeric](38, 17) NOT NULL
) ON [PRIMARY]
GO
