/****** Object:  View [DataStore].[V_PlannedPurchaseOrder]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [DataStore].[V_PlannedPurchaseOrder] AS

SELECT  ReqPO.RefId AS PlannedPurchaseOrderCode,

		/* Dimensions */
		ISNULL(NULLIF(ReqPO.ItemId,''),'_N/A') AS ProductCode,
		ISNULL(NULLIF(ReqPO.VendId,''),'_N/A') AS SupplierCode,
		ISNULL(NULLIF(UPPER(ReqPO.DataAreaId),''),'_N/A') AS CompanyCode,
		ISNULL(NULLIF(ReqPO.CovInventDimId,''),'_N/A') AS ProductConfigurationCode,
		ISNULL(NULLIF(ReqPO.PurchId,''),'_N/A') AS PurchaseOrderCode,

		/* Dates */
		ReqPO.ReqDate AS RequirementDate,
		ReqPO.ReqDateDLV AS RequestedDate,
		ReqPO.ReqDateOrder AS OrderDate,
		DATEADD(DD,ISNULL(ReqPO.LeadTime,0),ReqPO.ReqDateOrder) AS DeliveryDate,

		/* Planned Purchase Order Details */
		CAST(ISNULL(NULLIF(StringMapReqPOStatus.Name,''),'_N/A') AS NVARCHAR(50)) AS Status,	
		ISNULL(ReqPO.LeadTime,0) AS LeadTime,

		/* Key Figures */
		ISNULL(NULLIF(InventTableModule.UnitId,''),'_N/A') AS InventoryUnit,
		ReqPO.QTY AS RequirementQuantity,
		ISNULL(NULLIF(ReqPO.PurchUNIT,''),'_N/A') AS PurchaseUnit,
		ReqPO.PurchQTY AS PurchaseQuantity-- Requirement Quantity is translated to the purchase quantity (simply unit conversion, not actual ordered quantity)

FROM dbo.SMRBIReqPOStaging as ReqPO

LEFT JOIN dbo.SMRBIInventTableModuleStaging as InventTableModule
	ON InventTableModule.ItemId = ReqPO.ItemId
	AND InventTableModule.DataAreaId = ReqPO.DataAreaId
	AND InventTableModule.ModuleType = '0'

LEFT JOIN ETL.StringMap StringMapReqPOStatus
	ON StringMapReqPOStatus.SourceTable = 'ReqPOStatus'
	AND StringMapReqPOStatus.Enum = Cast(ReqPO.ReqPOStatus as NVARCHAR(25))

-- Only take Planned Purchase Orders (= RefType = '33')
WHERE 1=1
	and ReqPO.RefType = '33'
GO
