/****** Object:  Table [DataStore2].[SalesInvoice]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[SalesInvoice](
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[TransactionType] [nvarchar](60) NULL,
	[SalesInvoiceLineNumber] [numeric](32, 16) NOT NULL,
	[SalesInvoiceLineNumberCombination] [nvarchar](53) NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[SalesOrderCode] [nvarchar](20) NOT NULL,
	[SalesOrderStatus] [nvarchar](20) NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[TaxWriteCode] [int] NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[PaymentTermsCode] [nvarchar](100) NOT NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[OrderCustomerCode] [nvarchar](20) NOT NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[GLAccountCode] [nvarchar](20) NOT NULL,
	[IntercompanyCode] [varchar](4) NOT NULL,
	[BusinessSegmentCode] [varchar](4) NOT NULL,
	[DeparmentCode] [varchar](4) NOT NULL,
	[EndCustomerCode] [varchar](4) NOT NULL,
	[LocationCode] [varchar](4) NOT NULL,
	[ShipmentContractCode] [varchar](4) NOT NULL,
	[LocalAccountCode] [varchar](4) NOT NULL,
	[ProductFDCode] [varchar](4) NOT NULL,
	[InvoiceDate] [date] NULL,
	[RequestedDeliveryDate] [date] NULL,
	[ConfirmedDeliveryDate] [date] NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[InvoicedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[InvoicedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[InvoicedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitTC] [numeric](38, 6) NULL,
	[SalesPricePerUnitAC] [numeric](38, 6) NULL,
	[SalesPricePerUnitRC] [numeric](38, 6) NULL,
	[SalesPricePerUnitGC] [numeric](38, 6) NULL,
	[SalesPricePerUnitAC_Budget] [numeric](38, 6) NULL,
	[SalesPricePerUnitRC_Budget] [numeric](38, 6) NULL,
	[SalesPricePerUnitGC_Budget] [numeric](38, 6) NULL,
	[GrossSalesTC] [numeric](38, 6) NULL,
	[GrossSalesAC] [numeric](38, 6) NULL,
	[GrossSalesRC] [numeric](38, 6) NULL,
	[GrossSalesGC] [numeric](38, 6) NULL,
	[GrossSalesAC_Budget] [numeric](38, 6) NULL,
	[GrossSalesRC_Budget] [numeric](38, 6) NULL,
	[GrossSalesGC_Budget] [numeric](38, 6) NULL,
	[DiscountAmountTC] [numeric](38, 6) NULL,
	[DiscountAmountAC] [numeric](38, 6) NULL,
	[DiscountAmountRC] [numeric](38, 6) NULL,
	[DiscountAmountGC] [numeric](38, 6) NULL,
	[DiscountAmountAC_Budget] [numeric](38, 6) NULL,
	[DiscountAmountRC_Budget] [numeric](38, 6) NULL,
	[DiscountAmountGC_Budget] [numeric](38, 6) NULL,
	[InvoicedSalesAmountTC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountAC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountRC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountGC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountAC_Budget] [numeric](38, 6) NULL,
	[InvoicedSalesAmountRC_Budget] [numeric](38, 6) NULL,
	[InvoicedSalesAmountGC_Budget] [numeric](38, 6) NULL,
	[NetSalesAmountTC] [numeric](38, 6) NULL,
	[NetSalesAmountAC] [numeric](38, 6) NULL,
	[NetSalesAmountRC] [numeric](38, 6) NULL,
	[NetSalesAmountGC] [numeric](38, 6) NULL,
	[NetSalesAmountAC_Budget] [numeric](38, 6) NULL,
	[NetSalesAmountRC_Budget] [numeric](38, 6) NULL,
	[NetSalesAmountGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountOriginalTC] [numeric](38, 6) NULL,
	[RebateAmountOriginalAC] [numeric](38, 6) NULL,
	[RebateAmountOriginalRC] [numeric](38, 6) NULL,
	[RebateAmountOriginalGC] [numeric](38, 6) NULL,
	[RebateAmountOriginalAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountOriginalRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountOriginalGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCompletedTC] [numeric](38, 6) NULL,
	[RebateAmountCompletedAC] [numeric](38, 6) NULL,
	[RebateAmountCompletedRC] [numeric](38, 6) NULL,
	[RebateAmountCompletedGC] [numeric](38, 6) NULL,
	[RebateAmountCompletedAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCompletedRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCompletedGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountMarkedTC] [numeric](38, 6) NULL,
	[RebateAmountMarkedAC] [numeric](38, 6) NULL,
	[RebateAmountMarkedRC] [numeric](38, 6) NULL,
	[RebateAmountMarkedGC] [numeric](38, 6) NULL,
	[RebateAmountMarkedAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountMarkedRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountMarkedGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCancelledTC] [numeric](38, 6) NULL,
	[RebateAmountCancelledAC] [numeric](38, 6) NULL,
	[RebateAmountCancelledRC] [numeric](38, 6) NULL,
	[RebateAmountCancelledGC] [numeric](38, 6) NULL,
	[RebateAmountCancelledAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCancelledRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCancelledGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountVarianceTC] [numeric](38, 6) NULL,
	[RebateAmountVarianceAC] [numeric](38, 6) NULL,
	[RebateAmountVarianceRC] [numeric](38, 6) NULL,
	[RebateAmountVarianceGC] [numeric](38, 6) NULL,
	[RebateAmountVarianceAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountVarianceRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountVarianceGC_Budget] [numeric](38, 6) NULL,
	[CostOfGoodsSoldTC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldAC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldRC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldGC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldAC_Budget] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldRC_Budget] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalTC] [numeric](38, 6) NULL,
	[SurchargeTotalAC] [numeric](38, 6) NULL,
	[SurchargeTotalRC] [numeric](38, 6) NULL,
	[SurchargeTotalGC] [numeric](38, 6) NULL,
	[SurchargeTotalAC_Budget] [numeric](38, 6) NULL,
	[SurchargeTotalRC_Budget] [numeric](38, 6) NULL,
	[SurchargeTotalGC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
