/****** Object:  View [DataStore].[V_Employee]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [DataStore].[V_Employee] AS 

/* Cost Center is a financial dimension --> Alter/Copy where required */

SELECT	HCMWorkerRecId AS EmployeeId
	  , PersonnelNumber AS EmployeeCode
	  , ISNULL(NULLIF([Name], ''), '_N/A') AS EmployeeName
	  , PersonnelNumber + ' ' + ISNULL(NULLIF([Name], ''), '_N/A') AS EmployeeCodeName
	  , N'Werknemer' AS DimensionName

FROM dbo.SMRBIHcmWorkerStaging
GO
