/****** Object:  View [DataStore2].[V_CaseActivity]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [DataStore2].[V_CaseActivity] AS 

SELECT     CA.CaseCode AS CaseCode
		 , ActivityNumber
		   /* Dimensions */
		 , ISNULL(CA.CompanyCode,'_N/A') AS CompanyCode
		 , ISNULL(C.SupplierCode,'_N/A') AS SupplierCode
		 , ISNULL(C.SalesOrderCode,'_N/A') AS SalesOrderCode
		 , ISNULL(C.PurchaseOrderCode,'_N/A') AS PurchaseOrderCode
		 , UPPER(ISNULL(C.CustomerCode,'_N/A')) AS CustomerCode
		 , ISNULL(C.ProductCode,'_N/A') AS ProductCode
		   /* Dates */
		 , StartDateTime
		 , EndDateTime
		 , ActualEndDateTime
		   /* Case Activity Details */
		 , ActivityTimeType
		 , ActivityTaskTimeType
		 , ActualWork
		 , AllDay
		 , Category
		 , Closed
		 , DoneByWorker
		 , PercentageCompleted
		 , Purpose
		 , ResponsibleWorker
		 , CA.[Status] AS [Status]
		 , TypeCode
		 , UserMemo
FROM Datastore.CaseActivity AS CA

LEFT JOIN DataStore.[Case] AS C
ON C.CaseCode = CA.CaseCode
AND C.CompanyCode = CA.CompanyCode
GO
