/****** Object:  Table [DataStore].[ProductFD]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ProductFD](
	[ProductFDId] [bigint] NOT NULL,
	[ProductFDCode] [nvarchar](30) NOT NULL,
	[ProductFDName] [nvarchar](60) NOT NULL,
	[ProductFDCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
