/****** Object:  Table [DataStore].[UnitOfMeasure]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[UnitOfMeasure](
	[Denominator] [int] NOT NULL,
	[DataFlow] [nvarchar](20) NULL,
	[Factor] [numeric](38, 21) NULL,
	[InnerOffset] [numeric](38, 12) NOT NULL,
	[OuterOffset] [numeric](38, 12) NOT NULL,
	[Product] [nvarchar](70) NOT NULL,
	[ItemNumber] [nvarchar](20) NOT NULL,
	[Rounding] [int] NOT NULL,
	[FromUOM] [nvarchar](10) NULL,
	[ToUOM] [nvarchar](10) NULL,
	[CompanyCode] [nvarchar](4) NULL
) ON [PRIMARY]
GO
