/****** Object:  Table [DataStore2].[ShipmentInvoice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[ShipmentInvoice](
	[BusinessOwnerCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[DepartmentCode] [nvarchar](10) NOT NULL,
	[DestinationAgentCode] [nvarchar](20) NOT NULL,
	[JobOwnerCode] [nvarchar](20) NOT NULL,
	[LineOfBusinessCode] [nvarchar](10) NOT NULL,
	[ModeOfTransportCode] [nvarchar](20) NOT NULL,
	[PurchaseInvoiceCode] [nvarchar](20) NOT NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[ShipmentContractCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](50) NOT NULL,
	[AccountingCurrencyCode] [nvarchar](3) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](50) NOT NULL,
	[GroupCurrencyCode] [nvarchar](50) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[MasterBillOfLading] [nvarchar](20) NOT NULL,
	[HouseBillOfLading] [nvarchar](20) NOT NULL,
	[Etd] [date] NULL,
	[Eta] [date] NULL,
	[Description] [nvarchar](60) NOT NULL,
	[Branch] [nvarchar](10) NOT NULL,
	[Remark] [nvarchar](60) NOT NULL,
	[PortOfDestination] [nvarchar](5) NOT NULL,
	[PortOfOrigin] [nvarchar](5) NOT NULL,
	[ShipmentInvoiceLineNumber] [numeric](32, 16) NOT NULL,
	[ShipmentInvoiceDate] [date] NULL,
	[Amount] [numeric](32, 6) NOT NULL,
	[Voucher] [nvarchar](20) NOT NULL,
	[ShipmentInvoiceAmountTC] [numeric](32, 6) NOT NULL,
	[ShipmentInvoiceAmountAC] [numeric](38, 6) NOT NULL,
	[ShipmentInvoiceAmountRC] [numeric](38, 6) NOT NULL,
	[ShipmentInvoiceAmountGC] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
