/****** Object:  View [DataStore].[V_SalesBudget]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [DataStore].[V_SalesBudget] AS 

SELECT --Information on fields
	   ISNULL(CASE WHEN FDFS.Comment_ = '' THEN NULL ELSE FDFS.Comment_ END, '_N/A') AS Comment

	   --Dimensions
	 , UPPER(FDFS.DataAreaId) AS CompanyCode
	 , ISNULL(CASE WHEN FDFS.ItemNumber = '' THEN NULL ELSE UPPER(FDFS.ItemNumber) END, '_N/A') AS ProductCode
	 , ISNULL(CASE WHEN FDFS.ItemGroupId = '' THEN NULL ELSE UPPER(FDFS.ItemGroupId) END, '_N/A')  AS ProductGroupCode
	 , ISNULL(CASE WHEN FDFS.CustomerAccountNumber = '' THEN NULL ELSE UPPER(FDFS.CustomerAccountNumber) END, '_N/A')  AS CustomerCode
	 , ISNULL(CASE WHEN FDFS.CustomerGroupId = '' THEN NULL ELSE  FDFS.CustomerGroupId END, '_N/A') AS CustomerGroupCode
	 , ISNULL(CASE WHEN FDFS.ForecastModelId = '' THEN NULL ELSE UPPER(FDFS.ForecastModelId) END, '_N/A') AS ForecastModelCode
	 , ISNULL(FDFS.InventDimId, '_N/A') AS InventDimCode
	 , ISNULL(FDFS.ForecastDemandForecastDimension, -1) AS DefaultDimension
	 , ISNULL(NULLIF(L.ExchangeRateType, ''), 'N/A') AS DefaultExchangeRateTypeCode
	 , ISNULL(NULLIF(L.BudgetExchangeRateType, ''), 'N/A') AS BudgetExchangeRateTypeCode
	 , UPPER(FDFS.PricingCurrencyCode) AS TransactionCurrencyCode
	 , ISNULL(CAST(UPPER(L.AccountingCurrency) AS NVARCHAR(5)), N'_N/A') AS AccountingCurrencyCode
	 , ISNULL(CAST(UPPER(NULLIF(L.ReportingCurrency,'')) AS NVARCHAR(5)), N'_N/A') AS ReportingCurrencyCode
	 , ISNULL(CAST(UPPER(L.GroupCurrency) AS NVARCHAR(5)), N'_N/A') AS GroupCurrencyCode

	   --Dates
	 , ISNULL(FDFS.ForecastStartDate, '1900-01-01') AS ForecastDate

	   --Measures
	 , ISNULL(NULLIF(FDFS.QuantityUnitSymbol,''), '_N/A') AS SalesUnit
	 , ISNULL(FDFS.ForecastedQuantity, 0) AS ForecastQuantity

	   /* GrossSalesAmount */
	 , ISNULL(FDFS.ForecastedRevenue,0) AS GrossSalesAmountTC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.AccountingCurrency 
				   THEN FDFS.ForecastedRevenue 
				   ELSE FDFS.ForecastedRevenue * AC.ExchangeRate
		      END, 0) AS GrossSalesAmountAC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.ReportingCurrency 
				   THEN FDFS.ForecastedRevenue  
				   ELSE FDFS.ForecastedRevenue * RC.ExchangeRate 
			  END, 0) AS GrossSalesAmountRC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.GroupCurrency 
				   THEN FDFS.ForecastedRevenue  
				   ELSE FDFS.ForecastedRevenue * GC.ExchangeRate 
			  END, 0) AS GrossSalesAmountGC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.AccountingCurrency 
				   THEN FDFS.ForecastedRevenue 
				   ELSE FDFS.ForecastedRevenue * AC_Budget.ExchangeRate 
			  END, 0) AS GrossSalesAmountAC_Budget
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.ReportingCurrency 
				   THEN FDFS.ForecastedRevenue  
				   ELSE FDFS.ForecastedRevenue * RC_Budget.ExchangeRate 
			  END, 0) AS GrossSalesAmountRC_Budget
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.GroupCurrency 
				   THEN FDFS.ForecastedRevenue 
				   ELSE FDFS.ForecastedRevenue * GC_Budget.ExchangeRate 
			  END, 0) AS GrossSalesAmountGC_Budget

	   /* CostPrice */
	 , ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0) AS CostPriceTC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.AccountingCurrency 
				   THEN FDFS.ForecastedQuantity * IPS.Price 
				   ELSE (FDFS.ForecastedQuantity *  IPS.Price)  * AC.ExchangeRate 
			  END, 0) AS CostPriceAC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.ReportingCurrency 
				   THEN FDFS.ForecastedQuantity * IPS.Price  
				   ELSE (FDFS.ForecastedQuantity *  IPS.Price) * RC.ExchangeRate 
			  END, 0) AS CostPriceRC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.GroupCurrency 
				   THEN FDFS.ForecastedQuantity *  IPS.Price  
				   ELSE (FDFS.ForecastedQuantity *  IPS.Price) * GC.ExchangeRate 
			  END, 0) AS CostPriceGC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.AccountingCurrency 
				   THEN FDFS.ForecastedQuantity * IPS.Price 
				   ELSE (FDFS.ForecastedQuantity *  IPS.Price)  * AC_Budget.ExchangeRate 
			  END, 0) AS CostPriceAC_Budget
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.ReportingCurrency 
				   THEN FDFS.ForecastedQuantity * IPS.Price  
				   ELSE (FDFS.ForecastedQuantity *  IPS.Price) * RC_Budget.ExchangeRate 
			  END, 0) AS CostPriceRC_Budget
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.GroupCurrency THEN FDFS.ForecastedQuantity *  IPS.Price  ELSE (FDFS.ForecastedQuantity *  IPS.Price) * GC_Budget.ExchangeRate END, 0) AS CostPriceGC_Budget
	   
	   /* GrossMargin */
	 , (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0)) AS GrossMarginTC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.AccountingCurrency 
				   THEN (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0))
				   ELSE (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0))  * AC.ExchangeRate 
			  END, 0) AS GrossMarginAC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.ReportingCurrency 
				   THEN (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0))  
				   ELSE (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0)) * RC.ExchangeRate 
			  END, 0) AS GrossMarginRC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.GroupCurrency 

	 THEN (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0))  
	 ELSE (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0)) * GC.ExchangeRate 
	 END, 0) AS GrossMarginGC
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.AccountingCurrency
				   THEN (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0)) 
				   ELSE (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0))  * AC_Budget.ExchangeRate 
			  END, 0) AS GrossMarginAC_Budget
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.ReportingCurrency
				   THEN (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0))  
				   ELSE (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0)) * RC_Budget.ExchangeRate 
			  END, 0) AS GrossMarginRC_Budget
	 , ISNULL(CASE WHEN FDFS.PricingCurrencyCode = L.GroupCurrency 
				   THEN (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0))  
				   ELSE (ISNULL(FDFS.ForecastedRevenue,0) - ISNULL(FDFS.ForecastedQuantity *  IPS.Price, 0)) * GC_Budget.ExchangeRate 
			  END, 0) AS GrossMarginGC_Budget
	 , CAST(1 AS NUMERIC(38,6)) AS AppliedExchangeRateTC
	 , ISNULL(RC.ExchangeRate, 0) AS AppliedExchangeRateRC
	 , ISNULL(AC.ExchangeRate, 0) AS AppliedExchangeRateAC
	 , ISNULL(GC.ExchangeRate, 0) AS AppliedExchangeRateGC
	 , ISNULL(RC_Budget.ExchangeRate, 0) AS AppliedExchangeRateRC_Budget
	 , ISNULL(AC_Budget.ExchangeRate, 0) AS AppliedExchangeRateAC_Budget
	 , ISNULL(GC_Budget.ExchangeRate, 0) AS AppliedExchangeRateGC_Budget

FROM dbo.SMRBIForecastDemandForecastStaging FDFS

LEFT JOIN
	(SELECT	I1.ItemNumber AS ProductId
		  , I1.FromDate AS FromDate
		  , ISNULL(I2.FromDate, '99991231') AS EndDate
		  , I1.CostingVersionId AS CostingVersionId
		  , I1.Price AS Price
		  , I1.DataAreaId AS CompanyId
	FROM dbo.SMRBIInventItemPendingPriceStaging I1

	LEFT JOIN dbo.SMRBIInventItemPendingPriceStaging I2
	ON I1.ItemNumber = I2.ItemNumber
	AND I1.DataAreaId = I2.DataAreaId
	AND I1.CostingVersionId = I2.CostingVersionId
	AND I1.PriceType = I2.PriceType
	AND I2.FromDate =
		(SELECT MIN(FromDate)
		 FROM dbo.SMRBIInventItemPendingPriceStaging 
		 WHERE 1=1
		 AND ItemNumber = I1.ItemNumber
		 AND DataAreaId = I1.DataAreaId
		 AND CostingVersionId = I1.CostingVersionId
		 AND PriceType = I1.PriceType
		 AND FromDate > I1.FromDate
		 )
	WHERE 1=1
	AND I1.PriceType = 0  /* Type = Cost; see enum field CostingVersionPriceType in AX */
	) IPS 
ON FDFS.ItemNumber = IPS.ProductId 
AND FDFS.DataAreaId = IPS.CompanyId 
AND FDFS.ForecastStartDate >= IPS.FromDate 
AND FDFS.ForecastStartDate < IPS.EndDate
AND IPS.CostingVersionId = ISNULL(CAST(YEAR(FDFS.ForecastStartDate) AS nvarchar(10)), '1900') --Determine which costing version ID is required

--Necessary for the Default exchange rates:
JOIN 
	(SELECT DISTINCT LES.ReportingCurrency
			       , LES.AccountingCurrency
			       , LES.ExchangeRateType
			       , LES.BudgetExchangeRateType
			       , LES.[Name]
			       , G.GroupCurrencyCode AS GroupCurrency
	 FROM dbo.SMRBILedgerStaging LES
	 CROSS JOIN (SELECT TOP 1 GroupCurrencyCode FROM ETL.GroupCurrency) G
	) L
ON FDFS.DataAreaId = L.[Name]

LEFT JOIN DataStore.ExchangeRate RC -- ReportingCurrenycy
ON RC.FromCurrencyCode = FDFS.PricingCurrencyCode
AND RC.ToCurrencyCode = L.ReportingCurrency
AND RC.ExchangeRateTypeCode = L.ExchangeRateType
AND FDFS.ForecastStartDate BETWEEN RC.ValidFrom AND RC.ValidTo

LEFT JOIN DataStore.ExchangeRate AC -- AccountingCurrency
ON AC.FromCurrencyCode = FDFS.PricingCurrencyCode 
AND AC.ToCurrencyCode = L.AccountingCurrency
AND AC.ExchangeRateTypeCode = L.ExchangeRateType
AND FDFS.ForecastStartDate BETWEEN AC.ValidFrom AND AC.ValidTo

LEFT JOIN DataStore.ExchangeRate GC -- GroupCurrency
ON GC.FromCurrencyCode = FDFS.PricingCurrencyCode  
AND GC.ToCurrencyCode = L.GroupCurrency
AND GC.ExchangeRateTypeCode = L.ExchangeRateType
AND FDFS.ForecastStartDate BETWEEN GC.ValidFrom AND GC.ValidTo

--Required for the Budget exchange rates:

LEFT JOIN DataStore.ExchangeRate RC_Budget -- ReportingCurrenycy
ON RC_Budget.FromCurrencyCode = FDFS.PricingCurrencyCode
AND RC_Budget.ToCurrencyCode = L.ReportingCurrency
AND RC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND FDFS.ForecastStartDate BETWEEN RC_Budget.ValidFrom AND RC_Budget.ValidTo

LEFT JOIN DataStore.ExchangeRate AC_Budget -- AccountingCurrency
ON AC_Budget.FromCurrencyCode = FDFS.PricingCurrencyCode 
AND AC_Budget.ToCurrencyCode = L.AccountingCurrency
AND AC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND FDFS.ForecastStartDate BETWEEN AC_Budget.ValidFrom AND AC_Budget.ValidTo

LEFT JOIN DataStore.ExchangeRate GC_Budget -- GroupCurrency
ON GC_Budget.FromCurrencyCode = FDFS.PricingCurrencyCode  
AND GC_Budget.ToCurrencyCode = L.GroupCurrency
AND GC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND FDFS.ForecastStartDate BETWEEN GC_Budget.ValidFrom AND GC_Budget.ValidTo

WHERE 1=1
AND (FDFS.ExpandID <> 0 
		OR (FDFS.ExpandID = 0 AND FDFS.KeyId = ''))
GO
