/****** Object:  Table [DataStore].[WarehouseLocation]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[WarehouseLocation](
	[RecId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[WarehouseLocationCode] [nvarchar](10) NOT NULL,
	[WarehouseCode] [nvarchar](10) NULL,
	[WarehouseName] [nvarchar](60) NOT NULL,
	[WarehouseCodeName] [nvarchar](73) NULL,
	[WareHouseLocationType] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
