/****** Object:  View [DataStore].[V_DeliveryTerms]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO








CREATE VIEW [DataStore].[V_DeliveryTerms] AS 

SELECT	  UPPER(DTS.DataAreaId) AS CompanyCode 
		, UPPER(DTS.TermsCode) AS DeliveryTermsCode
		, ISNULL(DTS.TermsDescription,'_N/A') AS DeliveryTermsName

FROM dbo.SMRBIDeliveryTermsStaging DTS
GO
