/****** Object:  Table [DataStore2].[PurchaseDelivery]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[PurchaseDelivery](
	[DeliveriesIdScreening] [nvarchar](109) NOT NULL,
	[PackingSlipCode] [nvarchar](20) NOT NULL,
	[PurchaseOrderCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductConfigurationCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[OrderSupplierCode] [nvarchar](20) NOT NULL,
	[SupplierCode] [nvarchar](20) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[ActualDeliveryDate] [date] NULL,
	[RequestedDeliveryDate] [date] NULL,
	[ConfirmedDeliveryDate] [date] NULL,
	[PurchaseType] [nvarchar](50) NULL,
	[PurchaseOrderLineNumber] [bigint] NOT NULL,
	[DeliveryName] [nvarchar](100) NOT NULL,
	[DeliveryLineNumber] [numeric](32, 16) NOT NULL,
	[PurchaseUnit] [nvarchar](10) NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_SalesUnit] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
