/****** Object:  Table [DataStore5].[ProductCostBreakdownTheoretical]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore5].[ProductCostBreakdownTheoretical](
	[BOMCalcTransRecId] [bigint] NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[FinishedProductCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[CalculationType] [nvarchar](255) NULL,
	[PriceType] [nvarchar](10) NOT NULL,
	[CalculationCode] [nvarchar](20) NOT NULL,
	[IsCalculatedPrice] [nvarchar](10) NULL,
	[IsMaxCalculation] [nvarchar](10) NULL,
	[IsMaxPrice] [nvarchar](10) NULL,
	[Levelling] [nvarchar](20) NULL,
	[Resource_] [nvarchar](60) NULL,
	[CostGroupCode] [nvarchar](20) NULL,
	[CostPriceUnitSymbol] [nvarchar](10) NOT NULL,
	[CostPriceCalculationNumber] [nvarchar](20) NOT NULL,
	[CostPriceType] [nvarchar](10) NULL,
	[CostPriceVersion] [nvarchar](10) NOT NULL,
	[CostPriceModel] [nvarchar](40) NULL,
	[CalculationDate] [datetime] NOT NULL,
	[IsActivePrice] [nvarchar](10) NULL,
	[ProductCostPrice] [numeric](38, 17) NULL,
	[ComponentCostPrice] [numeric](38, 17) NULL,
	[CostPriceQty] [numeric](38, 17) NULL,
	[TotalQtyRatio] [numeric](38, 17) NULL,
	[ExcludedItems] [varchar](7) NOT NULL
) ON [PRIMARY]
GO
