/****** Object:  View [DataStore].[V_GLAccount]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE VIEW [DataStore].[V_GLAccount] AS

SELECT    UPPER(LES.[Name]) AS CompanyCode
		, MAS.MainAccountRecId AS GLAccountId
		, MAS.MainAccountId AS GLAccountCode
		, ISNULL(MAS.[Name],'_N/A') AS GLAccountName
		, CAST(ISNULL(SM.Name, '_N/A') AS nvarchar(50)) AS GLAccountType
		, ISNULL(NULLIF(LCOAS.ChartOfAccounts, ''), '_N/A') AS ChartOfAccountsName
		, ISNULL(NULLIF(MACS.MainAccountCategory, ''), '_N/A') AS MainAccountCategory
		, ISNULL(NULLIF(MACS.Description, ''), '_N/A') AS MainAccountCategoryDescription
		, ISNULL(NULLIF(MACS.MainAccountCategory, ''), '_N/A') + ' ' + ISNULL(NULLIF(MACS.Description, ''), '_N/A') AS MainAccountCategoryCodeDescription
		, ISNULL(NULLIF(MACS.ReferenceId, ''), 99999) AS MainAccountCategorySort
		, CAST (CASE WHEN MAS.MAINACCOUNTID like '3%' THEN 'TRUE'  ELSE 'FALSE' END AS BIT) AS IsRevenueFlag
		, CAST (CASE WHEN MAS.MAINACCOUNTID like '4%' OR  MAS.MAINACCOUNTID like '3%' THEN 'TRUE'  ELSE 'FALSE' END AS BIT) AS IsGrossProfitFlag

FROM dbo.SMRBIMainAccountStaging MAS

INNER JOIN dbo.SMRBILedgerStaging LES
ON MAS.ChartOfAccountsRecId = LES.ChartOfAccountsRecId

LEFT JOIN (SELECT DISTINCT * FROM dbo.SMRBILedgerChartOfAccountsStaging) LCOAS
ON LCOAS.ChartOfAccountsRecId = LES.ChartOfAccountsRecId

LEFT JOIN dbo.SMRBIMainAccountCategoryStaging MACS
ON MAS.MainAccountCategory = MACS.MainAccountCategory

LEFT JOIN ETL.StringMap SM
ON SM.SourceSystem = 'D365FO'
	and SM.SourceTable = 'MainAccountStaging'
	and SM.SourceColumn = 'MainAccountType'
	and SM.Enum = MAS.MainAccountType


GO
