/****** Object:  Table [DataStore4].[ProductCostBreakdownQuantityRatio]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore4].[ProductCostBreakdownQuantityRatio](
	[DataAreaId] [nvarchar](4) NOT NULL,
	[ItemNumber] [nvarchar](20) NULL,
	[CalculationNr] [numeric](38, 0) NULL,
	[PriceCalcId] [nvarchar](20) NOT NULL,
	[T1_PriceCalcId] [nvarchar](20) NOT NULL,
	[T2_PriceCalcId] [nvarchar](20) NULL,
	[T3_PriceCalcId] [nvarchar](20) NULL,
	[T4_PriceCalcId] [nvarchar](20) NULL,
	[T5_PriceCalcId] [nvarchar](20) NULL,
	[T6_PriceCalcId] [nvarchar](20) NULL,
	[QtyRatioP0] [real] NOT NULL,
	[QtyRatioP1] [real] NOT NULL,
	[QtyRatioP2] [real] NOT NULL,
	[QtyRatioP3] [real] NOT NULL,
	[QtyRatioP4] [real] NOT NULL,
	[QtyRatioP5] [real] NOT NULL,
	[TotalQtyRatio] [numeric](38, 17) NULL
) ON [PRIMARY]
GO
