/****** Object:  Table [DataStore].[Date]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Date](
	[DateCalculation] [nvarchar](50) NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[DayNameLong] [nvarchar](50) NOT NULL,
	[DayNameShort] [nvarchar](10) NOT NULL,
	[DayOfWeekId] [int] NOT NULL,
	[DayOfWeekName] [nvarchar](50) NOT NULL,
	[DayOfYearId] [int] NOT NULL,
	[DayOfYearName] [nvarchar](50) NOT NULL,
	[DimDateId] [int] NOT NULL,
	[MonthId] [int] NOT NULL,
	[MonthName] [nvarchar](50) NOT NULL,
	[MonthOfYearId] [int] NOT NULL,
	[MonthOfYearName] [nvarchar](50) NOT NULL,
	[QuarterId] [int] NOT NULL,
	[QuarterName] [nvarchar](10) NOT NULL,
	[QuarterOfYearId] [int] NOT NULL,
	[QuarterOfYearName] [nvarchar](10) NOT NULL,
	[SemesterId] [int] NOT NULL,
	[SemesterName] [nvarchar](10) NOT NULL,
	[SemesterOfYearId] [int] NOT NULL,
	[SemesterOfYearName] [nvarchar](10) NOT NULL,
	[WeekId] [int] NOT NULL,
	[WeekName] [nvarchar](50) NOT NULL,
	[WeekOfYearId] [int] NOT NULL,
	[WeekOfYearName] [nvarchar](50) NOT NULL,
	[YearId] [int] NOT NULL,
	[YearName] [nvarchar](10) NOT NULL,
	[FYStart] [datetime] NULL
) ON [PRIMARY]
GO
