/****** Object:  Table [DataStore3].[SalesOrder]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore3].[SalesOrder](
	[SalesOrderIdScreening] [nvarchar](65) NOT NULL,
	[SalesOrderCode] [nvarchar](20) NOT NULL,
	[SalesOrderLineNumber] [numeric](32, 16) NOT NULL,
	[SalesOrderLineNumberCombination] [nvarchar](53) NULL,
	[DeliveryAddress] [nvarchar](255) NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[PaymentTermsCode] [nvarchar](10) NOT NULL,
	[OrderCustomerCode] [nvarchar](20) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[SalesOrderStatus] [nvarchar](255) NOT NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[DefaultExchangeRateType] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateType] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[DocumentStatus] [nvarchar](255) NOT NULL,
	[OrderTransaction] [nvarchar](20) NULL,
	[CreationDate] [date] NULL,
	[RequestedShippingDate] [date] NULL,
	[ConfirmedShippingDate] [date] NULL,
	[RequestedDeliveryDate] [date] NULL,
	[ConfirmedDeliveryDate] [date] NULL,
	[FirstShipmentDate] [date] NULL,
	[LastShipmentDate] [date] NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitTC] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitAC] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitRC] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitGC] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitAC_Budget] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitRC_Budget] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesTC] [numeric](38, 6) NOT NULL,
	[GrossSalesAC] [numeric](38, 6) NOT NULL,
	[GrossSalesRC] [numeric](38, 6) NOT NULL,
	[GrossSalesGC] [numeric](38, 6) NOT NULL,
	[GrossSalesAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesGC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountTC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountTC] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountAC] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountRC] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountGC] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportTC] [numeric](38, 6) NULL,
	[SurchargeTransportAC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseTC] [numeric](38, 6) NULL,
	[SurchargePurchaseAC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseRC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseGC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryTC] [numeric](38, 6) NULL,
	[SurchargeDeliveryAC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryRC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryGC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalTC] [numeric](38, 6) NULL,
	[SurchargeTotalAC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC_Budget] [numeric](38, 6) NOT NULL,
	[NetSalesAmountTC] [numeric](38, 6) NOT NULL,
	[NetSalesAmountAC] [numeric](38, 6) NOT NULL,
	[NetSalesAmountRC] [numeric](38, 6) NOT NULL,
	[NetSalesAmountGC] [numeric](38, 6) NOT NULL,
	[NetSalesAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[NetSalesAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[NetSalesAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldTC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldAC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldRC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldGC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldAC_Budget] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldRC_Budget] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginTC] [numeric](38, 6) NULL,
	[GrossMarginAC] [numeric](38, 6) NULL,
	[GrossMarginRC] [numeric](38, 6) NULL,
	[GrossMarginGC] [numeric](38, 6) NULL,
	[GrossMarginAC_Budget] [numeric](38, 6) NULL,
	[GrossMarginRC_Budget] [numeric](38, 6) NULL,
	[GrossMarginGC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 21) NOT NULL
) ON [PRIMARY]
GO
