/****** Object:  View [DataStore].[V_Batch]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [DataStore].[V_Batch] AS 

SELECT	IIBS.InventBatchRecId AS RecId
		, UPPER(IIBS.DataAreaId) AS CompanyCode
		, CONVERT(NVARCHAR(50), IIBS.BatchNumber) AS BatchCode
		, ISNULL(UPPER(IIBS.ItemNumber), '_N/A') AS ProductCode
		, ISNULL(CASE WHEN IIBS.BatchDescription = '' THEN '_N/A' ELSE IIBS.BatchDescription END, '_N/A') AS [Description]
		, ISNULL(NULLIF(IIBS.BatchExpirationDate, ''),'1900-01-01') AS ExpiryDate
		, ISNULL(NULLIF(IIBS.ManufacturingDate, ''),'1900-01-01') AS ProductionDate

FROM dbo.SMRBIInventItemBatchStaging IIBS
GO
