/****** Object:  Table [DataStore].[Case]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Case](
	[CaseCode] [nvarchar](10) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[SupplierCode] [nvarchar](20) NOT NULL,
	[SalesOrderCode] [nvarchar](20) NOT NULL,
	[PurchaseOrderCode] [nvarchar](20) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[CreatedDateTime] [date] NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ClosedDateTime] [date] NULL,
	[ClosedBy] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](60) NOT NULL,
	[Memo] [nvarchar](max) NOT NULL,
	[OwnerWorker] [nvarchar](100) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Process] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[PlannedEffectiveDate] [date] NULL,
	[CaseCategoryRecId] [bigint] NOT NULL,
	[CaseCategoryName] [nvarchar](10) NOT NULL,
	[CaseCategoryType] [nvarchar](50) NULL,
	[CaseCategoryDescription] [nvarchar](60) NOT NULL,
	[CaseCategoryProcess] [nvarchar](20) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
