/****** Object:  Table [DataStore].[ProductionCapacity]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ProductionCapacity](
	[ProductionCapacityIdScreening] [nvarchar](64) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[PlanVersion] [nvarchar](10) NOT NULL,
	[CapacityDate] [datetime] NOT NULL,
	[CalendarCode] [nvarchar](10) NOT NULL,
	[ResourceCode] [nvarchar](10) NOT NULL,
	[RefType] [nvarchar](255) NOT NULL,
	[RefCode] [nvarchar](20) NOT NULL,
	[MaximumCapacity] [numeric](38, 6) NULL,
	[ReservedCapacity] [numeric](38, 11) NULL,
	[AvailableCapacity] [numeric](38, 17) NULL
) ON [PRIMARY]
GO
