/****** Object:  Table [DataStore2].[GeneralLedger]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[GeneralLedger](
	[GeneralLedgerIdScreening] [nvarchar](44) NOT NULL,
	[RecId] [bigint] NOT NULL,
	[TransactionText] [nvarchar](512) NOT NULL,
	[TransactionCode] [nvarchar](20) NOT NULL,
	[IsDebitCredit] [nvarchar](20) NULL,
	[Voucher] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](20) NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](4) NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[GLAccountId] [bigint] NOT NULL,
	[IntercompanyId] [bigint] NOT NULL,
	[BusinessSegmentId] [bigint] NOT NULL,
	[DepartmentId] [bigint] NOT NULL,
	[EndCustomerId] [bigint] NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[ShipmentContractId] [bigint] NOT NULL,
	[LocalAccountId] [bigint] NOT NULL,
	[ProductFDId] [bigint] NOT NULL,
	[VendorId] [bigint] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[PostingDate] [datetime] NOT NULL,
	[AmountTC] [numeric](32, 6) NOT NULL,
	[AmountAC] [numeric](32, 6) NOT NULL,
	[AmountRC] [numeric](32, 6) NOT NULL,
	[AmountGC] [numeric](32, 6) NOT NULL,
	[AmountAC_Budget] [numeric](38, 6) NOT NULL,
	[AmountRC_Budget] [numeric](38, 6) NOT NULL,
	[AmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 17) NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 17) NOT NULL
) ON [PRIMARY]
GO
