/****** Object:  Table [DataStore4].[ProductionOrder]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore4].[ProductionOrder](
	[ProductionOrderCode] [nvarchar](20) NOT NULL,
	[ProductionOrderStatus] [nvarchar](255) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[RouteCode] [nvarchar](20) NOT NULL,
	[SiteCode] [nvarchar](10) NOT NULL,
	[OperationCode] [nvarchar](10) NOT NULL,
	[OperationNumber] [int] NOT NULL,
	[ResourceCode] [nvarchar](30) NOT NULL,
	[CalculationType] [nvarchar](255) NOT NULL,
	[ProductionResourceCode] [nvarchar](30) NOT NULL,
	[CostGroupCode] [nvarchar](10) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[BOMCode] [nvarchar](20) NOT NULL,
	[AccountingCurrencyCode] [nvarchar](3) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](3) NOT NULL,
	[GroupCurrencyCode] [nvarchar](50) NOT NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 21) NOT NULL,
	[JournalPostingDate] [datetime] NOT NULL,
	[RequestedDeliveryDate] [datetime] NOT NULL,
	[ScheduledDeliveryDate] [datetime] NOT NULL,
	[ActualDeliveryDate] [datetime] NOT NULL,
	[ScheduledProductionStartDate] [datetime] NOT NULL,
	[ScheduledProductionEndDate] [datetime] NOT NULL,
	[ProductionStartDate] [datetime] NULL,
	[ProductionEndDate] [datetime] NULL,
	[OTIF] [numeric](38, 6) NOT NULL,
	[InventUnit] [nvarchar](10) NOT NULL,
	[OriginalEstimatedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[OriginalEstimatedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[OriginalEstimatedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[OriginalEstimatedQuantityDetail_InventoryUnit] [numeric](38, 6) NOT NULL,
	[OriginalEstimatedQuantityDetail_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[OriginalEstimatedQuantityDetail_SalesUnit] [numeric](38, 6) NOT NULL,
	[EstimatedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[EstimatedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[EstimatedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[EstimatedQuantityDetail_InventoryUnit] [numeric](38, 6) NOT NULL,
	[EstimatedQuantityDetail_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[EstimatedQuantityDetail_SalesUnit] [numeric](38, 6) NOT NULL,
	[ProducedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[ProducedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[ProducedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[ProducedQuantityDetail_InventoryUnit] [numeric](38, 6) NOT NULL,
	[ProducedQuantityDetail_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[ProducedQuantityDetail_SalesUnit] [numeric](38, 6) NOT NULL,
	[TotalEstimatedConsumptionQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[TotalEstimatedConsumptionQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[TotalEstimatedConsumptionQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[NetEstimatedConsumptionQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[NetEstimatedConsumptionQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[NetEstimatedConsumptionQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[RealConsumptionQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[RealConsumptionQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[RealConsumptionQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[TotalScrapQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[TotalScrapQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[TotalScrapQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[NetScrapQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[NetScrapQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[NetScrapQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[ReportRemainderAsFinished_InventoryUnit] [numeric](38, 6) NOT NULL,
	[ReportRemainderAsFinished_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[ReportRemainderAsFinished_SalesUnit] [numeric](38, 6) NOT NULL,
	[ReportRemainderAsFinishedDetail_InventoryUnit] [numeric](38, 6) NOT NULL,
	[ReportRemainderAsFinishedDetail_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[ReportRemainderAsFinishedDetail_SalesUnit] [numeric](38, 6) NOT NULL,
	[EstimatedCostAmountAC] [numeric](38, 6) NULL,
	[EstimatedCostAmountRC] [numeric](38, 6) NOT NULL,
	[EstimatedCostAmountGC] [numeric](38, 6) NOT NULL,
	[EstimatedCostAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[EstimatedCostAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[RealCostAmountAC] [numeric](33, 17) NULL,
	[RealCostAmountRC] [numeric](38, 6) NOT NULL,
	[RealCostAmountGC] [numeric](38, 6) NOT NULL,
	[RealCostAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[RealCostAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountAC] [numeric](38, 6) NULL,
	[TotalScrapAmountRC] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountGC] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[NetScrapAmountAC] [numeric](38, 6) NULL,
	[NetScrapAmountRC] [numeric](38, 6) NOT NULL,
	[NetScrapAmountGC] [numeric](38, 6) NOT NULL,
	[NetScrapAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[NetScrapAmountGC_Budget] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
