/****** Object:  Table [DataStore2].[PlannedProductionOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[PlannedProductionOrder](
	[PlannedProductionOrderCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductConfigurationCode] [nvarchar](20) NOT NULL,
	[ProductionOrderCode] [nvarchar](20) NOT NULL,
	[RequirementDate] [datetime] NOT NULL,
	[RequestedDate] [datetime] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[DeliveryDate] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[LeadTime] [int] NOT NULL,
	[InventoryUnit] [nvarchar](10) NOT NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[RequirementQuantity_InventoryUnit] [numeric](32, 6) NOT NULL,
	[RequirementQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[RequirementQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[PurchaseQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[PurchaseQuantity_PurchaseUnit] [numeric](32, 6) NOT NULL,
	[PurchaseQuantity_SalesUnit] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
