/****** Object:  View [DataStore].[V_PriceAgreement]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DataStore].[V_PriceAgreement] AS 

SELECT
	  ISNULL(NULLIF(AccountRelation, ''), '_N/A') AS VendorCode
	, ItemRelation AS ProductCode
	, DataAreaId AS CompanyCode
	, Amount
	, Currency
	, FromDate
	, ToDate
	, QuantityAmountFrom AS QtyFrom
	, QuantityAmountTo AS QtyTo
	, UnitId
	, PriceUnit

FROM dbo.SMRBIPriceDiscTableStaging P

WHERE 1=1
	and Module = 2 -- Only vendor transactions
GO
