/****** Object:  Table [DataStore2].[GeneralLedgerBudget]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[GeneralLedgerBudget](
	[GeneralBudgetIdScreening] [nvarchar](74) NOT NULL,
	[TransactionNumber] [nvarchar](20) NOT NULL,
	[BudgetModelCode] [nvarchar](10) NULL,
	[BudgetSubModelCode] [nvarchar](10) NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[BudgetTransactionCode] [nvarchar](20) NULL,
	[BudgetType] [nvarchar](255) NOT NULL,
	[BudgetDate] [datetime] NOT NULL,
	[GLAccountId] [bigint] NOT NULL,
	[IntercompanyId] [bigint] NOT NULL,
	[BusinessSegmentId] [bigint] NOT NULL,
	[DepartmentId] [bigint] NOT NULL,
	[EndCustomerId] [bigint] NOT NULL,
	[LocationId] [bigint] NOT NULL,
	[ShipmentContractId] [bigint] NOT NULL,
	[LocalAccountId] [bigint] NOT NULL,
	[ProductFDId] [bigint] NOT NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[BudgetAmountTC] [numeric](34, 6) NOT NULL,
	[BudgetAmountAC] [numeric](38, 6) NOT NULL,
	[BudgetAmountRC] [numeric](38, 6) NOT NULL,
	[BudgetAmountGC] [numeric](38, 6) NOT NULL,
	[BudgetAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[BudgetAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[BudgetAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 17) NOT NULL
) ON [PRIMARY]
GO
