/****** Object:  View [DataStore2].[V_ProductionOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [DataStore2].[V_ProductionOrder] AS 

WITH OTIF AS (

SELECT	PTS.ProdId AS ProductionOrderCode
	  , PTS.COMPANY AS CompanyCode
	  , CASE WHEN SUM(ITS.Qty) >= PTS.QTYSched THEN 1 ELSE SUM(ITS.Qty) / NULLIF(PTS.QTYSched, 0) END AS OTIF

FROM dbo.SMRBIProdTableStaging PTS

LEFT JOIN dbo.SMRBIInventTransOriginStaging ITOS
ON PTS.COMPANY = ITOS.COMPANY
--ON PTS.Company = ITOS.COMPANY
AND PTS.ProdId = ITOS.ReferenceId
AND PTS.ItemId = ITOS.ItemId

--AND PTS.InventDimId = ITS.ItemInventDimId
LEFT JOIN dbo.SMRBIInventTransStaging ITS
ON ITOS.InventTransOriginRecId = ITS.InventTransOrigin

WHERE 1=1
AND ITOS.ReferenceCategory = 2 --Production
AND (ITS.StatusIssue = 1 -- Sold
	OR ITS.StatusReceipt IN (1,2)) --Purchased/Received
AND ITS.DatePhysical <= DATEADD(dd, 7-(DATEPART(dw, PTS.SchedEnd)), PTS.SchedEnd) --Aggregate the produced quantities until EOW for a particular scheduled end date (against journal posting date)

GROUP BY PTS.ProdId
		, PTS.COMPANY
	   --, PTS.Company
	   , PTS.QTYSched
)

SELECT --Dimensions
		  ISNULL(NULLIF(PTS.ProdId, ''), '_N/A') AS ProductionOrderCode
		, 'Consumption' AS TransactionType
		, ISNULL(SM2.Name, '_N/A') AS ProductionOrderStatus
		, ISNULL(NULLIF(UPPER(PTS.Company), ''), '_N/A') AS CompanyCode
		, ISNULL(NULLIF(UPPER(PTS.ItemId), ''), '_N/A') AS ProductCode
		, ISNULL(NULLIF(PBS.ItemId, ''), '_N/A') AS ProductCode_UsedBOMLines --Required to retrieve Cost Prices
		, ISNULL(NULLIF(PTS.RouteId, ''), '_N/A') AS RouteCode
		, ISNULL(NULLIF(PC.SiteCode, ''), '_N/A') AS SiteCode --Required to join on DimRoute
		, ISNULL(NULLIF(PCTS.OprId, ''), '_N/A') AS OperationCode
		, ISNULL(NULLIF(PCTS.OprNum, ''), -1) AS OperationNumber --Required to join on DimOperations
		, ISNULL(NULLIF(PCTS.Resource_, ''), '_N/A') AS ResourceCode --Important for DWH.V_FactConsumedMaterials
		, ISNULL(NULLIF(SM.Name, ''), 0) AS CalculationType --Details the resource type that is used
		, ISNULL(NULLIF(PCTS.Resource_, ''), '_N/A') AS ProductionResourceCode --Can be an Ingredient, Worker, Machine (group)
		
		--Product Cost Breakdown:
		, ISNULL(NULLIF(PCTS.CostGroupId, ''), '_N/A') AS CostGroupCode
		
		--Technical Fields:
		, ISNULL(NULLIF(PTS.InventDimId, ''), '_N/A') AS InventDimCode --Required for the link with Product Configuration
		, ISNULL(NULLIF(PBS.InventDimCode, ''), '_N/A') AS InventDimCode_UsedBOMLines --Required to retrieve Cost Prices for the BOM Items
		, ISNULL(NULLIF(PTS.BOMId, ''), '_N/A') AS BOMCode
		
		--Dates:
		, ISNULL(NULLIF(PCTS.TransDate, ''), '1900-01-01') AS JournalPostingDate
		, ISNULL(NULLIF(PTS.DlvDate, ''), '1900-01-01') AS RequestedDeliveryDate
		, ISNULL(NULLIF(PTS.SchedEnd, ''), '1900-01-01') AS ScheduledDeliveryDate
		, ISNULL(NULLIF(PTS.FinishedDate, ''), '1900-01-01') AS ActualDeliveryDate
		, ISNULL(NULLIF(PTS.SchedStart, ''), '1900-01-01') AS ScheduledProductionStartDate
		, ISNULL(NULLIF(PTS.SchedEnd, ''), '1900-01-01') AS ScheduledProductionEndDate
		, COALESCE(NULLIF(PTS.StUpDate, ''), NULLIF(PRS.FromDate, ''), '1900-01-01') AS ProductionStartDate
		, COALESCE(NULLIF(PTS.FinishedDate, ''), NULLIF(PRS.ToDate, ''), '1900-01-01') AS ProductionEndDate
		
		--Measures: OTIF
		, ISNULL(O.OTIF, 0) AS OTIF --In case OTIF is not available from CTE, use 0 as not considered OTIF
		
		--Measures: Volume
		, ISNULL(NULLIF(ERRPS.InventoryUnitSymbol, ''), '_N/A') AS InventUnit
		, ISNULL(PBS.UnitId, '_N/A') AS InventUnit_UsedBOMLines --Required to retrieve Cost Prices for the BOM Items
		, 0 AS OriginalEstimatedQuantity--Estimated Quantity on HEADER will be retrieved in the union all
		, ISNULL(PTS.QtySched, 0) AS OriginalEstimatedQuantityDetail
		, 0 AS EstimatedQuantity--Estimated Quantity on HEADER will be retrieved in the union all
		, ISNULL(PTS.QtyStup, 0) AS EstimatedQuantityDetail
		, 0 AS ProducedQuantity--Produced Quantity on HEADER will be retrieved in the union all
		, ISNULL(ITS.TotalQuantity, 0) AS ProducedQuantityDetail
		, 0 AS ReportRemainderAsFinished--Report remainder as finished on HEADER will be retrieved in the union all
		, ISNULL(PTS.RemainInventPhysical,0) AS ReportRemainderAsFinishedDetail
			
			/* Formula for Net Estimated Consumption:
				
				Note! the Unit of Measure is different for the different measures, hence conversion needs to be done

				Constant Consumption (incl. scrap)
					+ Variable Consumption (incl. Scrap)
					= Total Estimated Consumption
						
					- Constant Scrap
					/  (1 + Variable scrap (in Pct) / 100)
					
					= Net Estimated Consumption (excl. Scrap)
			*/
		, ROUND((ISNULL(PCTS.ConsumpConstant, 0) + ISNULL(PCTS.ConsumpVariable, 0)), 4) AS TotalEstimatedConsumptionQuantity --InventoryUnit
		, ROUND((ISNULL(PCTS.ConsumpConstant, 0) + ISNULL(PCTS.ConsumpVariable, 0) --InventoryUnit
			- ISNULL(CASE WHEN ERRPS1.BOMUnitSymbol = ERRPS1.InventoryUnitSymbol THEN PBS.ScrapConst ELSE PBS.ScrapConst * UOM1.Factor END, 0)) --Conversion needs to be done as Scrap is denominated in BOM Unit
			/ (1 + ISNULL(CASE WHEN ERRPS1.BOMUnitSymbol = ERRPS1.InventoryUnitSymbol THEN PBS.ScrapVar ELSE PBS.ScrapVar * UOM1.Factor END, 0) 
			/ 100), 4) AS NetEstimatedConsumptionQuantity --Conversion needs to be done as Scrap is denominated in BOM Unit
		, ROUND(ISNULL(PCTS.RealConsump, 0), 4) AS RealConsumptionQuantity --Inventory Unit
		, ROUND(ISNULL(CASE WHEN ERRPS1.BOMUnitSymbol = ERRPS1.InventoryUnitSymbol THEN PBS.ScrapConst ELSE PBS.ScrapConst * UOM1.Factor END, 0), 4) AS ConstantScrapQuantity  --Conversion needs to be done as Scrap is denominated in BOM Unit
		, (ISNULL(PCTS.ConsumpConstant, 0) + ISNULL(PCTS.ConsumpVariable, 0) - ISNULL(ScrapConst, 0)) --InventoryUnit
			- ROUND((ISNULL(PCTS.ConsumpConstant, 0) + ISNULL(PCTS.ConsumpVariable, 0) --InventoryUnit
			- ISNULL(CASE WHEN ERRPS1.BOMUnitSymbol = ERRPS1.InventoryUnitSymbol THEN PBS.ScrapConst ELSE PBS.ScrapConst * UOM1.Factor END, 0)) --Conversion needs to be done as Scrap is denominated in BOM Unit
			/ (1 + ISNULL(CASE WHEN ERRPS1.BOMUnitSymbol = ERRPS1.InventoryUnitSymbol THEN PBS.ScrapVar ELSE PBS.ScrapVar * UOM1.Factor END, 0) 
			/ 100), 4) AS VariableScrapQuantity--Expressed as actual quantity
		
		--Measures: €
		, ROUND(ISNULL(PCTS.CostAmount, 0) + ISNULL(PCTS.CostMarkup, 0), 4) AS TotalEstimatedCostAmountAC --Accounting Currency
		, CAST(0 AS numeric(32,17)) AS NetEstimatedCostAmountAC --Net Estimated Cost Amount AC will be calculated in DataStore3
		, ROUND(ISNULL(PCTS.RealCostAmount, 0), 4) AS RealCostAmountAC

FROM dbo.SMRBIProdTableStaging PTS
--Join on OTIF
LEFT JOIN OTIF O
ON PTS.Company = O.CompanyCode
AND PTS.ProdId = O.ProductionOrderCode

--Join on Production Route to determine the actual start AND end date, in the case where the production route has not yet been completed
LEFT JOIN 
	(SELECT	ProdId
		  , COMPANY
		  , MIN(PRS.FromDate) AS FromDate
		  , MAX(PRS.ToDate) AS ToDate
	 FROM dbo.SMRBIProdRouteStaging PRS
	 WHERE 1=1
	 AND (PRS.FromDate != '1900-01-01'
	 OR PRS.ToDate != '1900-01-01')
	 GROUP BY ProdId, COMPANY
	) PRS
ON PTS.Company = PRS.COMPANY
AND PTS.ProdId = PRS.ProdId

-- Join to retrieve the production order details
LEFT JOIN dbo.SMRBIProdCalcTransStaging PCTS
ON PTS.Company = PCTS.COMPANY
	and PTS.ProdId = PCTS.TransRefId
	--and BOM = 0 --This is a line consumption (i.e. produced items)
	and PCTS.Resource_ != PTS.ItemId --The final produced item should only be retrieved in the second query

LEFT JOIN ETL.StringMap SM
ON SM.SourceTable = 'SMRBIProdCalcTransStaging'
AND SM.SourceColumn = 'CalcType'
AND SM.Enum = PCTS.CalcType

--Join on Product Configuration to retrieve the Site Id
LEFT JOIN DataStore.ProductConfiguration PC
ON PC.CompanyCode	= PCTS.COMPANY
	and PC.InventDimCode = PCTS.InventDimId

--Join to retrieve the ACTUAL produced quantity on line level
LEFT JOIN 

	(SELECT ITS.*
			, TotalEstimatedQuantity = ISNULL(PTS.QtyStup, 0)
		FROM (SELECT RankNr = ROW_NUMBER() OVER (PARTITION BY ITOS.COMPANY, ITS.ItemId, ITOS.ReferenceId ORDER BY ITOS.ReferenceId)
						, ITOS.COMPANY
						, ITS.ItemId
						, ITOS.ReferenceId
						, TransactionDate = MIN(ITS.DatePhysical)
						, TotalQuantity = SUM(ITS.Qty)
				FROM dbo.SMRBIInventTransOriginStaging ITOS
				LEFT JOIN dbo.SMRBIInventTransStaging ITS
				ON ITOS.InventTransOriginRecId = ITS.InventTransOrigin

				WHERE 1=1
					and ITOS.ReferenceCategory = 2 --Production
					and (StatusIssue = 1 -- Sold
						OR StatusReceipt IN (1,2)) --Purchased/Received

				GROUP BY ITOS.COMPANY
						, ITS.ItemId
						, ReferenceId) ITS 
		LEFT JOIN dbo.SMRBIProdTableStaging PTS
		ON ITS.COMPANY = PTS.Company
			and ITS.ReferenceId = PTS.ProdId
			and ITS.RankNr = 1 --In order to avoid duplication of the estimated production quantity, put the value on the first line
			
	) ITS

ON PTS.Company = ITS.COMPANY
	and PTS.ProdId = ITS.ReferenceId
	and PTS.ItemId = ITS.ItemId

--Join to calculate the total and net scrap 
LEFT JOIN 
	(SELECT	ROW_NUMBER() OVER (PARTITION BY BOMId, COMPANY, ItemId, ProdId, UnitId, PC.InventDimCode, PC.InventStatusCode, PC.ProductConfigurationCode, PC.SiteCode, PC.WarehouseCode ORDER BY BOMID, COMPANY, ItemId, ProdId, UnitId, PC.InventDimCode, PC.InventStatusCode, PC.ProductConfigurationCode, PC.SiteCode, PC.WarehouseCode ASC) AS xRank
			, BOMId
			, COMPANY
			, ItemId
			, ProdId
			, UnitId
			, ScrapConst
			, ScrapVar
			--Product Configuration:
			, PC.InventDimCode
			, PC.InventStatusCode
			, PC.ProductConfigurationCode
			, PC.SiteCode
			, PC.WarehouseCode
		
		FROM dbo.SMRBIProdBOMStaging PBS
		
		LEFT JOIN DataStore.ProductConfiguration PC 
		ON PBS.COMPANY = PC.CompanyCode
			and PBS.InventDimId = PC.InventDimCode

		WHERE 1=1
		) PBS
ON PTS.Company = PBS.COMPANY
AND PTS.BOMId = PBS.BOMId
AND PTS.ProdId = PBS.ProdId
AND PCTS.Resource_ = PBS.ItemId
--AND PBS.InventDimId = PCTS.InventDimId --No join on InventDim, only on some of the dimensions (NICOLS specific, check!)
AND PC.InventStatusCode = PBS.InventStatusCode
AND PC.ProductConfigurationCode = PBS.ProductConfigurationCode
AND PC.SiteCode = PBS.SiteCode
AND PC.WarehouseCode = PBS.WarehouseCode
AND xRank = 1 --There is a possibility there are multiple BOM lines with the same characteristics (it is correct to use the 1st one, as per discussion Dirk Bulckaen)
	
--Join to retrieve the UOM for the produced items
LEFT JOIN dbo.SMRBIEcoResReleasedProductStaging ERRPS
ON ERRPS.COMPANY = PTS.Company
AND ERRPS.ItemNumber = PTS.ItemId

--Join to retrieve the UOM for the BOM items
LEFT JOIN dbo.SMRBIEcoResReleasedProductStaging ERRPS1
ON ERRPS1.COMPANY = PBS.COMPANY
AND ERRPS1.ItemNumber = PBS.ItemId

--Join to convert the BOM Unit to the Inventory Unit for the BOM lines
LEFT JOIN DataStore.UnitOfMeasure UOM1
ON UOM1.CompanyCode = PTS.Company
AND UOM1.ItemNumber = PBS.ItemId
AND UOM1.FromUOM = ERRPS1.BOMUnitSymbol
AND UOM1.ToUOM = ERRPS1.InventoryUnitSymbol

LEFT JOIN ETL.StringMap SM2
ON SM2.SourceSystem = 'D365FO'
AND SM2.SourceTable = 'ProdTable'
AND SM2.SourceColumn = 'ProdStatus'
AND SM2.Enum = PTS.ProdStatus

WHERE 1=1

UNION ALL

SELECT --Dimensions
		ISNULL(NULLIF(PTS.ProdId, ''), '_N/A') AS ProductionOrderCode
		, 'Production' AS TransactionType
		, ISNULL(SM2.Name, '_N/A') AS ProductionOrderStatus
		, ISNULL(NULLIF(PTS.Company, ''), '_N/A') AS CompanyCode
		, ISNULL(NULLIF(UPPER(PTS.ItemId), ''), '_N/A') AS ProductCode
		, '_N/A' AS ProductCode_UsedBOMLines
		, ISNULL(NULLIF(PTS.RouteId, ''), '_N/A') AS RouteCode
		, ISNULL(NULLIF(PC.SiteCode, ''), '_N/A') AS SiteCode --Required to join on DimRoute
		, ISNULL(NULLIF(PCTS.OprId, ''), '_N/A') AS OperationCode
		, ISNULL(NULLIF(PCTS.OprNum, ''), -1) AS OperationNumber --Required to join on DimRoute
		, ISNULL(NULLIF(PCTS.Resource_, ''), '_N/A') AS ResourceCode --Important for DWH.V_FactConsumedMaterials
		, ISNULL(NULLIF(SM.Name, ''), 0) AS CalculationType --Details the resource type that is used
		, ISNULL(NULLIF(PCTS.Resource_, ''), '_N/A') AS ProductionResourceCode --Can be an Ingredient, Worker, Machine (group)
		--Product Cost Breakdown:
		, ISNULL(NULLIF(PCTS.CostGroupId, ''), '_N/A') AS CostGroupCode
		--Technical Fields:
		, ISNULL(NULLIF(PTS.InventDimId, ''), '_N/A') AS InventDimCode --Required for the link with Product Configuration
		, '_N/A' AS InventDimCode_UsedBOMLines
		, ISNULL(NULLIF(PTS.BOMId, ''), '_N/A') AS BOMCode
		--Dates:
		, ISNULL(NULLIF(ITS.DatePhysical, ''), '1900-01-01') AS JournalPostingDate
		, ISNULL(NULLIF(PTS.DlvDate, ''), '1900-01-01') AS RequestedDeliveryDate
		, ISNULL(NULLIF(PTS.SchedEnd, ''), '1900-01-01') AS ScheduledDeliveryDate
		, ISNULL(NULLIF(PTS.FinishedDate, ''), '1900-01-01') AS ActualDeliveryDate
		, ISNULL(NULLIF(PTS.SchedStart, ''), '1900-01-01') AS ScheduledProductionStartDate
		, ISNULL(NULLIF(PTS.SchedEnd, ''), '1900-01-01') AS ScheduledProductionEndDate
		, COALESCE(NULLIF(PTS.StUpDate, ''), NULLIF(PRS.FromDate, ''), '1900-01-01') AS ProductionStartDate
		, COALESCE(NULLIF(PTS.FinishedDate, ''), NULLIF(PRS.ToDate, ''), '1900-01-01') AS ProductionEndDate
		--Measures: OTIF
		, ISNULL(O.OTIF, 0) AS OTIF --In case OTIF is not available from CTE, use 0 as not considered OTIF
		--Measures: Volume
		, ISNULL(NULLIF(ERRPS.InventoryUnitSymbol, ''), '_N/A') AS InventUnit
		, '_N/A' AS InventUnit_UsedBOMLines
		, ISNULL(ITS.TotalOriginalEstimatedQuantity, 0) AS OriginalEstimatedQuantity
		, CAST(0 AS numeric(38,17)) AS OriginalEstimatedQuantityDetail
		, ISNULL(ITS.TotalEstimatedQuantity, 0) AS EstimatedQuantity
		, CAST(0 AS numeric(38,17)) AS EstimatedQuantityDetail
		, ISNULL(ITS.TotalQuantity, 0) AS ProducedQuantity
		, CAST(0 AS numeric(38,17)) AS ProducedQuantityDetail
		, ISNULL(PTS.RemainInventPhysical,0) AS ReportRemainderAsFinished
		, CAST(0 AS numeric(38,17)) AS ReportRemainderAsFinishedDetail
		--Measures: €
		, CAST(0 AS numeric(32,17)) AS TotalEstimatedConsumptionQuantity
		, CAST(0 AS numeric(32,17)) AS NetEstimatedConsumptionQuantity
		, CAST(0 AS numeric(32,17)) AS RealConsumptionQuantity
		, CAST(0 AS numeric(32,17)) AS ConstantScrapQuantity
		, CAST(0 AS numeric(32,17)) AS VariableScrapQuantity
		, CAST(0 AS numeric(32,17)) AS TotalEstimatedCostAmountAC
		, CAST(0 AS numeric(32,17)) AS NetEstimatedCostAmountAC --Net Estimated Cost Amount AC will be calculated in DataStore3
		, CAST(0 AS numeric(32,17)) AS RealCostAmountAC	

FROM dbo.SMRBIProdTableStaging PTS

--Join on OTIF
LEFT JOIN OTIF O
ON PTS.Company = O.CompanyCode
AND PTS.ProdId = O.ProductionOrderCode

--Join on Production Route to determine the actual start and end date, in the case where the production route has not yet been completed
LEFT JOIN 
	(SELECT	ProdId
		  , COMPANY
		  , MIN(PRS.FromDate) AS FromDate
		  , MAX(PRS.ToDate) AS ToDate
		FROM dbo.SMRBIProdRouteStaging PRS
		WHERE 1=1
		AND (PRS.FromDate != '1900-01-01'
		OR PRS.ToDate != '1900-01-01')
		GROUP BY ProdId, COMPANY
	) PRS
ON PTS.Company = PRS.COMPANY
AND PTS.ProdId = PRS.ProdId

-- Join to retrieve the production order details
LEFT JOIN dbo.SMRBIProdCalcTransStaging PCTS
ON PTS.Company = PCTS.COMPANY
AND PTS.ProdId = PCTS.TransRefId
AND BOM = 1 --This is a line consumption (i.e. produced items)
AND Resource_ = PTS.ItemId --Only the final produced item should be retrieved in the second query

LEFT JOIN ETL.StringMap SM
ON SM.SourceTable = 'SMRBIProdCalcTransStaging'
AND SM.SourceColumn = 'CalcType'
AND SM.Enum = PCTS.CalcType

--Join to retrieve the ACTUAL produced quantity
LEFT JOIN 

	(SELECT ITS.*
			, TotalEstimatedQuantity = ISNULL(PTS.QtyStup, 0)
			, TotalOriginalEstimatedQuantity = ISNULL(PTS.QtySched, 0)
		FROM dbo.SMRBIProdTableStaging PTS
			LEFT JOIN (SELECT RankNr = ROW_NUMBER() OVER (PARTITION BY ITOS.COMPANY, ITS.ItemId, ITOS.ReferenceId ORDER BY ITOS.ReferenceId ASC)
						, ITOS.COMPANY
						, ITS.ItemId
						, ITOS.ReferenceId
						, DatePhysical = MAX(ITS.DatePhysical)
						, TotalQuantity = SUM(ITS.Qty)
				FROM dbo.SMRBIInventTransOriginStaging ITOS 
			LEFT JOIN dbo.SMRBIInventTransStaging ITS
			ON ITOS.InventTransOriginRecId = ITS.InventTransOrigin
			WHERE 1=1
				and ITOS.ReferenceCategory = 2 --Production
				and (StatusIssue = 1 -- Sold
					OR StatusReceipt IN (1,2)) --Purchased/Received

			GROUP BY ITOS.COMPANY
					, ITS.ItemId
					, ReferenceId
					--, DatePhysical
			) ITS 
			ON ITS.COMPANY = PTS.Company
				and ITS.ReferenceId = PTS.ProdId

	) ITS

ON PTS.Company = ITS.COMPANY
	and PTS.ProdId = ITS.ReferenceId
	and PTS.ItemId = ITS.ItemId

--Join on Product Configuration to retrieve the Site Id
LEFT JOIN DataStore.ProductConfiguration PC
ON PC.CompanyCode	= PCTS.COMPANY
AND PC.InventDimCode = PCTS.InventDimId

--Join to retrieve the UOM for the produced items
LEFT JOIN dbo.SMRBIEcoResReleasedProductStaging ERRPS
ON ERRPS.COMPANY = PTS.Company
AND ERRPS.ItemNumber = PTS.ItemId

LEFT JOIN ETL.StringMap SM2
ON SM2.SourceSystem = 'D365FO'
AND SM2.SourceTable = 'ProdTable'
AND SM2.SourceColumn = 'ProdStatus'
AND SM2.Enum = PTS.ProdStatus

WHERE 1=1
GO
