/****** Object:  Table [DataStore].[PurchaseDelivery]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[PurchaseDelivery](
	[PackingSlipCode] [nvarchar](20) NOT NULL,
	[PurchaseOrderCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductConfigurationCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[OrderSupplierCode] [nvarchar](20) NOT NULL,
	[SupplierCode] [nvarchar](20) NOT NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[ActualDeliveryDate] [date] NULL,
	[RequestedDeliveryDate] [date] NULL,
	[ConfirmedDeliveryDate] [date] NULL,
	[PurchaseType] [nvarchar](50) NULL,
	[PurchaseOrderLineNumber] [bigint] NOT NULL,
	[DeliveryName] [nvarchar](100) NOT NULL,
	[DeliveryLineNumber] [numeric](32, 16) NOT NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[QuantityOrdered] [numeric](32, 6) NULL,
	[QuantityDelivered] [numeric](32, 6) NULL
) ON [PRIMARY]
GO
