/****** Object:  Table [DataStore2].[PurchaseBudget]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[PurchaseBudget](
	[PurchaseBudgetIdScreening] [nvarchar](54) NOT NULL,
	[ForecastModelCode] [nvarchar](10) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NOT NULL,
	[AccountingCurrencyCode] [nvarchar](3) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](3) NOT NULL,
	[GroupCurrencyCode] [nvarchar](50) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[SupplierCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[BudgetDate] [datetime] NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[BudgetQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[BudgetQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[BudgetQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[PurchUnitPriceTC] [numeric](32, 6) NOT NULL,
	[PurchUnitPriceAC] [numeric](38, 6) NOT NULL,
	[PurchUnitPriceRC] [numeric](38, 6) NOT NULL,
	[PurchUnitPriceGC] [numeric](38, 6) NOT NULL,
	[PurchUnitPriceAC_Budget] [numeric](38, 6) NOT NULL,
	[PurchUnitPriceRC_Budget] [numeric](38, 6) NOT NULL,
	[PurchUnitPriceGC_Budget] [numeric](38, 6) NOT NULL,
	[BudgetAmountTC] [numeric](32, 6) NOT NULL,
	[BudgetAmountAC] [numeric](38, 6) NOT NULL,
	[BudgetAmountRC] [numeric](38, 6) NOT NULL,
	[BudgetAmountGC] [numeric](38, 6) NOT NULL,
	[BudgetAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[BudgetAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[BudgetAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 21) NOT NULL
) ON [PRIMARY]
GO
