/****** Object:  Table [DataStore3].[Voucher]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore3].[Voucher](
	[CompanyCode] [nvarchar](20) NULL,
	[Voucher] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
