/****** Object:  Table [DataStore].[Time]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Time](
	[DimTimeId] [int] NOT NULL,
	[HourId] [int] NOT NULL,
	[HourZoneCode] [nvarchar](10) NOT NULL,
	[HourZoneName] [nvarchar](20) NOT NULL,
	[MinuteId] [int] NOT NULL,
	[Time] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
