/****** Object:  Table [DataStore].[BusinessSegment]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[BusinessSegment](
	[BusinessSegmentId] [bigint] NOT NULL,
	[BusinessSegmentCode] [nvarchar](30) NOT NULL,
	[BusinessSegmentName] [nvarchar](60) NOT NULL,
	[BusinessSegmentCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
