/****** Object:  Table [DataStore].[ProductionTimeRegistration]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ProductionTimeRegistration](
	[ProductionOrderCode] [nvarchar](35) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductConfigurationCode] [nvarchar](20) NOT NULL,
	[RouteCode] [nvarchar](20) NOT NULL,
	[RoutingName] [nvarchar](60) NOT NULL,
	[ResourceCode] [nvarchar](10) NOT NULL,
	[OperationCode] [nvarchar](10) NOT NULL,
	[OperationNumber] [int] NOT NULL,
	[Shift] [nvarchar](4) NOT NULL,
	[OperatorType] [nvarchar](30) NOT NULL,
	[OperatorName] [bigint] NOT NULL,
	[RecId] [bigint] NOT NULL,
	[PostedJournalDate] [date] NULL,
	[Hours] [numeric](32, 6) NOT NULL,
	[HourPrice] [numeric](32, 6) NOT NULL
) ON [PRIMARY]
GO
