/****** Object:  Table [DataStore].[Intercompany]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Intercompany](
	[IntercompanyId] [bigint] NOT NULL,
	[IntercompanyCode] [nvarchar](30) NOT NULL,
	[IntercompanyName] [nvarchar](60) NOT NULL,
	[IntercompanyCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
