/****** Object:  View [DataStore].[V_InterCompanyARAP]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/****** Script for SelectTopNRows command from SSMS  ******/


CREATE  VIEW [DataStore].[V_InterCompanyARAP] AS 

SELECT 
	    CAST(CONVERT(date, ISNULL([Invoice], '1900-01-01')) AS datetime) AS InvoiceDate
	  , YEAR(CONVERT(datetime2(7), ISNULL([Invoice], '1900-01-01'))) AS YearInvoice
      , CAST(CONVERT(date, ISNULL( [Posted], '1900-01-01')) AS datetime) AS PostedDate
      , CAST(CONVERT(date, ISNULL([Due], '1900-01-01')) AS datetime) AS DueDate
      , ISNULL([Brn.], '_N/A')  AS Brn
      , ISNULL([Dept], '_N/A') AS Departement
      , ISNULL([Lgr.], '_N/A') AS AR_AP_Type
      , ISNULL([Type], '_N/A') AS Type
      , CASE WHEN [Lgr.] = 'AR' THEN ISNULL([Transaction #], '_N/A') ELSE '_N/A' END AS SalesInvoiceCode
	  , CASE WHEN [Lgr.] = 'AP' THEN ISNULL([Transaction #], '_N/A')  ELSE '_N/A' END AS PurchaseInvoiceCode
      , ISNULL([Job Invoice / Posting Ref], '_N/A') AS JobInvoice
      , ISNULL([Cur], '_N/A') AS Currency
	  , ISNULL(CONVERT(NUMERIC(38,8),[Invoice Total]				), 0) AS InvoiceTotal	  
     -- , ISNULL(CONVERT(NUMERIC(20,8),[Outstanding OS Currency]		), 0) AS
    --  , ISNULL(CONVERT(NUMERIC(20,8),[Outstanding Local Equiv]		), 0) AS
      , CASE WHEN [Lgr.] = 'AR' THEN ISNULL([Account]			, '_N/A') ELSE '_N/A' END AS CustomerCode
	  , CASE WHEN [Lgr.] = 'AP' THEN ISNULL([Account]			, '_N/A') ELSE '_N/A' END AS SupplierCode
      , ISNULL([Account Name]		, '_N/A') AS AccountName
      , ISNULL([AP Settlement]		, '_N/A') AS AP_Settlement
      , ISNULL([AR Settlement]		, '_N/A') AS AR_Settlement
      , ISNULL([CR GRP]				, '_N/A') AS CrGRP
      , ISNULL([DR GRP]				, '_N/A') AS DrGRP
      , ISNULL([Dest. / Disch.]		, '_N/A') AS DestDisch
      , CONVERT(datetime2(7), ISNULL([ETA], '19000101')) AS ETA
      , CONVERT(datetime2(7), ISNULL([ETD], '19000101')) AS ETD
      , ISNULL([House]					, '_N/A') AS House
      , ISNULL([Job Number]				, '_N/A') AS JobNumber
      , ISNULL([Master]					, '_N/A') AS [Master]
      , ISNULL([Org. Country ]			, '_N/A') AS OrigCountry
      , ISNULL([Org. Country Name ]		, '_N/A') AS OrigCountryName
      , ISNULL([Origin / Load]			, '_N/A') AS OriginLoad	 
	  , CompanyCode
	  , ISNULL(CONVERT(numeric(32,16) , Exchange) ,0) AS ExchangeRate
	  
  FROM 
  (
  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'EU10' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_EU10] A
  WHERE Invoice is not null 

  UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'BE20' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_BE20] A
  WHERE Invoice is not null 
 
   UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'BX20' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_BX20] A
  WHERE Invoice is not null
  
  UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'EM14' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_EM14] A
  WHERE Invoice is not null 
 
   UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'LU20' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_LU20] A
  WHERE Invoice is not null 

     UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'NL20' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_NL20] A
  WHERE Invoice is not null 


   UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'SE20' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_SE20] A
  WHERE Invoice is not null  

   UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'FR50' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_FR50] f
  WHERE Invoice is not null
  
     UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'DE30' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_DE30] f
  WHERE Invoice is not null

     UNION ALL

  SELECT  [Invoice]
		, [Posted]
		, [Due]
		, [Brn.]
		, [Dept]
		, [Lgr.]
		, [Type]
		, [Transaction #]
		, [Job Invoice / Posting Ref]
		, [Cur]
		, [Invoice Total]
		, [Exchange]
		, [Local Total]
		, [Outstanding OS Currency]
		, [Outstanding Local Equiv]
		, [Account]
		, [Account Name]
		, [AP Settlement]
		, [AR Settlement]
		, [CR GRP]
		, [DR GRP]
		, [Dest. / Disch.]
		, [ETA]
		, [ETD]
		, [House]
		, [Job Number]
		, [Master]
		, [Org. Country ]
		, [Org. Country Name ]
		, [Origin / Load]
		, 'SW31' AS CompanyCode
  FROM [StagingInterCompany].[ARAP_SW31] f
  WHERE Invoice is not null
  
  
  
  ) a


  
GO
