/****** Object:  Table [DataStore].[Route]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Route](
	[RouteCode] [nvarchar](20) NOT NULL,
	[RouteName] [nvarchar](60) NOT NULL,
	[RouteCodeName] [nvarchar](255) NULL,
	[OperationCode] [nvarchar](10) NOT NULL,
	[OperationSequence] [bigint] NULL,
	[OperationNumber] [int] NOT NULL,
	[OperationNumberNext] [int] NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[RouteGroupCode] [nvarchar](10) NOT NULL,
	[RouteGroupName] [nvarchar](60) NOT NULL,
	[RouteGroupCodeName] [nvarchar](255) NULL,
	[SiteCode] [nvarchar](10) NOT NULL,
	[SiteName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
