/****** Object:  View [DataStore].[V_Operations]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [DataStore].[V_Operations] AS

SELECT	DISTINCT ISNULL(NULLIF(RROS.OperationId, ''), '_N/A') AS OperationCode
		, ISNULL(NULLIF(OS.OperationName, ''), '_N/A') AS OperationName
		, RANK() OVER (PARTITION BY RROS.RouteId, RROS.DataAreaId ORDER BY RROS.OperationNumber ASC) AS OperationSequence
		, ISNULL(CONVERT(nvarchar(10),NULLIF(RROS.OperationNumber, '')), -1) AS OperationNumber
		, ISNULL(NULLIF(RROS.NextRouteOperationNumber, ''), -1) AS OperationNumberNext
		, ISNULL(RROS.DataAreaId, '_N/A') AS CompanyCode
		, ISNULL(NULLIF(OperationPriority, ''), 0) AS OperationPriority

FROM dbo.SMRBIRouteRouteOperationStaging RROS

LEFT JOIN dbo.SMRBIRouteOperationStaging OS
ON RROS.OperationId = OS.OperationId
	AND RROS.DataAreaId = OS.DataAreaId

WHERE 1=1
GO
