/****** Object:  Table [DataStore].[Batch]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Batch](
	[RecId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[BatchCode] [nvarchar](50) NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[ExpiryDate] [datetime] NOT NULL,
	[ProductionDate] [datetime] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
