/****** Object:  View [DataStore].[V_PaymentTerms]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [DataStore].[V_PaymentTerms] AS 

SELECT	UPPER(PTS.DataAreaId) AS CompanyCode
	  , UPPER(PTS.[Name]) AS PaymentTermsCode
	  , ISNULL(PTS.[Description],'_N/A') AS PaymentTermsName

FROM dbo.SMRBIPaymentTermStaging PTS
GO
