/****** Object:  View [DataStore].[V_ProductCostBreakdownHierarchy]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [DataStore].[V_ProductCostBreakdownHierarchy] AS

/* The following hierarchy is dependent on the levels defined in the costing sheet, which are subsequently loaded using the procedure ETL.CostSheetNodeHierarchy */

SELECT    CompanyId AS CompanyCode
		, Level_1
		, Level_2
		, Level_3
		--, Level_4 --> Alter if required
		--, Level_5 --> Alter if required
		--, Level_6 --> Alter if required

FROM (
	SELECT CompanyId = UPPER(DataAreaId)
			, Level_1 = ISNULL(ISNULL(NULLIF(CSNHT.Level_1_Code, ''), '_N/A') + CASE WHEN CSNHT.Level_1_Description = '' THEN '' ELSE ' | ' +CSNHT.Level_1_Description END, '_N/A')
			, Level_2 = ISNULL(ISNULL(NULLIF(CSNHT.Level_2_Code, ''), '_N/A') + CASE WHEN CSNHT.Level_2_Description = '' THEN '' ELSE ' | ' +CSNHT.Level_2_Description END, '_N/A')
			, Level_3 = ISNULL(ISNULL(NULLIF(CSNHT.Level_3_Code, ''), '_N/A') + CASE WHEN CSNHT.Level_3_Description = '' THEN '' ELSE ' | ' +CSNHT.Level_3_Description END, '_N/A')
			--, Level_4 = ISNULL(ISNULL(NULLIF(CSNHT.Level_4_Code, ''), '_N/A') + CASE WHEN CSNHT.Level_4_Description = '' THEN '' ELSE ' | ' +CSNHT.Level_4_Description END, '_N/A') --> Alter if required
			--, Level_5 = ISNULL(ISNULL(NULLIF(CSNHT.Level_5_Code, ''), '_N/A') + CASE WHEN CSNHT.Level_5_Description = '' THEN '' ELSE ' | ' +CSNHT.Level_5_Description END, '_N/A') --> Alter if required
			--, Level_6 = ISNULL(ISNULL(NULLIF(CSNHT.Level_6_Code, ''), '_N/A') + CASE WHEN CSNHT.Level_6_Description = '' THEN '' ELSE ' | ' +CSNHT.Level_6_Description END, '_N/A') --> Alter if required

	FROM dbo.CostSheetNodeHierarchyTable CSNHT

	UNION ALL

	SELECT DISTINCT CompanyId = UPPER(CompanyId)
			 , Level_1 = '_N/A'
			 , Level_2 = '_N/A'
			 , Level_3 = '_N/A'
			 --, Level_4 = '_N/A' --> Alter if required
			 --, Level_5 = '_N/A' --> Alter if required
			 --, Level_6 = '_N/A' --> Alter if required
	 FROM dbo.SMRBIOfficeAddinLegalEntityStaging

	 ) A

GROUP BY CompanyId
		, Level_1
		, Level_2
		, Level_3
		--, Level_4 --> Alter if required
		--, Level_5 --> Alter if required
		--, Level_6 --> Alter if required
GO
