/****** Object:  Table [DataStore2].[PurchaseInvoice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[PurchaseInvoice](
	[PurchaseInvoiceIdScreening] [nvarchar](65) NOT NULL,
	[PurchaseInvoiceCode] [nvarchar](20) NOT NULL,
	[PurchaseInvoiceLineNumber] [numeric](32, 16) NOT NULL,
	[InvoiceLineNumberCombination] [nvarchar](53) NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[PurchaseOrderCode] [nvarchar](20) NOT NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[PurchaseOrderStatus] [nvarchar](20) NULL,
	[SupplierCode] [nvarchar](20) NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[PaymentTermsCode] [nvarchar](100) NULL,
	[DeliveryModeCode] [nvarchar](10) NULL,
	[DeliveryTermsCode] [nvarchar](10) NULL,
	[InternalInvoiceCode] [nvarchar](20) NOT NULL,
	[TaxWriteCode] [int] NULL,
	[TransactionType] [nvarchar](60) NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[GLAccountCode] [nvarchar](30) NOT NULL,
	[IntercompanyCode] [nvarchar](30) NOT NULL,
	[BusinessSegmentCode] [nvarchar](30) NOT NULL,
	[DepartmentCode] [nvarchar](30) NOT NULL,
	[EndCustomerCode] [nvarchar](30) NOT NULL,
	[LocationCode] [nvarchar](30) NOT NULL,
	[ShipmentContractCode] [nvarchar](30) NOT NULL,
	[LocalAccountCode] [nvarchar](30) NOT NULL,
	[ProductFDCode] [nvarchar](30) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[PurchaseUnit] [nvarchar](20) NULL,
	[InvoicedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[InvoicedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[InvoicedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitTC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitAC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitRC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitGC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitAC_Budget] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitRC_Budget] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseTC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseAC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseRC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseGC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseGC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountTC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountTC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountAC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountRC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountGC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountTC] [numeric](38, 6) NOT NULL,
	[MarkupAmountAC] [numeric](38, 6) NOT NULL,
	[MarkupAmountRC] [numeric](38, 6) NOT NULL,
	[MarkupAmountGC] [numeric](38, 6) NOT NULL,
	[MarkupAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountTC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountAC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountRC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountGC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 21) NOT NULL,
	[SurchargeTransportTC] [numeric](38, 6) NULL,
	[SurchargeTransportAC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalTC] [numeric](38, 6) NULL,
	[SurchargeTotalAC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC_Budget] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
