/****** Object:  Table [DataStore2].[ProductionTimeRegistration]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[ProductionTimeRegistration](
	[ProductionOrderCode] [nvarchar](35) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductConfigurationCode] [nvarchar](20) NOT NULL,
	[ResourceCode] [nvarchar](10) NOT NULL,
	[RouteCode] [nvarchar](20) NOT NULL,
	[OperationCode] [nvarchar](10) NOT NULL,
	[OperationNumber] [int] NOT NULL,
	[RoutingName] [nvarchar](60) NOT NULL,
	[Shift] [nvarchar](4) NOT NULL,
	[OperatorType] [nvarchar](30) NOT NULL,
	[OperatorName] [nvarchar](100) NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NOT NULL,
	[AccountingCurrencyCode] [nvarchar](3) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](3) NOT NULL,
	[GroupCurrencyCode] [nvarchar](50) NOT NULL,
	[RecId] [bigint] NOT NULL,
	[PostedJournalDate] [date] NULL,
	[MachineTimeMinutes] [numeric](35, 6) NOT NULL,
	[MachineTimeHours] [numeric](32, 6) NOT NULL,
	[MachineTimeDays] [numeric](35, 9) NOT NULL,
	[MachineCostTC] [numeric](38, 6) NULL,
	[MachineCostAC] [numeric](38, 6) NOT NULL,
	[MachineCostRC] [numeric](38, 6) NOT NULL,
	[MachineCostGC] [numeric](38, 6) NOT NULL,
	[MachineCostAC_Budget] [numeric](38, 6) NOT NULL,
	[MachineCostRC_Budget] [numeric](38, 6) NOT NULL,
	[MachineCostGC_Budget] [numeric](38, 6) NOT NULL,
	[OperatorTimeMinutes] [numeric](35, 6) NOT NULL,
	[OperatorTimeHours] [numeric](32, 6) NOT NULL,
	[OperatorTimeDays] [numeric](35, 9) NOT NULL,
	[LabourCostTC] [numeric](38, 6) NULL,
	[LabourCostAC] [numeric](38, 6) NOT NULL,
	[LabourCostRC] [numeric](38, 6) NOT NULL,
	[LabourCostGC] [numeric](38, 6) NOT NULL,
	[LabourCostAC_Budget] [numeric](38, 6) NOT NULL,
	[LabourCostRC_Budget] [numeric](38, 6) NOT NULL,
	[LabourCostGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 21) NOT NULL
) ON [PRIMARY]
GO
