/****** Object:  Table [DataStore].[LocalAccount]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[LocalAccount](
	[LocalAccountId] [bigint] NOT NULL,
	[LocalAccountCode] [nvarchar](30) NOT NULL,
	[LocalAccountName] [nvarchar](60) NOT NULL,
	[LocalAccountCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
