/****** Object:  View [DataStore].[V_SalesShipment]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [DataStore].[V_SalesShipment] AS

SELECT --Dimensions
	   ISNULL(CPSTS.PackingSlipId, '_N/A') AS CustPackingSlipCode
	 , ISNULL(CPSTS.LineNum, 0) AS CustPackingSlipLineNumber
	 , ISNULL(CPSTS.PackingSlipId + ' - ' + CAST(CAST(CPSTS.LineNum AS INT) AS NVARCHAR), '_N/A') AS CustPackingSlipLineNumberCombination
	 , ISNULL(CPSTS.OrigSalesId, '_N/A') AS SalesOrderCode
	 , ISNULL(CITS.InvoiceId, '_N/A') AS SalesInvoiceCode
	 , ISNULL(UPPER(CPSTS.DataAreaId), '_N/A') AS CompanyCode
	 , ISNULL(UPPER(CPSTS.ItemId),N'_N/A') AS ProductCode
	 , ISNULL(CASE WHEN SOHS.OrderingCustomerAccountNumber = '' 
				   THEN NULL 
			       ELSE SOHS.OrderingCustomerAccountNumber 
			  END, N'_N/A') AS OrderCustomerCode
	 , ISNULL(CASE WHEN SOHS.INVOICECUSTOMERACCOUNTNUMBER = '' 
				   THEN NULL 
			       ELSE SOHS.INVOICECUSTOMERACCOUNTNUMBER
			  END, N'_N/A') AS CustomerCode
	 , ISNULL(CPSTS.InventRefTransId, '_N/A') AS InventTransCode
	 , ISNULL(CPSTS.InventDimId, '_N/A') AS InventDimCode

	   --Dates
	 , CAST(ISNULL(CPSTS.SalesLineShippingDateRequested, '1900-01-01') AS DATE) AS RequestedShippingDate
	 , CAST(ISNULL(CPSTS.SalesLineShippingDateConfirmed, '1900-01-01') AS DATE) AS ConfirmedShippingDate
	 , CAST(ISNULL(CPSTS.DeliveryDate, '1900-01-01') AS DATE) AS ActualDeliveryDate

	   --Measures
	 , ISNULL(UPPER(CPSTS.SalesUnit), '_N/A') AS SalesUnit
	 , ISNULL(CPSTS.Ordered, 0) AS OrderedQuantity
	 , ISNULL(CPSTS.Qty, 0) AS DeliveredQuantity

FROM dbo.SMRBICustPackingSlipJourStaging CPSJS

INNER JOIN 
	(SELECT RankNr = ROW_NUMBER() OVER (PARTITION BY DataAreaId, PackingSlipId ORDER BY LineNum ASC)
			, *
		FROM DBO.SMRBICustPackingSlipTransStaging) CPSTS
ON CPSJS.PackingSlipId = CPSTS.PackingSlipId
	and CPSJS.DataAreaId = CPSTS.DataAreaId

LEFT JOIN dbo.SMRBISalesOrderHeaderStaging SOHS
ON SOHS.SalesOrderNumber = CPSTS.OrigSalesId
AND SOHS.DataAreaId = CPSTS.DataAreaId

LEFT JOIN dbo.SMRBICustInvoiceTransStaging CITS
ON CPSTS.InvoiceTransRefRecId = CITS.CustInvoiceTransRecId
AND CPSTS.DataAreaId = CITS.DataAreaId
GO
