/****** Object:  View [DataStore].[V_Customer]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [DataStore].[V_Customer] AS 

SELECT	  CCS.CustomerRecId AS CustomerId
		, UPPER(CCS.DataAreaId) AS CompanyCode
		, ISNULL(UPPER(CCS.CustomerAccount), '_N/A') AS CustomerCode
		, ISNULL(NULLIF(CCS.[Name],''), '_N/A') AS CustomerName
		, UPPER(CCS.CustomerAccount) + '-' + ISNULL(CCS.[Name], '_N/A') AS CustomerCodeName
		, ISNULL(NULLIF(CCS.CustomerGroupId,''), '_N/A') AS CustomerGroup
		, ISNULL(CCGES.NAME, '_N/A') AS CustomerGroupName
		, ISNULL(CASE WHEN CCS.CustomerGroupId = '' THEN '_N/A' ELSE CCS.CustomerGroupId END + ' - ' + ISNULL(CCGES.NAME,'_N/A'),'_N/A') AS CustomerGroupCodeName
		, ISNULL(NULLIF(CCS.CustClassificationId,''),'_N/A') AS CustomerClass
		, ISNULL(NULLIF(CPCGS.DESCRIPTION,''),'_N/A') AS CustomerClassName
		, ISNULL(CASE WHEN CCS.CustClassificationId = '' THEN '_N/A' ELSE CCS.CustClassificationId END + ' - ' + ISNULL(CPCGS.[Description],'_N/A'),'_N/A') AS CustomerClassCodeName
		, CAST(ISNULL(NULLIF(CCS.Address,''), '_N/A') AS nvarchar(255)) AS [Address]
		, ISNULL(NULLIF(CCS.ZipCode,''), '_N/A') AS PostalCode
		, ISNULL(NULLIF(CCS.City,''), '_N/A') AS City
		, ISNULL(NULLIF(TRANSL.CountryRegionId,''), '_N/A') AS Country
		, ISNULL(NULLIF(CCS.CommissionSalesGroupId,''), '_N/A') AS SalesGroup
		, ISNULL(NULLIF(CCS.CommissionSalesGroupId,''), '_N/A') AS Agent
		, ISNULL(HWS1.PersonnelNumber, '_N/A') AS SalesResponsibleCode
		, ISNULL(HWS1.[Name], '_N/A') AS SalesResponsibleName
		, ISNULL(NULLIF(CCS.SalesSegmentId,''), '_N/A') AS SalesSegmentCode -- Industry Vertical in Cube
		, ISNULL(NULLIF(CCS.SalesSubSegmentId,''), '_N/A') AS SalesSubSegmentCode -- Industry Classification in Cube
		, ISNULL(NULLIF(CCS.DlvTerm, ''), '_N/A') AS DeliveryTerms
		, CONVERT(nvarchar(20),ISNULL(NULLIF(ESM.Name, ''), '_N/A')) AS OnholdStatus
		, CONVERT(nvarchar(10), CASE WHEN CCS.CreditLimitIsMandatory = 0 THEN 'No' ELSE 'Yes' END) AS CreditLimitIsMandatory
		, ISNULL(CCS.CreditLimit, 0) AS CreditLimit
		, ISNULL(NULLIF(CCS.YSLECompanyChainID, ''), N'_N/A') AS CompanyChain
		, ISNULL(NULLIF(CC.SALESTAXGROUP, ''), N'_N/A') AS TaxGroup

FROM dbo.SMRBICustomerStaging CCS

LEFT JOIN
	(SELECT DISTINCT CountryRegionId, ShortName 
		FROM dbo.SMRBILogisticsAddressCountryRegionTranslationStaging
		WHERE LanguageId = 'en-us' /* ADD/ALTER if required */
	) TRANSL
ON CCS.CountryRegionId = TRANSL.CountryRegionId

LEFT JOIN dbo.SMRBICustCustomerGroupStaging CCGES
ON CCS.CustomerGroupId = CCGES.CustGroup
	and CCS.DataAreaId = CCGES.DataAreaId

LEFT JOIN dbo.SMRBICustomerPriorityClassificationGroupStaging CPCGS
ON CCS.DataAreaId = CPCGS.DataAreaId
	and CCS.CustClassificationId = CPCGS.CustomerPriorityClassificationGroupCode

LEFT JOIN 
	(SELECT DISTINCT * FROM dbo.SMRBIHcmWorkerStaging) HWS1 --Data entity does not have a DataAreaId, but can be exported multiple times in different companies!
ON CCS.MainContactWorker = HWS1.HcmWorkerRecId

LEFT JOIN ETL.StringMap ESM
ON ESM.SourceTable = 'CustCustomerV2staging'
AND ESM.SourceColumn = 'OnHoldStatus'
AND ESM.Enum = CCS.OnHoldStatus

LEFT JOIN dbo.CustCustomerV3Staging CC
ON CCS.DATAAREAID = CC.DATAAREAID
AND CCS.CUSTOMERACCOUNT = CC.CUSTOMERACCOUNT

GO
