/****** Object:  View [DataStore2].[V_GeneralLedgerBudget_BU20220329]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














CREATE VIEW [DataStore2].[V_GeneralLedgerBudget_BU20220329] AS 

SELECT CONCAT(BREHS.TransactionNumber,UPPER(BREHS.Company),ISNULL(BRELS.EntryDate, '1900-01-01'),UPPER(BREHS.BudgetModelId)) AS GeneralBudgetIdScreening
	
	/* Details */
		 , BREHS.TransactionNumber AS TransactionNumber
		 , UPPER(BREHS.BudgetModelId) AS BudgetModelCode
		 , UPPER(BREHS.BudgetSubModelId) AS BudgetSubModelCode
		 , UPPER(BREHS.Company) AS CompanyCode
		 , UPPER(BREHS.BudgetCode) AS BudgetTransactionCode
		 , ISNULL(SM.Name,'_N/A') AS BudgetType
	
	/* Dates */
		 , ISNULL(BRELS.EntryDate, '1900-01-01') AS BudgetDate --Determines the period that the budget will be allocated	 
	
	/* Financial Dimensions */
		/* ALTER/ADD additional dimensions if required */
		--, ISNULL(ADL.MainAccount,-1) AS GLAccountId /* !!!KEEP!!! */
		, ISNULL(GLA.GLAccountId, -1) AS GLAccountId
		, ISNULL(ADL.Intercompany, -1) AS IntercompanyId  
		--, ISNULL(ADL.CostCenter, -1) AS CostCenterId
		, ISNULL(ADL.BusinessSegment, -1) AS BusinessSegmentId  
		, ISNULL(ADL.Department, -1) AS DepartmentId  
		, ISNULL(ADL.EndCustomer, -1) AS EndCustomerId  
		, ISNULL(ADL.[Location], -1) AS LocationId  
		, ISNULL(ADL.ShipmentContract, -1) AS ShipmentContractId  
		, ISNULL(ADL.LocalAccount, -1) AS LocalAccountId  
		, ISNULL(ADL.Product, -1) AS ProductFDId  
	
	/* Dimensions */	 
		 , L.ExchangeRateType AS DefaultExchangeRateTypeCode
		 , L.BudgetExchangeRateType AS BudgetExchangeRateTypeCode
		 , UPPER(BRELS.CurrencyCode) AS TransactionCurrencyCode
		 , ISNULL(CAST(UPPER(L.AccountingCurrency) AS NVARCHAR(5)), N'_N/A') AS AccountingCurrencyCode
		 , ISNULL(CAST(UPPER(L.ReportingCurrency) AS NVARCHAR(5)), N'_N/A') AS ReportingCurrencyCode
		 , ISNULL(CAST(UPPER(L.GroupCurrency) AS NVARCHAR(5)), N'_N/A') AS GroupCurrencyCode
	
	/* Measures */
		 , ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0) AS BudgetAmountTC
		 , ISNULL(CASE WHEN BRELS.CurrencyCode = L.AccountingCurrency 
					   THEN (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0)) 
					   ELSE (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0)) 
				  * AC.ExchangeRate END, 0) AS BudgetAmountAC
		 , ISNULL(CASE WHEN BRELS.CurrencyCode = L.ReportingCurrency 
					   THEN (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0))  
					   ELSE (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0)) 
				  * RC.ExchangeRate END, 0) AS BudgetAmountRC
		 , ISNULL(CASE WHEN BRELS.CurrencyCode = L.GroupCurrency 
					   THEN (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0))  
					   ELSE (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0)) 
				  * GC.ExchangeRate END, 0) AS BudgetAmountGC	 
		 , ISNULL(CASE WHEN BRELS.CurrencyCode = L.AccountingCurrency 
					   THEN (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0))  
					   ELSE (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0)) 
				  * AC_Budget.ExchangeRate END, 0) AS BudgetAmountAC_Budget
		 , ISNULL(CASE WHEN BRELS.CurrencyCode = L.ReportingCurrency 
					   THEN (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0))  
					   ELSE (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0)) 
				  * RC_Budget.ExchangeRate END, 0) AS BudgetAmountRC_Budget
		 , ISNULL(CASE WHEN BRELS.CurrencyCode = L.GroupCurrency 
					   THEN (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0))  
					   ELSE (ISNULL(CASE WHEN BRELS.AmountType = 1 THEN BRELS.TransactionCurrencyAmount * -1 ELSE BRELS.TransactionCurrencyAmount END,0)) 
				  * GC_Budget.ExchangeRate END, 0) AS BudgetAmountGC_Budget
		 , CAST(1 AS NUMERIC(38,6)) AS AppliedExchangeRateTC
		 , ISNULL(AC.ExchangeRate, 0) AS AppliedExchangeRateAC
		 , ISNULL(RC.ExchangeRate, 0) AS AppliedExchangeRateRC
		 , ISNULL(GC.ExchangeRate, 0) AS AppliedExchangeRateGC
		 , ISNULL(AC_Budget.ExchangeRate, 0) AS AppliedExchangeRateAC_Budget
		 , ISNULL(RC_Budget.ExchangeRate, 0) AS AppliedExchangeRateRC_Budget
		 , ISNULL(GC_Budget.ExchangeRate, 0) AS AppliedExchangeRateGC_Budget       
		 
FROM dbo.SMRBIBudgetRegisterEntryHeaderStaging BREHS

INNER JOIN dbo.SMRBIBudgetRegisterEntryLineStaging BRELS
ON BREHS.BudgetRegisterRecId = BRELS.BudgetTransactionHeaderRecId

--20210401 Link with GLAccount
LEFT JOIN DataStore.GLAccount GLA
ON GLA.CompanyCode = BRELS.LEGALENTITYID
AND GLA.GLAccountCode = SUBSTRING(BRELS.ledgerdimensiondisplayvalue, 0, CHARINDEX('|', BRELS.ledgerdimensiondisplayvalue))

LEFT JOIN DataStore.AnalyticalDimensionLedger ADL
ON ADL.LedgerDimensionId = -1 -- to be adapted with correct ledger dimension


INNER JOIN 
	(SELECT DISTINCT LES.ReportingCurrency
			       , LES.AccountingCurrency
			       , LES.ExchangeRateType
			       , LES.BudgetExchangeRateType
			       , LES.[Name]
			       , G.GroupCurrencyCode AS GroupCurrency
	 FROM dbo.SMRBILedgerStaging LES
	 CROSS JOIN (SELECT TOP 1 GroupCurrencyCode FROM ETL.GroupCurrency) G
	) L
ON L.[Name] = BREHS.Company

LEFT JOIN ETL.StringMap SM
ON SM.SourceTable = 'BudgetTransactionLine'
AND SM.Enum = CAST(AmountType AS NVARCHAR(25))

LEFT JOIN DataStore.ExchangeRate RC -- ReportingCurrenycy
ON RC.FromCurrencyCode = BRELS.CurrencyCode
AND RC.ToCurrencyCode = L.ReportingCurrency
AND RC.ExchangeRateTypeCode = L.ExchangeRateType
AND BRELS.EntryDate BETWEEN RC.ValidFrom AND RC.ValidTo

LEFT JOIN DataStore.ExchangeRate AC -- AccountingCurrency
ON AC.FromCurrencyCode = BRELS.CurrencyCode
AND AC.ToCurrencyCode = L.AccountingCurrency
AND AC.ExchangeRateTypeCode = L.ExchangeRateType
AND BRELS.EntryDate BETWEEN AC.ValidFrom AND AC.ValidTo

LEFT JOIN DataStore.ExchangeRate GC -- GroupCurrency
ON GC.FromCurrencyCode = BRELS.CurrencyCode
AND GC.ToCurrencyCode = L.GroupCurrency
AND GC.ExchangeRateTypeCode = L.ExchangeRateType
AND BRELS.EntryDate BETWEEN GC.ValidFrom AND GC.ValidTo

LEFT JOIN DataStore.ExchangeRate RC_Budget -- ReportingCurreny
ON RC_Budget.FromCurrencyCode = BRELS.CurrencyCode
AND RC_Budget.ToCurrencyCode = L.ReportingCurrency
AND RC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND BRELS.EntryDate BETWEEN RC_Budget.ValidFrom AND RC_Budget.ValidTo

LEFT JOIN DataStore.ExchangeRate AC_Budget -- AccountingCurrency
ON AC_Budget.FromCurrencyCode = BRELS.CurrencyCode
AND AC_Budget.ToCurrencyCode = L.AccountingCurrency
AND AC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND BRELS.EntryDate BETWEEN AC_Budget.ValidFrom AND AC_Budget.ValidTo

LEFT JOIN DataStore.ExchangeRate GC_Budget -- GroupCurrency
ON GC_Budget.FromCurrencyCode = BRELS.CurrencyCode
AND GC_Budget.ToCurrencyCode = L.GroupCurrency
AND GC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND BRELS.EntryDate BETWEEN GC_Budget.ValidFrom AND GC_Budget.ValidTo
GO
