/****** Object:  Table [DataStore].[GLAccount]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[GLAccount](
	[CompanyCode] [nvarchar](20) NULL,
	[GLAccountId] [bigint] NOT NULL,
	[GLAccountCode] [nvarchar](20) NOT NULL,
	[GLAccountName] [nvarchar](60) NOT NULL,
	[GLAccountType] [nvarchar](50) NULL,
	[ChartOfAccountsName] [nvarchar](60) NOT NULL,
	[MainAccountCategory] [nvarchar](20) NOT NULL,
	[MainAccountCategoryDescription] [nvarchar](60) NOT NULL,
	[MainAccountCategoryCodeDescription] [nvarchar](81) NOT NULL,
	[MainAccountCategorySort] [int] NOT NULL,
	[IsRevenueFlag] [bit] NULL,
	[IsGrossProfitFlag] [bit] NULL
) ON [PRIMARY]
GO
