/****** Object:  Table [DataStore3].[InventoryMovements]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore3].[InventoryMovements](
	[RecId] [bigint] NOT NULL,
	[TransType] [int] NULL,
	[InventTransCode] [nvarchar](20) NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[ProductCode] [nvarchar](20) NULL,
	[WarehouseLocationCode] [nvarchar](10) NOT NULL,
	[InventLocationCode] [nvarchar](10) NOT NULL,
	[InventBatchCode] [nvarchar](20) NOT NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[DatePhysical] [datetime] NOT NULL,
	[DateFinancial] [datetime] NOT NULL,
	[DateClosed] [datetime] NOT NULL,
	[InventoryUnit] [nvarchar](4) NOT NULL,
	[Quantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[Quantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[Quantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[CostPhysicalTC] [numeric](38, 6) NOT NULL,
	[CostPhysicalAC] [numeric](38, 6) NOT NULL,
	[CostPhysicalRC] [numeric](38, 6) NOT NULL,
	[CostPhysicalGC] [numeric](38, 6) NOT NULL,
	[CostFinancialTC] [numeric](38, 6) NOT NULL,
	[CostFinancialAC] [numeric](38, 6) NOT NULL,
	[CostFinancialRC] [numeric](38, 6) NOT NULL,
	[CostFinancialGC] [numeric](38, 6) NOT NULL,
	[PriceMatch] [int] NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL
) ON [PRIMARY]
GO
