/****** Object:  Table [DataStore].[DeliveryMode]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[DeliveryMode](
	[CompanyCode] [nvarchar](4) NULL,
	[DeliveryModeCode] [nvarchar](10) NULL,
	[DeliveryModeName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
