/****** Object:  Table [DataStore].[CostCenter]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[CostCenter](
	[CostCenterId] [bigint] NOT NULL,
	[CostCenterCode] [nvarchar](30) NOT NULL,
	[CostCenterName] [nvarchar](60) NOT NULL,
	[CostCenterCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
