/****** Object:  Table [DataStore].[BudgetCode]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[BudgetCode](
	[CompanyCode] [nvarchar](4) NULL,
	[BudgetTransactionCode] [bigint] NOT NULL,
	[BudgetCodeName] [nvarchar](20) NULL,
	[BudgetCodeDescription] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
