/****** Object:  View [DataStore].[V_AccountsReceivable]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [DataStore].[V_AccountsReceivable] AS

WITH [Period] AS (
	SELECT MIN(MonthId) AS DimPeriodId
		 , MonthId
		 , MAX([DateTime]) AS PeriodDate
		 , YearId
	FROM ETL.Date
	WHERE DateTime <= GETDATE()
	GROUP BY MonthId, YEAR([DateTime]), MONTH([DateTime]), YearId
	)

	--Return the latest settlement date for a particular customer transaction (if applicable)
	, MaxSettlement AS (
	SELECT CSS.TransRecId AS TransRecId
		 , CASE
				WHEN CTS.Closed = '1900-01-01' THEN GETDATE()
				ELSE MAX(CSS.TransDate) 
		   END AS MaxTransDate
		   /* When not Closed yet -> return numbers up until now */
	FROM dbo.SMRBICustomerSettlementStaging CSS 
	JOIN dbo.SMRBICustomerTransStaging CTS
	ON CSS.TransRecId = CTS.CustTransRecId
	GROUP BY CSS.TransRecId, CTS.Closed
	)
	
	--Return the cumulative settlements per account and company, for a particular month
	, CumulSettlementsPerPeriod AS (
	  SELECT  CSS.AccountNum AS AccountNum
			, CSS.TransCompany AS TransCompany
			, MAX(CSS.TransDate) AS MaxTransDatePerPeriod
			, CSS.TransRecId AS TransRecId
			, SUM(CONVERT(DECIMAL(22,6),CSS.ExChAdjustment)) AS ExChAdjustment
			, SUM(CONVERT(DECIMAL(22,6),CSS.SettleAmountCur)) AS SettleAmountCur
			, SUM(CONVERT(DECIMAL(22,6),CSS.SettleAmountMst)) AS SettleAmountMst
			, P.MonthId
	FROM [Period] P
	JOIN dbo.SMRBICustomerSettlementStaging CSS
	ON YEAR(CSS.TransDate)*100 + MONTH(CSS.TransDate) <= P.MonthId
	JOIN MaxSettlement 
	ON CSS.TransRecId = MaxSettlement.TransRecId 
	AND P.MonthId <= YEAR(MaxSettlement.MaxTransDate)*100 + MONTH(MaxSettlement.MaxTransDate)
	WHERE 1=1
	AND P.YearId >= 2005
	AND P.MonthId <= YEAR(GETDATE()-1) * 100 + MONTH(GETDATE()-1)
	GROUP BY CSS.AccountNum, CSS.TransCompany, CSS.TransRecId, P.MonthId, P.PeriodDate
	)

SELECT --Information on fields
	   Concat(CTS.CustTransRecId,CTS.DataAreaId) AS AccountsReceivableIdScreening
	 , CTS.CustTransRecId AS RecId
	 , ISNULL(UPPER(CTS.Voucher),N'_N/A') AS ReceivablesVoucher
	 , ISNULL(NULLIF(CONVERT(NVARCHAR(255), CASE WHEN LEN(LTRIM(RTRIM(UPPER(CTS.Txt)))) > 255 THEN LEFT(LTRIM(RTRIM(UPPER(CTS.Txt))), 255 - 3) + '...' 
												 ELSE LTRIM(RTRIM(UPPER(CTS.Txt))) 
											END), ''), '_N/A') AS [Description]
	 , ISNULL(CASE WHEN CTS.Invoice = '' THEN NULL ELSE UPPER(CTS.Invoice) END, N'_N/A') AS SalesInvoiceCode
	   --Dimensions
	 , ISNULL(CTS.DataAreaId, N'_N/A') AS CompanyCode
	 , CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.MonthId AND CTS.AmountCur = CSS.SettleAmountCur THEN 0 
	 		ELSE 1 
	   END AS DimIsOpenAmountId
	 , CASE
		WHEN DATEDIFF(DAY, DATEADD(DAY,  0, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'<0'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  7, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'0-7'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  15, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'8-15'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  30, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'16-30'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  60, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'31-60'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  90, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'61-90'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  120, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'91-120'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  120, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'91-120'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  180, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'121-180'
		WHEN DATEDIFF(DAY, DATEADD(DAY,  365, CASE WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate ELSE CTS.DueDate END), 
											CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END) <= 0 THEN  N'181-365'
		ELSE N'>365' 
		END AS OutStandingPeriodCode


	, CASE WHEN (YEAR(CTS.Closed) * 100 + MONTH(CTS.Closed)) = P.DimPeriodId AND CTS.AmountCur = CSS.SettleAmountCur 
											THEN CSS.MaxTransDatePerPeriod ELSE P.PeriodDate END AS Test




	 , UPPER(ISNULL(CTS.AccountNum, N'_N/A')) AS CustomerCode
	 , L.ExchangeRateType AS DefaultExchangeRateTypeCode
	 , L.BudgetExchangeRateType AS BudgetExchangeRateTypeCode
	 , CTS.CurrencyCode AS TransactionCurrencyCode
	 , ISNULL(CAST(UPPER(L.AccountingCurrency) AS NVARCHAR(5)), N'_N/A') AS AccountingCurrencyCode
	 , ISNULL(CAST(UPPER(L.ReportingCurrency) AS NVARCHAR(5)), N'_N/A') AS ReportingCurrencyCode
	 , ISNULL(CAST(UPPER(L.GroupCurrency) AS NVARCHAR(5)), N'_N/A') AS GroupCurrencyCode
	   --Dates
	 , CTS.TransDate AS InvoiceDate
------------
	 , CASE 
	 		WHEN CTS.DueDate = '1900-01-01' THEN CTS.TransDate
	 		WHEN CTS.DueDate BETWEEN D.MinDate AND D.MaxDate THEN CTS.DueDate
	 		ELSE '1900-01-01'
	   END AS DueDate
------------
	 , ISNULL(CSS.MaxTransDatePerPeriod, '1900-01-01') AS LastPaymentDate
	 , CASE
	 		WHEN CTS.DocumentDate = '1900-01-01' THEN '1900-01-01' --When Documentdate is unrealistically low or high -> 19000101
	 		WHEN CTS.DocumentDate BETWEEN D.MinDate AND D.MaxDate THEN CTS.DocumentDate
	 		ELSE '1900-01-01'
	   END AS DocumentDate
	 , P.DimPeriodId * 100 + '01' AS ReportDate
	   --Measures
	 , CONVERT(DECIMAL(22, 6), CTS.AmountCur) AS InvoiceAmountTC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.AccountingCurrency
				   THEN CONVERT(DECIMAL(22, 6), CTS.AmountCur)  
				   ELSE CASE WHEN CTS.DATAAREAID = 'PL90' 
							 THEN CONVERT(DECIMAL(22, 6), CTS.AMOUNTMST) 
							 else CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
									* AC.ExchangeRate 
							END
				END	,0) AS InvoiceAmountAC
     --, ISNULL(CASE WHEN CTS.CurrencyCode  = L.AccountingCurrency
				 --  THEN CONVERT(DECIMAL(22, 6), CTS.AmountCur)  
				 --  ELSE CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
					--	* AC.ExchangeRate END,0) AS InvoiceAmountAC 
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.ReportingCurrency 
				   THEN CONVERT(DECIMAL(22, 6), CTS.AmountCur)  
				   ELSE CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
						* RC.ExchangeRate END,0) AS InvoiceAmountRC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.GroupCurrency 
				   THEN CONVERT(DECIMAL(22, 6), CTS.AmountCur)  
				   ELSE CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
						* GC.ExchangeRate END,0) AS InvoiceAmountGC	 
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.AccountingCurrency 
				   THEN CONVERT(DECIMAL(22, 6), CTS.AmountCur)  
				   ELSE CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
						* AC_Budget.ExchangeRate END,0) AS InvoiceAmountAC_Budget
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.ReportingCurrency 
				   THEN CONVERT(DECIMAL(22, 6), CTS.AmountCur)  
				   ELSE CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
					    * RC_Budget.ExchangeRate END,0) AS InvoiceAmountRC_Budget
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.GroupCurrency 
				   THEN CONVERT(DECIMAL(22, 6), CTS.AmountCur)  
				   ELSE CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
						* GC_Budget.ExchangeRate END,0) AS InvoiceAmountGC_Budget	 
	 , CASE 
	 		WHEN CSS.TransRecId IS NULL 
	 		THEN 0.00
	 		ELSE CSS.SettleAmountCur 
	   END AS PaidAmountTC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.AccountingCurrency 
				   THEN (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)  
				   ELSE (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END ) 
						* AC.ExchangeRate END,0) AS PaidAmountAC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.ReportingCurrency 
				   THEN (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)  
				   ELSE (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END ) 
						* RC.ExchangeRate END,0) AS PaidAmountRC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.GroupCurrency 
				   THEN (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END )  
				   ELSE (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END  ) 
						* GC.ExchangeRate END,0) AS PaidAmountGC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.AccountingCurrency 
				   THEN (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)  
				   ELSE (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END ) 
						* AC_Budget.ExchangeRate END,0) AS PaidAmountAC_Budget
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.ReportingCurrency 
				   THEN (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)  
				   ELSE (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END ) 
						* RC_Budget.ExchangeRate END,0) AS PaidAmountRC_Budget
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.GroupCurrency 
				   THEN (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)  
				   ELSE (CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END ) 
						* GC_Budget.ExchangeRate END,0) AS PaidAmountGC_Budget	 
	 , CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	   - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END AS OpenAmountTC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.AccountingCurrency
	 			   THEN (CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					 - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)
	 			   ELSE ((CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					  - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)) 
						* AC.ExchangeRate END,0) AS OpenAmountAC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.ReportingCurrency 
	 			   THEN (CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					 - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)
	 			   ELSE ((CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					  - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)) 
						* RC.ExchangeRate END,0) AS OpenAmountRC
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.GroupCurrency
	 			   THEN (CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					 - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)
	 			   ELSE ((CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					  - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)) 
						* GC.ExchangeRate END,0) AS OpenAmountGC 
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.AccountingCurrency 
	 			   THEN (CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
	 					 - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)  
	 			   ELSE ((CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
	 					   - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)) 
						* AC_Budget.ExchangeRate END,0) AS OpenAmountAC_Budget
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.ReportingCurrency 
	 			   THEN (CONVERT(DECIMAL(22, 6), CTS.AmountCur) 
	 					 - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END) 
	 			   ELSE ((CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					  - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)) 
						* RC_Budget.ExchangeRate END,0) AS OpenAmountRC_Budget
	 , ISNULL(CASE WHEN CTS.CurrencyCode  = L.GroupCurrency 
				   THEN (CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					 - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)  
	 			   ELSE ((CONVERT(DECIMAL(22, 6), CTS.AmountCur)
	 					  - CASE WHEN CSS.TransRecId IS NULL THEN 0.00 ELSE CSS.SettleAmountCur END)) 
						* GC_Budget.ExchangeRate END,0) AS OpenAmountGC_Budget	 
	 , CAST(1 AS NUMERIC(38,6)) AS AppliedExchangeRateTC
	 , ISNULL(AC.ExchangeRate, 0) AS AppliedExchangeRateAC
	 , ISNULL(RC.ExchangeRate, 0) AS AppliedExchangeRateRC
	 , ISNULL(GC.ExchangeRate, 0) AS AppliedExchangeRateGC
	 , ISNULL(AC_Budget.ExchangeRate, 0) AS AppliedExchangeRateAC_Budget
	 , ISNULL(RC_Budget.ExchangeRate, 0) AS AppliedExchangeRateRC_Budget
	 , ISNULL(GC_Budget.ExchangeRate, 0) AS AppliedExchangeRateGC_Budget

	   
FROM dbo.SMRBICustomerTransStaging CTS WITH (NOLOCK)
JOIN Period P WITH (NOLOCK) 
ON YEAR(CTS.TransDate)*100 + MONTH(CTS.TransDate) <= P.MonthId
AND CASE 
		WHEN CTS.Closed = '1900-01-01' THEN 999999 
		WHEN CTS.Closed < CTS.TransDate THEN (YEAR(CTS.TransDate)*100 + MONTH(CTS.TransDate))
		ELSE (YEAR(CTS.Closed)*100 + MONTH(CTS.Closed))
		END >= P.MonthId

LEFT JOIN CumulSettlementsPerPeriod CSS
ON CTS.CustTransRecId = CSS.TransRecId 
AND P.MonthId = CSS.MonthId

--Required for currencies
JOIN 
	(SELECT DISTINCT LES.AccountingCurrency
			, LES.ReportingCurrency
			, LES.ExchangeRateType
			, LES.BudgetExchangeRateType
			, LES.[Name]
			, G.GroupCurrencyCode AS GroupCurrency
	 FROM dbo.SMRBILedgerStaging LES
	 CROSS JOIN (SELECT TOP 1 GroupCurrencyCode FROM ETL.GroupCurrency) G
	) L
ON L.[Name] = CTS.DataAreaId

LEFT JOIN DataStore.ExchangeRate RC -- ReportingCurrenycy
ON RC.FromCurrencyCode = CTS.CurrencyCode 
AND RC.ToCurrencyCode  = L.ReportingCurrency
AND RC.ExchangeRateTypeCode = L.ExchangeRateType
AND CTS.TransDate BETWEEN RC.VALIDFROM AND RC.VALIDTO

LEFT JOIN DataStore.ExchangeRate AC -- AccountingCurrency
ON AC.FromCurrencyCode = CTS.CurrencyCode
AND AC.ToCurrencyCode  = L.AccountingCurrency
AND AC.ExchangeRateTypeCode = L.ExchangeRateType
AND CTS.TransDate BETWEEN AC.VALIDFROM AND AC.VALIDTO

LEFT JOIN DataStore.ExchangeRate GC -- GroupCurrency
ON GC.FromCurrencyCode = CTS.CurrencyCode 
AND GC.ToCurrencyCode  = L.GroupCurrency
AND GC.ExchangeRateTypeCode = L.ExchangeRateType
AND CTS.TransDate BETWEEN GC.VALIDFROM AND GC.VALIDTO

LEFT JOIN DataStore.ExchangeRate RC_Budget -- ReportingCurrenycy
ON RC_Budget.FromCurrencyCode = CTS.CurrencyCode 
AND RC_Budget.ToCurrencyCode  = L.ReportingCurrency
AND RC_Budget.ExchangeRateTypeCode = L.ExchangeRateType
AND CTS.TransDate BETWEEN RC_Budget.VALIDFROM AND RC_Budget.VALIDTO

LEFT JOIN DataStore.ExchangeRate AC_Budget -- AccountingCurrency
ON AC_Budget.FromCurrencyCode = CTS.CurrencyCode
AND AC_Budget.ToCurrencyCode  = L.AccountingCurrency
AND AC_Budget.ExchangeRateTypeCode = L.ExchangeRateType
AND CTS.TransDate BETWEEN AC_Budget.VALIDFROM AND AC_Budget.VALIDTO

LEFT JOIN DataStore.ExchangeRate GC_Budget -- GroupCurrency
ON GC_Budget.FromCurrencyCode = CTS.CurrencyCode 
AND GC_Budget.ToCurrencyCode  = L.GroupCurrency
AND GC_Budget.ExchangeRateTypeCode = L.ExchangeRateType
AND CTS.TransDate BETWEEN GC_Budget.VALIDFROM AND GC_Budget.VALIDTO

--Required for ReportDate
CROSS JOIN 
	(SELECT MIN(DateTime) AS MinDate
			, MAX(DateTime) AS MaxDate
	 FROM ETL.Date
	 WHERE YearId > 1900 AND YearId < 9999) D

WHERE 1=1
AND P.YearId >= 2005
	AND P.MonthId <= YEAR(GETDATE()-1) * 100 + MONTH(GETDATE()-1)
GO
