/****** Object:  Table [DataStore].[InventoryMovements]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[InventoryMovements](
	[TransRecId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[CostPhysical] [numeric](38, 6) NULL,
	[CostFinancial] [numeric](38, 6) NULL,
	[CostAdjustment] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
