/****** Object:  Table [DataStore3].[ProductCostBreakdownQuantityRatioTMP]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore3].[ProductCostBreakdownQuantityRatioTMP](
	[DataAreaId] [nvarchar](4) NOT NULL,
	[ItemNumber] [nvarchar](20) NULL,
	[PriceCalcId] [nvarchar](20) NOT NULL,
	[ConsistOfPrice] [nvarchar](20) NOT NULL,
	[QtyRatio] [real] NULL,
	[ConsumptionConstant] [numeric](32, 16) NOT NULL,
	[ConsumptionVariable] [numeric](32, 16) NOT NULL,
	[Qty] [numeric](32, 6) NOT NULL
) ON [PRIMARY]
GO
