/****** Object:  Table [DataStore3].[BadDebtProvision]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore3].[BadDebtProvision](
	[CompanyCode] [nvarchar](20) NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](4) NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[GLAccountCode] [nvarchar](50) NOT NULL,
	[GLAccountName] [nvarchar](255) NOT NULL,
	[GLAccountType] [nvarchar](50) NOT NULL,
	[IntercompanyCode] [nvarchar](50) NOT NULL,
	[IntercompanyName] [nvarchar](255) NOT NULL,
	[DepartmentCode] [nvarchar](50) NOT NULL,
	[DepartmentName] [nvarchar](255) NOT NULL,
	[EndCustomerCode] [nvarchar](50) NOT NULL,
	[EndCustomerName] [nvarchar](255) NOT NULL,
	[LocationCode] [nvarchar](50) NOT NULL,
	[LocationName] [nvarchar](255) NOT NULL,
	[ProductFDCode] [nvarchar](50) NOT NULL,
	[ProductFDName] [nvarchar](255) NOT NULL,
	[AmountTC] [numeric](32, 6) NOT NULL,
	[AmountAC] [numeric](32, 6) NOT NULL,
	[AmountGC] [numeric](38, 6) NOT NULL,
	[AmountRC] [numeric](32, 6) NOT NULL,
	[OutstandingAmountTC] [numeric](38, 6) NULL,
	[OutstandingAmountAC] [numeric](38, 6) NULL,
	[OutstandingAmountGC] [numeric](38, 6) NULL,
	[OutstandingAmountRC] [numeric](38, 6) NULL,
	[OutStandingPeriodCode] [nvarchar](7) NOT NULL,
	[Voucher] [nvarchar](20) NOT NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[ReportDate] [int] NULL,
	[IsDebitCredit] [nvarchar](20) NULL
) ON [PRIMARY]
GO
