/****** Object:  Table [DataStore].[Calendar]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Calendar](
	[CalendarCode] [nvarchar](10) NOT NULL,
	[CalendarName] [nvarchar](60) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[StandardWorkDayHours] [numeric](32, 6) NOT NULL
) ON [PRIMARY]
GO
