/****** Object:  Table [DataStore2].[NetRequirements]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[NetRequirements](
	[RecId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ReferenceType] [nvarchar](255) NOT NULL,
	[PlanVersion] [nvarchar](10) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[RequirementDate] [datetime] NULL,
	[RequirementTime] [varchar](23) NOT NULL,
	[RequirementDateTime] [datetime] NULL,
	[ReferenceCode] [nvarchar](20) NOT NULL,
	[ProducedItemCode] [nvarchar](20) NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[VendorCode] [nvarchar](20) NULL,
	[ActionDate] [datetime] NULL,
	[ActionDays] [int] NOT NULL,
	[ActionType] [nvarchar](255) NOT NULL,
	[ActionMarked] [nvarchar](255) NOT NULL,
	[FuturesDate] [datetime] NOT NULL,
	[FuturesDays] [int] NOT NULL,
	[FuturesCalculated] [nvarchar](255) NOT NULL,
	[FuturesMarked] [nvarchar](255) NOT NULL,
	[Direction] [nvarchar](255) NOT NULL,
	[RankNr] [bigint] NULL,
	[FictionalOOS] [int] NOT NULL,
	[ActualOOS] [int] NOT NULL,
	[FictionalOOS_Confirmed] [int] NOT NULL,
	[ActualOOS_Confirmed] [int] NOT NULL,
	[Quantity_InventoryUnit] [numeric](32, 6) NOT NULL,
	[Quantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[Quantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[QuantityConfirmed_InventoryUnit] [numeric](32, 6) NOT NULL,
	[QuantityConfirmed_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[QuantityConfirmed_SalesUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantityConfirmed_InventoryUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantityConfirmed_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantityConfirmed_SalesUnit] [numeric](38, 6) NOT NULL,
	[ValueAC] [numeric](38, 6) NOT NULL,
	[ValueGC] [numeric](38, 6) NOT NULL,
	[PriceAC] [numeric](38, 9) NOT NULL,
	[PriceGC] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
