/****** Object:  View [DataStore2].[V_Date]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE

 VIEW [DataStore2].[V_Date] AS 

SELECT DimDateId
	, [DateTime]
	, YearId
	, YearName
	, SemesterId
	, SemesterName
	, SemesterOfYearId
	, SemesterOfYearName
	, QuarterOfYearId
	, QuarterId
	, QuarterName
	, QuarterOfYearName
	, MonthOfYearId
	, MonthId
	, [MonthName]
	, MonthOfYearName
	, DayOfYearId
	, DayNameLong
	, DayNameShort
	, DayOfYearName
	, DayOfWeekName
	, DayOfWeekId
	, WeekOfYearId
	, WeekOfYearName
	, WeekId
	, WeekName
	, FYStart

	--YEAR
	, YEAR(FYStart) AS FYYearId
	, YEAR(FYStart) AS FYYearName
	

	-- DAY
-- DATEDIFF(DAY, FYStart, DATETIME) + 1 AS  FYDayOfYearId
	, DayOfYearId AS FYDayOfYearId
	, CASE 
		WHEN DATEDIFF(DAY, FYStart, DATETIME) + 1 < 10
			THEN CONCAT (YEAR(FYStart), '0', DATEDIFF(DAY, FYStart, DATETIME) + 1)
		ELSE CONCAT (YEAR(FYStart), DATEDIFF(DAY, FYStart, DATETIME) + 1)
		END AS FYDayId

	-- QUARTER

	, DATEDIFF(QUARTER, FYStart, DATETIME) + 1 AS FYQuarterOfYearId
	
	, CONCAT (YEAR(FYStart), CONCAT ('0', DATEDIFF(QUARTER, FYStart, DATETIME) +1)) AS FYQuarterId
	
	-- MONTH
	, DATEDIFF(MONTH, FYStart, DATETIME) + 1 AS FYMonthOfYearId
	
	, CASE 
		WHEN (DATEDIFF(MONTH, FYStart, DATETIME) + 1) < 10
			THEN CONCAT (YEAR(FYStart), '0', (DATEDIFF(MONTH, FYStart, DATETIME) + 1)
					)
		ELSE CONCAT (YEAR(FYStart), DATEDIFF(MONTH, FYStart, DATETIME) + 1)
		END AS FYMonthId

	-- WEEK
	, CEILING(CONVERT(NUMERIC(20, 8), DATEDIFF(DAY, FYStart, DATETIME) + 1 + DATEPART(DW, FYStart) - 1) / 7) AS FYWeekOfYearId

	, CASE 
		WHEN CEILING(CONVERT(NUMERIC(20, 8), DATEDIFF(DAY, FYStart, DATETIME) + 1 + DATEPART(DW, FYStart) - 1) / 7) < 10
			THEN CONCAT (YEAR(FYStart), '0', CEILING(CONVERT(NUMERIC(20, 8), DATEDIFF(DAY, FYStart, DATETIME) + 1 + DATEPART(DW, FYStart) - 1) / 7)
					)
		ELSE CONCAT (YEAR(FYStart), CEILING(CONVERT(NUMERIC(20, 8), DATEDIFF(DAY, FYStart, DATETIME) + 1 + DATEPART(DW, FYStart) - 1) / 7))
		END AS FYWeekId

		FROM DatAStore.DATE
GO
