/****** Object:  Table [DataStore2].[SalesShipment]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[SalesShipment](
	[SalesShipmentIdScreening] [nvarchar](105) NOT NULL,
	[CustPackingSlipCode] [nvarchar](20) NOT NULL,
	[CustPackingSlipLineNumber] [numeric](32, 16) NOT NULL,
	[CustPackingSlipLineNumberCombination] [nvarchar](53) NOT NULL,
	[SalesOrderCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[OrderCustomerCode] [nvarchar](20) NOT NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[SalesUnit] [nvarchar](10) NULL,
	[RequestedShippingDate] [date] NULL,
	[ConfirmedShippingDate] [date] NULL,
	[ActualDeliveryDate] [date] NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_SalesUnit] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
