/****** Object:  Table [DataStore2].[ProductCostBreakdownLevelling]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[ProductCostBreakdownLevelling](
	[CompanyCode] [nvarchar](4) NULL,
	[ItemNumber] [nvarchar](20) NULL,
	[InventDimCode] [nvarchar](20) NULL,
	[StartValidityDate] [datetime] NULL,
	[EndValidityDate] [datetime] NULL,
	[CalculationNr] [numeric](38, 0) NULL,
	[LowestLevelCalc] [nvarchar](20) NOT NULL,
	[PriceCalcId] [nvarchar](20) NULL,
	[Levelling] [varchar](7) NOT NULL,
	[LevellingNr] [int] NOT NULL
) ON [PRIMARY]
GO
