/****** Object:  Table [DataStore2].[SalesBudget]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[SalesBudget](
	[SalesBudgetIdScreening] [nvarchar](104) NOT NULL,
	[Comment] [nvarchar](60) NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[ProductGroupCode] [nvarchar](10) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[CustomerGroupCode] [nvarchar](10) NOT NULL,
	[ForecastModelCode] [nvarchar](10) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[GLAccountCode] [nvarchar](30) NOT NULL,
	[IntercompanyCode] [nvarchar](30) NOT NULL,
	[ForecastDate] [datetime] NOT NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[ForecastQuantity] [numeric](32, 6) NOT NULL,
	[ForecastQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[ForecastQuantity_PurchaseUnit] [numeric](38, 6) NOT NULL,
	[ForecastQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountTC] [numeric](32, 6) NOT NULL,
	[GrossSalesAmountAC] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountRC] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountGC] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[CostPriceTC] [numeric](38, 6) NOT NULL,
	[CostPriceAC] [numeric](38, 6) NOT NULL,
	[CostPriceRC] [numeric](38, 6) NOT NULL,
	[CostPriceGC] [numeric](38, 6) NOT NULL,
	[CostPriceAC_Budget] [numeric](38, 6) NOT NULL,
	[CostPriceRC_Budget] [numeric](38, 6) NOT NULL,
	[CostPriceGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginTC] [numeric](38, 6) NULL,
	[GrossMarginAC] [numeric](38, 6) NOT NULL,
	[GrossMarginRC] [numeric](38, 6) NOT NULL,
	[GrossMarginGC] [numeric](38, 6) NOT NULL,
	[GrossMarginAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 21) NOT NULL
) ON [PRIMARY]
GO
