/****** Object:  Table [DataStore].[SalesRebate]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[SalesRebate](
	[CompanyCode] [nvarchar](4) NULL,
	[SalesRebateCode] [nvarchar](12) NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[SalesInvoiceLineId] [bigint] NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[RebateCustomerCode] [nvarchar](20) NOT NULL,
	[RebateCurrencyCode] [nvarchar](3) NOT NULL,
	[RebateAmountOriginal] [numeric](32, 6) NOT NULL,
	[RebateAmountCompleted] [numeric](38, 6) NULL,
	[RebateAmountMarked] [numeric](38, 6) NULL,
	[RebateAmountCancelled] [numeric](38, 6) NULL,
	[RebateAmountVariance] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
