/****** Object:  Table [DataStore2].[Date]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[Date](
	[DimDateId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[YearId] [int] NOT NULL,
	[YearName] [nvarchar](10) NOT NULL,
	[SemesterId] [int] NOT NULL,
	[SemesterName] [nvarchar](10) NOT NULL,
	[SemesterOfYearId] [int] NOT NULL,
	[SemesterOfYearName] [nvarchar](10) NOT NULL,
	[QuarterOfYearId] [int] NOT NULL,
	[QuarterId] [int] NOT NULL,
	[QuarterName] [nvarchar](10) NOT NULL,
	[QuarterOfYearName] [nvarchar](10) NOT NULL,
	[MonthOfYearId] [int] NOT NULL,
	[MonthId] [int] NOT NULL,
	[MonthName] [nvarchar](50) NOT NULL,
	[MonthOfYearName] [nvarchar](50) NOT NULL,
	[DayOfYearId] [int] NOT NULL,
	[DayNameLong] [nvarchar](50) NOT NULL,
	[DayNameShort] [nvarchar](10) NOT NULL,
	[DayOfYearName] [nvarchar](50) NOT NULL,
	[DayOfWeekName] [nvarchar](50) NOT NULL,
	[DayOfWeekId] [int] NOT NULL,
	[WeekOfYearId] [int] NOT NULL,
	[WeekOfYearName] [nvarchar](50) NOT NULL,
	[WeekId] [int] NOT NULL,
	[WeekName] [nvarchar](50) NOT NULL,
	[FYStart] [datetime] NULL,
	[FYYearId] [int] NULL,
	[FYYearName] [int] NULL,
	[FYDayOfYearId] [int] NOT NULL,
	[FYDayId] [varchar](25) NOT NULL,
	[FYQuarterOfYearId] [int] NULL,
	[FYQuarterId] [varchar](25) NOT NULL,
	[FYMonthOfYearId] [int] NULL,
	[FYMonthId] [varchar](25) NOT NULL,
	[FYWeekOfYearId] [numeric](22, 0) NULL,
	[FYWeekId] [varchar](54) NOT NULL
) ON [PRIMARY]
GO
