/****** Object:  Table [DataStore2].[InventoryMovements]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore2].[InventoryMovements](
	[RecId] [bigint] NOT NULL,
	[TransType] [int] NULL,
	[InventTransCode] [nvarchar](20) NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[ReferenceCode] [nvarchar](20) NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[ProductCode] [nvarchar](20) NULL,
	[WarehouseLocationCode] [nvarchar](10) NOT NULL,
	[InventLocationCode] [nvarchar](10) NOT NULL,
	[InventBatchCode] [nvarchar](20) NOT NULL,
	[DatePhysical] [datetime] NOT NULL,
	[DateFinancial] [datetime] NOT NULL,
	[DateClosed] [datetime] NOT NULL,
	[CurrencyCode] [nvarchar](4) NULL,
	[InventoryUnit] [nvarchar](4) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[CostPhysicalTC] [numeric](38, 6) NULL,
	[CostFinancialTC] [numeric](38, 6) NULL,
	[PriceMatch] [int] NOT NULL
) ON [PRIMARY]
GO
