/****** Object:  Table [DataStore].[DeliveryTerms]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[DeliveryTerms](
	[CompanyCode] [nvarchar](4) NULL,
	[DeliveryTermsCode] [nvarchar](10) NULL,
	[DeliveryTermsName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
