/****** Object:  View [DataStore].[V_Inventory]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DataStore].[V_Inventory] AS


SELECT
	/*Dimensions*/
	  ISNULL(NULLIF(UPPER(InventSum.ItemId),''),'_N/A')	AS ProductCode
	, ISNULL(NULLIF(UPPER(InventSum.Company),''),'_N/A') AS CompanyCode
	, ISNULL(NULLIF(InventSum.InventDimId,''),'_N/A') AS ProductConfigurationCode
	, ISNULL(NULLIF(ProductConfiguration.InventBatchCode,''),'_N/A') AS BatchCode
	--, IsCurrentDate = N'Yes'
	--Report Date: Cater for multiple runs a day
	--At the moment, this will be the PREVIOUS DAY STOCK
	, CAST(CAST(GETDATE() AS DATE) AS DATETIME) AS ReportDate
	, ISNULL(NULLIF(L.ExchangeRateType,''),'_N/A') AS DefaultExchangeRateTypeCode
	, ISNULL(NULLIF(L.BudgetExchangeRateType,''),'_N/A') AS BudgetExchangeRateTypeCode
	, ISNULL(NULLIF(L.AccountingCurrency,''),'_N/A') AS AccountingCurrencyCode
	, ISNULL(NULLIF(L.ReportingCurrency,''),'_N/A') AS ReportingCurrencyCode
	, ISNULL(NULLIF(L.GroupCurrency,''),'_N/A') AS GroupCurrencyCode
	/*Inventory Details*/
	, ISNULL(NULLIF(InventTableModule.UnitId,''),'_N/A') AS InventoryUnit
	, ISNULL(InventSum.PhysicalInvent,0) AS StockQuantity
	, ISNULL(CASE WHEN L.AccountingCurrency = L.AccountingCurrency THEN InventSum.PhysicalInvent * CP.Price ELSE InventSum.PhysicalInvent * AC.ExchangeRate END, 0) AS StockValueAC
	, ISNULL(CASE WHEN L.AccountingCurrency = L.ReportingCurrency THEN InventSum.PhysicalInvent * CP.Price ELSE InventSum.PhysicalInvent * RC.ExchangeRate END, 0) AS StockValueRC
	, ISNULL(CASE WHEN L.AccountingCurrency = L.GroupCurrency THEN InventSum.PhysicalInvent * CP.Price ELSE InventSum.PhysicalInvent * GC.ExchangeRate END, 0) AS StockValueGC
	, ISNULL(CASE WHEN L.AccountingCurrency = L.AccountingCurrency THEN InventSum.PhysicalInvent * CP.Price ELSE InventSum.PhysicalInvent * AC_Budget.ExchangeRate END, 0) AS StockValueAC_Budget
	, ISNULL(CASE WHEN L.AccountingCurrency = L.ReportingCurrency THEN InventSum.PhysicalInvent * CP.Price ELSE InventSum.PhysicalInvent * RC_Budget.ExchangeRate END, 0) AS StockValueRC_Budget
	, ISNULL(CASE WHEN L.AccountingCurrency = L.GroupCurrency THEN InventSum.PhysicalInvent * CP.Price ELSE InventSum.PhysicalInvent * GC_Budget.ExchangeRate END, 0) AS StockValueGC_Budget
	, ISNULL(RC.ExchangeRate, 0) AS AppliedExchangeRateRC
	, ISNULL(AC.ExchangeRate, 0) AS AppliedExchangeRateAC
	, ISNULL(GC.ExchangeRate, 0) AS AppliedExchangeRateGC
	, ISNULL(RC_Budget.ExchangeRate, 0) AS AppliedExchangeRateRC_Budget
	, ISNULL(AC_Budget.ExchangeRate, 0) AS AppliedExchangeRateAC_Budget
	, ISNULL(GC_Budget.ExchangeRate, 0) AS AppliedExchangeRateGC_Budget

FROM dbo.SMRBIInventSumStaging AS InventSum

LEFT JOIN dbo.SMRBIInventTableModuleStaging AS InventTableModule
ON  InventTableModule.ItemId = InventSum.ItemId
AND InventTableModule.Company = InventSum.Company
AND InventTableModule.ModuleType = '0'

LEFT JOIN DataStore.ProductConfiguration AS ProductConfiguration
ON  ProductConfiguration.CompanyCode = InventSum.Company
AND ProductConfiguration.InventDimCode = InventSum.InventDimId

LEFT JOIN 
	(SELECT DISTINCT ItemNumber
			       , UnitCode
			       , CP.CompanyCode
			       , ProductConfigurationCode
			       , Price
			       , StartValidityDate
			       , EndValidityDate
		FROM DataStore.CostPrice CP
		JOIN DataStore.ProductConfiguration PC
		ON CP.CompanyCode = PC.CompanyCode
		AND CP.InventDimCode = PC.InventDimCode) CP --Include ProductConfiguration in the join
ON InventSum.ItemId = CP.ItemNumber
AND UPPER(InventSum.Company) = CP.CompanyCode
AND InventTableModule.UnitId = CP.UnitCode
AND CAST(CAST(GETDATE() AS DATE) AS DATETIME) >= CP.StartValidityDate
AND CAST(CAST(GETDATE() AS DATE) AS DATETIME) <= CP.EndValidityDate
AND CP.ProductConfigurationCode = ProductConfiguration.ProductConfigurationCode

JOIN 
	(SELECT DISTINCT LES.ReportingCurrency
			       , LES.AccountingCurrency
			       , LES.ExchangeRateType
			       , LES.BudgetExchangeRateType
			       , LES.[Name]
			       , G.GroupCurrencyCode AS GroupCurrency
	 FROM dbo.SMRBILedgerStaging LES
	 CROSS JOIN (SELECT TOP 1 GroupCurrencyCode FROM ETL.GroupCurrency) G
	) L
ON InventSum.Company = L.Name

--Required for the Actual exchange rates:
LEFT JOIN DataStore.ExchangeRate RC -- ReportingCurrenycy
ON RC.FromCurrencyCode = L.AccountingCurrency
AND RC.ToCurrencyCode = L.ReportingCurrency
AND RC.ExchangeRateTypeCode = L.ExchangeRateType
AND GETDATE() BETWEEN RC.ValidFrom AND RC.ValidTo

LEFT JOIN DataStore.ExchangeRate AC -- AccountingCurrency
ON AC.FromCurrencyCode = L.AccountingCurrency
AND AC.ToCurrencyCode = L.AccountingCurrency
AND AC.ExchangeRateTypeCode = L.ExchangeRateType
AND GETDATE() BETWEEN AC.ValidFrom AND AC.ValidTo

LEFT JOIN DataStore.ExchangeRate GC -- GroupCurrency
ON GC.FromCurrencyCode = L.AccountingCurrency
AND GC.ToCurrencyCode = L.GroupCurrency
AND GC.ExchangeRateTypeCode = L.ExchangeRateType
AND GETDATE() BETWEEN GC.ValidFrom AND GC.ValidTo

--Required for the Budget exchange rates:

LEFT JOIN DataStore.ExchangeRate RC_Budget -- ReportingCurrenycy
ON RC_Budget.FromCurrencyCode = L.AccountingCurrency
AND RC_Budget.ToCurrencyCode = L.ReportingCurrency
AND RC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND GETDATE() BETWEEN RC_Budget.ValidFrom AND RC_Budget.ValidTo

LEFT JOIN DataStore.ExchangeRate AC_Budget -- AccountingCurrency
ON AC_Budget.FromCurrencyCode = L.AccountingCurrency
AND AC_Budget.ToCurrencyCode = L.AccountingCurrency
AND AC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND GETDATE() BETWEEN AC_Budget.ValidFrom AND AC_Budget.ValidTo

LEFT JOIN DataStore.ExchangeRate GC_Budget -- GroupCurrency
ON GC_Budget.FromCurrencyCode = L.AccountingCurrency  
AND GC_Budget.ToCurrencyCode = L.GroupCurrency
AND GC_Budget.ExchangeRateTypeCode = L.BudgetExchangeRateType
AND GETDATE() BETWEEN GC_Budget.ValidFrom AND GC_Budget.ValidTo
GO
