/****** Object:  Table [dbo].[SMRBIMarkupTransStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIMarkupTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CALCULATEDAMOUNT] [numeric](32, 6) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[MARKUPCATEGORY] [int] NOT NULL,
	[MARKUPCODE] [nvarchar](10) NOT NULL,
	[TRANSRECID] [bigint] NOT NULL,
	[TRANSTABLEID] [int] NOT NULL,
	[VALUE] [numeric](32, 6) NOT NULL,
	[MARKUPTRANSRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIMarkupTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CALCULATEDAMOUNT] ASC,
	[CURRENCYCODE] ASC,
	[COMPANY] ASC,
	[MARKUPCATEGORY] ASC,
	[MARKUPCODE] ASC,
	[TRANSRECID] ASC,
	[TRANSTABLEID] ASC,
	[VALUE] ASC,
	[MARKUPTRANSRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
