/****** Object:  Table [dbo].[SMRBIProdRouteStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProdRouteStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CALCPROC] [numeric](32, 6) NOT NULL,
	[CALCSETUP] [numeric](32, 6) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[FROMDATE] [datetime] NOT NULL,
	[OPRID] [nvarchar](10) NOT NULL,
	[OPRNUM] [int] NOT NULL,
	[OPRNUMNEXT] [int] NOT NULL,
	[PRODID] [nvarchar](20) NOT NULL,
	[ROUTEOPRREFRECID] [bigint] NOT NULL,
	[TODATE] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProdRouteStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CALCPROC] ASC,
	[CALCSETUP] ASC,
	[COMPANY] ASC,
	[FROMDATE] ASC,
	[OPRID] ASC,
	[OPRNUM] ASC,
	[OPRNUMNEXT] ASC,
	[PRODID] ASC,
	[ROUTEOPRREFRECID] ASC,
	[TODATE] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
