/****** Object:  Table [dbo].[SMRBIVendRFQJourStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendRFQJourStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[INTERNALRFQID] [nvarchar](20) NOT NULL,
	[RFQCASEID] [nvarchar](20) NOT NULL,
	[RFQDATE] [datetime] NOT NULL,
	[RFQID] [nvarchar](20) NOT NULL,
	[VENDACCOUNT] [nvarchar](20) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIVendRFQJourStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INTERNALRFQID] ASC,
	[RFQDATE] ASC,
	[RFQID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
