/****** Object:  Table [dbo].[SMRBIOpResOperationsResourceStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIOpResOperationsResourceStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[EFFICIENCYPERCENTAGE] [numeric](32, 6) NOT NULL,
	[HASFINITESCHEDULINGCAPACITY] [int] NOT NULL,
	[OPERATIONSRESOURCETYPE] [int] NOT NULL,
	[ISINDIVIDUALRESOURCE] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[ROUTEGROUPID] [nvarchar](10) NOT NULL,
	[RESOURCEID] [nvarchar](10) NOT NULL,
	[RESOURCENAME] [nvarchar](60) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIOpResOperationsResourceStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[RESOURCEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
