/****** Object:  Table [dbo].[SMRBICostSheetNodeTableStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICostSheetNodeTableStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CODE] [nvarchar](30) NOT NULL,
	[COSTGROUPID] [nvarchar](10) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[LEVEL_] [int] NOT NULL,
	[NODEID] [int] NOT NULL,
	[PARENTNODEID] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBICostSheetNodeTableStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[NODEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
