/****** Object:  Table [dbo].[CostSheetNodeHierarchyTable]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostSheetNodeHierarchyTable](
	[DataAreaId] [nvarchar](4) NULL,
	[AccId] [int] NULL,
	[Level_1_Code] [nvarchar](30) NOT NULL,
	[Level_1_Description] [nvarchar](60) NOT NULL,
	[Level_1_CostGroupId] [nvarchar](10) NOT NULL,
	[Level_2_Code] [nvarchar](30) NULL,
	[Level_2_Description] [nvarchar](60) NULL,
	[Level_2_CostGroupId] [nvarchar](10) NULL,
	[Level_3_Code] [nvarchar](30) NULL,
	[Level_3_Description] [nvarchar](60) NULL,
	[Level_3_CostGroupId] [nvarchar](10) NULL
) ON [PRIMARY]
GO
