/****** Object:  Table [dbo].[SMRBIBOMBillOfMaterialsLineStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIBOMBillOfMaterialsLineStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CONSUMPTIONTYPE] [int] NOT NULL,
	[BOMID] [nvarchar](20) NOT NULL,
	[QUANTITY] [numeric](32, 6) NOT NULL,
	[QUANTITYDENOMINATOR] [numeric](32, 6) NOT NULL,
	[LINETYPE] [int] NOT NULL,
	[WILLCOSTCALCULATIONINCLUDELINE] [int] NOT NULL,
	[CONSUMPTIONCALCULATIONCONSTANT] [numeric](32, 6) NOT NULL,
	[PHYSICALPRODUCTDENSITY] [numeric](32, 6) NOT NULL,
	[PHYSICALPRODUCTDEPTH] [numeric](32, 6) NOT NULL,
	[ISCONSUMEDATOPERATIONCOMPLETE] [int] NOT NULL,
	[CONSUMPTIONCALCULATIONMETHOD] [int] NOT NULL,
	[VALIDFROMDATE] [datetime] NOT NULL,
	[PHYSICALPRODUCTHEIGHT] [numeric](32, 6) NOT NULL,
	[SUBBOMID] [nvarchar](20) NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[SUBROUTEID] [nvarchar](20) NOT NULL,
	[LINENUMBER] [numeric](32, 16) NOT NULL,
	[ROUTEOPERATIONNUMBER] [int] NOT NULL,
	[CATCHWEIGHTQUANTITY] [numeric](32, 6) NOT NULL,
	[WILLMANUFACTUREDITEMINHERITBATCHATTRIBUTES] [int] NOT NULL,
	[WILLMANUFACTUREDITEMINHERITSHELFLIFEDATES] [int] NOT NULL,
	[POSITIONNUMBER] [nvarchar](30) NOT NULL,
	[FLUSHINGPRINCIPLE] [int] NOT NULL,
	[ROUNDINGUPMETHOD] [int] NOT NULL,
	[QUANTITYROUNDINGUPMULTIPLES] [numeric](32, 6) NOT NULL,
	[CONSTANTSCRAPQUANTITY] [numeric](32, 6) NOT NULL,
	[VARIABLESCRAPPERCENTAGE] [numeric](32, 6) NOT NULL,
	[VALIDTODATE] [datetime] NOT NULL,
	[PRODUCTUNITSYMBOL] [nvarchar](10) NOT NULL,
	[VENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[PHYSICALPRODUCTWIDTH] [numeric](32, 6) NOT NULL,
	[ISRESOURCECONSUMPTIONUSED] [int] NOT NULL,
	[PRODUCTCONFIGURATIONID] [nvarchar](50) NOT NULL,
	[PRODUCTCOLORID] [nvarchar](10) NOT NULL,
	[PRODUCTSIZEID] [nvarchar](10) NOT NULL,
	[PRODUCTSTYLEID] [nvarchar](10) NOT NULL,
	[CONSUMPTIONSITEID] [nvarchar](10) NOT NULL,
	[CONSUMPTIONWAREHOUSEID] [nvarchar](10) NOT NULL,
	[CONFIGGROUPID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIBOMBillOfMaterialsLineStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[BOMID] ASC,
	[LINENUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
