/****** Object:  Table [dbo].[SMRBIReqTransCovStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIReqTransCovStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[ISSUERECID] [bigint] NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[RECEIPTRECID] [bigint] NOT NULL,
	[REQTRANSCOVRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIReqTransCovStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ISSUERECID] ASC,
	[REQTRANSCOVRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
