/****** Object:  Table [dbo].[SMRBIForecastDemandForecastStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIForecastDemandForecastStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[EXPANDID] [bigint] NOT NULL,
	[FORECASTMODELID] [nvarchar](10) NOT NULL,
	[FORECASTSTARTDATE] [datetime] NOT NULL,
	[FORECASTEDQUANTITY] [numeric](32, 6) NOT NULL,
	[FORECASTEDUNITPRICE] [numeric](32, 6) NOT NULL,
	[FORECASTEDREVENUE] [numeric](32, 6) NOT NULL,
	[QUANTITYUNITSYMBOL] [nvarchar](10) NOT NULL,
	[PRICINGCURRENCYCODE] [nvarchar](3) NOT NULL,
	[CUSTOMERACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[CUSTOMERGROUPID] [nvarchar](10) NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[KEYID] [nvarchar](10) NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[COMMENT_] [nvarchar](60) NOT NULL,
	[ITEMGROUPID] [nvarchar](10) NOT NULL,
	[FORECASTDEMANDFORECASTDIMENSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIForecastDemandForecastStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[EXPANDID] ASC,
	[FORECASTMODELID] ASC,
	[FORECASTSTARTDATE] ASC,
	[FORECASTEDQUANTITY] ASC,
	[FORECASTEDUNITPRICE] ASC,
	[FORECASTEDREVENUE] ASC,
	[QUANTITYUNITSYMBOL] ASC,
	[PRICINGCURRENCYCODE] ASC,
	[CUSTOMERACCOUNTNUMBER] ASC,
	[CUSTOMERGROUPID] ASC,
	[ITEMNUMBER] ASC,
	[KEYID] ASC,
	[STARTDATE] ASC,
	[INVENTDIMID] ASC,
	[COMMENT_] ASC,
	[ITEMGROUPID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
