/****** Object:  Table [dbo].[SMRBIVendSettlementStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendSettlementStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACCOUNTNUM] [nvarchar](20) NOT NULL,
	[EXCHADJUSTMENT] [numeric](32, 6) NOT NULL,
	[SETTLEAMOUNTCUR] [numeric](32, 6) NOT NULL,
	[SETTLEAMOUNTMST] [numeric](32, 6) NOT NULL,
	[TRANSCOMPANY] [nvarchar](4) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[TRANSRECID] [bigint] NOT NULL,
	[VENDSETTLEMENTRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL
) ON [PRIMARY]
GO
