/****** Object:  Table [dbo].[SMRBIPurchPurchaseOrderLineStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPurchPurchaseOrderLineStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PURCHASEORDERLINESTATUS] [int] NOT NULL,
	[CONFIRMEDDELIVERYDATE] [datetime] NOT NULL,
	[REQUESTEDDELIVERYDATE] [datetime] NOT NULL,
	[LINEAMOUNT] [numeric](32, 6) NOT NULL,
	[LINENUMBER] [bigint] NOT NULL,
	[PURCHASEPRICEQUANTITY] [numeric](32, 12) NOT NULL,
	[PURCHASEORDERNUMBER] [nvarchar](20) NOT NULL,
	[PURCHASEPRICE] [numeric](32, 6) NOT NULL,
	[ORDEREDPURCHASEQUANTITY] [numeric](32, 6) NOT NULL,
	[PURCHASEUNITSYMBOL] [nvarchar](10) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTREFTRANSID] [nvarchar](20) NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[REMAINPURCHPHYSICAL] [numeric](32, 6) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PURCHLINECREATEDDATETIME] [datetime] NOT NULL,
	[PURCHLINERECID] [bigint] NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[LINEDISCOUNTPERCENTAGE] [numeric](32, 6) NOT NULL,
	[LINEDISCOUNTAMOUNT] [numeric](32, 6) NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[TAXITEMGROUP] [nvarchar](10) NOT NULL,
	[TAXGROUP] [nvarchar](10) NOT NULL,
	[NAME] [nvarchar](1000) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIPurchPurchaseOrderLineStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[LINENUMBER] ASC,
	[PURCHASEORDERNUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
