/****** Object:  Table [dbo].[SMRBIWorkTimeTableStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIWorkTimeTableStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CLOSEDFORPICKUPFRIDAY] [int] NOT NULL,
	[CLOSEDFORPICKUPMONDAY] [int] NOT NULL,
	[CLOSEDFORPICKUPSATURDAY] [int] NOT NULL,
	[CLOSEDFORPICKUPSUNDAY] [int] NOT NULL,
	[CLOSEDFORPICKUPTHURSDAY] [int] NOT NULL,
	[CLOSEDFORPICKUPTUESDAY] [int] NOT NULL,
	[CLOSEDFORPICKUPWEDNESDAY] [int] NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
	[WORKTIMEID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIWorkTimeTableStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[WORKTIMEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
