/****** Object:  Table [dbo].[SMRBISalesOrderLineStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBISalesOrderLineStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[SALESORDERNUMBER] [nvarchar](20) NOT NULL,
	[INVENTORYLOTID] [nvarchar](20) NOT NULL,
	[SALESORDERLINESTATUS] [int] NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[CONFIRMEDRECEIPTDATE] [datetime] NOT NULL,
	[REQUESTEDRECEIPTDATE] [datetime] NOT NULL,
	[SALESPRICE] [numeric](32, 6) NOT NULL,
	[ORDEREDSALESQUANTITY] [numeric](32, 6) NOT NULL,
	[SALESUNITSYMBOL] [nvarchar](10) NOT NULL,
	[CONFIRMEDSHIPPINGDATE] [datetime] NOT NULL,
	[REQUESTEDSHIPPINGDATE] [datetime] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[SALESLINERECID] [bigint] NOT NULL,
	[INVENTREFTRANSID] [nvarchar](20) NOT NULL,
	[LINEAMOUNT] [numeric](32, 6) NOT NULL,
	[LINEDISCOUNTAMOUNT] [numeric](32, 6) NOT NULL,
	[LINEDISCOUNTPERCENTAGE] [numeric](32, 6) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[REMAINSALESPHYSICAL] [numeric](32, 6) NOT NULL,
	[SALESPRICEQUANTITY] [numeric](32, 12) NOT NULL,
	[DEFAULTDIMENSION] [bigint] NOT NULL,
	[DEFAULTDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[COSTPRICE] [numeric](32, 6) NOT NULL,
	[EXTERNALITEMID] [nvarchar](20) NOT NULL,
	[ITEMBOMID] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](1000) NOT NULL,
	[TAXGROUP] [nvarchar](10) NOT NULL,
	[TAXITEMGROUP] [nvarchar](10) NOT NULL,
	[RETAILVARIANTID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBISalesOrderLineStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[SALESLINERECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
