/****** Object:  Table [dbo].[CustCustomerV3Staging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustCustomerV3Staging](
	[PARTYTYPE] [nvarchar](13) NOT NULL,
	[ADDRESSBOOKS] [nvarchar](1000) NOT NULL,
	[ADDRESSLOCATIONROLES] [nvarchar](1000) NOT NULL,
	[PRIMARYCONTACTEMAILPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYCONTACTFAXPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYCONTACTPHONEPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYCONTACTTELEXPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYCONTACTURLPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYCONTACTFACEBOOKPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYCONTACTLINKEDINPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYCONTACTTWITTERPURPOSE] [nvarchar](1000) NOT NULL,
	[EMPLOYEERESPONSIBLENUMBER] [nvarchar](25) NOT NULL,
	[DEFAULTDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[ELECTRONICLOCATIONID] [nvarchar](40) NOT NULL,
	[ADDRESSCOUNTRYREGIONISOCODE] [nvarchar](2) NOT NULL,
	[DELIVERYADDRESSCOUNTRYREGIONISOCODE] [nvarchar](2) NOT NULL,
	[INVOICEADDRESSCOUNTRYREGIONISOCODE] [nvarchar](2) NOT NULL,
	[ADDRESSCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[ADDRESSPOSTBOX] [nvarchar](20) NOT NULL,
	[ADDRESSZIPCODE] [nvarchar](10) NOT NULL,
	[DELIVERYADDRESSZIPCODE] [nvarchar](10) NOT NULL,
	[INVOICEADDRESSZIPCODE] [nvarchar](10) NOT NULL,
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CUSTOMERACCOUNT] [nvarchar](20) NOT NULL,
	[ORGANIZATIONNAME] [nvarchar](100) NOT NULL,
	[NAMEALIAS] [nvarchar](20) NOT NULL,
	[KNOWNAS] [nvarchar](100) NOT NULL,
	[CUSTOMERGROUPID] [nvarchar](10) NOT NULL,
	[ORGANIZATIONNUMBER] [nvarchar](25) NOT NULL,
	[ORGANIZATIONNUMBEROFEMPLOYEES] [int] NOT NULL,
	[ORGANIZATIONABCCODE] [int] NOT NULL,
	[ORGANIZATIONPHONETICNAME] [nvarchar](100) NOT NULL,
	[PERSONINITIALS] [nvarchar](10) NOT NULL,
	[PERSONFIRSTNAME] [nvarchar](25) NOT NULL,
	[PERSONMIDDLENAME] [nvarchar](25) NOT NULL,
	[PERSONLASTNAMEPREFIX] [nvarchar](25) NOT NULL,
	[PERSONLASTNAME] [nvarchar](25) NOT NULL,
	[PERSONPROFESSIONALTITLE] [nvarchar](50) NOT NULL,
	[PERSONPROFESSIONALSUFFIX] [nvarchar](50) NOT NULL,
	[PERSONPHONETICFIRSTNAME] [nvarchar](25) NOT NULL,
	[PERSONPHONETICLASTNAME] [nvarchar](25) NOT NULL,
	[PERSONPHONETICMIDDLENAME] [nvarchar](25) NOT NULL,
	[PERSONGENDER] [int] NOT NULL,
	[PERSONMARITALSTATUS] [int] NOT NULL,
	[PERSONANNIVERSARYDAY] [int] NOT NULL,
	[PERSONANNIVERSARYMONTH] [int] NOT NULL,
	[PERSONANNIVERSARYYEAR] [int] NOT NULL,
	[PERSONCHILDRENNAMES] [nvarchar](150) NOT NULL,
	[PERSONHOBBIES] [nvarchar](150) NOT NULL,
	[PARTYNUMBER] [nvarchar](40) NOT NULL,
	[LANGUAGEID] [nvarchar](7) NOT NULL,
	[FULLPRIMARYADDRESS] [nvarchar](250) NOT NULL,
	[ADDRESSDESCRIPTION] [nvarchar](60) NOT NULL,
	[ADDRESSCITY] [nvarchar](60) NOT NULL,
	[ADDRESSCOUNTY] [nvarchar](30) NOT NULL,
	[ADDRESSDISTRICTNAME] [nvarchar](60) NOT NULL,
	[ADDRESSLATITUDE] [numeric](32, 10) NOT NULL,
	[ADDRESSLOCATIONID] [nvarchar](40) NOT NULL,
	[ADDRESSLONGITUDE] [numeric](32, 10) NOT NULL,
	[ADDRESSSTATE] [nvarchar](10) NOT NULL,
	[ADDRESSSTREET] [nvarchar](250) NOT NULL,
	[ADDRESSSTREETNUMBER] [nvarchar](20) NOT NULL,
	[ADDRESSTIMEZONE] [int] NOT NULL,
	[ADDRESSBUILDINGCOMPLEMENT] [nvarchar](60) NOT NULL,
	[ADDRESSVALIDFROM] [datetime] NOT NULL,
	[ADDRESSVALIDTO] [datetime] NOT NULL,
	[ADDRESSBRAZILIANCNPJORCPF] [nvarchar](20) NOT NULL,
	[ADDRESSBRAZILIANIE] [nvarchar](20) NOT NULL,
	[PRIMARYCONTACTEMAIL] [nvarchar](255) NOT NULL,
	[PRIMARYCONTACTEMAILDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYCONTACTEMAILISIM] [int] NOT NULL,
	[PRIMARYCONTACTFAX] [nvarchar](255) NOT NULL,
	[PRIMARYCONTACTFAXDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYCONTACTFAXEXTENSION] [nvarchar](10) NOT NULL,
	[PRIMARYCONTACTPHONE] [nvarchar](255) NOT NULL,
	[PRIMARYCONTACTPHONEDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYCONTACTPHONEEXTENSION] [nvarchar](10) NOT NULL,
	[PRIMARYCONTACTPHONEISMOBILE] [int] NOT NULL,
	[PRIMARYCONTACTTELEX] [nvarchar](255) NOT NULL,
	[PRIMARYCONTACTTELEXDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYCONTACTURL] [nvarchar](255) NOT NULL,
	[PRIMARYCONTACTURLDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYCONTACTFACEBOOK] [nvarchar](255) NOT NULL,
	[PRIMARYCONTACTFACEBOOKDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYCONTACTLINKEDIN] [nvarchar](255) NOT NULL,
	[PRIMARYCONTACTLINKEDINDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYCONTACTTWITTERDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYCONTACTTWITTER] [nvarchar](255) NOT NULL,
	[ISONETIMECUSTOMER] [int] NOT NULL,
	[STATISTICSGROUPID] [nvarchar](10) NOT NULL,
	[ACCOUNTSTATEMENT] [int] NOT NULL,
	[IDENTIFICATIONNUMBER] [nvarchar](50) NOT NULL,
	[PARTYCOUNTRY] [nvarchar](10) NOT NULL,
	[PARTYSTATE] [nvarchar](10) NOT NULL,
	[VENDORACCOUNT] [nvarchar](20) NOT NULL,
	[FEDERALINDICATOR] [int] NOT NULL,
	[FEDERALAGENCYLOCATIONCODE] [nvarchar](12) NOT NULL,
	[FEDERALCOMMENTS] [nvarchar](60) NOT NULL,
	[IRS1099CINDICATOR] [int] NOT NULL,
	[CONTACTPERSONID] [nvarchar](20) NOT NULL,
	[LINEOFBUSINESSID] [nvarchar](10) NOT NULL,
	[SALESSEGMENTID] [nvarchar](20) NOT NULL,
	[SALESSUBSEGMENTID] [nvarchar](20) NOT NULL,
	[SALESDISTRICT] [nvarchar](20) NOT NULL,
	[COMPANYCHAIN] [nvarchar](20) NOT NULL,
	[SALESCURRENCYCODE] [nvarchar](3) NOT NULL,
	[SALESMEMO] [nvarchar](max) NULL,
	[ONHOLDSTATUS] [int] NOT NULL,
	[CREDITLIMITISMANDATORY] [int] NOT NULL,
	[CREDITRATING] [nvarchar](10) NOT NULL,
	[CREDITLIMIT] [numeric](32, 6) NOT NULL,
	[COLLECTIONSCONTACTPERSONID] [nvarchar](20) NOT NULL,
	[ISEXCLUDEDFROMINTERESTCHARGECALCULATION] [int] NOT NULL,
	[ISEXCLUDEDFROMCOLLECTIONFEECALCULATION] [int] NOT NULL,
	[CHARGESGROUPID] [nvarchar](10) NOT NULL,
	[SITEID] [nvarchar](10) NOT NULL,
	[WAREHOUSEID] [nvarchar](10) NOT NULL,
	[ITEMCUSTOMERGROUPID] [nvarchar](10) NOT NULL,
	[COMMISSIONCUSTOMERGROUPID] [nvarchar](10) NOT NULL,
	[COMMISSIONSALESGROUPID] [nvarchar](10) NOT NULL,
	[SALESORDERPOOLID] [nvarchar](10) NOT NULL,
	[SALESACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[ORDERENTRYDEADLINE] [nvarchar](10) NOT NULL,
	[MULTILINEDISCOUNTCODE] [nvarchar](10) NOT NULL,
	[TOTALDISCOUNTCODE] [nvarchar](10) NOT NULL,
	[DISCOUNTPRICEGROUPID] [nvarchar](10) NOT NULL,
	[LINEDISCOUNTCODE] [nvarchar](10) NOT NULL,
	[CUSTOMERREBATEGROUPID] [nvarchar](20) NOT NULL,
	[CUSTOMERTMAGROUPID] [nvarchar](10) NOT NULL,
	[SUPPLEMENTARYITEMGROUPID] [nvarchar](10) NOT NULL,
	[PAYMENTTERMS] [nvarchar](100) NOT NULL,
	[PAYMENTMETHOD] [nvarchar](10) NOT NULL,
	[PAYMENTSPECIFICATION] [nvarchar](10) NOT NULL,
	[PAYMENTSCHEDULE] [nvarchar](30) NOT NULL,
	[PAYMENTDAY] [nvarchar](10) NOT NULL,
	[PAYMENTCASHDISCOUNT] [nvarchar](10) NOT NULL,
	[PAYMENTTERMSBASEDAYS] [int] NOT NULL,
	[PAYMENTBANKACCOUNT] [nvarchar](10) NOT NULL,
	[PAYMENTFACTORINGACCOUNT] [nvarchar](20) NOT NULL,
	[PAYMENTIDTYPE] [nvarchar](10) NOT NULL,
	[PAYMENTUSECASHDISCOUNT] [int] NOT NULL,
	[CENTRALBANKPURPOSECODE] [nvarchar](10) NOT NULL,
	[CENTRALBANKPURPOSENOTES] [nvarchar](210) NOT NULL,
	[CREDITCARDADDRESSVERIFICATION] [int] NOT NULL,
	[CREDITCARDADDRESSVERIFICATIONISAUTHORIZATIONVOIDEDONFAILURE] [int] NOT NULL,
	[CREDITCARDADDRESSVERIFICATIONLEVEL] [int] NOT NULL,
	[CREDITCARDCVC] [int] NOT NULL,
	[WAREHOUSEISASNGENERATED] [int] NOT NULL,
	[WAREHOUSEISENTIRESHIPMENTFILLED] [int] NOT NULL,
	[DEFAULTINVENTORYSTATUSID] [nvarchar](10) NOT NULL,
	[INVOICEACCOUNT] [nvarchar](20) NOT NULL,
	[INVOICEADDRESS] [int] NOT NULL,
	[NUMBERSEQUENCEGROUP] [nvarchar](10) NOT NULL,
	[GIROTYPE] [int] NOT NULL,
	[GIROTYPEFREETEXTINVOICE] [int] NOT NULL,
	[GIROTYPEINTERESTNOTE] [int] NOT NULL,
	[GIROTYPECOLLECTIONLETTER] [int] NOT NULL,
	[GIROTYPEPROJINVOICE] [int] NOT NULL,
	[GIROTYPEACCOUNTSTATEMENT] [int] NOT NULL,
	[DELIVERYFREIGHTZONE] [nvarchar](10) NOT NULL,
	[DELIVERYTERMS] [nvarchar](10) NOT NULL,
	[DELIVERYMODE] [nvarchar](10) NOT NULL,
	[DELIVERYREASON] [nvarchar](10) NOT NULL,
	[DESTINATIONCODE] [nvarchar](10) NOT NULL,
	[RECEIPTCALENDAR] [nvarchar](10) NOT NULL,
	[ISFUELSURCHARGEAPPLIED] [int] NOT NULL,
	[SALESTAXGROUP] [nvarchar](10) NOT NULL,
	[TAXEXEMPTNUMBER] [nvarchar](20) NOT NULL,
	[ISSALESTAXINCLUDEDINPRICES] [int] NOT NULL,
	[PACKINGDUTYLICENSE] [nvarchar](20) NOT NULL,
	[FISCALCODE] [nvarchar](16) NOT NULL,
	[PACKINGMATERIALFEELICENSENUMBER] [nvarchar](20) NOT NULL,
	[ISELECTRONICINVOICE] [int] NOT NULL,
	[ELECTRONICINVOICEEAN] [nvarchar](13) NOT NULL,
	[ISFREIGHTACCRUED] [int] NOT NULL,
	[ISEXPRESSBILLOFLADINGACCEPTED] [int] NOT NULL,
	[ISTRANSACTIONPOSTEDASSHIPMENT] [int] NOT NULL,
	[ISORDERNUMBERREFERENCEUSED] [int] NOT NULL,
	[SALESRETURNTAXGROUP] [nvarchar](10) NOT NULL,
	[RECEIPTEMAIL] [nvarchar](80) NOT NULL,
	[RECEIPTOPTION] [int] NOT NULL,
	[ISWITHHOLDINGTAXCALCULATED] [int] NOT NULL,
	[WITHHOLDINGTAXGROUPCODE] [nvarchar](10) NOT NULL,
	[FRENCHSIRET] [nvarchar](14) NOT NULL,
	[NAFCODE] [nvarchar](5) NOT NULL,
	[COMPANYTYPE] [int] NOT NULL,
	[CURPNUMBER] [nvarchar](18) NOT NULL,
	[RFCNUMBER] [nvarchar](13) NOT NULL,
	[STATEINSCRIPTION] [nvarchar](30) NOT NULL,
	[TAXREGISTRATIONID] [nvarchar](40) NOT NULL,
	[CONSOLIDATIONDAY] [int] NOT NULL,
	[NATIONALREGISTRYNUMBER] [nvarchar](10) NOT NULL,
	[RELIEFGROUPID] [nvarchar](10) NOT NULL,
	[CALCULATEWITHHOLDINGTAX] [int] NOT NULL,
	[FOREIGNCUSTOMER] [int] NOT NULL,
	[TCSGROUP] [nvarchar](10) NOT NULL,
	[TDSGROUP] [nvarchar](10) NOT NULL,
	[PREFERENTIALCUSTOMER] [int] NOT NULL,
	[NATUREOFASSESSEE] [int] NOT NULL,
	[PANNUMBER] [nvarchar](10) NOT NULL,
	[PANREFERENCENUMBER] [nvarchar](10) NOT NULL,
	[PANSTATUS] [int] NOT NULL,
	[CUSTOMERPAYMENTFINECODE] [nvarchar](10) NOT NULL,
	[CUSTOMERPAYMENTFINANCIALINTERESTCODE] [nvarchar](10) NOT NULL,
	[BRAZILIANCCM] [nvarchar](20) NOT NULL,
	[BRAZILIANCNAE] [nvarchar](10) NOT NULL,
	[BRAZILIANCNPJORCPF] [nvarchar](20) NOT NULL,
	[ISFINALUSER] [int] NOT NULL,
	[CUSTOMERWITHHOLDINGCONTRIBUTIONTYPE] [int] NOT NULL,
	[ISINCOMINGFISCALDOCUMENTGENERATED] [int] NOT NULL,
	[ISICMSCONTRIBUTOR] [int] NOT NULL,
	[BRAZILIANIE] [nvarchar](20) NOT NULL,
	[BRAZILIANINSSCEI] [nvarchar](15) NOT NULL,
	[BRAZILIANNIT] [nvarchar](14) NOT NULL,
	[ISSERVICEDELIVERYADDRESSBASED] [int] NOT NULL,
	[ISINSUFRAMAREGION] [int] NOT NULL,
	[SUFRAMANUMBER] [nvarchar](10) NOT NULL,
	[HASSUFRAMADISCOUNTPISANDCOFINS] [int] NOT NULL,
	[FOREIGNERID] [nvarchar](20) NOT NULL,
	[TRANSACTIONPRESENCETYPE] [int] NOT NULL,
	[WRITEOFFREASON] [nvarchar](10) NOT NULL,
	[EXPORTSALE] [int] NOT NULL,
	[BIRTHCOUNTYCODE] [nvarchar](2) NOT NULL,
	[BIRTHPLACE] [nvarchar](60) NOT NULL,
	[RESIDENCEFOREIGNCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[ISPURCHREQUESTUSED] [int] NOT NULL,
	[DELIVERYADDRESSDESCRIPTION] [nvarchar](60) NOT NULL,
	[DELIVERYADDRESSTIMEZONE] [int] NOT NULL,
	[DELIVERYADDRESSCITY] [nvarchar](60) NOT NULL,
	[DELIVERYADDRESSCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[DELIVERYADDRESSCOUNTY] [nvarchar](30) NOT NULL,
	[DELIVERYADDRESSDISTRICTNAME] [nvarchar](60) NOT NULL,
	[DELIVERYADDRESSLATITUDE] [numeric](32, 10) NOT NULL,
	[DELIVERYADDRESSLONGITUDE] [numeric](32, 10) NOT NULL,
	[DELIVERYADDRESSLOCATIONID] [nvarchar](40) NOT NULL,
	[DELIVERYADDRESSSTATE] [nvarchar](10) NOT NULL,
	[DELIVERYADDRESSSTREET] [nvarchar](250) NOT NULL,
	[DELIVERYADDRESSSTREETNUMBER] [nvarchar](20) NOT NULL,
	[DELIVERYADDRESSBUILDINGCOMPLEMENT] [nvarchar](60) NOT NULL,
	[DELIVERYADDRESSVALIDFROM] [datetime] NOT NULL,
	[DELIVERYADDRESSVALIDTO] [datetime] NOT NULL,
	[INVOICEADDRESSDESCRIPTION] [nvarchar](60) NOT NULL,
	[INVOICEADDRESSTIMEZONE] [int] NOT NULL,
	[INVOICEADDRESSCITY] [nvarchar](60) NOT NULL,
	[INVOICEADDRESSCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[INVOICEADDRESSCOUNTY] [nvarchar](30) NOT NULL,
	[INVOICEADDRESSDISTRICTNAME] [nvarchar](60) NOT NULL,
	[INVOICEADDRESSLATITUDE] [numeric](32, 10) NOT NULL,
	[INVOICEADDRESSLONGITUDE] [numeric](32, 10) NOT NULL,
	[INVOICEADDRESSLOCATIONID] [nvarchar](40) NOT NULL,
	[INVOICEADDRESSSTATE] [nvarchar](10) NOT NULL,
	[INVOICEADDRESSSTREET] [nvarchar](250) NOT NULL,
	[INVOICEADDRESSSTREETNUMBER] [nvarchar](20) NOT NULL,
	[INVOICEADDRESSBUILDINGCOMPLEMENT] [nvarchar](60) NOT NULL,
	[INVOICEADDRESSVALIDFROM] [datetime] NOT NULL,
	[INVOICEADDRESSVALIDTO] [datetime] NOT NULL,
	[ISEXTERNALLYMAINTAINED] [int] NOT NULL,
	[MERCHANTID] [nvarchar](60) NOT NULL,
	[DEFAULTECOMMERCEOPERATOR] [nvarchar](20) NOT NULL,
	[CUSTOMERTYPE] [int] NOT NULL,
	[FULFILLMENTPOLICYNAME] [nvarchar](60) NOT NULL,
	[CUSTCLASSIFICATIONID] [nvarchar](10) NOT NULL,
	[ISALLOWCREATEINDIRECTORDERLINES] [int] NOT NULL,
	[PRIMARYCONTACTEMAILRECORDID] [bigint] NOT NULL,
	[PRIMARYCONTACTFAXRECORDID] [bigint] NOT NULL,
	[PRIMARYCONTACTPHONERECORDID] [bigint] NOT NULL,
	[PRIMARYCONTACTURLRECORDID] [bigint] NOT NULL,
	[ADDRESSRECORDID] [bigint] NOT NULL,
	[COLLECTIONLETTERCODE] [int] NOT NULL,
	[EINVOICEREGISTER] [int] NOT NULL,
	[AUTHORITYOFFICE] [nvarchar](7) NOT NULL,
	[EINVOICEATTACHMENT] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[INVOICEPOSTINGTYPE] [int] NOT NULL,
	[FOREIGNRESIDENT] [int] NOT NULL,
	[CREDMANELIGIBLECREDITLIMITDATE] [datetime] NOT NULL,
	[CREDMANGROUPID] [nvarchar](10) NOT NULL,
	[CREDMANEXCLUDE] [int] NOT NULL,
	[CREDMANNOTES] [nvarchar](max) NULL,
	[CREDMANACCOUNTSTATUSID] [nvarchar](20) NOT NULL,
	[CREDMANELIGIBLECREDITMAX] [numeric](32, 6) NOT NULL,
	[CREDMANBUSINESSSTARTED] [datetime] NOT NULL,
	[CREDMANTITLEHELD] [int] NOT NULL,
	[CREDMANCUSTCREDITMAXALT] [numeric](32, 6) NOT NULL,
	[CREDMANELIGIBLECREDITLIMITCURRENCY] [nvarchar](3) NOT NULL,
	[CREDMANCUSTOMERSINCE] [datetime] NOT NULL,
	[CREDMANWITHAGENCY] [int] NOT NULL,
	[CREDMANSTATUSREASONID] [nvarchar](10) NOT NULL,
	[CREDMANCOLLECTIONGROUPID] [nvarchar](10) NOT NULL,
	[CREDMANCREDITLIMITEXPIRYDATE] [datetime] NOT NULL,
	[CREDMANCREDITLIMITDATE] [datetime] NOT NULL,
	[CREDMANNEXTSCHEDREVIEWDATE] [datetime] NOT NULL,
	[CREDMANLASTREVIEWDATE] [datetime] NOT NULL,
	[CREDMANCUSTUNLIMITEDCREDIT] [int] NOT NULL,
	[INTERCOMPANYAUTOCREATEORDERS] [int] NOT NULL,
	[ISPUBLICSECTOR_IT] [int] NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_CustCustomerV3Staging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CUSTOMERACCOUNT] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
