/****** Object:  Table [dbo].[SMRBIProjProjectLinePropertyStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjProjectLinePropertyStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COSTPERCENTAGE] [numeric](32, 6) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[LINEPROPERTYID] [nvarchar](10) NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
	[SALESPERCENTAGE] [numeric](32, 6) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIProjProjectLinePropertyStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[LINEPROPERTYID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
