/****** Object:  Table [dbo].[SMRBICustomerTransStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICustomerTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACCOUNTNUM] [nvarchar](20) NOT NULL,
	[AMOUNTCUR] [numeric](32, 6) NOT NULL,
	[AMOUNTMST] [numeric](32, 6) NOT NULL,
	[CLOSED] [datetime] NOT NULL,
	[CUSTOMERTRANSCREATEDDATETIME] [datetime] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DOCUMENTDATE] [datetime] NOT NULL,
	[DUEDATE] [datetime] NOT NULL,
	[INVOICE] [nvarchar](20) NOT NULL,
	[CUSTTRANSRECID] [bigint] NOT NULL,
	[SETTLEAMOUNTCUR] [numeric](32, 6) NOT NULL,
	[SETTLEAMOUNTMST] [numeric](32, 6) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[TXT] [nvarchar](60) NOT NULL,
	[VOUCHER] [nvarchar](20) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICustomerTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CUSTTRANSRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
