/****** Object:  Table [dbo].[SMRBIMainAccountStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIMainAccountStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CHARTOFACCOUNTSRECID] [bigint] NOT NULL,
	[MAINACCOUNTCATEGORY] [nvarchar](20) NOT NULL,
	[MAINACCOUNTID] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
	[MAINACCOUNTTYPE] [int] NOT NULL,
	[MAINACCOUNTRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIMainAccountStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CHARTOFACCOUNTSRECID] ASC,
	[MAINACCOUNTCATEGORY] ASC,
	[MAINACCOUNTID] ASC,
	[NAME] ASC,
	[MAINACCOUNTTYPE] ASC,
	[MAINACCOUNTRECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
