/****** Object:  Table [dbo].[SMRBIOpResOperationsResourceGroupWorkCalendarAssignmentStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIOpResOperationsResourceGroupWorkCalendarAssignmentStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[OPERATIONSRESOURCEGROUPID] [nvarchar](10) NOT NULL,
	[WORKCALENDARID] [nvarchar](10) NOT NULL,
	[VALIDFROM] [datetime] NOT NULL,
	[VALIDTO] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIOpResOperationsResourceGroupWorkCalendarAssignmentStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[OPERATIONSRESOURCEGROUPID] ASC,
	[VALIDFROM] ASC,
	[VALIDTO] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
