/****** Object:  Table [dbo].[SMRBICustomerSettlementStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICustomerSettlementStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[SETTLEAMOUNTMST] [numeric](32, 6) NOT NULL,
	[SETTLEAMOUNTCUR] [numeric](32, 6) NOT NULL,
	[ACCOUNTNUM] [nvarchar](20) NOT NULL,
	[EXCHADJUSTMENT] [numeric](32, 6) NOT NULL,
	[TRANSCOMPANY] [nvarchar](4) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[TRANSRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICustomerSettlementStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[RECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
