/****** Object:  Table [dbo].[SMRBIsmmActivityParentLinkTableStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIsmmActivityParentLinkTableStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTIVITYNUMBER] [nvarchar](50) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARENTTYPE] [int] NOT NULL,
	[PRIMARYLINK] [int] NOT NULL,
	[SMMACTIVITYPARENTLINKTABLERECID] [bigint] NOT NULL,
	[SMMACTIVITYPARENTLINKTABLERECVERSION] [int] NOT NULL,
	[REFRECID] [bigint] NOT NULL,
	[REFTABLEID] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL
) ON [PRIMARY]
GO
