/****** Object:  Table [dbo].[SMRBILedgerStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBILedgerStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BUDGETEXCHANGERATETYPE] [nvarchar](20) NOT NULL,
	[ACCOUNTINGCURRENCY] [nvarchar](3) NOT NULL,
	[CHARTOFACCOUNTSRECID] [bigint] NOT NULL,
	[EXCHANGERATETYPE] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](20) NOT NULL,
	[REPORTINGCURRENCY] [nvarchar](3) NOT NULL,
	[LEDGERRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBILedgerStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[LEDGERRECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
