/****** Object:  Table [dbo].[SMRBIExchangeRateStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIExchangeRateStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
	[ENDDATE] [datetime] NOT NULL,
	[FROMCURRENCY] [nvarchar](3) NOT NULL,
	[TOCURRENCY] [nvarchar](3) NOT NULL,
	[RATETYPEDESCRIPTION] [nvarchar](60) NOT NULL,
	[RATETYPENAME] [nvarchar](20) NOT NULL,
	[RATE] [numeric](32, 16) NOT NULL,
	[EXCHANGERATERECID] [bigint] NOT NULL,
	[EXCHANGERATE] [numeric](32, 16) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIExchangeRateStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[STARTDATE] ASC,
	[FROMCURRENCY] ASC,
	[TOCURRENCY] ASC,
	[RATETYPENAME] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
