/****** Object:  Table [dbo].[SMRBIRouteRouteOperationStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIRouteRouteOperationStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[NEXTROUTEOPERATIONNUMBER] [int] NOT NULL,
	[OPERATIONID] [nvarchar](10) NOT NULL,
	[OPERATIONNUMBER] [int] NOT NULL,
	[OPERATIONPRIORITY] [int] NOT NULL,
	[ROUTEID] [nvarchar](20) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIRouteRouteOperationStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[OPERATIONNUMBER] ASC,
	[OPERATIONPRIORITY] ASC,
	[ROUTEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
