/****** Object:  Table [dbo].[SMRBIForecastSupplyForecastStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIForecastSupplyForecastStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[AMOUNT] [numeric](32, 6) NOT NULL,
	[CURRENCY] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[ENDDATE] [datetime] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[MODELID] [nvarchar](10) NOT NULL,
	[PURCHPRICE] [numeric](32, 6) NOT NULL,
	[PURCHQTY] [numeric](32, 6) NOT NULL,
	[PURCHUNITID] [nvarchar](10) NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
	[VENDACCOUNTID] [nvarchar](20) NOT NULL,
	[FORECASTSUPPLYFORECASTDIMENSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIForecastSupplyForecastStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[AMOUNT] ASC,
	[CURRENCY] ASC,
	[COMPANY] ASC,
	[ENDDATE] ASC,
	[INVENTDIMID] ASC,
	[ITEMID] ASC,
	[MODELID] ASC,
	[PURCHPRICE] ASC,
	[PURCHQTY] ASC,
	[PURCHUNITID] ASC,
	[STARTDATE] ASC,
	[VENDACCOUNTID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
