/****** Object:  Table [dbo].[SMRBIPurchRFQCaseLineStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPurchRFQCaseLineStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINENUMBER] [bigint] NOT NULL,
	[RFQCASEID] [nvarchar](20) NOT NULL,
	[STATUSHIGH] [int] NOT NULL,
	[STATUSLOW] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIPurchRFQCaseLineStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[COMPANY] ASC,
	[ITEMID] ASC,
	[LINENUMBER] ASC,
	[RFQCASEID] ASC,
	[STATUSHIGH] ASC,
	[STATUSLOW] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
