/****** Object:  Table [dbo].[SMRBICustInvoiceTransStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICustInvoiceTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DLVDATE] [datetime] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTQTY] [numeric](32, 6) NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[INVOICEDATE] [datetime] NOT NULL,
	[INVOICEID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINEAMOUNT] [numeric](32, 6) NOT NULL,
	[LINEAMOUNTMST] [numeric](32, 6) NOT NULL,
	[LINEDISC] [numeric](32, 6) NOT NULL,
	[LINEHEADER] [nvarchar](80) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[LINEPERCENT] [numeric](32, 6) NOT NULL,
	[ORIGSALESID] [nvarchar](20) NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[QTYPHYSICAL] [numeric](32, 6) NOT NULL,
	[CUSTINVOICETRANSRECID] [bigint] NOT NULL,
	[SALESID] [nvarchar](20) NOT NULL,
	[SALESPRICE] [numeric](32, 6) NOT NULL,
	[SALESUNIT] [nvarchar](10) NOT NULL,
	[TAXWRITECODE] [nvarchar](10) NOT NULL,
	[DEFAULTDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[LEDGERDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[CUSTINVOICETRANSDIMENSION] [bigint] NOT NULL,
	[NAME] [nvarchar](1000) NOT NULL,
	[DISCPERCENT] [numeric](32, 6) NOT NULL,
	[DISCAMOUNT] [numeric](32, 6) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICustInvoiceTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CUSTINVOICETRANSRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
