/****** Object:  Table [dbo].[SMRBIPurchProductApprovedVendorStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPurchProductApprovedVendorStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[APPROVEDVENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[EFFECTIVEDATE] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIPurchProductApprovedVendorStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ITEMNUMBER] ASC,
	[APPROVEDVENDORACCOUNTNUMBER] ASC,
	[EFFECTIVEDATE] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
