/****** Object:  Table [dbo].[SMRBICaseCategoryHierarchyDetailStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICaseCategoryHierarchyDetailStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CASECATEGORY] [nvarchar](10) NOT NULL,
	[CATEGORYTYPE] [int] NOT NULL,
	[CREATEACTIVITYFORCASE] [int] NOT NULL,
	[CREATEACTIVITYFORFOLLOWUP] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DEFAULTACTIVITYCATEGORY] [int] NOT NULL,
	[DEFAULTACTIVITYPHASE] [nvarchar](20) NOT NULL,
	[DEFAULTACTIVITYPURPOSE] [nvarchar](255) NOT NULL,
	[DEFAULTACTIVITYTYPE] [nvarchar](20) NOT NULL,
	[DEFAULTFOLLOWUPCATEGORY] [int] NOT NULL,
	[DEFAULTFOLLOWUPPHASE] [nvarchar](20) NOT NULL,
	[DEFAULTFOLLOWUPPURPOSE] [nvarchar](255) NOT NULL,
	[DEFAULTFOLLOWUPTYPE] [nvarchar](20) NOT NULL,
	[DEFAULTOWNERWORKER] [bigint] NOT NULL,
	[DEPARTMENT] [bigint] NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[EMAILID] [nvarchar](10) NOT NULL,
	[PARENTRECID] [bigint] NOT NULL,
	[PROCESS] [nvarchar](20) NOT NULL,
	[CASECATEGORYHIERARCHYRECID] [bigint] NOT NULL,
	[CASECATEGORYHIERARCHYRECVERSION] [int] NOT NULL,
	[SERVICELEVELAGREEMENTID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICaseCategoryHierarchyDetailStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CASECATEGORY] ASC,
	[CATEGORYTYPE] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
