/****** Object:  Table [dbo].[SMRBIProdRouteTransStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProdRouteTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[AMOUNT] [numeric](32, 6) NOT NULL,
	[CATEGORYID] [nvarchar](30) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DATEWIP] [datetime] NOT NULL,
	[HOURPRICE] [numeric](32, 6) NOT NULL,
	[HOURS] [numeric](32, 6) NOT NULL,
	[OPRID] [nvarchar](10) NOT NULL,
	[OPRNUM] [int] NOT NULL,
	[QTYERROR] [numeric](32, 6) NOT NULL,
	[QTYGOOD] [numeric](32, 6) NOT NULL,
	[PRODROUTETRANSRECID] [bigint] NOT NULL,
	[TRANSREFID] [nvarchar](35) NOT NULL,
	[TRANSREFTYPE] [int] NOT NULL,
	[TRANSTYPE] [int] NOT NULL,
	[WORKER] [bigint] NOT NULL,
	[WRKCTRID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProdRouteTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PRODROUTETRANSRECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
