/****** Object:  Table [dbo].[SMRBIHcmWorkerStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIHcmWorkerStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[HCMWORKERRECID] [bigint] NOT NULL,
	[VALIDTO] [datetime] NOT NULL,
	[VALIDFROM] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIHcmWorkerStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PERSONNELNUMBER] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
