/****** Object:  Table [dbo].[SMRBIBOMBillOfMaterialsVersionStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIBOMBillOfMaterialsVersionStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BOMID] [nvarchar](20) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[FROMQUANTITY] [numeric](32, 6) NOT NULL,
	[ISACTIVE] [int] NOT NULL,
	[ISAPPROVED] [int] NOT NULL,
	[MANUFACTUREDITEMNUMBER] [nvarchar](20) NOT NULL,
	[VALIDFROMDATE] [datetime] NOT NULL,
	[VALIDTODATE] [datetime] NOT NULL,
	[BOMVERSIONRECID] [bigint] NOT NULL,
	[CONFIGID] [nvarchar](50) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIBOMBillOfMaterialsVersionStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[BOMID] ASC,
	[ISACTIVE] ASC,
	[MANUFACTUREDITEMNUMBER] ASC,
	[VALIDFROMDATE] ASC,
	[VALIDTODATE] ASC,
	[BOMVERSIONRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
