/****** Object:  Table [dbo].[SMRBIPdsRebateTableStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPdsRebateTableStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[REBATECREATEDDATETIME] [datetime] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[CUSTACCOUNT] [nvarchar](20) NOT NULL,
	[CUSTINVOICETRANSREFRECID] [bigint] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[PDSCORRECTEDREBATEAMT] [numeric](32, 6) NOT NULL,
	[PDSPROCESSDATE] [datetime] NOT NULL,
	[PDSREBATEADJUSTMENTDATE] [datetime] NOT NULL,
	[PDSREBATEAMT] [numeric](32, 6) NOT NULL,
	[PDSREBATEAMTTYPE] [int] NOT NULL,
	[PDSREBATEBALANCE] [numeric](32, 6) NOT NULL,
	[PDSREBATEID] [nvarchar](12) NOT NULL,
	[PDSREBATESTATUS] [int] NOT NULL,
	[PDSREBATETYPE] [nvarchar](10) NOT NULL,
	[PDSREBATEVALUE] [numeric](32, 6) NOT NULL,
	[REBATECALCDATE] [datetime] NOT NULL,
	[SALESAMOUNT] [numeric](32, 6) NOT NULL,
	[SALESID] [nvarchar](20) NOT NULL,
	[SALESINVOICEDATE] [datetime] NOT NULL,
	[SALESINVOICEID] [nvarchar](20) NOT NULL,
	[LEDGERDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[PDSSTARTINGREBATEAMT] [numeric](32, 6) NOT NULL,
	[PDSREBATETABLEDIMENSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIPdsRebateTableStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PDSREBATEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
