/****** Object:  Table [dbo].[SMRBIVendorStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendorStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[VENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[COMPANYCHAINNAME] [nvarchar](20) NOT NULL,
	[BUYERGROUPID] [nvarchar](10) NOT NULL,
	[MAINCONTACTPERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[ADDRESSCITY] [nvarchar](60) NOT NULL,
	[ADDRESSCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[ADDRESSVALIDFROM] [datetime] NOT NULL,
	[ADDRESSVALIDTO] [datetime] NOT NULL,
	[ADDRESSZIPCODE] [nvarchar](10) NOT NULL,
	[FORMATTEDPRIMARYADDRESS] [nvarchar](250) NOT NULL,
	[DEFAULTPURCHASEORDERPOOLID] [nvarchar](10) NOT NULL,
	[VENDORGROUPID] [nvarchar](10) NOT NULL,
	[VENDTABLERECID] [bigint] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[VENDORDCREATEDDATETIME] [datetime] NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[PARTYRECID] [bigint] NOT NULL,
	[CURRENCY] [nvarchar](3) NOT NULL,
	[BLOCKED] [int] NOT NULL,
	[VENDORORGANIZATIONNAME] [nvarchar](100) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIVendorStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[VENDORACCOUNTNUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
