/****** Object:  Table [dbo].[DataManagementExecutionJobDetailStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataManagementExecutionJobDetailStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DEFINITIONGROUPID] [nvarchar](60) NOT NULL,
	[ENTITYNAME] [nvarchar](300) NOT NULL,
	[JOBID] [nvarchar](90) NOT NULL,
	[STAGINGENDDATETIME] [datetime] NOT NULL,
	[EXCELSHEETNAME] [nvarchar](60) NOT NULL,
	[EXECUTETARGETSTEP] [int] NOT NULL,
	[FIRSTROWISHEADER] [int] NOT NULL,
	[FILEPATH] [nvarchar](259) NOT NULL,
	[IGNOREERROR] [int] NOT NULL,
	[STAGINGRECORDSTOBEPROCESSEDCOUNT] [int] NOT NULL,
	[PARALLELTASKCOUNT] [int] NOT NULL,
	[STAGINGRECORDSCREATEDCOUNT] [int] NOT NULL,
	[TARGETRECORDSCREATEDCOUNT] [int] NOT NULL,
	[TARGETRECORDSUPDATEDCOUNT] [int] NOT NULL,
	[CREATEERRORFILE] [int] NOT NULL,
	[RUNBUSINESSLOGIC] [int] NOT NULL,
	[RUNBUSINESSVALIDATION] [int] NOT NULL,
	[SEQUENCENUMBER] [int] NOT NULL,
	[NUMBEROFROWSTOSKIP] [int] NOT NULL,
	[SOURCEFORMAT] [nvarchar](60) NOT NULL,
	[STAGINGSTATUS] [int] NOT NULL,
	[STAGINGSTARTDATETIME] [datetime] NOT NULL,
	[TARGETSTATUS] [int] NOT NULL,
	[TARGETENDDATETIME] [datetime] NOT NULL,
	[TARGETSTARTDATETIME] [datetime] NOT NULL,
	[EXECUTIONUNIT] [int] NOT NULL,
	[LEVELINEXECUTIONUNIT] [int] NOT NULL,
	[SEQUENCEINLEVEL] [int] NOT NULL,
	[FAILEXECUTIONUNITONERROR] [int] NOT NULL,
	[FAILLEVELONERROR] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_DataManagementExecutionJobDetailStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[DEFINITIONGROUPID] ASC,
	[ENTITYNAME] ASC,
	[JOBID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
