/****** Object:  Table [dbo].[SMRBICostControlTransCommittedCostStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICostControlTransCommittedCostStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTIVITYNUMBER] [nvarchar](50) NOT NULL,
	[AMOUNT] [numeric](32, 6) NOT NULL,
	[CATEGORYID] [nvarchar](30) NOT NULL,
	[COMMITTEDCOSTORIG] [int] NOT NULL,
	[COMMITTEDDATE] [datetime] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[EMPLITEMID] [nvarchar](20) NOT NULL,
	[OPEN_] [int] NOT NULL,
	[PROJID] [nvarchar](20) NOT NULL,
	[PROJTRANSID] [nvarchar](20) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[VOUCHER] [nvarchar](20) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICostControlTransCommittedCostStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PROJTRANSID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
