/****** Object:  Table [dbo].[SMRBILogisticsPostalAddressBaseStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBILogisticsPostalAddressBaseStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ADDRESS] [nvarchar](250) NOT NULL,
	[CITY] [nvarchar](60) NOT NULL,
	[COUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[VALIDFROM] [datetime] NOT NULL,
	[VALIDTO] [datetime] NOT NULL,
	[ZIPCODE] [nvarchar](10) NOT NULL,
	[LOGISCTOCSPOSTALADDRESSBASERECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBILogisticsPostalAddressBaseStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[VALIDFROM] ASC,
	[LOGISCTOCSPOSTALADDRESSBASERECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
