/****** Object:  Table [dbo].[SMRBIPriceDiscTableStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPriceDiscTableStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACCOUNTRELATION] [nvarchar](20) NOT NULL,
	[AMOUNT] [numeric](32, 6) NOT NULL,
	[CURRENCY] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[FROMDATE] [datetime] NOT NULL,
	[ITEMRELATION] [nvarchar](20) NOT NULL,
	[PRICEDISCTABLEMODIFIEDDATETIME] [datetime] NOT NULL,
	[ORIGINALPRICEDISCADMTRANSRECID] [bigint] NOT NULL,
	[PRICEDISCTABLEPARTITION] [bigint] NOT NULL,
	[PDSCALCULATIONID] [nvarchar](10) NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[QUANTITYAMOUNTFROM] [numeric](32, 6) NOT NULL,
	[QUANTITYAMOUNTTO] [numeric](32, 6) NOT NULL,
	[PRICEDISCTABLERECID] [bigint] NOT NULL,
	[TODATE] [datetime] NOT NULL,
	[UNITID] [nvarchar](10) NOT NULL,
	[MODULE] [int] NOT NULL,
	[CONFIGID] [nvarchar](50) NOT NULL,
	[INVENTCOLORID] [nvarchar](10) NOT NULL,
	[INVENTSIZEID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIPriceDiscTableStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PRICEDISCTABLERECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
