/****** Object:  Table [dbo].[SMRBIVendReviewCriterionGroupRatingStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendReviewCriterionGroupRatingStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[AVERAGERATING] [numeric](32, 6) NOT NULL,
	[CRITERIONGROUP] [bigint] NOT NULL,
	[VENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[VENDORDATAAREAID] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIVendReviewCriterionGroupRatingStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CRITERIONGROUP] ASC,
	[VENDORACCOUNTNUMBER] ASC,
	[VENDORDATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
