/****** Object:  Table [dbo].[SMRBIInventTransOriginStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventTransOriginStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[ITEMINVENTDIMID] [nvarchar](20) NOT NULL,
	[REFERENCECATEGORY] [int] NOT NULL,
	[REFERENCEID] [nvarchar](20) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTTRANSORIGINRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIInventTransOriginStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INVENTTRANSID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
