/****** Object:  Table [dbo].[SMRBIInventSumStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventSumStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[PHYSICALINVENT] [numeric](32, 6) NOT NULL,
	[PHYSICALVALUE] [numeric](32, 6) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[AVAILPHYSICAL] [numeric](32, 6) NOT NULL,
	[RESERVORDERED] [numeric](32, 6) NOT NULL,
	[RESERVPHYSICAL] [numeric](32, 6) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIInventSumStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INVENTDIMID] ASC,
	[ITEMID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
