/****** Object:  Table [dbo].[SMRBIInventTransStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COSTAMOUNTADJUSTMENT] [numeric](32, 6) NOT NULL,
	[COSTAMOUNTOPERATIONS] [numeric](32, 6) NOT NULL,
	[COSTAMOUNTPHYSICAL] [numeric](32, 6) NOT NULL,
	[COSTAMOUNTPOSTED] [numeric](32, 6) NOT NULL,
	[COSTAMOUNTSETTLED] [numeric](32, 16) NOT NULL,
	[COSTAMOUNTSTD] [numeric](32, 6) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DATECLOSED] [datetime] NOT NULL,
	[DATEEXPECTED] [datetime] NOT NULL,
	[DATEFINANCIAL] [datetime] NOT NULL,
	[DATEINVENT] [datetime] NOT NULL,
	[DATEPHYSICAL] [datetime] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTTRANSORIGIN] [bigint] NOT NULL,
	[INVOICEID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[QTYSETTLED] [numeric](32, 16) NOT NULL,
	[INVENTTRANSRECID] [bigint] NOT NULL,
	[SHIPPINGDATECONFIRMED] [datetime] NOT NULL,
	[SHIPPINGDATEREQUESTED] [datetime] NOT NULL,
	[STATUSISSUE] [int] NOT NULL,
	[STATUSRECEIPT] [int] NOT NULL,
	[VOUCHER] [nvarchar](20) NOT NULL,
	[VOUCHERPHYSICAL] [nvarchar](20) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIInventTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INVENTTRANSRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
