/****** Object:  Table [dbo].[SMRBIProcProcurementProductCategoryStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProcProcurementProductCategoryStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CODE] [nvarchar](20) NOT NULL,
	[PROCUREMENTCREATEDDATETIME] [datetime] NOT NULL,
	[LEVEL_] [bigint] NOT NULL,
	[PROCUREMENTMODIFIEDDATETIME] [datetime] NOT NULL,
	[NAME] [nvarchar](254) NOT NULL,
	[PARENTCATEGORY] [bigint] NOT NULL,
	[PROCUREMENTRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProcProcurementProductCategoryStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PROCUREMENTRECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
