/****** Object:  Table [dbo].[SMRBIEcoResReleasedProductStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIEcoResReleasedProductStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BOMUNITSYMBOL] [nvarchar](10) NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[PRODUCTGROUPID] [nvarchar](10) NOT NULL,
	[PRODUCTNUMBER] [nvarchar](70) NOT NULL,
	[BUYERGROUPID] [nvarchar](10) NOT NULL,
	[INVENTORYUNITSYMBOL] [nvarchar](10) NOT NULL,
	[ORIGINCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[PRIMARYVENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[REVENUEABCCODE] [int] NOT NULL,
	[SALESUNITSYMBOL] [nvarchar](10) NOT NULL,
	[PRODUCTCREATEDDATETIME] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PURCHASEUNITSYMBOL] [nvarchar](10) NOT NULL,
	[PRODUCTRECID] [bigint] NOT NULL,
	[PHYSICALDIMENSIONGROUPID] [nvarchar](20) NOT NULL,
	[INTRASTATCOMMODITYCODE] [nvarchar](20) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIEcoResReleasedProductStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ITEMNUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
