/****** Object:  Table [dbo].[SMRBIProjBudgetRevisionStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjBudgetRevisionStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[EXTERNALREFERENCE] [nvarchar](10) NOT NULL,
	[REQUESTEDBYCUST] [nvarchar](20) NOT NULL,
	[REQUESTEDBYVEND] [nvarchar](20) NOT NULL,
	[REQUESTEDDATE] [datetime] NOT NULL,
	[REVISIONDATE] [datetime] NOT NULL,
	[REVISIONID] [nvarchar](10) NOT NULL,
	[REVISIONWORKFLOWSTATUS] [int] NOT NULL,
	[HCMWORKER_PERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[DIRPERSON_FK_PARTYNUMBER] [nvarchar](40) NOT NULL,
	[PROJBUDGET_BUDGETID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProjBudgetRevisionStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[REVISIONID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
