/****** Object:  Table [dbo].[SMRBIProdTableStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProdTableStaging](
	[BOMID] [nvarchar](20) NOT NULL,
	[COLLECTREFPRODID] [nvarchar](20) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[PRODID] [nvarchar](20) NOT NULL,
	[ROUTEID] [nvarchar](20) NOT NULL,
	[DEFAULTDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DENSITY] [numeric](32, 6) NOT NULL,
	[DEPTH] [numeric](32, 6) NOT NULL,
	[DLVDATE] [datetime] NOT NULL,
	[FINISHEDDATE] [datetime] NOT NULL,
	[HEIGHT] [numeric](32, 6) NOT NULL,
	[INVENTREFID] [nvarchar](20) NOT NULL,
	[INVENTREFTYPE] [int] NOT NULL,
	[PRODSTATUS] [int] NOT NULL,
	[QTYCALC] [numeric](32, 6) NOT NULL,
	[QTYSCHED] [numeric](32, 6) NOT NULL,
	[QTYSTUP] [numeric](32, 6) NOT NULL,
	[REALDATE] [datetime] NOT NULL,
	[REMAININVENTPHYSICAL] [numeric](32, 6) NOT NULL,
	[REQPOID] [nvarchar](20) NOT NULL,
	[SCHEDDATE] [datetime] NOT NULL,
	[SCHEDEND] [datetime] NOT NULL,
	[SCHEDSTART] [datetime] NOT NULL,
	[SCHEDSTATUS] [int] NOT NULL,
	[STUPDATE] [datetime] NOT NULL,
	[WIDTH] [numeric](32, 6) NOT NULL,
	[PRODTABLEDIMENSION] [bigint] NOT NULL,
	[PRODPOOLID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIProdTableStaging] PRIMARY KEY CLUSTERED 
(
	[PRODID] ASC,
	[EXECUTIONID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
