/****** Object:  Table [dbo].[SMRBICustInvoiceJourStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICustInvoiceJourStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[INVOICEID] [nvarchar](20) NOT NULL,
	[INVOICEDATE] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DLVMODE] [nvarchar](10) NOT NULL,
	[DLVTERM] [nvarchar](10) NOT NULL,
	[INVOICEACCOUNT] [nvarchar](20) NOT NULL,
	[ORDERACCOUNT] [nvarchar](20) NOT NULL,
	[PAYMENT] [nvarchar](100) NOT NULL,
	[CUSTINVOICEJOURRECID] [bigint] NOT NULL,
	[SALESID] [nvarchar](20) NOT NULL,
	[INVOICEAMOUNT] [numeric](32, 6) NOT NULL,
	[CUSTINVOICEJOURCREATEDDATETIME] [datetime] NOT NULL,
	[SALESBALANCE] [numeric](32, 6) NOT NULL,
	[SUMMARKUP] [numeric](32, 6) NOT NULL,
	[SUMTAX] [numeric](32, 6) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[YSLELEDGERVOUCHER] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICustInvoiceJourStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CUSTINVOICEJOURRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
