/****** Object:  Table [dbo].[SMRBIDefaultDimensionViewStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIDefaultDimensionViewStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DISPLAYVALUE] [nvarchar](30) NOT NULL,
	[DEFAULTDIMENSION] [bigint] NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[YSLEGROUPDIMENSION] [nvarchar](10) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIDefaultDimensionViewStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[DISPLAYVALUE] ASC,
	[DEFAULTDIMENSION] ASC,
	[NAME] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
