/****** Object:  Table [dbo].[SMRBIDimensionFinancialTagStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIDimensionFinancialTagStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[FINANCIALTAGCATEGORY] [bigint] NOT NULL,
	[VALUE] [nvarchar](30) NOT NULL,
	[FINANCIALTAGRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIDimensionFinancialTagStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[FINANCIALTAGRECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
