/****** Object:  Table [dbo].[SMRBIVendRFQTransStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendRFQTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[INTERNALRFQID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINEAMOUNT] [numeric](32, 6) NOT NULL,
	[PURCHPRICE] [numeric](32, 6) NOT NULL,
	[PURCHQTY] [numeric](32, 6) NOT NULL,
	[RFQDATE] [datetime] NOT NULL,
	[RFQID] [nvarchar](20) NOT NULL,
	[STATUS] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIVendRFQTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INTERNALRFQID] ASC,
	[ITEMID] ASC,
	[LINEAMOUNT] ASC,
	[PURCHPRICE] ASC,
	[PURCHQTY] ASC,
	[RFQDATE] ASC,
	[RFQID] ASC,
	[STATUS] ASC,
	[COMPANY] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
