/****** Object:  Table [dbo].[SMRBIWHSPhysicalDimensionGroupDetailStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIWHSPhysicalDimensionGroupDetailStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PHYSICALDEPTH] [numeric](32, 6) NOT NULL,
	[PHYSICALHEIGHT] [numeric](32, 6) NOT NULL,
	[PHYSICALDIMENSIONGROUPID] [nvarchar](20) NOT NULL,
	[PHYSICALUNITSYMBOL] [nvarchar](10) NOT NULL,
	[PHYSICALWEIGHT] [numeric](32, 12) NOT NULL,
	[PHYSICALWIDTH] [numeric](32, 6) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIWHSPhysicalDimensionGroupDetailStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PHYSICALDIMENSIONGROUPID] ASC,
	[PHYSICALUNITSYMBOL] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
