/****** Object:  Table [dbo].[SMRBIInventItemBatchStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventItemBatchStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BATCHDESCRIPTION] [nvarchar](max) NULL,
	[BATCHEXPIRATIONDATE] [datetime] NOT NULL,
	[BATCHNUMBER] [nvarchar](20) NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[MANUFACTURINGDATE] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTBATCHRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIInventItemBatchStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[BATCHNUMBER] ASC,
	[ITEMNUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
