/****** Object:  Table [dbo].[SMRBISystemUserStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBISystemUserStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[USERID] [nvarchar](20) NOT NULL,
	[USERNAME] [nvarchar](81) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[NETWORKDOMAIN] [nvarchar](255) NOT NULL,
	[ALIAS] [nvarchar](255) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBISystemUserStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[USERID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
