/****** Object:  Table [dbo].[SMRBIEcoResReleasedProductVariantStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIEcoResReleasedProductVariantStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[PRODUCTVARIANTNUMBER] [nvarchar](70) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[RETAILVARIANTID] [nvarchar](10) NOT NULL,
	[DISTINCTPRODUCTVARIANT] [bigint] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[VARIANTCREATEDDATETIME] [datetime] NOT NULL,
	[ECORESRELEASEDPRODUCTVARIANTRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIEcoResReleasedProductVariantStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PRODUCTVARIANTNUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
