/****** Object:  Table [dbo].[SMRBIEcoResProductTranslationStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIEcoResProductTranslationStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PRODUCTNUMBER] [nvarchar](70) NOT NULL,
	[LANGUAGEID] [nvarchar](7) NOT NULL,
	[PRODUCTNAME] [nvarchar](60) NOT NULL,
	[DESCRIPTION] [nvarchar](1000) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIEcoResProductTranslationStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PRODUCTNUMBER] ASC,
	[LANGUAGEID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
