/****** Object:  Table [dbo].[SMRBIBOMCalcTransStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIBOMCalcTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BOM] [int] NOT NULL,
	[BOMCALCTRANSRECID] [bigint] NOT NULL,
	[CALCGROUPID] [nvarchar](10) NOT NULL,
	[CALCTYPE] [int] NOT NULL,
	[CONSISTOFPRICE] [nvarchar](20) NOT NULL,
	[CONSUMPTIONCONSTANT] [numeric](32, 16) NOT NULL,
	[CONSUMPTIONVARIABLE] [numeric](32, 16) NOT NULL,
	[CONSUMPTYPE] [int] NOT NULL,
	[COSTCALCULATIONMETHOD] [int] NOT NULL,
	[COSTGROUPID] [nvarchar](10) NOT NULL,
	[COSTMARKUP] [numeric](32, 16) NOT NULL,
	[COSTMARKUPQTY] [numeric](32, 16) NOT NULL,
	[COSTPRICE] [numeric](32, 16) NOT NULL,
	[COSTPRICEMODELUSED] [int] NOT NULL,
	[COSTPRICEQTY] [numeric](32, 16) NOT NULL,
	[COSTPRICEUNIT] [numeric](32, 12) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[LEVEL_] [int] NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[NETWEIGHTQTY] [numeric](32, 12) NOT NULL,
	[NUMOFSERIES] [numeric](32, 6) NOT NULL,
	[OPRID] [nvarchar](10) NOT NULL,
	[OPRNUM] [int] NOT NULL,
	[OPRNUMNEXT] [int] NOT NULL,
	[OPRPRIORITY] [int] NOT NULL,
	[PARENTBOMCALCTRANS] [bigint] NOT NULL,
	[PRICECALCID] [nvarchar](20) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[RESOURCE_] [nvarchar](30) NOT NULL,
	[SALESMARKUP] [numeric](32, 6) NOT NULL,
	[SALESMARKUPQTY] [numeric](32, 6) NOT NULL,
	[SALESPRICE] [numeric](32, 6) NOT NULL,
	[SALESPRICEQTY] [numeric](32, 6) NOT NULL,
	[SALESPRICEUNIT] [numeric](32, 12) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[UNITID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIBOMCalcTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[LINENUM] ASC,
	[PRICECALCID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
