/****** Object:  Table [dbo].[SMRBIVendPackingSlipJourStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendPackingSlipJourStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DELIVERYDATE] [datetime] NOT NULL,
	[DELIVERYNAME] [nvarchar](100) NOT NULL,
	[DELIVERYTYPE] [int] NOT NULL,
	[DLVMODE] [nvarchar](10) NOT NULL,
	[DLVTERM] [nvarchar](10) NOT NULL,
	[FREIGHTSLIPNUM] [nvarchar](20) NOT NULL,
	[FREIGHTSLIPTYPE] [int] NOT NULL,
	[INTERCOMPANYCOMPANYID] [nvarchar](4) NOT NULL,
	[INTERCOMPANYSALESID] [nvarchar](20) NOT NULL,
	[INVOICEACCOUNT] [nvarchar](20) NOT NULL,
	[ORDERACCOUNT] [nvarchar](20) NOT NULL,
	[PACKINGSLIPID] [nvarchar](20) NOT NULL,
	[PURCHASETYPE] [int] NOT NULL,
	[PURCHID] [nvarchar](20) NOT NULL,
	[VENDPACKINGSLIPJOURRECID] [bigint] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[VENDPACKINGSLIPJOURDIMENSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIVendPackingSlipJourStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[VENDPACKINGSLIPJOURRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
