/****** Object:  Table [dbo].[SMRBIBOMCalcTableStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIBOMCalcTableStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PRICECALCID] [nvarchar](20) NOT NULL,
	[BOMCALCTYPE] [int] NOT NULL,
	[BOMID] [nvarchar](20) NOT NULL,
	[COSTCALCULATIONMETHOD] [int] NOT NULL,
	[COSTMARKUP] [numeric](32, 16) NOT NULL,
	[COSTPRICE] [numeric](32, 6) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[ROUTEID] [nvarchar](20) NOT NULL,
	[SALESMARKUP] [numeric](32, 6) NOT NULL,
	[SALESPRICE] [numeric](32, 6) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[UNITID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIBOMCalcTableStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PRICECALCID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
