/****** Object:  Table [dbo].[SMRBIBudgetRegisterEntryLineStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIBudgetRegisterEntryLineStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACCOUNTINGCURRENCYAMOUNT] [numeric](32, 6) NOT NULL,
	[AMOUNTTYPE] [int] NOT NULL,
	[BUDGETTRANSACTIONHEADERRECID] [bigint] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[ENTRYDATE] [datetime] NOT NULL,
	[LINENUMBER] [numeric](32, 16) NOT NULL,
	[PRICE] [numeric](32, 6) NOT NULL,
	[QUANTITY] [numeric](32, 6) NOT NULL,
	[TRANSACTIONCURRENCYAMOUNT] [numeric](32, 6) NOT NULL,
	[GENERALJOURNALENTRY] [bigint] NOT NULL,
	[BUDGETREGISTERLINERECID] [bigint] NOT NULL,
	[LEGALENTITYID] [nvarchar](4) NOT NULL,
	[LEDGERDIMENSIONACCOUNTSTRUCTURE] [nvarchar](60) NOT NULL,
	[LEDGERDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIBudgetRegisterEntryLineStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[LINENUMBER] ASC,
	[BUDGETREGISTERLINERECID] ASC,
	[LEGALENTITYID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
