/****** Object:  Table [dbo].[SMRBIWMSWarehouseLocationStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIWMSWarehouseLocationStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[WAREHOUSEID] [nvarchar](10) NOT NULL,
	[WAREHOUSELOCATIONID] [nvarchar](10) NOT NULL,
	[WAREHOUSELOCATIONPROFILEID] [nvarchar](20) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[WAREHOUSELOCATIONRECID] [bigint] NOT NULL,
	[MAXVOLUME] [numeric](32, 6) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIWMSWarehouseLocationStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[WAREHOUSEID] ASC,
	[WAREHOUSELOCATIONID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
