/****** Object:  Table [dbo].[SMRBIDirPartyStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIDirPartyStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PARTYNUMBER] [nvarchar](40) NOT NULL,
	[NAMEALIAS] [nvarchar](20) NOT NULL,
	[LEGALENTITYDATAAREA] [nvarchar](4) NOT NULL,
	[OPERATINGUNITNUMBER] [nvarchar](30) NOT NULL,
	[OPERATINGUNITTYPE] [int] NOT NULL,
	[DIRPARTYRECID] [bigint] NOT NULL,
	[VALIDFROM] [datetime] NOT NULL,
	[VALIDTO] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIDirPartyStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PARTYNUMBER] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
