/****** Object:  Table [dbo].[SMRBIProjBudgetRevisionLineStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjBudgetRevisionLineStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[NEWTOTALBUDGET] [numeric](32, 6) NOT NULL,
	[PREVIOUSAPPROVEDBUDGET] [numeric](32, 6) NOT NULL,
	[PROJBUDGETLINE] [bigint] NOT NULL,
	[PROJBUDGETREVISION] [bigint] NOT NULL,
	[REVISIONAMOUNT] [numeric](32, 6) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProjBudgetRevisionLineStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PROJBUDGETLINE] ASC,
	[PROJBUDGETREVISION] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
