/****** Object:  Table [dbo].[SMRBIPurchRFQReplyLineStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPurchRFQReplyLineStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PURCHRFQCREATEDDATETIME] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[LINEAMOUNT] [numeric](32, 6) NOT NULL,
	[LINEPERCENT] [numeric](32, 6) NOT NULL,
	[PURCHPRICE] [numeric](32, 6) NOT NULL,
	[PURCHQTY] [numeric](32, 6) NOT NULL,
	[PURCHUNIT] [nvarchar](10) NOT NULL,
	[RFQID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIPurchRFQReplyLineStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PURCHRFQCREATEDDATETIME] ASC,
	[COMPANY] ASC,
	[LINEAMOUNT] ASC,
	[LINEPERCENT] ASC,
	[PURCHPRICE] ASC,
	[PURCHQTY] ASC,
	[PURCHUNIT] ASC,
	[RFQID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
