/****** Object:  Table [dbo].[SMRBIDirPartyLocationPostalAddressStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIDirPartyLocationPostalAddressStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ISPRIMARY] [int] NOT NULL,
	[PARTYNUMBER] [nvarchar](40) NOT NULL,
	[ADDRESS] [nvarchar](250) NOT NULL,
	[CITY] [nvarchar](60) NOT NULL,
	[COUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[VALIDTO] [datetime] NOT NULL,
	[ZIPCODE] [nvarchar](10) NOT NULL,
	[VALIDFROM] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIDirPartyLocationPostalAddressStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ISPRIMARY] ASC,
	[PARTYNUMBER] ASC,
	[ADDRESS] ASC,
	[CITY] ASC,
	[COUNTRYREGIONID] ASC,
	[VALIDTO] ASC,
	[ZIPCODE] ASC,
	[VALIDFROM] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
