/****** Object:  Table [dbo].[SMRBIInventTestOperationItemsStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventTestOperationItemsStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COSTAMOUNT] [numeric](32, 6) NOT NULL,
	[INVENTNONCONFORMANCEID] [nvarchar](20) NOT NULL,
	[INVENTQTY] [numeric](32, 6) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIInventTestOperationItemsStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[COSTAMOUNT] ASC,
	[INVENTNONCONFORMANCEID] ASC,
	[INVENTQTY] ASC,
	[ITEMID] ASC,
	[LINENUM] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
