/****** Object:  Table [dbo].[SMRBISalesOrderHeaderStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBISalesOrderHeaderStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[SALESORDERNUMBER] [nvarchar](20) NOT NULL,
	[ORDERINGCUSTOMERACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[INVOICECUSTOMERACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[TOTALDISCOUNTPERCENTAGE] [numeric](32, 6) NOT NULL,
	[DELIVERYMODECODE] [nvarchar](10) NOT NULL,
	[DELIVERYTERMSCODE] [nvarchar](10) NOT NULL,
	[PAYMENTTERMSNAME] [nvarchar](100) NOT NULL,
	[CONFIRMEDRECEIPTDATE] [datetime] NOT NULL,
	[SALESORDERNAME] [nvarchar](60) NOT NULL,
	[CONFIRMEDSHIPPINGDATE] [datetime] NOT NULL,
	[DELIVERYADDRESSCITY] [nvarchar](60) NOT NULL,
	[DELIVERYADDRESSCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[DELIVERYADDRESSSTREET] [nvarchar](250) NOT NULL,
	[DELIVERYADDRESSSTREETNUMBER] [nvarchar](20) NOT NULL,
	[SALESTABLECREATEDDATETIME] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DELIVERYADDRESSZIPCODE] [nvarchar](10) NOT NULL,
	[DELIVERYDATE] [datetime] NOT NULL,
	[INVENTLOCATIONID] [nvarchar](10) NOT NULL,
	[SALESTABLERECID] [bigint] NOT NULL,
	[REQUESTEDRECEIPTDATE] [datetime] NOT NULL,
	[REQUESTEDSHIPPINGDATE] [datetime] NOT NULL,
	[VALIDFROM] [datetime] NOT NULL,
	[VALIDTO] [datetime] NOT NULL,
	[CUSTOMERREF] [nvarchar](60) NOT NULL,
	[PURCHORDERFORMNUM] [nvarchar](20) NOT NULL,
	[DLVREASON] [nvarchar](10) NOT NULL,
	[DOCUMENTSTATUS] [int] NOT NULL,
	[RETURNITEMNUM] [nvarchar](10) NOT NULL,
	[SALESORIGINID] [nvarchar](10) NOT NULL,
	[RETURNREASONCODEID] [nvarchar](10) NOT NULL,
	[RETAILCHANNELTABLE] [bigint] NOT NULL,
	[SALESGROUP] [nvarchar](10) NOT NULL,
	[SALESSTATUS] [int] NOT NULL,
	[SALESTYPE] [int] NOT NULL,
	[WORKERSALESTAKER] [bigint] NOT NULL,
	[PAYMMODE] [nvarchar](10) NOT NULL,
	[DEFAULTDIMENSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBISalesOrderHeaderStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[SALESORDERNUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
