/****** Object:  Table [dbo].[SMRBIProjInvoiceJourStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjInvoiceJourStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CASHDISC] [numeric](32, 6) NOT NULL,
	[CASHDISCCODE] [nvarchar](10) NOT NULL,
	[CASHDISCPERCENT] [numeric](32, 6) NOT NULL,
	[CASHDISCDATE] [datetime] NOT NULL,
	[CONTACTPERSONID_NO] [nvarchar](20) NOT NULL,
	[COSTVALUE] [numeric](32, 6) NOT NULL,
	[CURRENCYID] [nvarchar](3) NOT NULL,
	[CUSTPURCHASEORDER_NO] [nvarchar](20) NOT NULL,
	[CUSTREF_NO] [nvarchar](60) NOT NULL,
	[DEFAULTDIMENSION] [bigint] NOT NULL,
	[DELIVERYNAME] [nvarchar](60) NOT NULL,
	[DELIVERYPOSTALADDRESS] [bigint] NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[DIRECTDEBITMANDATE] [bigint] NOT NULL,
	[DLVMODE] [nvarchar](10) NOT NULL,
	[DLVTERM] [nvarchar](10) NOT NULL,
	[DOCUMENTDATE_W] [datetime] NOT NULL,
	[DUEDATE] [datetime] NOT NULL,
	[EINVOICEACCOUNTCODE] [nvarchar](35) NOT NULL,
	[EINVOICELINESPECIFIC] [int] NOT NULL,
	[ENDDISC] [numeric](32, 6) NOT NULL,
	[ENTERPRISENUMBER] [nvarchar](50) NOT NULL,
	[EUSALESLIST] [nvarchar](20) NOT NULL,
	[EXCHRATE] [numeric](32, 16) NOT NULL,
	[EXCHRATESECONDARY] [numeric](32, 16) NOT NULL,
	[GIROTYPE] [int] NOT NULL,
	[INTERCOMPANYPOSTED] [int] NOT NULL,
	[INTRASTATADDVALUE_LV] [numeric](32, 6) NOT NULL,
	[INTRASTATDISPATCHID] [nvarchar](20) NOT NULL,
	[INVOICEACCOUNT] [nvarchar](20) NOT NULL,
	[INVOICEAMOUNT] [numeric](32, 6) NOT NULL,
	[INVOICEDATE] [datetime] NOT NULL,
	[INVOICENUMBERINGCODE_LT] [nvarchar](10) NOT NULL,
	[INVOICEROUNDOFF] [numeric](32, 6) NOT NULL,
	[INVOICETYPE_MY] [int] NOT NULL,
	[ISPROFORMA] [int] NOT NULL,
	[LANGUAGEID] [nvarchar](7) NOT NULL,
	[LEDGERVOUCHER] [nvarchar](20) NOT NULL,
	[LISTCODEID] [int] NOT NULL,
	[NARRATION_BR] [nvarchar](60) NOT NULL,
	[NOTETYPE_MY] [int] NOT NULL,
	[NUMBERSEQUENCEGROUPID] [nvarchar](10) NOT NULL,
	[ONACCOUNTAMOUNT] [numeric](32, 6) NOT NULL,
	[ORDERACCOUNT] [nvarchar](20) NOT NULL,
	[PARMID] [nvarchar](20) NOT NULL,
	[PARTITION1] [bigint] NOT NULL,
	[PAYMDAYID] [nvarchar](10) NOT NULL,
	[PAYMENT] [nvarchar](100) NOT NULL,
	[PAYMENTSCHED] [nvarchar](30) NOT NULL,
	[PORT] [nvarchar](10) NOT NULL,
	[PAYMID] [nvarchar](200) NOT NULL,
	[POSTINGJOURNALID] [nvarchar](20) NOT NULL,
	[POSTINGPROFILE] [nvarchar](10) NOT NULL,
	[PRINTEDORIGINALS] [int] NOT NULL,
	[PROJGROUPID] [nvarchar](10) NOT NULL,
	[PROJINVOICEID] [nvarchar](20) NOT NULL,
	[PROJINVOICEPROJID] [nvarchar](20) NOT NULL,
	[PROJINVOICETYPE] [int] NOT NULL,
	[PSAENDDATEMAXINVOICEID] [nvarchar](20) NOT NULL,
	[PROPOSALID] [nvarchar](20) NOT NULL,
	[PSAINVOICEFORMATS] [int] NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[REASONTABLEREF] [bigint] NOT NULL,
	[RECID1] [bigint] NOT NULL,
	[SALESDATE_CZ] [datetime] NOT NULL,
	[RECVERSION1] [int] NOT NULL,
	[SALESORDERBALANCE] [numeric](32, 6) NOT NULL,
	[SENTELECTRONICALLY] [int] NOT NULL,
	[SMASPECINDEXCALC] [int] NOT NULL,
	[SOURCEDOCUMENTHEADER] [bigint] NOT NULL,
	[SUMMARKUP] [numeric](32, 6) NOT NULL,
	[SUMLINEDISC] [numeric](32, 6) NOT NULL,
	[SUMTAX] [numeric](32, 6) NOT NULL,
	[TAXGROUPID] [nvarchar](10) NOT NULL,
	[TAXINFORMATION_IN] [bigint] NOT NULL,
	[TAXPRINTONINVOICE] [int] NOT NULL,
	[TAXSPECIFYBYLINE] [int] NOT NULL,
	[TAXSPECIFYTOTAL] [int] NOT NULL,
	[TRANSPORTATIONDOCUMENT] [bigint] NOT NULL,
	[TRIANGULATION] [int] NOT NULL,
	[VOLUME] [numeric](32, 6) NOT NULL,
	[VATNUM] [nvarchar](20) NOT NULL,
	[VOUCHERNUMBERSEQUENCETABLE] [bigint] NOT NULL,
	[WEIGHT] [numeric](32, 12) NOT NULL,
	[WHOISAUTHOR_LT] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProjInvoiceJourStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PROJINVOICEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
