/****** Object:  Table [dbo].[SMRBILedgerChartOfAccountsStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBILedgerChartOfAccountsStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[CHARTOFACCOUNTS] [nvarchar](60) NOT NULL,
	[CHARTOFACCOUNTSRECID] [bigint] NOT NULL,
	[LEDGERCHARTOFACCOUNTSRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBILedgerChartOfAccountsStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CHARTOFACCOUNTS] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
