/****** Object:  Table [dbo].[SMRBIRouteOperationPropertiesStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIRouteOperationPropertiesStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[SETUPCOSTCATEGORYID] [nvarchar](30) NOT NULL,
	[QUANTITYCOSTCATEGORYID] [nvarchar](30) NOT NULL,
	[OPERATIONID] [nvarchar](10) NOT NULL,
	[PRODUCTIONSITEID] [nvarchar](10) NOT NULL,
	[PROCESSCOSTCATEGORYID] [nvarchar](30) NOT NULL,
	[PROCESSTIME] [numeric](32, 6) NOT NULL,
	[ROUTEGROUPID] [nvarchar](10) NOT NULL,
	[ROUTEID] [nvarchar](20) NOT NULL,
	[SETUPTIME] [numeric](32, 6) NOT NULL,
	[COSTINGOPERATIONRESOURCEID] [nvarchar](10) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIRouteOperationPropertiesStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[SETUPCOSTCATEGORYID] ASC,
	[QUANTITYCOSTCATEGORYID] ASC,
	[OPERATIONID] ASC,
	[PRODUCTIONSITEID] ASC,
	[PROCESSCOSTCATEGORYID] ASC,
	[PROCESSTIME] ASC,
	[ROUTEGROUPID] ASC,
	[ROUTEID] ASC,
	[SETUPTIME] ASC,
	[COSTINGOPERATIONRESOURCEID] ASC,
	[COMPANY] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
