/****** Object:  Table [dbo].[SMRBIBudgetRegisterEntryHeaderStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIBudgetRegisterEntryHeaderStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BUDGETCODE] [nvarchar](20) NOT NULL,
	[BUDGETMODELID] [nvarchar](10) NOT NULL,
	[DEFAULTDATE] [datetime] NOT NULL,
	[PRIMARYLEDGERID] [bigint] NOT NULL,
	[BUDGETMODELTYPE] [int] NOT NULL,
	[BUDGETSUBMODELID] [nvarchar](10) NOT NULL,
	[TRANSACTIONNUMBER] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[BUDGETREGISTERRECID] [bigint] NOT NULL,
	[STATUS] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIBudgetRegisterEntryHeaderStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[BUDGETREGISTERRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
