/****** Object:  Table [dbo].[SMRBIDimensionAttributeDirCategoryStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIDimensionAttributeDirCategoryStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DIMENSIONATTRIBUTE] [bigint] NOT NULL,
	[DIRCATEGORY] [bigint] NOT NULL,
	[DIMENSIONATTRIBUTE_NAME] [nvarchar](60) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIDimensionAttributeDirCategoryStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[DIMENSIONATTRIBUTE_NAME] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
