/****** Object:  Table [dbo].[SMRBIProjBudgetLineRelationStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjBudgetLineRelationStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTIVITYNUMBER] [nvarchar](50) NOT NULL,
	[CATEGORYID] [nvarchar](30) NOT NULL,
	[COMMITTEDREVISIONS] [numeric](32, 6) NOT NULL,
	[ORIGINALBUDGET] [numeric](32, 6) NOT NULL,
	[PROJALLOCATIONMETHOD] [int] NOT NULL,
	[PROJBUDGETLINETYPE] [int] NOT NULL,
	[PROJID] [nvarchar](20) NOT NULL,
	[PROJTRANSTYPE] [int] NOT NULL,
	[TOTALBUDGET] [numeric](32, 6) NOT NULL,
	[UNCOMMITTEDREVISIONS] [numeric](32, 6) NOT NULL,
	[PROJBUDGET_BUDGETID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIProjBudgetLineRelationStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ACTIVITYNUMBER] ASC,
	[CATEGORYID] ASC,
	[PROJBUDGETLINETYPE] ASC,
	[PROJID] ASC,
	[PROJBUDGET_BUDGETID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
