/****** Object:  Table [dbo].[VendVendorV2Staging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VendVendorV2Staging](
	[ISOWNERDISABLED] [int] NOT NULL,
	[ETHNICORIGINID] [nvarchar](15) NOT NULL,
	[ISWOMANOWNER] [int] NOT NULL,
	[ISVENDORLOCALLYOWNED] [int] NOT NULL,
	[ISMINORITYOWNED] [int] NOT NULL,
	[TAX1099FEDERALTAXID] [nvarchar](11) NOT NULL,
	[ISSERVICEVETERANOWNED] [int] NOT NULL,
	[DEFAULTLEDGERDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[DEFAULTOFFSETLEDGERACCOUNTDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[ADDRESSBOOKS] [nvarchar](1000) NOT NULL,
	[ADDRESSLOCATIONROLES] [nvarchar](1000) NOT NULL,
	[VENDORPARTYTYPE] [nvarchar](13) NOT NULL,
	[PRIMARYEMAILADDRESSPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYFAXNUMBERPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYPHONENUMBERPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYTELEXPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYURLPURPOSE] [nvarchar](1000) NOT NULL,
	[COMPOSITIONSCHEME] [int] NOT NULL,
	[FOREIGNVENDOR] [int] NOT NULL,
	[GTAVENDOR] [int] NOT NULL,
	[PREFERENTIALVENDOR] [int] NOT NULL,
	[SSIVENDOR] [int] NOT NULL,
	[NATUREOFASSESSEE] [int] NOT NULL,
	[PANNUMBER] [nvarchar](10) NOT NULL,
	[PANREFERENCENUMBER] [nvarchar](10) NOT NULL,
	[PANSTATUS] [int] NOT NULL,
	[SSIVALIDITYDATE] [datetime] NOT NULL,
	[TCSGROUP] [nvarchar](10) NOT NULL,
	[TDSGROUP] [nvarchar](10) NOT NULL,
	[ELECTRONICLOCATIONID] [nvarchar](40) NOT NULL,
	[VENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[VENDORPAYMENTFINECODE] [nvarchar](10) NOT NULL,
	[VENDORPAYMENTFINANCIALINTERESTCODE] [nvarchar](10) NOT NULL,
	[BIRTHPLACE] [nvarchar](60) NOT NULL,
	[BIRTHCOUNTYCODE] [nvarchar](3) NOT NULL,
	[RESIDENCEFOREIGNCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[FISCALDOCUMENTINCOMECODE] [nvarchar](10) NOT NULL,
	[PRIMARYFACEBOOKPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYLINKEDINPURPOSE] [nvarchar](1000) NOT NULL,
	[PRIMARYTWITTERPURPOSE] [nvarchar](1000) NOT NULL,
	[DUNSNUMBER] [nvarchar](9) NOT NULL,
	[ADDRESSCOUNTRYREGIONISOCODE] [nvarchar](2) NOT NULL,
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[WITHHOLDINGTAXGROUPCODE] [nvarchar](10) NOT NULL,
	[DEFAULTPAYMENTTERMSNAME] [nvarchar](100) NOT NULL,
	[LINEDISCOUNTVENDORGROUPCODE] [nvarchar](10) NOT NULL,
	[BANKACCOUNTID] [nvarchar](10) NOT NULL,
	[CENTRALBANKPURPOSECODE] [nvarchar](10) NOT NULL,
	[CENTRALBANKPURPOSETEXT] [nvarchar](140) NOT NULL,
	[HASONLYTAKENBIDS] [int] NOT NULL,
	[ONHOLDSTATUS] [int] NOT NULL,
	[VENDORHOLDRELEASEDATE] [datetime] NOT NULL,
	[CASHDISCOUNTCODE] [nvarchar](10) NOT NULL,
	[ISPURCHASEORDERCHANGEREQUESTOVERRIDEALLOWED] [int] NOT NULL,
	[ISCHANGEMANAGEMENTACTIVATED] [int] NOT NULL,
	[ISCHANGEMANGEMENTOVERRIDEBYVENDORALLOWED] [int] NOT NULL,
	[CISCOMPANYREGISTRATIONNUMBER] [nvarchar](8) NOT NULL,
	[CISNATIONALINSURANCENUMBER] [nvarchar](9) NOT NULL,
	[CISSTATUS] [int] NOT NULL,
	[CISUNIQUETAXPAYERREFERENCE] [nvarchar](10) NOT NULL,
	[CISVERIFICATIONDATE] [datetime] NOT NULL,
	[CISVERIFICATIONNUMBER] [nvarchar](13) NOT NULL,
	[CLEARINGPERIODPAYMENTTERMSID] [nvarchar](100) NOT NULL,
	[COMMERCIALREGISTERNAME] [nvarchar](40) NOT NULL,
	[COMMERCIALREGISTERINSETNUMBER] [nvarchar](10) NOT NULL,
	[COMMERCIALREGISTERSECTION] [nvarchar](10) NOT NULL,
	[COMPANYCHAINNAME] [nvarchar](20) NOT NULL,
	[SIRETNUMBER] [nvarchar](14) NOT NULL,
	[COMPANYTYPE] [int] NOT NULL,
	[PRIMARYCONTACTPERSONID] [nvarchar](20) NOT NULL,
	[CREDITLIMIT] [numeric](32, 6) NOT NULL,
	[CREDITRATING] [nvarchar](10) NOT NULL,
	[UNIQUEPOPULATIONREGISTRYCODE] [nvarchar](18) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[TAX1099DOINGBUSINESSASNAME] [nvarchar](60) NOT NULL,
	[DEFAULTINVENTORYSTATUSID] [nvarchar](10) NOT NULL,
	[DESTINATIONCODE] [nvarchar](10) NOT NULL,
	[DIOTCOUNTRYCODE] [nvarchar](10) NOT NULL,
	[DEFAULTDELIVERYMODEID] [nvarchar](10) NOT NULL,
	[DEFAULTDELIVERYTERMSCODE] [nvarchar](10) NOT NULL,
	[DEFAULTTOTALDISCOUNTVENDORGROUPCODE] [nvarchar](10) NOT NULL,
	[FACTORINGVENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[FISCALCODE] [nvarchar](16) NOT NULL,
	[ISFOREIGNENTITY] [int] NOT NULL,
	[FOREIGNVENDORTAXREGISTRATIONID] [nvarchar](40) NOT NULL,
	[UPSFREIGHTZONE] [nvarchar](10) NOT NULL,
	[ISVENDORLOCATEDINHUBZONE] [int] NOT NULL,
	[AREPRICESINCLUDINGSALESTAX] [int] NOT NULL,
	[DEFAULTPROCUMENTWAREHOUSEID] [nvarchar](10) NOT NULL,
	[DEFAULTPURCHASESITEID] [nvarchar](10) NOT NULL,
	[INVOICEVENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[BUYERGROUPID] [nvarchar](10) NOT NULL,
	[LINEOFBUSINESSID] [nvarchar](10) NOT NULL,
	[CHARGEVENDORGROUPID] [nvarchar](10) NOT NULL,
	[VENDORINVOICELINEMATCHINGPOLICY] [int] NOT NULL,
	[NOTES] [nvarchar](max) NULL,
	[MULTILINEDISCOUNTVENDORGROUPCODE] [nvarchar](10) NOT NULL,
	[NAMECONTROL] [nvarchar](4) NOT NULL,
	[NATIONALITY] [nvarchar](50) NOT NULL,
	[NUMBERSEQUENCEGROUPID] [nvarchar](10) NOT NULL,
	[DEFAULTOFFSETACCOUNTTYPE] [int] NOT NULL,
	[ISONETIMEVENDOR] [int] NOT NULL,
	[DIOTOPERATIONTYPE] [int] NOT NULL,
	[NATIONALREGISTRYNUMBERID] [nvarchar](10) NOT NULL,
	[DEFAULTPAYMENTDAYNAME] [nvarchar](10) NOT NULL,
	[PAYMENTID] [nvarchar](200) NOT NULL,
	[DEFAULTVENDORPAYMENTMETHODNAME] [nvarchar](10) NOT NULL,
	[DEFAULTPAYMENTSCHEDULENAME] [nvarchar](30) NOT NULL,
	[PAYMENTSPECIFICATIONID] [nvarchar](10) NOT NULL,
	[PRICEVENDORGROUPID] [nvarchar](10) NOT NULL,
	[WILLPURCHASEORDERINCLUDEPRICESANDAMOUNTS] [int] NOT NULL,
	[PURCHASEWORKCALENDARID] [nvarchar](10) NOT NULL,
	[DEFAULTPURCHASEORDERPOOLID] [nvarchar](10) NOT NULL,
	[RFCFEDERALTAXNUMBER] [nvarchar](13) NOT NULL,
	[ISFLAGGEDWITHSECONDTIN] [int] NOT NULL,
	[BUSINESSSEGMENTCODE] [nvarchar](20) NOT NULL,
	[ISSMALLBUSINESS] [int] NOT NULL,
	[STATEINSCRIPTION] [nvarchar](30) NOT NULL,
	[BUSINESSSUBSEGMENTCODE] [nvarchar](20) NOT NULL,
	[DEFAULTSUPPLEMENTARYPRODUCTVENDORGROUPID] [nvarchar](10) NOT NULL,
	[PURCHASEREBATEVENDORGROUPID] [nvarchar](20) NOT NULL,
	[TAX1099NAMETOUSE] [int] NOT NULL,
	[ISREPORTINGTAX1099] [int] NOT NULL,
	[SALESTAXGROUPCODE] [nvarchar](10) NOT NULL,
	[TAX1099IDTYPE] [int] NOT NULL,
	[ISWITHHOLDINGTAXCALCULATED] [int] NOT NULL,
	[DEFAULTCASHDISCOUNTUSAGE] [int] NOT NULL,
	[TAXEXEMPTNUMBER] [nvarchar](20) NOT NULL,
	[VENDORGROUPID] [nvarchar](10) NOT NULL,
	[PRODUCTDESCRIPTIONVENDORGROUPID] [nvarchar](10) NOT NULL,
	[DIOTVENDORTYPE] [int] NOT NULL,
	[VENDORPRICETOLERANCEGROUPID] [nvarchar](10) NOT NULL,
	[ISW9RECEIVED] [int] NOT NULL,
	[ISW9CHECKINGENABLED] [int] NOT NULL,
	[OURACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[NAFCODE] [nvarchar](5) NOT NULL,
	[VENDORINVOICEDECLARATIONID] [nvarchar](10) NOT NULL,
	[PAYMENTTRANSACTIONCODE] [nvarchar](2) NOT NULL,
	[MAINCONTACTPERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[TAX1099BOXID] [nvarchar](10) NOT NULL,
	[TAX1099TYPE] [int] NOT NULL,
	[VENDOREXCEPTIONGROUPID] [nvarchar](10) NOT NULL,
	[ADDRESSDESCRIPTION] [nvarchar](60) NOT NULL,
	[ADDRESSCITY] [nvarchar](60) NOT NULL,
	[ADDRESSCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[ADDRESSCOUNTYID] [nvarchar](30) NOT NULL,
	[ADDRESSDISTRICTNAME] [nvarchar](60) NOT NULL,
	[ADDRESSLATITUDE] [numeric](32, 10) NOT NULL,
	[ADDRESSLOCATIONID] [nvarchar](40) NOT NULL,
	[ADDRESSLONGITUDE] [numeric](32, 10) NOT NULL,
	[ADDRESSSTATEID] [nvarchar](10) NOT NULL,
	[ADDRESSSTREET] [nvarchar](250) NOT NULL,
	[ADDRESSBUILDINGCOMPLIMENT] [nvarchar](60) NOT NULL,
	[ADDRESSSTREETNUMBER] [nvarchar](20) NOT NULL,
	[ADDRESSTIMEZONE] [int] NOT NULL,
	[ADDRESSVALIDFROM] [datetime] NOT NULL,
	[ADDRESSVALIDTO] [datetime] NOT NULL,
	[ADDRESSZIPCODE] [nvarchar](10) NOT NULL,
	[ADDRESSPOSTBOX] [nvarchar](20) NOT NULL,
	[ADDRESSCITYINKANA] [nvarchar](60) NOT NULL,
	[ADDRESSSTREETINKANA] [nvarchar](250) NOT NULL,
	[ADDRESSBRAZILIANCNPJORCPF] [nvarchar](20) NOT NULL,
	[ADDRESSBRAZILIANIE] [nvarchar](20) NOT NULL,
	[FORMATTEDPRIMARYADDRESS] [nvarchar](250) NOT NULL,
	[VENDORKNOWNASNAME] [nvarchar](100) NOT NULL,
	[LANGUAGEID] [nvarchar](7) NOT NULL,
	[VENDORORGANIZATIONNAME] [nvarchar](100) NOT NULL,
	[VENDORSEARCHNAME] [nvarchar](20) NOT NULL,
	[ORGANIZATIONABCCODE] [int] NOT NULL,
	[ORGANIZATIONNUMBER] [nvarchar](25) NOT NULL,
	[ORGANIZATIONEMPLOYEEAMOUNT] [int] NOT NULL,
	[ORGANIZATIONPHONETICNAME] [nvarchar](100) NOT NULL,
	[VENDORPARTYNUMBER] [nvarchar](40) NOT NULL,
	[PERSONANNIVERSARYDAY] [int] NOT NULL,
	[PERSONANNIVERSARYMONTH] [int] NOT NULL,
	[PERSONANNIVERSARYYEAR] [int] NOT NULL,
	[PERSONBIRTHDAY] [int] NOT NULL,
	[PERSONBIRTHMONTH] [int] NOT NULL,
	[PERSONBIRTHYEAR] [int] NOT NULL,
	[PERSONCHILDRENNAMES] [nvarchar](150) NOT NULL,
	[PERSONGENDER] [int] NOT NULL,
	[PERSONHOBBIES] [nvarchar](150) NOT NULL,
	[PERSONFIRSTNAME] [nvarchar](25) NOT NULL,
	[PERSONMIDDLENAME] [nvarchar](25) NOT NULL,
	[PERSONLASTNAMEPREFIX] [nvarchar](25) NOT NULL,
	[PERSONLASTNAME] [nvarchar](25) NOT NULL,
	[PERSONINITIALS] [nvarchar](10) NOT NULL,
	[PERSONMARITALSTATUS] [int] NOT NULL,
	[PERSONPERSONALSUFFIX] [nvarchar](50) NOT NULL,
	[PERSONPERSONALTITLE] [nvarchar](50) NOT NULL,
	[PERSONPHONETICFIRSTNAME] [nvarchar](25) NOT NULL,
	[PERSONPHONETICLASTNAME] [nvarchar](25) NOT NULL,
	[PERSONPHONETICMIDDLENAME] [nvarchar](25) NOT NULL,
	[PERSONPROFESSIONALSUFFIX] [nvarchar](50) NOT NULL,
	[PERSONPROFESSIONALTITLE] [nvarchar](50) NOT NULL,
	[PRIMARYEMAILADDRESS] [nvarchar](255) NOT NULL,
	[PRIMARYEMAILADDRESSDESCRIPTION] [nvarchar](60) NOT NULL,
	[ISPRIMARYEMAILADDRESSIMENABLED] [int] NOT NULL,
	[PRIMARYFAXNUMBER] [nvarchar](255) NOT NULL,
	[PRIMARYFAXNUMBERDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYFAXNUMBEREXTENSION] [nvarchar](10) NOT NULL,
	[PRIMARYPHONENUMBER] [nvarchar](255) NOT NULL,
	[PRIMARYPHONENUMBERDESCRIPTION] [nvarchar](60) NOT NULL,
	[ISPRIMARYPHONENUMBERMOBILE] [int] NOT NULL,
	[PRIMARYTELEX] [nvarchar](255) NOT NULL,
	[PRIMARYTELEXDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYURL] [nvarchar](255) NOT NULL,
	[PRIMARYURLDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYFACEBOOK] [nvarchar](255) NOT NULL,
	[PRIMARYFACEBOOKDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYLINKEDIN] [nvarchar](255) NOT NULL,
	[PRIMARYLINKEDINDESCRIPTION] [nvarchar](60) NOT NULL,
	[PRIMARYTWITTER] [nvarchar](255) NOT NULL,
	[PRIMARYTWITTERDESCRIPTION] [nvarchar](60) NOT NULL,
	[WILLPURCHASEORDERPROCESSINGSUMMARYUPDATEPURCHASEORDER] [int] NOT NULL,
	[WILLPRODUCTRECEIPTPROCESSINGSUMMARYUPDATEPURCHASEORDER] [int] NOT NULL,
	[WILLRECEIPTSLISTPROCESSINGSUMMARYUPDATEPURCHASEORDER] [int] NOT NULL,
	[WILLINVOICEPROCESSINGSUMMARYUPDATEPURCHASEORDER] [int] NOT NULL,
	[ISCUSIPIDENTIFICATIONNUMBERAPPLICABLE] [int] NOT NULL,
	[CUSIPIDENTIFICATIONNUMBER] [nvarchar](9) NOT NULL,
	[CUSIPDETAILS] [nvarchar](60) NOT NULL,
	[OIDINVESTORTYPE] [int] NOT NULL,
	[OIDNOMINEEDETAILS] [nvarchar](60) NOT NULL,
	[ISNATIONALREGISTRYNUMBER] [nvarchar](10) NOT NULL,
	[WITHHOLDINGTAXVENDORTYPE] [int] NOT NULL,
	[PURCHASEORDERCONSOLIDATIONDAYOFMONTH] [int] NOT NULL,
	[PAYMENTFEEGROUPID] [nvarchar](20) NOT NULL,
	[ISVENDORPAYINGBANKPAYMENTFEE] [int] NOT NULL,
	[BRAZILIANCCM] [nvarchar](20) NOT NULL,
	[BRAZILIANCNPJORCPF] [nvarchar](20) NOT NULL,
	[BRAZILIANCNAE] [nvarchar](10) NOT NULL,
	[FOREIGNERID] [nvarchar](20) NOT NULL,
	[BRAZILIANIE] [nvarchar](20) NOT NULL,
	[BRAZILIANNIT] [nvarchar](14) NOT NULL,
	[FISCALOPERATIONPRESENCETYPE] [int] NOT NULL,
	[ISSERVICEDELIVERYADDRESSBASED] [int] NOT NULL,
	[ISPURCHASECONSUMED] [int] NOT NULL,
	[BRAZILIANINSSCEI] [nvarchar](15) NOT NULL,
	[ISINCOMINGFISCALDOCUMENTGENERATED] [int] NOT NULL,
	[ISICMSCONTRIBUTOR] [int] NOT NULL,
	[VENDORPORTALCOLLABORATIONMETHOD] [int] NOT NULL,
	[PRIMARYPHONENUMBEREXTENSION] [nvarchar](10) NOT NULL,
	[ZAKATREGISTRATIONNUMBER] [nvarchar](25) NOT NULL,
	[ZAKATFILENUMBER] [nvarchar](15) NOT NULL,
	[ISSUBCONTRACTOR] [int] NOT NULL,
	[ZAKATSERVICETYPE] [nvarchar](25) NOT NULL,
	[ISGSTCOMPOSITIONSCHEMEENABLED] [int] NOT NULL,
	[BANKTRANSACTIONTYPE] [nvarchar](10) NOT NULL,
	[BANKORDEROFPAYMENT] [nvarchar](2) NOT NULL,
	[FOREIGNRESIDENT] [int] NOT NULL,
	[INVENTORYPROFILE] [nvarchar](10) NOT NULL,
	[INVENTORYPROFILETYPE] [int] NOT NULL,
	[SEPARATEDIVISIONID] [nvarchar](20) NOT NULL,
	[STRUCTUREDEPARTMENT] [nvarchar](30) NOT NULL,
	[TAXOPERATIONCODE] [nvarchar](10) NOT NULL,
	[TAXPARTNERKIND] [int] NOT NULL,
	[TAXAGENT] [int] NOT NULL,
	[PRIMARYCONTACTFAXRECORDID] [bigint] NOT NULL,
	[PRIMARYCONTACTPHONERECORDID] [bigint] NOT NULL,
	[PRIMARYCONTACTEMAILRECORDID] [bigint] NOT NULL,
	[PRIMARYCONTACTURLRECORDID] [bigint] NOT NULL,
	[ADDRESSRECORDID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[YSLEKOFAXOCRAUTOMATION] [int] NOT NULL,
	[DEFAULTAGENTVENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[VENDORCOSTTYPEGROUP] [nvarchar](20) NOT NULL,
	[DEFAULTFROMSHIPPINGPORTID] [nvarchar](20) NOT NULL,
	[ISIMPORTCOSTINGVENDOR] [int] NOT NULL,
	[VENDOROVERUNDERDELIVERYTOLERANCEGROUPID] [nvarchar](10) NOT NULL,
	[ISTRANSPORTATIONSERVICESPROVIDER] [int] NOT NULL,
	[SHIPPINGVENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[SHIPPINGVENDORTYPE] [int] NOT NULL,
	[YSLEBLOCKED] [int] NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_VendVendorV2Staging] PRIMARY KEY CLUSTERED 
(
	[VENDORACCOUNTNUMBER] ASC,
	[EXECUTIONID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
