/****** Object:  Table [dbo].[SMRBIVendPackingSlipTransStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendPackingSlipTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DELIVERYDATE] [datetime] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[ORDERED] [numeric](32, 6) NOT NULL,
	[ORIGPURCHID] [nvarchar](20) NOT NULL,
	[PACKINGSLIPID] [nvarchar](20) NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[PURCHASELINEEXPECTEDDELIVERYDATE] [datetime] NOT NULL,
	[PURCHASELINELINENUMBER] [bigint] NOT NULL,
	[PURCHUNIT] [nvarchar](10) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[VENDPACKINGSLIPJOUR] [bigint] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIVendPackingSlipTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[DELIVERYDATE] ASC,
	[INVENTDIMID] ASC,
	[ITEMID] ASC,
	[LINENUM] ASC,
	[ORDERED] ASC,
	[ORIGPURCHID] ASC,
	[PACKINGSLIPID] ASC,
	[PRICEUNIT] ASC,
	[PURCHASELINEEXPECTEDDELIVERYDATE] ASC,
	[PURCHASELINELINENUMBER] ASC,
	[PURCHUNIT] ASC,
	[QTY] ASC,
	[VENDPACKINGSLIPJOUR] ASC,
	[COMPANY] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
