/****** Object:  Table [dbo].[SMRBIGeneralJournalAccountEntryStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIGeneralJournalAccountEntryStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACCOUNTINGDATE] [datetime] NOT NULL,
	[ACCOUNTINGCURRENCYAMOUNT] [numeric](32, 6) NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[DOCUMENTDATE] [datetime] NOT NULL,
	[DOCUMENTNUMBER] [nvarchar](20) NOT NULL,
	[GENERALJOURNALACCOUNTENTRYRECID] [bigint] NOT NULL,
	[LEDGERNAME] [nvarchar](20) NOT NULL,
	[REPORTINGCURRENCYAMOUNT] [numeric](32, 6) NOT NULL,
	[TRANSACTIONCURRENCYAMOUNT] [numeric](32, 6) NOT NULL,
	[TRANSACTIONCURRENCYCODE] [nvarchar](3) NOT NULL,
	[LEDGERDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[JOURNALNUMBER] [nvarchar](20) NOT NULL,
	[VOUCHER] [nvarchar](20) NOT NULL,
	[JOURNALCATEGORY] [int] NOT NULL,
	[ISCREDIT] [int] NOT NULL,
	[GENERALJOURNALACCOUNTENTRYDIMENSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[YSLEVENDORVALUE] [nvarchar](30) NOT NULL,
	[YSLESHIPMENTCONTRACTVALUE] [nvarchar](30) NOT NULL,
	[YSLEINTERCOMPANYVALUE] [nvarchar](30) NOT NULL,
	[YSLELOCATIONVALUE] [nvarchar](30) NOT NULL,
	[YSLEENDCUSTOMERVALUE] [nvarchar](30) NOT NULL,
	[YSLEPRODUCTVALUE] [nvarchar](30) NOT NULL,
	[YSLEDEPARTMENTVALUE] [nvarchar](30) NOT NULL,
	[YSLELOCALACCOUNTVALUE] [nvarchar](30) NOT NULL,
	[YSLETEXT] [nvarchar](512) NOT NULL,
	[YSLEMAINACCOUNT] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIGeneralJournalAccountEntryStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[GENERALJOURNALACCOUNTENTRYRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
