/****** Object:  Table [dbo].[SMRBIReqTransStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIReqTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COVQTY] [numeric](32, 6) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DIRECTION] [int] NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[PLANVERSION] [bigint] NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[REQTRANSREQID] [bigint] NOT NULL,
	[REFID] [nvarchar](20) NOT NULL,
	[REFTYPE] [int] NOT NULL,
	[REQDATE] [datetime] NOT NULL,
	[ACTIONDATE] [datetime] NOT NULL,
	[COVINVENTDIMID] [nvarchar](20) NOT NULL,
	[CUSTACCOUNTID] [nvarchar](20) NOT NULL,
	[INVENTTRANSORIGIN] [bigint] NOT NULL,
	[ACTIONTYPE] [int] NOT NULL,
	[ACTIONMARKED] [int] NOT NULL,
	[ACTIONDAYS] [int] NOT NULL,
	[FUTURESCALCULATED] [int] NOT NULL,
	[FUTURESDATE] [datetime] NOT NULL,
	[FUTURESDAYS] [int] NOT NULL,
	[FUTURESMARKED] [int] NOT NULL,
	[REQTIME] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIReqTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[REQTRANSREQID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
