/****** Object:  Table [dbo].[SMRBIWorkCalendarEmploymentStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIWorkCalendarEmploymentStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CALENDARDATAAREAID] [nvarchar](4) NOT NULL,
	[CALENDARID] [nvarchar](10) NOT NULL,
	[HCMEMPLOYMENT_FK_VALIDFROM] [datetime] NOT NULL,
	[HCMEMPLOYMENT_FK_VALIDTO] [datetime] NOT NULL,
	[COMPANYINFO_FK_PARTYNUMBER] [nvarchar](40) NOT NULL,
	[COMPANYINFO_FK_DATAAREA] [nvarchar](4) NOT NULL,
	[HCMWORKER_FK_PERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[DIRPERSON_FK_PARTYNUMBER] [nvarchar](40) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIWorkCalendarEmploymentStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[HCMEMPLOYMENT_FK_VALIDFROM] ASC,
	[HCMEMPLOYMENT_FK_VALIDTO] ASC,
	[COMPANYINFO_FK_DATAAREA] ASC,
	[HCMWORKER_FK_PERSONNELNUMBER] ASC,
	[DIRPERSON_FK_PARTYNUMBER] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
