/****** Object:  Table [dbo].[SMRBIInventItemPendingPriceStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventItemPendingPriceStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[FROMDATE] [datetime] NOT NULL,
	[ITEMNUMBER] [nvarchar](20) NOT NULL,
	[PRICE] [numeric](32, 16) NOT NULL,
	[PRICETYPE] [int] NOT NULL,
	[PRICEQUANTITY] [numeric](32, 12) NOT NULL,
	[PRICESITEID] [nvarchar](10) NOT NULL,
	[PRODUCTUNITSYMBOL] [nvarchar](10) NOT NULL,
	[PRODUCTCONFIGURATIONID] [nvarchar](50) NOT NULL,
	[PRODUCTCOLORID] [nvarchar](10) NOT NULL,
	[PRODUCTSIZEID] [nvarchar](10) NOT NULL,
	[PRODUCTSTYLEID] [nvarchar](10) NOT NULL,
	[COSTINGVERSIONID] [nvarchar](10) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[UNITID] [nvarchar](10) NOT NULL,
	[PRICECALCID] [nvarchar](20) NOT NULL,
	[MARKUP] [numeric](32, 16) NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIInventItemPendingPriceStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[FROMDATE] ASC,
	[ITEMNUMBER] ASC,
	[PRICETYPE] ASC,
	[PRICESITEID] ASC,
	[PRODUCTCONFIGURATIONID] ASC,
	[PRODUCTCOLORID] ASC,
	[PRODUCTSIZEID] ASC,
	[PRODUCTSTYLEID] ASC,
	[COSTINGVERSIONID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
