/****** Object:  Table [dbo].[SMRBIProjBudgetLineDetailStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjBudgetLineDetailStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COSTPRICE] [numeric](32, 6) NOT NULL,
	[HCMWORKER] [bigint] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[PROJBUDGETLINE] [bigint] NOT NULL,
	[PROJBUDGETREVISIONLINE] [bigint] NOT NULL,
	[QUANTITY] [numeric](32, 6) NOT NULL,
	[RESOURCE_] [bigint] NOT NULL,
	[RESOURCECATEGORY] [bigint] NOT NULL,
	[SALESCATEGORY] [bigint] NOT NULL,
	[SALESPRICE] [numeric](32, 6) NOT NULL,
	[SALESUNITID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProjBudgetLineDetailStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PROJBUDGETLINE] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
