/****** Object:  Table [dbo].[SMRBIVendReviewCriterionRatingStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendReviewCriterionRatingStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CRITERION] [bigint] NOT NULL,
	[RATING] [int] NOT NULL,
	[VALIDFROM] [datetime] NOT NULL,
	[VALIDTO] [datetime] NOT NULL,
	[VENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[VENDORDATAAREAID] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIVendReviewCriterionRatingStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CRITERION] ASC,
	[RATING] ASC,
	[VALIDFROM] ASC,
	[VALIDTO] ASC,
	[VENDORACCOUNTNUMBER] ASC,
	[VENDORDATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
