/****** Object:  Table [dbo].[SMRBIProjEmplTransStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjEmplTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTIVITYNUMBER] [nvarchar](50) NOT NULL,
	[CATEGORYID] [nvarchar](30) NOT NULL,
	[CURRENCYID] [nvarchar](3) NOT NULL,
	[LINEPROPERTYID] [nvarchar](10) NOT NULL,
	[PROJID] [nvarchar](20) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[TOTALCOSTAMOUNTCUR] [numeric](32, 6) NOT NULL,
	[TOTALSALESAMOUNTCUR] [numeric](32, 6) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[TRANSID] [nvarchar](20) NOT NULL,
	[TXT] [nvarchar](255) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[WORKER] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIProjEmplTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[TRANSID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
