/****** Object:  Table [dbo].[SMRBIVendInvoiceJourStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendInvoiceJourStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DLVMODE] [nvarchar](10) NOT NULL,
	[DLVTERM] [nvarchar](10) NOT NULL,
	[INTERNALINVOICEID] [nvarchar](20) NOT NULL,
	[INVOICEACCOUNT] [nvarchar](20) NOT NULL,
	[INVOICEAMOUNT] [numeric](32, 6) NOT NULL,
	[INVOICEAMOUNTMST] [numeric](32, 6) NOT NULL,
	[INVOICEDATE] [datetime] NOT NULL,
	[INVOICEID] [nvarchar](20) NOT NULL,
	[PAYMENT] [nvarchar](100) NOT NULL,
	[PURCHID] [nvarchar](20) NOT NULL,
	[VENDINVOICEJOURRECID] [bigint] NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[SUMTAX] [numeric](32, 6) NOT NULL,
	[VENDINVOICEJOURCREATEDBY] [nvarchar](20) NOT NULL,
	[VENDINVOICEJOURCREATEDDATETIME] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIVendInvoiceJourStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[VENDINVOICEJOURRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
