/****** Object:  Table [dbo].[SMRBIVendInvoiceTransStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendInvoiceTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DESCRIPTION] [nvarchar](1000) NOT NULL,
	[INTERNALINVOICEID] [nvarchar](20) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[INVOICEDATE] [datetime] NOT NULL,
	[INVOICEID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINEAMOUNT] [numeric](32, 6) NOT NULL,
	[LINEAMOUNTMST] [numeric](32, 6) NOT NULL,
	[LINEDISC] [numeric](32, 6) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[LINEPERCENT] [numeric](32, 6) NOT NULL,
	[ORIGPURCHID] [nvarchar](20) NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[PURCHPRICE] [numeric](32, 6) NOT NULL,
	[PURCHUNIT] [nvarchar](10) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[VENDINVOICETRANSRECID] [bigint] NOT NULL,
	[TAXWRITECODE] [nvarchar](10) NOT NULL,
	[DEFAULTDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[LEDGERDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[VENDINVOICETRANSDIMENSION] [bigint] NOT NULL,
	[DEFAULTDIMENSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIVendInvoiceTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[VENDINVOICETRANSRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
