/****** Object:  Table [dbo].[SMRBICustomerStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICustomerStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMMISSIONSALESGROUPID] [nvarchar](10) NOT NULL,
	[CUSTOMERACCOUNT] [nvarchar](20) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[CUSTOMERGROUPID] [nvarchar](10) NOT NULL,
	[PARTYNUMBER] [nvarchar](40) NOT NULL,
	[SALESSEGMENTID] [nvarchar](20) NOT NULL,
	[SALESSUBSEGMENTID] [nvarchar](20) NOT NULL,
	[DELIVERYADDRESSLOCATIONID] [nvarchar](40) NOT NULL,
	[CUSTCLASSIFICATIONID] [nvarchar](10) NOT NULL,
	[CREATEDDATETIME1] [datetime] NOT NULL,
	[CUSTOMERRECID] [bigint] NOT NULL,
	[DLVTERM] [nvarchar](10) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[CITY] [nvarchar](60) NOT NULL,
	[COUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[ZIPCODE] [nvarchar](10) NOT NULL,
	[ADDRESS] [nvarchar](250) NOT NULL,
	[ADDRESSVALIDTO] [datetime] NOT NULL,
	[ADDRESSVALIDFROM] [datetime] NOT NULL,
	[DELIVERYVALIDTO] [datetime] NOT NULL,
	[DELIVERYVALIDFROM] [datetime] NOT NULL,
	[ONHOLDSTATUS] [int] NOT NULL,
	[CREDITLIMITISMANDATORY] [int] NOT NULL,
	[CREDITLIMIT] [numeric](32, 6) NOT NULL,
	[MAINCONTACTWORKER] [bigint] NOT NULL,
	[DEFAULTDIMENSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[YSLECOMPANYCHAINID] [nvarchar](20) NOT NULL,
	[YSLEGROUPDIMENSION] [nvarchar](10) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBICustomerStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CUSTOMERACCOUNT] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
