/****** Object:  Table [dbo].[SMRBIPurchPurchaseOrderHeaderStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPurchPurchaseOrderHeaderStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PURCHASEORDERSTATUS] [int] NOT NULL,
	[ORDERVENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[REQUESTEDDELIVERYDATE] [datetime] NOT NULL,
	[TOTALDISCOUNTPERCENTAGE] [numeric](32, 6) NOT NULL,
	[DELIVERYMODEID] [nvarchar](10) NOT NULL,
	[DELIVERYTERMSID] [nvarchar](10) NOT NULL,
	[INVOICEVENDORACCOUNTNUMBER] [nvarchar](20) NOT NULL,
	[PAYMENTTERMSNAME] [nvarchar](100) NOT NULL,
	[PURCHASEORDERNUMBER] [nvarchar](20) NOT NULL,
	[VENDORORDERREFERENCE] [nvarchar](60) NOT NULL,
	[DELIVERYADDRESSCITY] [nvarchar](60) NOT NULL,
	[DELIVERYADDRESSCOUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[DELIVERYADDRESSSTREET] [nvarchar](250) NOT NULL,
	[DELIVERYADDRESSSTREETNUMBER] [nvarchar](20) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[DELIVERYADDRESSZIPCODE] [nvarchar](10) NOT NULL,
	[PURCHTABLECREATEDDATETIME] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PURCHTABLERECID] [bigint] NOT NULL,
	[DOCUMENTSTATUS] [int] NOT NULL,
	[PURCHASETYPE] [int] NOT NULL,
	[WORKERPURCHPLACER] [bigint] NOT NULL,
	[ITEMBUYERGROUPID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIPurchPurchaseOrderHeaderStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PURCHASEORDERNUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
