/****** Object:  Table [dbo].[YSLEShipmentInvoiceDetailsStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YSLEShipmentInvoiceDetailsStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[SHIPMENTID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[INVOICEDATE] [datetime] NOT NULL,
	[VENDINVOICEID] [nvarchar](20) NOT NULL,
	[CUSTINVOICEID] [nvarchar](20) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[AMOUNT] [numeric](32, 6) NOT NULL,
	[VOUCHER] [nvarchar](20) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_YSLEShipmentInvoiceDetailsStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[SHIPMENTID] ASC,
	[LINENUM] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
