/****** Object:  Table [dbo].[SMRBIInventDimStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventDimStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CONFIGID] [nvarchar](50) NOT NULL,
	[INVENTBATCHID] [nvarchar](20) NOT NULL,
	[INVENTCOLORID] [nvarchar](10) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTLOCATIONID] [nvarchar](10) NOT NULL,
	[INVENTSITEID] [nvarchar](10) NOT NULL,
	[INVENTSIZEID] [nvarchar](10) NOT NULL,
	[INVENTSTATUSID] [nvarchar](10) NOT NULL,
	[INVENTSTYLEID] [nvarchar](10) NOT NULL,
	[WMSLOCATIONID] [nvarchar](10) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTDIMMODIFIEDDATETIME] [datetime] NOT NULL,
	[INVENTSERIALID] [nvarchar](20) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIInventDimStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INVENTDIMID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
