/****** Object:  Table [dbo].[SMRBIWrkCtrCapResStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIWrkCtrCapResStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[ENDTIME] [int] NOT NULL,
	[REFID] [nvarchar](20) NOT NULL,
	[REFTYPE] [int] NOT NULL,
	[STARTTIME] [int] NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[WRKCTRID] [nvarchar](10) NOT NULL,
	[WRKCTRLOADPCT] [numeric](32, 6) NOT NULL,
	[WRKCTRSEC] [numeric](32, 6) NOT NULL,
	[PLANVERSION] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIWrkCtrCapResStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[COMPANY] ASC,
	[ENDTIME] ASC,
	[REFID] ASC,
	[REFTYPE] ASC,
	[STARTTIME] ASC,
	[TRANSDATE] ASC,
	[WRKCTRID] ASC,
	[WRKCTRLOADPCT] ASC,
	[WRKCTRSEC] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
