/****** Object:  Table [dbo].[SMRBIPurchRFQTableStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPurchRFQTableStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DLVMODE] [nvarchar](10) NOT NULL,
	[DLVTERM] [nvarchar](10) NOT NULL,
	[RFQCASEID] [nvarchar](20) NOT NULL,
	[RFQID] [nvarchar](20) NOT NULL,
	[RFQNAME] [nvarchar](100) NOT NULL,
	[VENDACCOUNT] [nvarchar](20) NOT NULL,
	[PURCHRFQTABLECREATEDDATETIME] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIPurchRFQTableStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[COMPANY] ASC,
	[DLVMODE] ASC,
	[DLVTERM] ASC,
	[RFQCASEID] ASC,
	[RFQID] ASC,
	[RFQNAME] ASC,
	[VENDACCOUNT] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
