/****** Object:  Table [dbo].[SMRBIEcoResProductSpecificUnitOfMeasureConversionStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIEcoResProductSpecificUnitOfMeasureConversionStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DENOMINATOR] [int] NOT NULL,
	[FACTOR] [numeric](32, 16) NOT NULL,
	[FROMUNITSYMBOL] [nvarchar](10) NOT NULL,
	[INNEROFFSET] [numeric](32, 6) NOT NULL,
	[NUMERATOR] [int] NOT NULL,
	[OUTEROFFSET] [numeric](32, 6) NOT NULL,
	[PRODUCTNUMBER] [nvarchar](70) NOT NULL,
	[ROUNDING] [int] NOT NULL,
	[TOUNITSYMBOL] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIEcoResProductSpecificUnitOfMeasureConversionStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[FROMUNITSYMBOL] ASC,
	[PRODUCTNUMBER] ASC,
	[TOUNITSYMBOL] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
