/****** Object:  Table [dbo].[SMRBIInventTestCorrectionStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventTestCorrectionStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CORRECTIONCOMPLETED] [int] NOT NULL,
	[CORRECTIONCOMPLETEDDATETIME] [datetime] NOT NULL,
	[CORRECTIONRESPONSIBLEWORKER] [bigint] NOT NULL,
	[DIAGNOSTICTYPEID] [nvarchar](20) NOT NULL,
	[INVENTNONCONFORMANCEID] [nvarchar](20) NOT NULL,
	[PLANNEDDATE] [datetime] NOT NULL,
	[PRIORITY] [int] NOT NULL,
	[REQUESTEDDATE] [datetime] NOT NULL,
	[SHORTTERMCORRECTION] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIInventTestCorrectionStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INVENTNONCONFORMANCEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
