/****** Object:  Table [dbo].[SMRBIDimensionAttributeLevelValueAllViewStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIDimensionAttributeLevelValueAllViewStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[VALUECOMBINATIONRECID] [bigint] NOT NULL,
	[DISPLAYVALUE] [nvarchar](30) NOT NULL,
	[ENTITYINSTANCE] [bigint] NOT NULL,
	[DIMENSIONATTRIBUTE] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIDimensionAttributeLevelValueAllViewStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[VALUECOMBINATIONRECID] ASC,
	[DISPLAYVALUE] ASC,
	[ENTITYINSTANCE] ASC,
	[DIMENSIONATTRIBUTE] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
