/****** Object:  Table [dbo].[SMRBIProjectStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjectStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PROJECTID] [nvarchar](20) NOT NULL,
	[CUSTOMERACCOUNT] [nvarchar](20) NOT NULL,
	[ACTUALENDDATE] [datetime] NOT NULL,
	[PROJECTNAME] [nvarchar](60) NOT NULL,
	[PROJECTGROUPID] [nvarchar](10) NOT NULL,
	[ACTUALSTARTDATE] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIProjectStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PROJECTID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
