/****** Object:  Table [dbo].[SMRBIRouteCostCategoryStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIRouteCostCategoryStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CATEGORYID] [nvarchar](30) NOT NULL,
	[COSTGROUPID] [nvarchar](10) NOT NULL,
	[UNITCOST] [numeric](32, 6) NOT NULL,
	[ABSORBEDMANUFACTURINGCOSTMAINACCOUNTIDDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[ABSORBEDWIPMANUFACTURINGCOSTMAINACCOUNTIDDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[ESTIMATEDABSORBEDMANUFACTURINGCOSTMAINACCOUNTIDDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[ESTIMATEDABSORBEDWIPMANUFACTURINGCOSTMAINACCOUNTIDDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIRouteCostCategoryStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CATEGORYID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
