/****** Object:  Table [dbo].[SMRBIWorkCalendarStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIWorkCalendarStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CALENDARID] [nvarchar](10) NOT NULL,
	[CALENDARNAME] [nvarchar](60) NOT NULL,
	[WORKHOURS] [numeric](32, 6) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[BASICCALENDARID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIWorkCalendarStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CALENDARID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
