/****** Object:  Table [dbo].[SMRBIWorkCalendarDateStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIWorkCalendarDateStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CALENDARID] [nvarchar](10) NOT NULL,
	[CLOSEDFORPICKUP] [int] NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[WORKTIMECONTROL] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIWorkCalendarDateStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CALENDARID] ASC,
	[TRANSDATE] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
