/****** Object:  Table [dbo].[SMRBIProjInvoiceItemStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjInvoiceItemStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTIVITYNUMBER] [nvarchar](50) NOT NULL,
	[CATEGORYID] [nvarchar](30) NOT NULL,
	[CURRENCYID] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVOICEDATE] [datetime] NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINEAMOUNT] [numeric](32, 6) NOT NULL,
	[PROJID] [nvarchar](20) NOT NULL,
	[PROJINVOICEID] [nvarchar](20) NOT NULL,
	[PROJTRANSID] [nvarchar](20) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[TAXAMOUNT] [numeric](32, 6) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[TXT] [nvarchar](1000) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProjInvoiceItemStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ITEMID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
