/****** Object:  Table [dbo].[SMRBICaseDetailBaseStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICaseDetailBaseStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CASEID] [nvarchar](10) NOT NULL,
	[CATEGORYRECID] [bigint] NOT NULL,
	[CLOSEDBY] [nvarchar](20) NOT NULL,
	[CLOSEDDATETIME] [datetime] NOT NULL,
	[CONTACTPERSONID] [nvarchar](20) NOT NULL,
	[DEPARTMENT] [bigint] NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[EMAILID] [nvarchar](10) NOT NULL,
	[INSTANCERELATIONTYPE] [bigint] NOT NULL,
	[MEMO] [nvarchar](max) NULL,
	[OWNERWORKER] [bigint] NOT NULL,
	[PRIORITY] [nvarchar](20) NOT NULL,
	[PROCESS] [nvarchar](20) NOT NULL,
	[STATUS] [int] NOT NULL,
	[CASECATEGORYHIERARCHYDETAIL_CASECATEGORY] [nvarchar](10) NOT NULL,
	[CASECATEGORYHIERARCHYDETAIL_CATEGORYTYPE] [int] NOT NULL,
	[OMOPERATINGUNIT_PARTYNUMBER] [nvarchar](40) NOT NULL,
	[OMOPERATINGUNIT_OMOPERATINGUNITTYPE] [int] NOT NULL,
	[ONWERWORKER_PERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[PARTY_FK_PARTYNUMBER] [nvarchar](40) NOT NULL,
	[CASEDETAILMODIFIEDBY] [nvarchar](20) NOT NULL,
	[CASEDETAILMODIFIEDDATETIME] [datetime] NOT NULL,
	[CASEDETAILMODIFIEDTRANSACTIONID] [bigint] NOT NULL,
	[CASEDETAILRECVERSION] [int] NOT NULL,
	[PLANNEDEFFECTIVEDATE] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[CASEDETAILCREATEDBY] [nvarchar](20) NOT NULL,
	[CASEDETAILCREATEDDATETIME] [datetime] NOT NULL,
	[CASEDETAILBASERECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICaseDetailBaseStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CASEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
