/****** Object:  Table [dbo].[CostSheetNodeStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CostSheetNodeStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ISCALCULATIONFACTORSPECIFIEDPERITEM] [int] NOT NULL,
	[RATENODESUBTYPE] [int] NOT NULL,
	[SURCHARGENODESUBTYPE] [int] NOT NULL,
	[UNITBASEDNODESUBTYPE] [int] NOT NULL,
	[NODENAME] [nvarchar](30) NOT NULL,
	[COSTGROUPID] [nvarchar](10) NOT NULL,
	[NODEDESCRIPTION] [nvarchar](60) NOT NULL,
	[ISNODESHOWNASHEADER] [int] NOT NULL,
	[PRICENODESUBTYPE] [int] NOT NULL,
	[ISNODESHOWNASTOTALLINE] [int] NOT NULL,
	[NODETYPE] [int] NOT NULL,
	[DEFAULTLEDGERDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[ESTIMATEDINDIRECTABSORPTIONMAINACCOUNTIDDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[ESTIMATEDINDIRECTABSORPTIONOFFSETMAINACCOUNTIDDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[INDIRECTABSORPTIONMAINACCOUNTIDDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[INDIRECTABSORPTIONOFFSETMAINACCOUNTIDDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[PARENTNODENAME] [nvarchar](30) NOT NULL,
	[ABSORPTIONBASISNODENAME] [nvarchar](30) NOT NULL,
	[SURCHARGENODEABSORPTIONBASISSUBTYPE] [int] NOT NULL,
	[RATENODEABSORPTIONBASISSUBTYPE] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_CostSheetNodeStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[NODENAME] ASC,
	[ABSORPTIONBASISNODENAME] ASC,
	[SURCHARGENODEABSORPTIONBASISSUBTYPE] ASC,
	[RATENODEABSORPTIONBASISSUBTYPE] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
