/****** Object:  Table [dbo].[SMRBIProdCalcTransStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProdCalcTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BOM] [int] NOT NULL,
	[CALCTYPE] [int] NOT NULL,
	[COLLECTREFLEVEL] [int] NOT NULL,
	[CONSUMPCONSTANT] [numeric](32, 16) NOT NULL,
	[CONSUMPTYPE] [int] NOT NULL,
	[CONSUMPVARIABLE] [numeric](32, 16) NOT NULL,
	[COSTAMOUNT] [numeric](32, 16) NOT NULL,
	[COSTGROUPID] [nvarchar](10) NOT NULL,
	[COSTMARKUP] [numeric](32, 16) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[IDREFRECID] [bigint] NOT NULL,
	[IDREFTABLEID] [int] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[OPRID] [nvarchar](10) NOT NULL,
	[OPRNUM] [int] NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[REALCONSUMP] [numeric](32, 16) NOT NULL,
	[REALCOSTADJUSTMENT] [numeric](32, 16) NOT NULL,
	[REALCOSTAMOUNT] [numeric](32, 16) NOT NULL,
	[REALQTY] [numeric](32, 16) NOT NULL,
	[RESOURCE_] [nvarchar](30) NOT NULL,
	[SALESAMOUNT] [numeric](32, 6) NOT NULL,
	[SALESMARKUP] [numeric](32, 6) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[TRANSREFID] [nvarchar](35) NOT NULL,
	[TRANSREFTYPE] [int] NOT NULL,
	[UNITID] [nvarchar](10) NOT NULL,
	[VENDID] [nvarchar](20) NOT NULL,
	[PRODCALCTRANSRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIProdCalcTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[UNITID] ASC,
	[PRODCALCTRANSRECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
