/****** Object:  StoredProcedure [dbo].[uspRebuildTablesD365]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[uspRebuildTablesD365] AS



DECLARE @Query NVARCHAR(MAX) = ''




SELECT @Query = CONCAT(@Query,'ALTER TABLE ',TABLE_SCHEMA, '.', TABLE_NAME, ' REBUILD', CHAR(13))
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_SCHEMA = 'dbo'
    AND TABLE_TYPE = 'BASE TABLE'



EXECUTE sp_executesql @Query



SELECT -1 AS OUTPUT



GO
