/****** Object:  Table [dbo].[AssetJournalV2EntityStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssetJournalV2EntityStaging](
	[ACCOUNTDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[OFFSETACCOUNTDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[DEFAULTDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CREDITAMOUNT] [numeric](32, 6) NOT NULL,
	[DEBITAMOUNT] [numeric](32, 6) NOT NULL,
	[JOURNALBATCHNUMBER] [nvarchar](20) NOT NULL,
	[OFFSETACCOUNTTYPE] [int] NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[TEXT] [nvarchar](512) NOT NULL,
	[VOUCHER] [nvarchar](20) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[POSTINGLAYER] [int] NOT NULL,
	[JOURNALNAMEID] [nvarchar](10) NOT NULL,
	[LINENUMBER] [numeric](32, 16) NOT NULL,
	[ISPOSTED] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[BOOKID] [nvarchar](10) NOT NULL,
	[TRANSACTIONTYPE] [int] NOT NULL,
	[ACCOUNTTYPE] [int] NOT NULL,
	[CONSUMPTIONUNITS] [numeric](32, 6) NOT NULL,
	[EXCHANGERATE] [numeric](32, 16) NOT NULL,
	[CHINESEVOUCHERTYPE] [nvarchar](10) NOT NULL,
	[CHINESEVOUCHER] [nvarchar](20) NOT NULL,
	[CREDITAMOUNTREPORTINGCURRENCY] [numeric](32, 6) NOT NULL,
	[DEBITAMOUNTREPORTINGCURRENCY] [numeric](32, 6) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_AssetJournalV2EntityStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[JOURNALBATCHNUMBER] ASC,
	[LINENUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
