/****** Object:  Table [dbo].[SMRBIProjForecastSalesStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjForecastSalesStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTIVITYNUMBER] [nvarchar](50) NOT NULL,
	[BUDGETCOMMENT] [nvarchar](60) NOT NULL,
	[COSTPRICE] [numeric](32, 6) NOT NULL,
	[CURRENCY] [nvarchar](3) NOT NULL,
	[CUSTOMERACCOUNTID] [nvarchar](20) NOT NULL,
	[CUSTOMERGROUPID] [nvarchar](10) NOT NULL,
	[ITEMGROUPID] [nvarchar](10) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[MODELID] [nvarchar](10) NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[PROJECTCATEGORYID] [nvarchar](30) NOT NULL,
	[PROJECTID] [nvarchar](20) NOT NULL,
	[PROJECTLINEPROPERTYID] [nvarchar](10) NOT NULL,
	[PROJECTTRANSID] [nvarchar](20) NOT NULL,
	[SALESPRICE] [numeric](32, 6) NOT NULL,
	[SALESQUANTITY] [numeric](32, 6) NOT NULL,
	[SALESUNITID] [nvarchar](10) NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[FORECASTEDREVENUE] [int] NOT NULL,
	[PERIODKEYID] [nvarchar](10) NOT NULL,
	[PROJECTTRANSACTIONID] [nvarchar](20) NOT NULL,
	[EXPANDID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProjForecastSalesStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ACTIVITYNUMBER] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
