/****** Object:  Table [dbo].[SMRBIDimensionAttributeStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIDimensionAttributeStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[DIMENSIONNAME] [nvarchar](60) NOT NULL,
	[VIEWNAME] [nvarchar](81) NOT NULL,
	[DIMENSIONATTRIBUTERECID] [bigint] NOT NULL,
	[BACKINGENTITYTABLENAME] [nvarchar](81) NOT NULL,
	[BACKINGENTITYVALUEFIELDNAME] [nvarchar](81) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIDimensionAttributeStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[DIMENSIONNAME] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
