/****** Object:  Table [dbo].[SMRBICustPackingSlipTransStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICustPackingSlipTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DELIVERYDATE] [datetime] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTREFTRANSID] [nvarchar](20) NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[INVOICETRANSREFRECID] [bigint] NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[ORDERED] [numeric](32, 6) NOT NULL,
	[ORIGSALESID] [nvarchar](20) NOT NULL,
	[PACKINGSLIPID] [nvarchar](20) NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[REMAIN] [numeric](32, 6) NOT NULL,
	[SALESID] [nvarchar](20) NOT NULL,
	[SALESLINESHIPPINGDATECONFIRMED] [datetime] NOT NULL,
	[SALESLINESHIPPINGDATEREQUESTED] [datetime] NOT NULL,
	[SALESUNIT] [nvarchar](10) NOT NULL,
	[CUSTPACKINGSLIPTRANSRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICustPackingSlipTransStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CUSTPACKINGSLIPTRANSRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
