/****** Object:  Table [dbo].[SMRBIProdBOMStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProdBOMStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BOMID] [nvarchar](20) NOT NULL,
	[BOMQTY] [numeric](32, 6) NOT NULL,
	[BOMQTYSERIE] [numeric](32, 6) NOT NULL,
	[BOMREFRECID] [bigint] NOT NULL,
	[CALCULATION] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTREFID] [nvarchar](20) NOT NULL,
	[INVENTREFTRANSID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[OPRNUM] [int] NOT NULL,
	[PRODID] [nvarchar](20) NOT NULL,
	[QTYINVENTCALC] [numeric](32, 6) NOT NULL,
	[SCRAPCONST] [numeric](32, 6) NOT NULL,
	[SCRAPVAR] [numeric](32, 6) NOT NULL,
	[UNITID] [nvarchar](10) NOT NULL,
	[PRODBOMRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProdBOMStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[BOMID] ASC,
	[PRODBOMRECID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
