/****** Object:  Table [dbo].[SMRBIReqPOStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIReqPOStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COVINVENTDIMID] [nvarchar](20) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[ITEMBUYERGROUPID] [nvarchar](10) NOT NULL,
	[ITEMGROUPID] [nvarchar](10) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LEADTIME] [int] NOT NULL,
	[PLANVERSION] [bigint] NOT NULL,
	[PURCHID] [nvarchar](20) NOT NULL,
	[PURCHQTY] [numeric](32, 6) NOT NULL,
	[PURCHUNIT] [nvarchar](10) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[REFID] [nvarchar](20) NOT NULL,
	[REFTYPE] [int] NOT NULL,
	[REQDATE] [datetime] NOT NULL,
	[REQDATEDLV] [datetime] NOT NULL,
	[REQDATEORDER] [datetime] NOT NULL,
	[REQPOSTATUS] [int] NOT NULL,
	[VENDGROUPID] [nvarchar](10) NOT NULL,
	[VENDID] [nvarchar](20) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIReqPOStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PLANVERSION] ASC,
	[REFID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
