/****** Object:  Table [dbo].[SMRBIPurchRFQLineStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIPurchRFQLineStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DELIVERYDATE] [datetime] NOT NULL,
	[EXPIRYDATETIME] [datetime] NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[RFQCASELINELINENUMBER] [bigint] NOT NULL,
	[RFQID] [nvarchar](20) NOT NULL,
	[STATUS] [int] NOT NULL,
	[ITEMNAME] [nvarchar](60) NOT NULL,
	[PURCHUNIT] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIPurchRFQLineStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[CURRENCYCODE] ASC,
	[COMPANY] ASC,
	[DELIVERYDATE] ASC,
	[EXPIRYDATETIME] ASC,
	[INVENTDIMID] ASC,
	[ITEMID] ASC,
	[LINENUM] ASC,
	[RFQCASELINELINENUMBER] ASC,
	[RFQID] ASC,
	[STATUS] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
