/****** Object:  Table [dbo].[SMRBIEcoResProductAttributeValueStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIEcoResProductAttributeValueStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ATTRIBUTENAME] [nvarchar](60) NOT NULL,
	[ATTRIBUTETYPENAME] [nvarchar](60) NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[BOOLEANVALUE] [int] NOT NULL,
	[DATATYPE] [int] NOT NULL,
	[DATETIMEVALUE] [datetime] NOT NULL,
	[DECIMALVALUE] [numeric](32, 6) NOT NULL,
	[INTEGERVALUE] [int] NOT NULL,
	[NAME] [nvarchar](60) NOT NULL,
	[PRODUCTNUMBER] [nvarchar](70) NOT NULL,
	[TEXTVALUE] [nvarchar](1999) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIEcoResProductAttributeValueStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ATTRIBUTENAME] ASC,
	[ATTRIBUTETYPENAME] ASC,
	[PRODUCTNUMBER] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
