/****** Object:  Table [dbo].[SMRBIDirPersonStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIDirPersonStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[PARTYNUMBER] [nvarchar](40) NOT NULL,
	[USER_] [nvarchar](20) NOT NULL,
	[DIRPERSONRECID] [bigint] NOT NULL,
	[VALIDTO] [datetime] NOT NULL,
	[VALIDFROM] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL
) ON [PRIMARY]
GO
