/****** Object:  Table [dbo].[SMRBIProdJournalProdStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProdJournalProdStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[JOURNALID] [nvarchar](20) NOT NULL,
	[LINENUM] [numeric](32, 16) NOT NULL,
	[PRODFINISHED] [int] NOT NULL,
	[PRODID] [nvarchar](20) NOT NULL,
	[QTYGOOD] [numeric](32, 6) NOT NULL,
	[PRODJOURNALPRODRECID] [bigint] NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIProdJournalProdStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[PRODJOURNALPRODRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
