/****** Object:  Table [dbo].[SMRBIInventItemPriceStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventItemPriceStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTIVATIONDATE] [datetime] NOT NULL,
	[COSTINGTYPE] [int] NOT NULL,
	[ITEMPRICECREATEDDATETIME] [datetime] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[MARKUP] [numeric](32, 16) NOT NULL,
	[PRICE] [numeric](32, 16) NOT NULL,
	[PRICECALCID] [nvarchar](20) NOT NULL,
	[ITEMPRICEMODIFIEDDATETIME] [datetime] NOT NULL,
	[PRICEQTY] [numeric](32, 6) NOT NULL,
	[PRICETYPE] [int] NOT NULL,
	[PRICEUNIT] [numeric](32, 12) NOT NULL,
	[INVENTITEMPRICERECID] [bigint] NOT NULL,
	[STDCOSTTRANSDATE] [datetime] NOT NULL,
	[STDCOSTVOUCHER] [nvarchar](20) NOT NULL,
	[UNITID] [nvarchar](10) NOT NULL,
	[VERSIONID] [nvarchar](10) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIInventItemPriceStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INVENTITEMPRICERECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
