/****** Object:  Table [dbo].[SMRBILogisticsAddressCountryRegionTranslationStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBILogisticsAddressCountryRegionTranslationStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COUNTRYREGIONID] [nvarchar](10) NOT NULL,
	[LANGUAGEID] [nvarchar](7) NOT NULL,
	[SHORTNAME] [nvarchar](255) NOT NULL,
	[COUNTRYREGIONRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBILogisticsAddressCountryRegionTranslationStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[COUNTRYREGIONID] ASC,
	[LANGUAGEID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
