/****** Object:  UserDefinedFunction [dbo].[Cust_NTH_ELEMENT]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE
	
 FUNCTION [dbo].[Cust_NTH_ELEMENT] (
	@Input NVARCHAR(MAX)
	,@Delim CHAR = '-'
	,@N INT = 0
	)
RETURNS NVARCHAR(MAX)
AS
BEGIN
	RETURN (
			SELECT value
			FROM OPENJSON('["' + REPLACE(@Input, @Delim, '","') + '"]')
			WHERE [key] = @N
			)
END
GO
