/****** Object:  Table [dbo].[SMRBIsmmActivitiesStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIsmmActivitiesStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTUALWORK] [numeric](32, 6) NOT NULL,
	[ACTIVITYNUMBER] [nvarchar](50) NOT NULL,
	[ACTIVITYTASKTIMETYPE] [int] NOT NULL,
	[ACTIVITYTIMETYPE] [int] NOT NULL,
	[ACTUALENDDATETIME] [datetime] NOT NULL,
	[ALLDAY] [int] NOT NULL,
	[BILLINGINFORMATION] [nvarchar](150) NOT NULL,
	[CATEGORY] [int] NOT NULL,
	[CLOSED] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DONEBYWORKER] [bigint] NOT NULL,
	[ENDDATETIME] [datetime] NOT NULL,
	[EXTERNALMEMO] [nvarchar](max) NULL,
	[ISMASTERAPPOINTMENT] [int] NOT NULL,
	[ISTEMPLATE] [int] NOT NULL,
	[KEEPSYNCHRONIZED] [int] NOT NULL,
	[LASTEDITAXDATETIME] [datetime] NOT NULL,
	[LOCATION] [nvarchar](255) NOT NULL,
	[MILEAGE] [nvarchar](199) NOT NULL,
	[MODIFIED] [int] NOT NULL,
	[ORIGINALAPPOINTMENTSTARTDATETIME] [datetime] NOT NULL,
	[OUTLOOKCATEGORIES] [nvarchar](255) NOT NULL,
	[OUTLOOKENTRYID] [nvarchar](255) NOT NULL,
	[OUTLOOKGLOBALOBJECTID] [nvarchar](255) NOT NULL,
	[OUTLOOKRESOURCES] [nvarchar](10) NOT NULL,
	[PERCENTAGECOMPLETED] [numeric](32, 6) NOT NULL,
	[PHASEID] [nvarchar](20) NOT NULL,
	[PLANID] [nvarchar](20) NOT NULL,
	[PURPOSE] [nvarchar](255) NOT NULL,
	[RECURRENCESTATE] [int] NOT NULL,
	[REMINDERACTIVE] [int] NOT NULL,
	[REMINDERDATETIME] [datetime] NOT NULL,
	[REMINDERMINUTES] [int] NOT NULL,
	[RESPONSEREQUESTED] [int] NOT NULL,
	[RESPONSIBLEWORKER] [bigint] NOT NULL,
	[SENSITIVITY] [int] NOT NULL,
	[SOURCE] [nvarchar](255) NOT NULL,
	[STARTDATETIME] [datetime] NOT NULL,
	[STATUS] [int] NOT NULL,
	[TASKPRIORITY] [int] NOT NULL,
	[TASKROLE] [nvarchar](10) NOT NULL,
	[TEAMTASK] [int] NOT NULL,
	[TOTALWORK] [numeric](32, 6) NOT NULL,
	[TYPEID] [nvarchar](20) NOT NULL,
	[USERMEMO] [nvarchar](max) NULL,
	[DONEBYWORKER_PERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[RESPONSIBLEWORKER_PERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[SMMACTIVITIESRECID] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIsmmActivitiesStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ACTIVITYNUMBER] ASC,
	[SMMACTIVITIESRECID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
