/****** Object:  Table [dbo].[SMRBICustPackingSlipJourStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBICustPackingSlipJourStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[DELIVERYDATE] [datetime] NOT NULL,
	[DELIVERYNAME] [nvarchar](100) NOT NULL,
	[DLVMODE] [nvarchar](10) NOT NULL,
	[DLVTERM] [nvarchar](10) NOT NULL,
	[ORDERACCOUNT] [nvarchar](20) NOT NULL,
	[PACKINGSLIPID] [nvarchar](20) NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[SALESID] [nvarchar](20) NOT NULL,
	[SALESTYPE] [int] NOT NULL,
	[ADDRESS] [nvarchar](250) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBICustPackingSlipJourStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[COMPANY] ASC,
	[DELIVERYDATE] ASC,
	[DELIVERYNAME] ASC,
	[DLVMODE] ASC,
	[DLVTERM] ASC,
	[ORDERACCOUNT] ASC,
	[PACKINGSLIPID] ASC,
	[QTY] ASC,
	[SALESID] ASC,
	[SALESTYPE] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
