/****** Object:  Table [dbo].[SMRBIProjTransPostingStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjTransPostingStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACTIVITYNUMBER] [nvarchar](50) NOT NULL,
	[AMOUNTMST] [numeric](32, 6) NOT NULL,
	[COSTSALES] [int] NOT NULL,
	[CATEGORYID] [nvarchar](30) NOT NULL,
	[DEFAULTDIMENSION] [bigint] NOT NULL,
	[EMPLITEMID] [nvarchar](20) NOT NULL,
	[INVENTTRANSID] [nvarchar](20) NOT NULL,
	[LEDGERDIMENSION] [bigint] NOT NULL,
	[LEDGERORIGIN] [int] NOT NULL,
	[LEDGERTRANSDATE] [datetime] NOT NULL,
	[PAYMENTDATE] [datetime] NOT NULL,
	[PAYMENTSTATUS] [int] NOT NULL,
	[POSTINGTYPE] [int] NOT NULL,
	[PROJADJUSTREFID] [nvarchar](20) NOT NULL,
	[PROJFUNDINGSOURCE] [bigint] NOT NULL,
	[PROJID] [nvarchar](20) NOT NULL,
	[PROJTRANSDATE] [datetime] NOT NULL,
	[PROJTRANSTYPE] [int] NOT NULL,
	[PROJTYPE] [int] NOT NULL,
	[QTY] [numeric](32, 6) NOT NULL,
	[RESOURCE_] [bigint] NOT NULL,
	[RESOURCECATEGORY] [bigint] NOT NULL,
	[RESOURCELEGALENTITY] [bigint] NOT NULL,
	[SUBSCRIPTIONID] [nvarchar](20) NOT NULL,
	[TRANSACTIONORIGIN] [int] NOT NULL,
	[TRANSID] [nvarchar](20) NOT NULL,
	[VOUCHER] [nvarchar](20) NOT NULL,
	[WORKER] [bigint] NOT NULL,
	[WORKERLEGALENTITY] [bigint] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProjTransPostingStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[TRANSID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
