/****** Object:  Table [dbo].[YSLEShipmentDetailsStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YSLEShipmentDetailsStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[SHIPMENT] [nvarchar](20) NOT NULL,
	[LINEOFBUSINESSID] [nvarchar](10) NOT NULL,
	[CUSTACCOUNT] [nvarchar](20) NOT NULL,
	[CUSTNAME] [nvarchar](100) NOT NULL,
	[JOBOWNER] [nvarchar](20) NOT NULL,
	[BUSINESSOWNER] [nvarchar](20) NOT NULL,
	[DESTINATIONAGENT] [nvarchar](20) NOT NULL,
	[BRANCH] [nvarchar](10) NOT NULL,
	[DEPARTMENT] [nvarchar](10) NOT NULL,
	[MASTERBILLOFLADING] [nvarchar](20) NOT NULL,
	[HOUSEBILLOFLADING] [nvarchar](20) NOT NULL,
	[PORTOFORIGIN] [nvarchar](5) NOT NULL,
	[PORTOFDESTINATION] [nvarchar](5) NOT NULL,
	[ETD] [datetime] NOT NULL,
	[ETA] [datetime] NOT NULL,
	[MODEOFTRANSPORTID] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[REMARK] [nvarchar](60) NOT NULL,
	[UPDATEDATE] [datetime] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_YSLEShipmentDetailsStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[SHIPMENT] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
