/****** Object:  Table [dbo].[SMRBIProjForecastOnAccStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjForecastOnAccStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[SALESCURRENCY] [nvarchar](3) NOT NULL,
	[FORECASTMODEL] [nvarchar](10) NOT NULL,
	[PROJECTID] [nvarchar](20) NOT NULL,
	[QUANTITY] [numeric](32, 6) NOT NULL,
	[SALESPRICE] [numeric](32, 6) NOT NULL,
	[PROJECTDATE] [datetime] NOT NULL,
	[TRANSACTIONID] [nvarchar](20) NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIProjForecastOnAccStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[TRANSACTIONID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
