/****** Object:  Table [dbo].[FiscalPeriodStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FiscalPeriodStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[COMMENTS] [nvarchar](60) NOT NULL,
	[ENDDATE] [datetime] NOT NULL,
	[MONTH] [int] NOT NULL,
	[PERIODNAME] [nvarchar](60) NOT NULL,
	[QUARTER] [int] NOT NULL,
	[SHORTNAME] [nvarchar](8) NOT NULL,
	[STARTDATE] [datetime] NOT NULL,
	[TYPE] [int] NOT NULL,
	[CALENDAR] [nvarchar](10) NOT NULL,
	[FISCALYEAR] [nvarchar](10) NOT NULL,
	[CALENDARTYPE] [int] NOT NULL,
	[DAYS] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_FiscalPeriodStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[ENDDATE] ASC,
	[PERIODNAME] ASC,
	[STARTDATE] ASC,
	[CALENDAR] ASC,
	[FISCALYEAR] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
