/****** Object:  Table [dbo].[SMRBIProjBudgetStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIProjBudgetStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[BUDGETID] [nvarchar](10) NOT NULL,
	[BUDGETSTATE] [int] NOT NULL,
	[BUDGETWORKFLOWSTATUS] [int] NOT NULL,
	[DESCRIPTION] [nvarchar](60) NOT NULL,
	[ORIGINALBUDGETFORECASTMODEL] [nvarchar](10) NOT NULL,
	[REMAININGBUDGETFORECASTMODEL] [nvarchar](10) NOT NULL,
	[ROOTPROJID] [nvarchar](20) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL,
 CONSTRAINT [PK_SMRBIProjBudgetStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[BUDGETID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
