/****** Object:  Table [dbo].[SMRBIInventNonConformanceTableStaging]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIInventNonConformanceTableStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[CUSTACCOUNT] [nvarchar](20) NOT NULL,
	[INVENTDIMID] [nvarchar](20) NOT NULL,
	[INVENTNONCONFORMANCEAPPROVAL] [int] NOT NULL,
	[INVENTNONCONFORMANCEID] [nvarchar](20) NOT NULL,
	[INVENTNONCONFORMANCETYPE] [int] NOT NULL,
	[INVENTREFID] [nvarchar](20) NOT NULL,
	[INVENTTESTPROBLEMTYPEID] [nvarchar](20) NOT NULL,
	[INVENTTESTQUARANTINETYPE] [int] NOT NULL,
	[INVENTTRANSIDREF] [nvarchar](20) NOT NULL,
	[INVENTTRANSTYPE] [int] NOT NULL,
	[ITEMID] [nvarchar](20) NOT NULL,
	[NONCONFORMANCEDATE] [datetime] NOT NULL,
	[RUSH] [int] NOT NULL,
	[UNITID] [nvarchar](10) NOT NULL,
	[VENDACCOUNT] [nvarchar](20) NOT NULL,
	[HCMWORKER_PERSONNELNUMBER] [nvarchar](25) NOT NULL,
	[DEFAULTDIMENSIONDISPLAYVALUE] [nvarchar](500) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[TESTDEFECTQTY] [numeric](32, 6) NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
 CONSTRAINT [PK_SMRBIInventNonConformanceTableStaging] PRIMARY KEY CLUSTERED 
(
	[EXECUTIONID] ASC,
	[INVENTNONCONFORMANCEID] ASC,
	[DATAAREAID] ASC,
	[PARTITION] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
