/****** Object:  Table [DWH].[DimProduct]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimProduct](
	[DimProductId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[ProductName] [nvarchar](255) NOT NULL,
	[ProductCodeName]  AS (([ProductCode]+'-')+[ProductName]) PERSISTED NOT NULL,
	[ProductGroupCode] [nvarchar](40) NOT NULL,
	[ProductGroupName] [nvarchar](255) NOT NULL,
	[ProductGroupCodeName] [nvarchar](300) NOT NULL,
	[Brand] [nvarchar](255) NOT NULL,
	[Material] [nvarchar](100) NOT NULL,
	[BusinessType] [nvarchar](10) NOT NULL,
	[ProductInventoryUnit] [nvarchar](10) NOT NULL,
	[ProductPurchaseUnit] [nvarchar](10) NOT NULL,
	[ProductSalesUnit] [nvarchar](10) NOT NULL,
	[PhysicalUnitSymbol] [nvarchar](10) NOT NULL,
	[PhysicalVolume] [numeric](38, 6) NOT NULL,
	[PhysicalWeight] [numeric](38, 6) NOT NULL,
	[PrimaryVendorCode] [nvarchar](20) NOT NULL,
	[CountryOfOrigin] [nvarchar](10) NOT NULL,
	[IntrastatCommodityCode] [nvarchar](20) NOT NULL,
	[ABCClassification] [nvarchar](10) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimProduct] PRIMARY KEY CLUSTERED 
(
	[DimProductId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
