/****** Object:  Table [DWH].[FactGeneralLedger]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactGeneralLedger](
	[FactGeneralLedgerId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimGLAccountId] [int] NOT NULL,
	[DimIntercompanyId] [int] NOT NULL,
	[DimPostingDateId] [int] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[RecId] [bigint] NOT NULL,
	[TransactionText] [nvarchar](1024) NULL,
	[TransactionCode] [nvarchar](20) NOT NULL,
	[AmountTC] [numeric](32, 17) NOT NULL,
	[AmountAC] [numeric](32, 17) NOT NULL,
	[AmountRC] [numeric](32, 17) NOT NULL,
	[AmountGC] [numeric](38, 6) NOT NULL,
	[AmountAC_Budget] [numeric](38, 6) NOT NULL,
	[AmountRC_Budget] [numeric](38, 6) NOT NULL,
	[AmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[DimBusinessSegmentId] [int] NOT NULL,
	[DimDepartmentId] [int] NOT NULL,
	[DimEndCustomerId] [int] NOT NULL,
	[DimLocationId] [int] NOT NULL,
	[DimShipmentContractId] [int] NOT NULL,
	[DimLocalAccountId] [int] NOT NULL,
	[DimProductFDId] [int] NOT NULL,
	[IsDebitCredit] [nvarchar](20) NULL,
	[DimVoucherId] [int] NULL,
	[DimSupplierId] [int] NULL,
	[Voucher] [nvarchar](20) NULL,
 CONSTRAINT [PK_FactGeneralLedger] PRIMARY KEY CLUSTERED 
(
	[FactGeneralLedgerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK__DimPostingDateId] FOREIGN KEY([DimPostingDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK__DimPostingDateId]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactGeneralLedger_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] NOCHECK CONSTRAINT [FK_DWH_FactGeneralLedger_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactGeneralLedger_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] NOCHECK CONSTRAINT [FK_DWH_FactGeneralLedger_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactGeneralLedger_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] NOCHECK CONSTRAINT [FK_DWH_FactGeneralLedger_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactGeneralLedger_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] NOCHECK CONSTRAINT [FK_DWH_FactGeneralLedger_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimBusinessSegment] FOREIGN KEY([DimBusinessSegmentId])
REFERENCES [DWH].[DimBusinessSegment] ([DimBusinessSegmentId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimBusinessSegment]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimCompany]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimDepartment] FOREIGN KEY([DimDepartmentId])
REFERENCES [DWH].[DimDepartment] ([DimDepartmentId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimDepartment]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimEndCustomer] FOREIGN KEY([DimEndCustomerId])
REFERENCES [DWH].[DimEndCustomer] ([DimEndCustomerId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimEndCustomer]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimGLAccount] FOREIGN KEY([DimGLAccountId])
REFERENCES [DWH].[DimGLAccount] ([DimGLAccountId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimGLAccount]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimIntercompany] FOREIGN KEY([DimIntercompanyId])
REFERENCES [DWH].[DimIntercompany] ([DimIntercompanyId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimIntercompany]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimLocalAccount] FOREIGN KEY([DimLocalAccountId])
REFERENCES [DWH].[DimLocalAccount] ([DimLocalAccountId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimLocalAccount]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimLocation] FOREIGN KEY([DimLocationId])
REFERENCES [DWH].[DimLocation] ([DimLocationId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimLocation]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimProductFD] FOREIGN KEY([DimProductFDId])
REFERENCES [DWH].[DimProductFD] ([DimProductFDId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimProductFD]
GO
ALTER TABLE [DWH].[FactGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedger_DimShipmentContract] FOREIGN KEY([DimShipmentContractId])
REFERENCES [DWH].[DimShipmentContract] ([DimShipmentContractId])
GO
ALTER TABLE [DWH].[FactGeneralLedger] CHECK CONSTRAINT [FK_FactGeneralLedger_DimShipmentContract]
GO
