/****** Object:  Table [DWH].[FactProductionOrder]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactProductionOrder](
	[FactProductionOrderId] [int] IDENTITY(1,1) NOT NULL,
	[DimProductionOrderId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimRouteId] [int] NOT NULL,
	[DimResourceId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimJournalPostingDateId] [int] NOT NULL,
	[DimScheduledProductionStartDateId] [int] NOT NULL,
	[DimScheduledProductionEndDateId] [int] NOT NULL,
	[DimProductionStartDateId] [int] NOT NULL,
	[DimProductionEndDateId] [int] NOT NULL,
	[ActualDeliveryDate] [datetime] NOT NULL,
	[RequestedDeliveryDate] [datetime] NOT NULL,
	[ScheduledDeliveryDate] [datetime] NOT NULL,
	[DimOperationsId] [int] NOT NULL,
	[ProductionResourceCode] [nvarchar](120) NOT NULL,
	[ProductionOrderStatus] [nvarchar](20) NOT NULL,
	[CalculationType] [nvarchar](510) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[OTIF] [numeric](38, 7) NOT NULL,
	[InventUnit] [nvarchar](20) NOT NULL,
	[EstimatedCostAmountAC] [numeric](38, 6) NOT NULL,
	[EstimatedCostAmountRC] [numeric](38, 6) NOT NULL,
	[EstimatedCostAmountGC] [numeric](38, 6) NOT NULL,
	[EstimatedCostAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[EstimatedCostAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[RealCostAmountAC] [numeric](38, 6) NOT NULL,
	[RealCostAmountRC] [numeric](38, 6) NOT NULL,
	[RealCostAmountGC] [numeric](38, 6) NOT NULL,
	[RealCostAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[RealCostAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountAC] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountRC] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountGC] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[TotalScrapAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[NetScrapAmountAC] [numeric](38, 6) NOT NULL,
	[NetScrapAmountRC] [numeric](38, 6) NOT NULL,
	[NetScrapAmountGC] [numeric](38, 6) NOT NULL,
	[NetScrapAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[NetScrapAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NOT NULL,
	[ProducedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[ProducedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[ProducedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[EstimatedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[EstimatedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[OriginalEstimatedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[RealConsumptionQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[RealConsumptionQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[RealConsumptionQuantity_SalesUnit] [numeric](38, 6) NULL,
	[TotalScrapQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[TotalScrapQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[TotalScrapQuantity_SalesUnit] [numeric](38, 6) NULL,
	[NetScrapQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[NetScrapQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[NetScrapQuantity_SalesUnit] [numeric](38, 6) NULL,
	[EstimatedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[EstimatedQuantityDetail_InventoryUnit] [numeric](38, 6) NULL,
	[EstimatedQuantityDetail_PurchaseUnit] [numeric](38, 6) NULL,
	[EstimatedQuantityDetail_SalesUnit] [numeric](38, 6) NULL,
	[NetEstimatedConsumptionQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[NetEstimatedConsumptionQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[NetEstimatedConsumptionQuantity_SalesUnit] [numeric](38, 6) NULL,
	[OriginalEstimatedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[OriginalEstimatedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[OriginalEstimatedQuantityDetail_InventoryUnit] [numeric](38, 6) NULL,
	[OriginalEstimatedQuantityDetail_PurchaseUnit] [numeric](38, 6) NULL,
	[OriginalEstimatedQuantityDetail_SalesUnit] [numeric](38, 6) NULL,
	[ProducedQuantityDetail_InventoryUnit] [numeric](38, 6) NULL,
	[ProducedQuantityDetail_PurchaseUnit] [numeric](38, 6) NULL,
	[ProducedQuantityDetail_SalesUnit] [numeric](38, 6) NULL,
	[ReportRemainderAsFinished_InventoryUnit] [numeric](38, 6) NULL,
	[ReportRemainderAsFinished_PurchaseUnit] [numeric](38, 6) NULL,
	[ReportRemainderAsFinished_SalesUnit] [numeric](38, 6) NULL,
	[ReportRemainderAsFinishedDetail_InventoryUnit] [numeric](38, 6) NULL,
	[ReportRemainderAsFinishedDetail_PurchaseUnit] [numeric](38, 6) NULL,
	[ReportRemainderAsFinishedDetail_SalesUnit] [numeric](38, 6) NULL,
	[TotalEstimatedConsumptionQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[TotalEstimatedConsumptionQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[TotalEstimatedConsumptionQuantity_SalesUnit] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactProductionOrder] PRIMARY KEY CLUSTERED 
(
	[FactProductionOrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductionOrder_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductionOrder] NOCHECK CONSTRAINT [FK_DWH_FactProductionOrder_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductionOrder_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductionOrder] NOCHECK CONSTRAINT [FK_DWH_FactProductionOrder_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactProductionOrder_DimOperations] FOREIGN KEY([DimOperationsId])
REFERENCES [DWH].[DimOperations] ([DimOperationsId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_DWH_FactProductionOrder_DimOperations]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductionOrder_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductionOrder] NOCHECK CONSTRAINT [FK_DWH_FactProductionOrder_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimCompany]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimJournalPostingDateId] FOREIGN KEY([DimJournalPostingDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimJournalPostingDateId]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimProduct]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimProductionEndDateId] FOREIGN KEY([DimProductionEndDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimProductionEndDateId]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimProductionOrder] FOREIGN KEY([DimProductionOrderId])
REFERENCES [DWH].[DimProductionOrder] ([DimProductionOrderId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimProductionOrder]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimProductionStartDateId] FOREIGN KEY([DimProductionStartDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimProductionStartDateId]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimResource] FOREIGN KEY([DimResourceId])
REFERENCES [DWH].[DimResource] ([DimResourceId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimResource]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimRoute] FOREIGN KEY([DimRouteId])
REFERENCES [DWH].[DimRoute] ([DimRouteId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimRoute]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimScheduledProductionEndDateId] FOREIGN KEY([DimScheduledProductionEndDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimScheduledProductionEndDateId]
GO
ALTER TABLE [DWH].[FactProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionOrder_DimScheduledProductionStartDateId] FOREIGN KEY([DimScheduledProductionStartDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactProductionOrder] CHECK CONSTRAINT [FK_FactProductionOrder_DimScheduledProductionStartDateId]
GO
