/****** Object:  Table [DWH].[FactProductionCapacity]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactProductionCapacity](
	[FactProductionCapacityid] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimCapacityDateId] [int] NOT NULL,
	[DimResourceId] [int] NOT NULL,
	[DimCalendarId] [int] NOT NULL,
	[MaximumCapacity] [numeric](32, 17) NULL,
	[ReservedCapacity] [numeric](32, 17) NULL,
	[AvailableCapacity] [numeric](32, 17) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactProductionCapacity] PRIMARY KEY CLUSTERED 
(
	[FactProductionCapacityid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactProductionCapacity]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactProductionCapacity_DimCalendarId] FOREIGN KEY([DimCalendarId])
REFERENCES [DWH].[DimCalendar] ([DimCalendarId])
GO
ALTER TABLE [DWH].[FactProductionCapacity] CHECK CONSTRAINT [FK_DWH_FactProductionCapacity_DimCalendarId]
GO
ALTER TABLE [DWH].[FactProductionCapacity]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactProductionCapacity_DimCapacityDateId] FOREIGN KEY([DimCapacityDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactProductionCapacity] CHECK CONSTRAINT [FK_DWH_FactProductionCapacity_DimCapacityDateId]
GO
ALTER TABLE [DWH].[FactProductionCapacity]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductionCapacity_DimCompanyId] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactProductionCapacity] NOCHECK CONSTRAINT [FK_DWH_FactProductionCapacity_DimCompanyId]
GO
ALTER TABLE [DWH].[FactProductionCapacity]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactProductionCapacity_DimResourceId] FOREIGN KEY([DimResourceId])
REFERENCES [DWH].[DimResource] ([DimResourceId])
GO
ALTER TABLE [DWH].[FactProductionCapacity] CHECK CONSTRAINT [FK_DWH_FactProductionCapacity_DimResourceId]
GO
