/****** Object:  View [DWH].[V_DimDeliveryMode]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [DWH].[V_DimDeliveryMode] AS 

SELECT    UPPER(CompanyCode) AS CompanyCode
		, UPPER(DeliveryModeCode) DeliveryModeCode
		, DeliveryModeName

FROM DataStore.DeliveryMode

/* Create unknown member */

UNION ALL

SELECT	  UPPER(CompanyCode)
		, '_N/A'
		, '_N/A'
FROM DataStore.Company
GO
