/****** Object:  Table [DWH].[DimForecastModel]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimForecastModel](
	[DimForeCastModelId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[ForecastModelCode] [nvarchar](50) NOT NULL,
	[ForecastModelName] [nvarchar](255) NOT NULL,
	[ForecastSubmodelCode] [nvarchar](10) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimForeCastModel] PRIMARY KEY CLUSTERED 
(
	[DimForeCastModelId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
