/****** Object:  Table [DWH].[FactRFQ]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactRFQ](
	[FactRFQId] [int] IDENTITY(1,1) NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimDeliveryModeId] [int] NOT NULL,
	[DimDeliveryTermsId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimDeliveryDateId] [int] NOT NULL,
	[DimExpiryDateId] [int] NOT NULL,
	[RFQCaseCode] [nvarchar](20) NOT NULL,
	[RFQCaseName] [nvarchar](60) NOT NULL,
	[RFQCaseLineNumber] [bigint] NOT NULL,
	[RFQCode] [nvarchar](20) NOT NULL,
	[RFQName] [nvarchar](100) NOT NULL,
	[RFQLineNumber] [numeric](32, 16) NOT NULL,
	[RFQCaseStatusLow] [nvarchar](50) NOT NULL,
	[RFQCaseStatusHigh] [nvarchar](50) NOT NULL,
	[RFQLineStatus] [nvarchar](50) NOT NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[PurchPriceTC] [numeric](38, 6) NULL,
	[PurchPriceAC] [numeric](38, 6) NULL,
	[PurchPriceRC] [numeric](38, 6) NULL,
	[PurchPriceGC] [numeric](38, 6) NULL,
	[PurchPriceAC_Budget] [numeric](38, 6) NULL,
	[PurchPriceRC_Budget] [numeric](38, 6) NULL,
	[PurchPriceGC_Budget] [numeric](38, 6) NULL,
	[RFQLineAmountTC] [numeric](38, 6) NULL,
	[RFQLineAmountAC] [numeric](38, 6) NULL,
	[RFQLineAmountRC] [numeric](38, 6) NULL,
	[RFQLineAmountGC] [numeric](38, 6) NULL,
	[RFQLineAmountAC_Budget] [numeric](38, 6) NULL,
	[RFQLineAmountRC_Budget] [numeric](38, 6) NULL,
	[RFQLineAmountGC_Budget] [numeric](38, 6) NULL,
	[CostAvoidanceAmountTC] [numeric](38, 6) NULL,
	[CostAvoidanceAmountAC] [numeric](38, 6) NULL,
	[CostAvoidanceAmountRC] [numeric](38, 6) NULL,
	[CostAvoidanceAmountGC] [numeric](38, 6) NULL,
	[CostAvoidanceAmountAC_Budget] [numeric](38, 6) NULL,
	[CostAvoidanceAmountRC_Budget] [numeric](38, 6) NULL,
	[CostAvoidanceAmountGC_Budget] [numeric](38, 6) NULL,
	[MaxPurchPriceTC] [numeric](38, 6) NULL,
	[MaxPurchPriceAC] [numeric](38, 6) NULL,
	[MaxPurchPriceRC] [numeric](38, 6) NULL,
	[MaxPurchPriceGC] [numeric](38, 6) NULL,
	[MaxPurchPriceAC_Budget] [numeric](38, 6) NULL,
	[MaxPurchPriceRC_Budget] [numeric](38, 6) NULL,
	[MaxPurchPriceGC_Budget] [numeric](38, 6) NULL,
	[MinPurchPriceTC] [numeric](38, 6) NULL,
	[MinPurchPriceAC] [numeric](38, 6) NULL,
	[MinPurchPriceRC] [numeric](38, 6) NULL,
	[MinPurchPriceGC] [numeric](38, 6) NULL,
	[MinPurchPriceAC_Budget] [numeric](38, 6) NULL,
	[MinPurchPriceRC_Budget] [numeric](38, 6) NULL,
	[MinPurchPriceGC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateTC] [numeric](38, 20) NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactRFQ] PRIMARY KEY CLUSTERED 
(
	[FactRFQId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactRFQ_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactRFQ] NOCHECK CONSTRAINT [FK_DWH_FactRFQ_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactRFQ_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactRFQ] NOCHECK CONSTRAINT [FK_DWH_FactRFQ_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactRFQ_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactRFQ] NOCHECK CONSTRAINT [FK_DWH_FactRFQ_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactRFQ_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactRFQ] NOCHECK CONSTRAINT [FK_DWH_FactRFQ_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH CHECK ADD  CONSTRAINT [FK_FactRFQ_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactRFQ] CHECK CONSTRAINT [FK_FactRFQ_DimCompany]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH CHECK ADD  CONSTRAINT [FK_FactRFQ_DimDeliveryDateId] FOREIGN KEY([DimDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactRFQ] CHECK CONSTRAINT [FK_FactRFQ_DimDeliveryDateId]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH CHECK ADD  CONSTRAINT [FK_FactRFQ_DimDeliveryMode] FOREIGN KEY([DimDeliveryModeId])
REFERENCES [DWH].[DimDeliveryMode] ([DimDeliveryModeId])
GO
ALTER TABLE [DWH].[FactRFQ] CHECK CONSTRAINT [FK_FactRFQ_DimDeliveryMode]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH CHECK ADD  CONSTRAINT [FK_FactRFQ_DimDeliveryTerms] FOREIGN KEY([DimDeliveryTermsId])
REFERENCES [DWH].[DimDeliveryTerms] ([DimDeliveryTermsId])
GO
ALTER TABLE [DWH].[FactRFQ] CHECK CONSTRAINT [FK_FactRFQ_DimDeliveryTerms]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH CHECK ADD  CONSTRAINT [FK_FactRFQ_DimExpiryDateId] FOREIGN KEY([DimExpiryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactRFQ] CHECK CONSTRAINT [FK_FactRFQ_DimExpiryDateId]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH CHECK ADD  CONSTRAINT [FK_FactRFQ_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactRFQ] CHECK CONSTRAINT [FK_FactRFQ_DimProduct]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH CHECK ADD  CONSTRAINT [FK_FactRFQ_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactRFQ] CHECK CONSTRAINT [FK_FactRFQ_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactRFQ]  WITH CHECK ADD  CONSTRAINT [FK_FactRFQ_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactRFQ] CHECK CONSTRAINT [FK_FactRFQ_DimSupplier]
GO
