/****** Object:  Table [DWH].[DimProductConfiguration]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimProductConfiguration](
	[DimProductConfigurationId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[InventDimCode] [nvarchar](40) NOT NULL,
	[ProductConfigurationCode] [nvarchar](100) NOT NULL,
	[InventBatchCode] [nvarchar](40) NOT NULL,
	[InventColorCode] [nvarchar](40) NOT NULL,
	[InventSizeCode] [nvarchar](40) NOT NULL,
	[InventStyleCode] [nvarchar](40) NOT NULL,
	[InventStatusCode] [nvarchar](40) NOT NULL,
	[SiteCode] [nvarchar](40) NOT NULL,
	[SiteName] [nvarchar](50) NOT NULL,
	[WarehouseCode] [nvarchar](40) NOT NULL,
	[WarehouseName] [nvarchar](225) NOT NULL,
	[WarehouseLocationCode] [nvarchar](40) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimProductConfiguration] PRIMARY KEY CLUSTERED 
(
	[DimProductConfigurationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
