/****** Object:  Table [DWH].[FactSalesOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactSalesOrder](
	[FactSalesOrderId] [int] IDENTITY(1,1) NOT NULL,
	[DimSalesOrderId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimDeliveryModeId] [int] NOT NULL,
	[DimDeliveryTermsId] [int] NOT NULL,
	[DimPaymentTermsId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimOrderCustomerId] [int] NOT NULL,
	[DimCreationDateId] [int] NOT NULL,
	[DimRequestedDeliveryDateId] [int] NOT NULL,
	[DimConfirmedDeliveryDateId] [int] NOT NULL,
	[DimRequestedShippingDateId] [int] NOT NULL,
	[DimConfirmedShippingDateId] [int] NOT NULL,
	[DimLastShipmentDateId] [int] NOT NULL,
	[SalesOrderStatus] [nvarchar](20) NOT NULL,
	[DocumentStatus] [nvarchar](255) NOT NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[SalesOrderLineNumber] [nvarchar](50) NOT NULL,
	[SalesOrderLineNumberCombination] [nvarchar](100) NOT NULL,
	[DeliveryAddress] [nvarchar](255) NOT NULL,
	[InventTransCode] [nvarchar](50) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[SalesPricePerUnitTC] [numeric](38, 6) NULL,
	[SalesPricePerUnitAC] [numeric](38, 6) NULL,
	[SalesPricePerUnitRC] [numeric](38, 6) NULL,
	[SalesPricePerUnitGC] [numeric](38, 6) NULL,
	[SalesPricePerUnitAC_Budget] [numeric](38, 6) NULL,
	[SalesPricePerUnitRC_Budget] [numeric](38, 6) NULL,
	[SalesPricePerUnitGC_Budget] [numeric](38, 6) NULL,
	[GrossSalesTC] [numeric](38, 6) NULL,
	[GrossSalesAC] [numeric](38, 6) NULL,
	[GrossSalesRC] [numeric](38, 6) NULL,
	[GrossSalesGC] [numeric](38, 6) NULL,
	[GrossSalesAC_Budget] [numeric](38, 6) NULL,
	[GrossSalesRC_Budget] [numeric](38, 6) NULL,
	[GrossSalesGC_Budget] [numeric](38, 6) NULL,
	[DiscountAmountTC] [numeric](38, 6) NULL,
	[DiscountAmountAC] [numeric](38, 6) NULL,
	[DiscountAmountRC] [numeric](38, 6) NULL,
	[DiscountAmountGC] [numeric](38, 6) NULL,
	[DiscountAmountAC_Budget] [numeric](38, 6) NULL,
	[DiscountAmountRC_Budget] [numeric](38, 6) NULL,
	[DiscountAmountGC_Budget] [numeric](38, 6) NULL,
	[InvoicedSalesAmountTC] [numeric](38, 17) NULL,
	[InvoicedSalesAmountAC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountRC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountGC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountAC_Budget] [numeric](38, 6) NULL,
	[InvoicedSalesAmountRC_Budget] [numeric](38, 6) NULL,
	[InvoicedSalesAmountGC_Budget] [numeric](38, 6) NULL,
	[NetSalesAmountTC] [numeric](38, 6) NULL,
	[NetSalesAmountAC] [numeric](38, 6) NULL,
	[NetSalesAmountRC] [numeric](38, 6) NULL,
	[NetSalesAmountGC] [numeric](38, 6) NULL,
	[NetSalesAmountAC_Budget] [numeric](38, 6) NULL,
	[NetSalesAmountRC_Budget] [numeric](38, 6) NULL,
	[NetSalesAmountGC_Budget] [numeric](38, 6) NULL,
	[CostOfGoodsSoldTC] [numeric](38, 6) NULL,
	[CostOfGoodsSoldAC] [numeric](38, 6) NULL,
	[CostOfGoodsSoldRC] [numeric](38, 6) NULL,
	[CostOfGoodsSoldGC] [numeric](38, 6) NULL,
	[CostOfGoodsSoldAC_Budget] [numeric](38, 6) NULL,
	[CostOfGoodsSoldRC_Budget] [numeric](38, 6) NULL,
	[CostOfGoodsSoldGC_Budget] [numeric](38, 6) NULL,
	[GrossMarginTC] [numeric](38, 6) NULL,
	[GrossMarginAC] [numeric](38, 6) NULL,
	[GrossMarginRC] [numeric](38, 6) NULL,
	[GrossMarginGC] [numeric](38, 6) NULL,
	[GrossMarginAC_Budget] [numeric](38, 6) NULL,
	[GrossMarginRC_Budget] [numeric](38, 6) NULL,
	[GrossMarginGC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_SalesUnit] [numeric](38, 6) NULL,
	[SurchargeDeliveryAC] [numeric](38, 6) NULL,
	[SurchargeDeliveryAC_Budget] [numeric](38, 6) NULL,
	[SurchargeDeliveryGC] [numeric](38, 6) NULL,
	[SurchargeDeliveryGC_Budget] [numeric](38, 6) NULL,
	[SurchargeDeliveryRC] [numeric](38, 6) NULL,
	[SurchargeDeliveryRC_Budget] [numeric](38, 6) NULL,
	[SurchargeDeliveryTC] [numeric](38, 6) NULL,
	[SurchargePurchaseAC] [numeric](38, 6) NULL,
	[SurchargePurchaseAC_Budget] [numeric](38, 6) NULL,
	[SurchargePurchaseGC] [numeric](38, 6) NULL,
	[SurchargePurchaseGC_Budget] [numeric](38, 6) NULL,
	[SurchargePurchaseRC] [numeric](38, 6) NULL,
	[SurchargePurchaseRC_Budget] [numeric](38, 6) NULL,
	[SurchargePurchaseTC] [numeric](38, 6) NULL,
	[SurchargeTotalAC] [numeric](38, 6) NULL,
	[SurchargeTotalAC_Budget] [numeric](38, 6) NULL,
	[SurchargeTotalGC] [numeric](38, 6) NULL,
	[SurchargeTotalGC_Budget] [numeric](38, 6) NULL,
	[SurchargeTotalRC] [numeric](38, 6) NULL,
	[SurchargeTotalRC_Budget] [numeric](38, 6) NULL,
	[SurchargeTotalTC] [numeric](38, 6) NULL,
	[SurchargeTransportAC] [numeric](38, 6) NULL,
	[SurchargeTransportAC_Budget] [numeric](38, 6) NULL,
	[SurchargeTransportGC] [numeric](38, 6) NULL,
	[SurchargeTransportGC_Budget] [numeric](38, 6) NULL,
	[SurchargeTransportRC] [numeric](38, 6) NULL,
	[SurchargeTransportRC_Budget] [numeric](38, 6) NULL,
	[SurchargeTransportTC] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactSalesOrder] PRIMARY KEY CLUSTERED 
(
	[FactSalesOrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimCompanyId] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimCompanyId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimConfirmedDeliveryDateId] FOREIGN KEY([DimConfirmedDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesOrder] CHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimConfirmedDeliveryDateId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimConfirmedShippingDateId] FOREIGN KEY([DimConfirmedShippingDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesOrder] CHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimConfirmedShippingDateId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimCreationDateId] FOREIGN KEY([DimCreationDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesOrder] CHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimCreationDateId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimCustomerId] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimCustomerId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimDeliveryModeId] FOREIGN KEY([DimDeliveryModeId])
REFERENCES [DWH].[DimDeliveryMode] ([DimDeliveryModeId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimDeliveryModeId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimDeliveryTermsId] FOREIGN KEY([DimDeliveryTermsId])
REFERENCES [DWH].[DimDeliveryTerms] ([DimDeliveryTermsId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimDeliveryTermsId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimLastShipmentDateId] FOREIGN KEY([DimLastShipmentDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesOrder] CHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimLastShipmentDateId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimOrderCustomerId] FOREIGN KEY([DimOrderCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimOrderCustomerId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimPaymentTermsId] FOREIGN KEY([DimPaymentTermsId])
REFERENCES [DWH].[DimPaymentTerms] ([DimPaymentTermsId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimPaymentTermsId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimProductConfigurationId] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimProductConfigurationId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimProductId] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimProductId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimRequestedDeliveryDateId] FOREIGN KEY([DimRequestedDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesOrder] CHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimRequestedDeliveryDateId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimRequestedShippingDateId] FOREIGN KEY([DimRequestedShippingDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesOrder] CHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimRequestedShippingDateId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimSalesOrderId] FOREIGN KEY([DimSalesOrderId])
REFERENCES [DWH].[DimSalesOrder] ([DimSalesOrderId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimSalesOrderId]
GO
ALTER TABLE [DWH].[FactSalesOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesOrder_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesOrder] NOCHECK CONSTRAINT [FK_DWH_FactSalesOrder_DimTransactionCurrencyId]
GO
