/****** Object:  Table [DWH].[DimDeliveryMode]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimDeliveryMode](
	[DimDeliveryModeId] [int] IDENTITY(1,1) NOT NULL,
	[DeliveryModeCode] [nvarchar](50) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[DeliveryModeName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimDeliveryMode] PRIMARY KEY CLUSTERED 
(
	[DimDeliveryModeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
