/****** Object:  View [DWH].[V_DimEndCustomer]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [DWH].[V_DimEndCustomer] AS         

SELECT    EndCustomerId
		, UPPER(EndCustomerCode) AS EndCustomerCode
		, EndCustomerName
		, EndCustomerCodeName
		, DimensionName     
		, ISNULL( C.SalesSegmentCode , N'_N/A') AS SalesSegmentCode-- Industry Vertical in cube
		, ISNULL(C.SalesSubSegmentCode , N'_N/A') AS SalesSubSegmentCode -- Industry Classification in cube
		, ISNULL(C.CompanyChain, N'_N/A') AS CompanyChain
		, ISNULL(CO.CompanyCode, N'_N/A') AS CompanyCode
		, ISNULL(TaxGroup, N'_N/A') AS TaxGroup

FROM DataStore.EndCustomer EC -- Multiplication is desired, to get Endcustomer per CompanyCode

CROSS JOIN DataStore.Company CO

LEFT JOIN DataStore.Customer C
ON EC.EndCustomerCode = C.CustomerCode
AND CO.CompanyCode = C.CompanyCode



/* Create Unknown Member */

UNION ALL 
        
SELECT	DISTINCT -1
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, UPPER(CompanyCode) AS CompanyId
		, N'_N/A'

FROM DataStore.Company


GO
