/****** Object:  Table [DWH].[FactInterCompanyARAP]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactInterCompanyARAP](
	[FactInterCompanyARAPId] [int] IDENTITY(1,1) NOT NULL,
	[DimSalesInvoiceId] [int] NOT NULL,
	[DimPurchaseInvoiceId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[CustomerSettlementCode] [nvarchar](255) NOT NULL,
	[SupplierSettlement] [nvarchar](255) NOT NULL,
	[DimCompanyID] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[InvoiceAmountTC] [numeric](38, 8) NULL,
	[InvoiceAmountAC] [numeric](38, 8) NULL,
	[InvoiceAmountRC] [numeric](38, 8) NULL,
	[InvoiceAmountGC] [numeric](38, 8) NULL,
	[OpenAmountTC] [numeric](38, 8) NULL,
	[OpenAmountAC] [numeric](38, 8) NULL,
	[OpenAmountRC] [numeric](38, 8) NULL,
	[OpenAmountGC] [numeric](38, 8) NULL,
	[AmountInvoiceTC] [numeric](38, 8) NULL,
	[AmountInvoiceAC] [numeric](38, 8) NULL,
	[AmountInvoiceRC] [numeric](38, 8) NULL,
	[AmountInvoiceGC] [numeric](38, 8) NULL,
	[DimInvoiceDateId] [int] NOT NULL,
	[DimDueDateId] [int] NOT NULL,
	[PostedDate] [datetime2](7) NOT NULL,
	[ETA] [datetime2](7) NOT NULL,
	[ETD] [datetime2](7) NOT NULL,
	[Branch] [nvarchar](255) NOT NULL,
	[Departement] [nvarchar](255) NOT NULL,
	[BusinessType] [nvarchar](10) NOT NULL,
	[AR_AP_Type] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](255) NOT NULL,
	[JobInvoice] [nvarchar](255) NOT NULL,
	[POD] [nvarchar](255) NOT NULL,
	[House] [nvarchar](255) NOT NULL,
	[ShipmentNumber] [nvarchar](255) NOT NULL,
	[Master] [nvarchar](255) NOT NULL,
	[OrigCountry] [nvarchar](255) NOT NULL,
	[OrigCountryName] [nvarchar](255) NOT NULL,
	[POL] [nvarchar](255) NOT NULL,
	[DimReportDateId] [int] NULL,
 CONSTRAINT [PK_FactInterCompanyARAPId] PRIMARY KEY CLUSTERED 
(
	[FactInterCompanyARAPId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactInterCompanyARAP_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] NOCHECK CONSTRAINT [FK_DWH_FactInterCompanyARAP_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactInterCompanyARAP_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] NOCHECK CONSTRAINT [FK_DWH_FactInterCompanyARAP_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactInterCompanyARAP_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] NOCHECK CONSTRAINT [FK_DWH_FactInterCompanyARAP_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactInterCompanyARAP_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] NOCHECK CONSTRAINT [FK_DWH_FactInterCompanyARAP_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH CHECK ADD  CONSTRAINT [FK_FactIntercompanyARAP_DimCompany] FOREIGN KEY([DimCompanyID])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] CHECK CONSTRAINT [FK_FactIntercompanyARAP_DimCompany]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH CHECK ADD  CONSTRAINT [FK_FactIntercompanyARAP_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] CHECK CONSTRAINT [FK_FactIntercompanyARAP_DimCustomer]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH CHECK ADD  CONSTRAINT [FK_FactIntercompanyARAP_DimPurchaseInvoice] FOREIGN KEY([DimPurchaseInvoiceId])
REFERENCES [DWH].[DimPurchaseInvoice] ([DimPurchaseInvoiceId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] CHECK CONSTRAINT [FK_FactIntercompanyARAP_DimPurchaseInvoice]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH CHECK ADD  CONSTRAINT [FK_FactIntercompanyARAP_DimSalesInvoice] FOREIGN KEY([DimSalesInvoiceId])
REFERENCES [DWH].[DimSalesInvoice] ([DimSalesInvoiceId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] CHECK CONSTRAINT [FK_FactIntercompanyARAP_DimSalesInvoice]
GO
ALTER TABLE [DWH].[FactInterCompanyARAP]  WITH CHECK ADD  CONSTRAINT [FK_FactIntercompanyARAP_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactInterCompanyARAP] CHECK CONSTRAINT [FK_FactIntercompanyARAP_DimSupplier]
GO
