/****** Object:  Table [DWH].[DimSalesOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimSalesOrder](
	[DimSalesOrderId] [int] IDENTITY(1,1) NOT NULL,
	[SalesOrderCode] [nvarchar](50) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[DeliveryAddress] [nvarchar](255) NOT NULL,
	[RequestedShippingDate] [date] NOT NULL,
	[RequestedDeliveryDate] [date] NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimSalesOrderId] PRIMARY KEY CLUSTERED 
(
	[DimSalesOrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
