/****** Object:  Table [DWH].[FactAccountsReceivable]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactAccountsReceivable](
	[FactAccountsReceivableId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimSalesInvoiceId] [int] NOT NULL,
	[DimIsOpenAmountId] [bit] NOT NULL,
	[DimOutstandingPeriodId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimReportDateId] [int] NOT NULL,
	[DimDueDateId] [int] NOT NULL,
	[ReportMonthId] [int] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[LastPaymentDate] [datetime] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[RecId] [bigint] NOT NULL,
	[ReceivablesVoucher] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[InvoiceAmountTC] [numeric](38, 6) NULL,
	[InvoiceAmountAC] [numeric](38, 6) NULL,
	[InvoiceAmountRC] [numeric](38, 6) NULL,
	[InvoiceAmountGC] [numeric](38, 6) NULL,
	[InvoiceAmountAC_Budget] [numeric](38, 6) NULL,
	[InvoiceAmountRC_Budget] [numeric](38, 6) NULL,
	[InvoiceAmountGC_Budget] [numeric](38, 6) NULL,
	[PaidAmountTC] [numeric](38, 6) NULL,
	[PaidAmountAC] [numeric](38, 6) NULL,
	[PaidAmountRC] [numeric](38, 6) NULL,
	[PaidAmountGC] [numeric](38, 6) NULL,
	[PaidAmountAC_Budget] [numeric](38, 6) NULL,
	[PaidAmountRC_Budget] [numeric](38, 6) NULL,
	[PaidAmountGC_Budget] [numeric](38, 6) NULL,
	[OpenAmountTC] [numeric](38, 6) NULL,
	[OpenAmountAC] [numeric](38, 6) NULL,
	[OpenAmountRC] [numeric](38, 6) NULL,
	[OpenAmountGC] [numeric](38, 6) NULL,
	[OpenAmountAC_Budget] [numeric](38, 6) NULL,
	[OpenAmountRC_Budget] [numeric](38, 6) NULL,
	[OpenAmountGC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[DimVoucherId] [int] NULL,
 CONSTRAINT [PK_FactARCurrent1] PRIMARY KEY CLUSTERED 
(
	[FactAccountsReceivableId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH CHECK ADD  CONSTRAINT [FK__FactAccou__DimDu__3D34CDF7] FOREIGN KEY([DimDueDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] CHECK CONSTRAINT [FK__FactAccou__DimDu__3D34CDF7]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH CHECK ADD  CONSTRAINT [FK__FactAccou__DimIs__7EAD8B99] FOREIGN KEY([DimIsOpenAmountId])
REFERENCES [DWH].[DimIsOpenAmount] ([DimIsOpenAmountId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] CHECK CONSTRAINT [FK__FactAccou__DimIs__7EAD8B99]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH CHECK ADD  CONSTRAINT [FK__FactAccou__DimOu__7FA1AFD2] FOREIGN KEY([DimOutstandingPeriodId])
REFERENCES [DWH].[DimOutstandingPeriod] ([DimOutstandingPeriodId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] CHECK CONSTRAINT [FK__FactAccou__DimOu__7FA1AFD2]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH CHECK ADD  CONSTRAINT [FK__FactAccou__DimRe__41055EDB] FOREIGN KEY([DimReportDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] CHECK CONSTRAINT [FK__FactAccou__DimRe__41055EDB]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactARCurrent_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] NOCHECK CONSTRAINT [FK_DWH_FactARCurrent_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactARCurrent_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] NOCHECK CONSTRAINT [FK_DWH_FactARCurrent_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactARCurrent_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] NOCHECK CONSTRAINT [FK_DWH_FactARCurrent_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactARCurrent_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] NOCHECK CONSTRAINT [FK_DWH_FactARCurrent_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH CHECK ADD  CONSTRAINT [FK_FactAccountsReceivable_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] CHECK CONSTRAINT [FK_FactAccountsReceivable_DimCustomer]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH CHECK ADD  CONSTRAINT [FK_FactAccountsReceivable_DimSalesInvoice] FOREIGN KEY([DimSalesInvoiceId])
REFERENCES [DWH].[DimSalesInvoice] ([DimSalesInvoiceId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] CHECK CONSTRAINT [FK_FactAccountsReceivable_DimSalesInvoice]
GO
ALTER TABLE [DWH].[FactAccountsReceivable]  WITH CHECK ADD  CONSTRAINT [FK_FactARCurrent_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactAccountsReceivable] CHECK CONSTRAINT [FK_FactARCurrent_DimCompany]
GO
