/****** Object:  View [DWH].[V_DimCompany]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DWH].[V_DimCompany] AS 

SELECT	  UPPER(CompanyCode) AS CompanyCode
		, CompanyName
		, CompanyCodeName
		, CompanyType

FROM DataStore.Company

/*CREATE UNKNOWN MEMBER*/

UNION ALL

SELECT	N'_N/A'
	  , N'_N/A'
	  , N'_N/A'
	  , N'_N/A'
GO
