/****** Object:  Table [DWH].[FactSalesBudget]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactSalesBudget](
	[FactSalesBudgetId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimForecastModelId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimForecastDateId] [int] NOT NULL,
	[DimGLAccountId] [int] NOT NULL,
	[DimIntercompanyId] [int] NOT NULL,
	[ProductGroupCode] [nvarchar](100) NOT NULL,
	[CustomerGroupCode] [nvarchar](20) NOT NULL,
	[Comment] [nvarchar](510) NOT NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[ForecastQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[ForecastQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[ForecastQuantity_SalesUnit] [numeric](38, 6) NULL,
	[GrossSalesAmountTC] [numeric](32, 17) NOT NULL,
	[GrossSalesAmountAC] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountRC] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountGC] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[CostPriceTC] [numeric](38, 7) NOT NULL,
	[CostPriceAC] [numeric](38, 6) NOT NULL,
	[CostPriceRC] [numeric](38, 6) NOT NULL,
	[CostPriceGC] [numeric](38, 6) NOT NULL,
	[CostPriceAC_Budget] [numeric](38, 6) NOT NULL,
	[CostPriceRC_Budget] [numeric](38, 6) NOT NULL,
	[CostPriceGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginTC] [numeric](38, 7) NOT NULL,
	[GrossMarginAC] [numeric](38, 6) NOT NULL,
	[GrossMarginRC] [numeric](38, 6) NOT NULL,
	[GrossMarginGC] [numeric](38, 6) NOT NULL,
	[GrossMarginAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactSalesBudget] PRIMARY KEY CLUSTERED 
(
	[FactSalesBudgetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK__FactSales__DimFo__70B471FD] FOREIGN KEY([DimForecastDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK__FactSales__DimFo__70B471FD]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesBudget_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesBudget] NOCHECK CONSTRAINT [FK_DWH_FactSalesBudget_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesBudget_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesBudget] NOCHECK CONSTRAINT [FK_DWH_FactSalesBudget_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimCompany]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimCurrency] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimCurrency]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimCurrency1] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimCurrency1]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimCustomer]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimForecastModel] FOREIGN KEY([DimForecastModelId])
REFERENCES [DWH].[DimForecastModel] ([DimForeCastModelId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimForecastModel]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimGLAccount] FOREIGN KEY([DimGLAccountId])
REFERENCES [DWH].[DimGLAccount] ([DimGLAccountId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimGLAccount]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimIntercompany] FOREIGN KEY([DimIntercompanyId])
REFERENCES [DWH].[DimIntercompany] ([DimIntercompanyId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimIntercompany]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimProduct]
GO
ALTER TABLE [DWH].[FactSalesBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesBudget_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactSalesBudget] CHECK CONSTRAINT [FK_FactSalesBudget_DimProductConfiguration]
GO
