/****** Object:  View [DWH].[V_DimVoucher]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [DWH].[V_DimVoucher] AS

SELECT    UPPER(CompanyCode) AS CompanyCode
		, UPPER(Voucher) AS Voucher
		, N'_N/A' AS Information

FROM DataStore3.Voucher
GO
