/****** Object:  Table [DWH].[DimVoucher]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimVoucher](
	[DimVoucherId] [int] IDENTITY(31,1) NOT NULL,
	[Voucher] [nvarchar](50) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[Information] [nvarchar](10) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimVoucherFD] PRIMARY KEY CLUSTERED 
(
	[DimVoucherId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
