/****** Object:  Table [DWH].[DimPurchaseOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimPurchaseOrder](
	[DimPurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[PurchaseOrderCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[SupplierCode] [nvarchar](20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimPurchaseOrderId] PRIMARY KEY CLUSTERED 
(
	[DimPurchaseOrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
