/****** Object:  View [DWH].[V_FactGeneralLedger]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO












CREATE VIEW [DWH].[V_FactGeneralLedger] AS 

/*Adapt the financial dimensions!!*/

SELECT	  RecId
		, TransactionText
		, UPPER(TransactionCode) AS TransactionCode
		, UPPER(GL.CompanyCode) AS CompanyCode
		, UPPER(DefaultExchangeRateTypeCode) AS DefaultExchangeRateTypeCode
		, UPPER(BudgetExchangeRateTypeCode) AS BudgetExchangeRateTypeCode
		, UPPER(TransactionCurrencyCode) AS TransactionCurrencyCode
		, UPPER(AccountingCurrencyCode) AS AccountingCurrencyCode
		, UPPER(ReportingCurrencyCode) AS ReportingCurrencyCode
		, UPPER(GroupCurrencyCode) AS GroupCurrencyCode
		, GLAccountId
		, IntercompanyId
		--, CostCenterId
		 ,BusinessSegmentId
		 ,DepartmentId 
		, EndCustomerID
		, LocationId
		, ShipmentContractId
		, LocalAccountId
		, ProductFDId
		, VendorId
		, SUP.SupplierId
		, SUP.DimSupplierId
		, DocumentDate
		, ETL.fn_DateKeyInt(PostingDate) AS DimPostingDateId
		, IsDebitCredit
		, Voucher
		, AmountTC
		, AmountAC
		, AmountRC
		, AmountGC
		, AmountAC_Budget
		, AmountRC_Budget
		, AmountGC_Budget
		, AppliedExchangeRateTC
		, AppliedExchangeRateAC
		, AppliedExchangeRateRC
		, AppliedExchangeRateGC
		, AppliedExchangeRateAC_Budget
		, AppliedExchangeRateRC_Budget
		, AppliedExchangeRateGC_Budget

FROM DataStore2.GeneralLedger GL

LEFT JOIN (SELECT MIN(DimSupplierId) DimSupplierId, CompanyCode, CAST(SupplierID AS NVARCHAR(100)) AS SUPPLIERID FROM DWH.DimSupplier SUP WHERE SupplierId <> -1 GROUP BY CompanyCode, CAST(SupplierID AS NVARCHAR(100)) UNION SELECT DimSupplierId, CompanyCode, CONCAT(CompanyCode, '|', SupplierId) AS SUPPLIERID FROM DWH.DimSupplier WHERE SupplierId = -1) SUP
ON SUP.SupplierId = CASE WHEN GL.VendorId = -1 THEN CONCAT(GL.CompanyCode, '|', VendorId) ELSE CAST(VendorId AS NVARCHAR(100)) END
AND SUP.CompanyCode = GL.CompanyCode

GO
