/****** Object:  Table [DWH].[FactSalesInvoice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactSalesInvoice](
	[FactSalesInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[DimSalesInvoiceId] [int] NOT NULL,
	[DimSalesOrderId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimOrderCustomerId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimPaymentTermsId] [int] NOT NULL,
	[DimDeliveryModeId] [int] NOT NULL,
	[DimDeliveryTermsId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimInvoiceDateId] [int] NOT NULL,
	[DimRequestedDeliveryDateId] [int] NOT NULL,
	[DimConfirmedDeliveryDateId] [int] NOT NULL,
	[DimGLAccountId] [int] NOT NULL,
	[DimIntercompanyId] [int] NOT NULL,
	[InvoiceMonthId] [int] NOT NULL,
	[SalesInvoiceCode] [nvarchar](50) NOT NULL,
	[TaxWriteCode] [int] NOT NULL,
	[SalesOrderStatus] [nvarchar](20) NOT NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[SalesInvoiceLineNumber] [nvarchar](50) NOT NULL,
	[SalesInvoiceLineNumberCombination] [nvarchar](100) NOT NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[InvoicedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[InvoicedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[InvoicedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[SalesPricePerUnitTC] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitAC] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitRC] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitGC] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitAC_Budget] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitRC_Budget] [numeric](38, 6) NOT NULL,
	[SalesPricePerUnitGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesTC] [numeric](38, 6) NOT NULL,
	[GrossSalesAC] [numeric](38, 6) NOT NULL,
	[GrossSalesRC] [numeric](38, 6) NOT NULL,
	[GrossSalesGC] [numeric](38, 6) NOT NULL,
	[GrossSalesAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossSalesGC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountTC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountTC] [numeric](32, 17) NOT NULL,
	[InvoicedSalesAmountAC] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountRC] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountGC] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[NetSalesAmountTC] [numeric](38, 6) NOT NULL,
	[NetSalesAmountAC] [numeric](38, 6) NOT NULL,
	[NetSalesAmountRC] [numeric](38, 6) NOT NULL,
	[NetSalesAmountGC] [numeric](38, 6) NOT NULL,
	[NetSalesAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[NetSalesAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[NetSalesAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NOT NULL,
	[CostOfGoodsSoldTC] [numeric](38, 7) NOT NULL,
	[CostOfGoodsSoldAC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldRC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldGC] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldAC_Budget] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldRC_Budget] [numeric](38, 6) NOT NULL,
	[CostOfGoodsSoldGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginTC] [numeric](38, 6) NOT NULL,
	[GrossMarginAC] [numeric](38, 6) NOT NULL,
	[GrossMarginRC] [numeric](38, 6) NOT NULL,
	[GrossMarginGC] [numeric](38, 6) NOT NULL,
	[GrossMarginAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossMarginGC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedSalesAmountInclTaxAC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountInclTaxGC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountInclTaxRC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountInclTaxTC] [numeric](38, 6) NULL,
	[RebateAmountCancelledAC] [numeric](38, 6) NULL,
	[RebateAmountCancelledAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCancelledGC] [numeric](38, 6) NULL,
	[RebateAmountCancelledGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCancelledRC] [numeric](38, 6) NULL,
	[RebateAmountCancelledRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCancelledTC] [numeric](38, 6) NULL,
	[RebateAmountCompletedAC] [numeric](38, 6) NULL,
	[RebateAmountCompletedAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCompletedGC] [numeric](38, 6) NULL,
	[RebateAmountCompletedGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCompletedRC] [numeric](38, 6) NULL,
	[RebateAmountCompletedRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountCompletedTC] [numeric](38, 6) NULL,
	[RebateAmountMarkedAC] [numeric](38, 6) NULL,
	[RebateAmountMarkedAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountMarkedGC] [numeric](38, 6) NULL,
	[RebateAmountMarkedGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountMarkedRC] [numeric](38, 6) NULL,
	[RebateAmountMarkedRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountMarkedTC] [numeric](38, 6) NULL,
	[RebateAmountOriginalAC] [numeric](38, 6) NULL,
	[RebateAmountOriginalAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountOriginalGC] [numeric](38, 6) NULL,
	[RebateAmountOriginalGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountOriginalRC] [numeric](38, 6) NULL,
	[RebateAmountOriginalRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountOriginalTC] [numeric](38, 6) NULL,
	[RebateAmountVarianceAC] [numeric](38, 6) NULL,
	[RebateAmountVarianceAC_Budget] [numeric](38, 6) NULL,
	[RebateAmountVarianceGC] [numeric](38, 6) NULL,
	[RebateAmountVarianceGC_Budget] [numeric](38, 6) NULL,
	[RebateAmountVarianceRC] [numeric](38, 6) NULL,
	[RebateAmountVarianceRC_Budget] [numeric](38, 6) NULL,
	[RebateAmountVarianceTC] [numeric](38, 6) NULL,
	[SurchargeTotalAC] [numeric](38, 6) NULL,
	[SurchargeTotalAC_Budget] [numeric](38, 6) NULL,
	[SurchargeTotalGC] [numeric](38, 6) NULL,
	[SurchargeTotalGC_Budget] [numeric](38, 6) NULL,
	[SurchargeTotalRC] [numeric](38, 6) NULL,
	[SurchargeTotalRC_Budget] [numeric](38, 6) NULL,
	[SurchargeTotalTC] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[DimBusinessSegmentId] [int] NOT NULL,
	[DimDepartmentId] [int] NOT NULL,
	[DimEndCustomerId] [int] NOT NULL,
	[DimLocationId] [int] NOT NULL,
	[DimShipmentContractId] [int] NOT NULL,
	[DimLocalAccountId] [int] NOT NULL,
	[DimProductFDId] [int] NOT NULL,
 CONSTRAINT [PK_FactSalesInvoice] PRIMARY KEY CLUSTERED 
(
	[FactSalesInvoiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesInvoice_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] NOCHECK CONSTRAINT [FK_DWH_FactSalesInvoice_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesInvoice_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] NOCHECK CONSTRAINT [FK_DWH_FactSalesInvoice_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesInvoice_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] NOCHECK CONSTRAINT [FK_DWH_FactSalesInvoice_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactSalesInvoice_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] NOCHECK CONSTRAINT [FK_DWH_FactSalesInvoice_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimBusinessSegment] FOREIGN KEY([DimBusinessSegmentId])
REFERENCES [DWH].[DimBusinessSegment] ([DimBusinessSegmentId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimBusinessSegment]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimCompany]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimConfirmedDeliveryDateId] FOREIGN KEY([DimConfirmedDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimConfirmedDeliveryDateId]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimCustomer]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimDeliveryMode] FOREIGN KEY([DimDeliveryModeId])
REFERENCES [DWH].[DimDeliveryMode] ([DimDeliveryModeId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimDeliveryMode]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimDeliveryTerms] FOREIGN KEY([DimDeliveryTermsId])
REFERENCES [DWH].[DimDeliveryTerms] ([DimDeliveryTermsId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimDeliveryTerms]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimDepartment] FOREIGN KEY([DimDepartmentId])
REFERENCES [DWH].[DimDepartment] ([DimDepartmentId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimDepartment]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimEndCustomer] FOREIGN KEY([DimEndCustomerId])
REFERENCES [DWH].[DimEndCustomer] ([DimEndCustomerId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimEndCustomer]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimGLAccount] FOREIGN KEY([DimGLAccountId])
REFERENCES [DWH].[DimGLAccount] ([DimGLAccountId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimGLAccount]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimIntercompany] FOREIGN KEY([DimIntercompanyId])
REFERENCES [DWH].[DimIntercompany] ([DimIntercompanyId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimIntercompany]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimInvoiceDateId] FOREIGN KEY([DimInvoiceDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimInvoiceDateId]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimLocalAccount] FOREIGN KEY([DimLocalAccountId])
REFERENCES [DWH].[DimLocalAccount] ([DimLocalAccountId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimLocalAccount]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimLocation] FOREIGN KEY([DimLocationId])
REFERENCES [DWH].[DimLocation] ([DimLocationId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimLocation]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimOrderCustomer] FOREIGN KEY([DimOrderCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimOrderCustomer]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimPaymentTerms] FOREIGN KEY([DimPaymentTermsId])
REFERENCES [DWH].[DimPaymentTerms] ([DimPaymentTermsId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimPaymentTerms]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimProduct]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimProductFD] FOREIGN KEY([DimProductFDId])
REFERENCES [DWH].[DimProductFD] ([DimProductFDId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimProductFD]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimRequestedDeliveryDateId] FOREIGN KEY([DimRequestedDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimRequestedDeliveryDateId]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimSalesInvoice] FOREIGN KEY([DimSalesInvoiceId])
REFERENCES [DWH].[DimSalesInvoice] ([DimSalesInvoiceId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimSalesInvoice]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimSalesOrder] FOREIGN KEY([DimSalesOrderId])
REFERENCES [DWH].[DimSalesOrder] ([DimSalesOrderId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimSalesOrder]
GO
ALTER TABLE [DWH].[FactSalesInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesInvoice_DimShipmentContract] FOREIGN KEY([DimShipmentContractId])
REFERENCES [DWH].[DimShipmentContract] ([DimShipmentContractId])
GO
ALTER TABLE [DWH].[FactSalesInvoice] CHECK CONSTRAINT [FK_FactSalesInvoice_DimShipmentContract]
GO
