/****** Object:  View [DWH].[V_DimTime]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [DWH].[V_DimTime] AS

SELECT    DimTimeId
		, HourId
		, HourZoneCode
		, HourZoneName
		, MinuteId
		, [Time]

FROM DataStore.Time
GO
