/****** Object:  Table [DWH].[FactPurchaseInvoice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactPurchaseInvoice](
	[FactPurchaseInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimPurchaseInvoiceId] [int] NOT NULL,
	[DimPurchaseOrderId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimGLAccountId] [int] NOT NULL,
	[DimIntercompanyId] [int] NOT NULL,
	[DimPaymentTermsId] [int] NOT NULL,
	[DimDeliveryModeId] [int] NOT NULL,
	[DimDeliveryTermsId] [int] NOT NULL,
	[DimInvoiceDateId] [int] NOT NULL,
	[InvoiceMonthId] [int] NULL,
	[PurchaseInvoiceCode] [nvarchar](20) NOT NULL,
	[PurchaseOrderStatus] [nvarchar](20) NOT NULL,
	[PurchaseInvoiceLineNumber] [numeric](32, 17) NOT NULL,
	[InvoiceLineNumberCombination] [nvarchar](53) NOT NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[TaxWriteCode] [int] NOT NULL,
	[PurchaseUnit] [nvarchar](20) NOT NULL,
	[InvoicedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[InvoicedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[InvoicedQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitTC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitAC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitRC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitGC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitAC_Budget] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitRC_Budget] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseTC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseAC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseRC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseGC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseGC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountTC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountTC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountAC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountRC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountGC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountTC] [numeric](38, 6) NOT NULL,
	[MarkupAmountAC] [numeric](38, 6) NOT NULL,
	[MarkupAmountRC] [numeric](38, 6) NOT NULL,
	[MarkupAmountGC] [numeric](38, 6) NOT NULL,
	[MarkupAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountTC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountAC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountRC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountGC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NOT NULL,
	[SurchargeTransportTC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportAC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalTC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalAC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC_Budget] [numeric](38, 6) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[DimProductFDId] [int] NOT NULL,
	[DimBusinessSegmentId] [int] NOT NULL,
	[DimEndCustomerId] [int] NOT NULL,
	[DimLocationId] [int] NOT NULL,
	[DimShipmentContractId] [int] NOT NULL,
	[DimLocalAccountId] [int] NOT NULL,
	[DimDepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_FactPurchaseInvoice] PRIMARY KEY CLUSTERED 
(
	[FactPurchaseInvoiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK__FactPurch__DimInvoiceDateId] FOREIGN KEY([DimInvoiceDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK__FactPurch__DimInvoiceDateId]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactPurchaseInvoice_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] NOCHECK CONSTRAINT [FK_DWH_FactPurchaseInvoice_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactPurchaseInvoice_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] NOCHECK CONSTRAINT [FK_DWH_FactPurchaseInvoice_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactPurchaseInvoice_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] NOCHECK CONSTRAINT [FK_DWH_FactPurchaseInvoice_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactPurchaseInvoice_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_DWH_FactPurchaseInvoice_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimBusinessSegment] FOREIGN KEY([DimBusinessSegmentId])
REFERENCES [DWH].[DimBusinessSegment] ([DimBusinessSegmentId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimBusinessSegment]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimCompany]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimDeliveryMode] FOREIGN KEY([DimDeliveryModeId])
REFERENCES [DWH].[DimDeliveryMode] ([DimDeliveryModeId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimDeliveryMode]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimDeliveryTerms] FOREIGN KEY([DimDeliveryTermsId])
REFERENCES [DWH].[DimDeliveryTerms] ([DimDeliveryTermsId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimDeliveryTerms]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimDepartment] FOREIGN KEY([DimDepartmentId])
REFERENCES [DWH].[DimDepartment] ([DimDepartmentId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimDepartment]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimEndCustomer] FOREIGN KEY([DimEndCustomerId])
REFERENCES [DWH].[DimEndCustomer] ([DimEndCustomerId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimEndCustomer]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimGLAccount] FOREIGN KEY([DimGLAccountId])
REFERENCES [DWH].[DimGLAccount] ([DimGLAccountId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimGLAccount]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimIntercompany] FOREIGN KEY([DimIntercompanyId])
REFERENCES [DWH].[DimIntercompany] ([DimIntercompanyId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimIntercompany]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimLocalAccount] FOREIGN KEY([DimLocalAccountId])
REFERENCES [DWH].[DimLocalAccount] ([DimLocalAccountId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimLocalAccount]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimLocation] FOREIGN KEY([DimLocationId])
REFERENCES [DWH].[DimLocation] ([DimLocationId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimLocation]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimPaymentTerms] FOREIGN KEY([DimPaymentTermsId])
REFERENCES [DWH].[DimPaymentTerms] ([DimPaymentTermsId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimPaymentTerms]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimProduct]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimProductFD] FOREIGN KEY([DimProductFDId])
REFERENCES [DWH].[DimProductFD] ([DimProductFDId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimProductFD]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimPurchaseInvoice] FOREIGN KEY([DimPurchaseInvoiceId])
REFERENCES [DWH].[DimPurchaseInvoice] ([DimPurchaseInvoiceId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimPurchaseInvoice]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimPurchaseOrder] FOREIGN KEY([DimPurchaseOrderId])
REFERENCES [DWH].[DimPurchaseOrder] ([DimPurchaseOrderId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimPurchaseOrder]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimShipmentContract] FOREIGN KEY([DimShipmentContractId])
REFERENCES [DWH].[DimShipmentContract] ([DimShipmentContractId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimShipmentContract]
GO
ALTER TABLE [DWH].[FactPurchaseInvoice]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseInvoice_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactPurchaseInvoice] CHECK CONSTRAINT [FK_FactPurchaseInvoice_DimSupplier]
GO
