/****** Object:  View [DWH].[V_DimLocalAccount]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [DWH].[V_DimLocalAccount] AS         

SELECT    LocalAccountId
		, UPPER(LocalAccountCode) AS LocalAccountCode
		, LocalAccountName
		, LocalAccountCodeName
		, DimensionName         

FROM DataStore.LocalAccount

/* Create Unknown Member */

UNION ALL 
        
SELECT	-1
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
GO
