/****** Object:  Table [DWH].[FactPurchaseDelivery]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactPurchaseDelivery](
	[FactPurchaseDeliveryId] [int] IDENTITY(1,1) NOT NULL,
	[DimPurchaseOrderId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimDeliveryTermsId] [int] NOT NULL,
	[DimDeliveryModeId] [int] NOT NULL,
	[DimOrderSupplierId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimActualDeliveryDateId] [int] NOT NULL,
	[DimRequestedDeliveryDateId] [int] NOT NULL,
	[DimConfirmedDeliveryDateId] [int] NOT NULL,
	[PackingSlipCode] [nvarchar](40) NOT NULL,
	[PurchaseType] [nvarchar](50) NOT NULL,
	[PurchaseOrderLineNumber] [bigint] NOT NULL,
	[DeliveryName] [nvarchar](255) NOT NULL,
	[DeliveryLineNumber] [int] NOT NULL,
	[PurchaseUnit] [nvarchar](20) NOT NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_SalesUnit] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactDeliveries] PRIMARY KEY CLUSTERED 
(
	[FactPurchaseDeliveryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimActualDeliveryDateId] FOREIGN KEY([DimActualDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimActualDeliveryDateId]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimCompany]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimConfirmedDeliveryDateId] FOREIGN KEY([DimConfirmedDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimConfirmedDeliveryDateId]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimDeliveryMode] FOREIGN KEY([DimDeliveryModeId])
REFERENCES [DWH].[DimDeliveryMode] ([DimDeliveryModeId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimDeliveryMode]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimDeliveryTerms] FOREIGN KEY([DimDeliveryTermsId])
REFERENCES [DWH].[DimDeliveryTerms] ([DimDeliveryTermsId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimDeliveryTerms]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimOrderSupplierId] FOREIGN KEY([DimOrderSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimOrderSupplierId]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimProduct]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimPurchaseOrderId] FOREIGN KEY([DimPurchaseOrderId])
REFERENCES [DWH].[DimPurchaseOrder] ([DimPurchaseOrderId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimPurchaseOrderId]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimRequestedDeliveryDateId] FOREIGN KEY([DimRequestedDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimRequestedDeliveryDateId]
GO
ALTER TABLE [DWH].[FactPurchaseDelivery]  WITH CHECK ADD  CONSTRAINT [FK_FactDeliveries_DimSupplierId] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactPurchaseDelivery] CHECK CONSTRAINT [FK_FactDeliveries_DimSupplierId]
GO
