/****** Object:  Table [DWH].[FactCCC]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactCCC](
	[DimCustomerId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimReportingDateId] [int] NOT NULL,
	[DSO] [int] NOT NULL,
	[DSOCount] [int] NOT NULL,
	[DPO] [int] NOT NULL,
	[DPOCount] [int] NOT NULL,
	[DIO_Volume] [int] NOT NULL,
	[DIO_Value] [int] NOT NULL,
	[DIOCount] [int] NOT NULL,
	[CashConversionCycle] [int] NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactCCC]  WITH CHECK ADD  CONSTRAINT [FK_FactCCC_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactCCC] CHECK CONSTRAINT [FK_FactCCC_DimCompany]
GO
ALTER TABLE [DWH].[FactCCC]  WITH CHECK ADD  CONSTRAINT [FK_FactCCC_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactCCC] CHECK CONSTRAINT [FK_FactCCC_DimCustomer]
GO
ALTER TABLE [DWH].[FactCCC]  WITH CHECK ADD  CONSTRAINT [FK_FactCCC_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactCCC] CHECK CONSTRAINT [FK_FactCCC_DimProduct]
GO
ALTER TABLE [DWH].[FactCCC]  WITH CHECK ADD  CONSTRAINT [FK_FactCCC_DimReportingDate] FOREIGN KEY([DimReportingDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactCCC] CHECK CONSTRAINT [FK_FactCCC_DimReportingDate]
GO
ALTER TABLE [DWH].[FactCCC]  WITH CHECK ADD  CONSTRAINT [FK_FactCCC_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactCCC] CHECK CONSTRAINT [FK_FactCCC_DimSupplier]
GO
