/****** Object:  Table [DWH].[FactPurchaseBudget]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactPurchaseBudget](
	[FactPurchaseBudgetId] [int] IDENTITY(1,1) NOT NULL,
	[DimForecastModelId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimBudgetDateId] [int] NOT NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[BudgetQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[BudgetQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[BudgetQuantity_SalesUnit] [numeric](38, 6) NULL,
	[PurchUnitPriceTC] [numeric](38, 6) NULL,
	[PurchUnitPriceAC] [numeric](38, 6) NULL,
	[PurchUnitPriceRC] [numeric](38, 6) NULL,
	[PurchUnitPriceGC] [numeric](38, 6) NULL,
	[PurchUnitPriceAC_Budget] [numeric](38, 6) NULL,
	[PurchUnitPriceRC_Budget] [numeric](38, 6) NULL,
	[PurchUnitPriceGC_Budget] [numeric](38, 6) NULL,
	[BudgetAmountTC] [numeric](38, 6) NULL,
	[BudgetAmountAC] [numeric](38, 6) NULL,
	[BudgetAmountRC] [numeric](38, 6) NULL,
	[BudgetAmountGC] [numeric](38, 6) NULL,
	[BudgetAmountAC_Budget] [numeric](38, 6) NULL,
	[BudgetAmountRC_Budget] [numeric](38, 6) NULL,
	[BudgetAmountGC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateTC] [numeric](38, 20) NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactPurchaseBudget] PRIMARY KEY CLUSTERED 
(
	[FactPurchaseBudgetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactPurchaseBudget_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] NOCHECK CONSTRAINT [FK_DWH_FactPurchaseBudget_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactPurchaseBudget_DimProductId] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] CHECK CONSTRAINT [FK_DWH_FactPurchaseBudget_DimProductId]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactPurchaseBudget_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] NOCHECK CONSTRAINT [FK_DWH_FactPurchaseBudget_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactPurchaseBudget_DimSupplierId] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] CHECK CONSTRAINT [FK_DWH_FactPurchaseBudget_DimSupplierId]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactPurch_DimBudgetDateId] FOREIGN KEY([DimBudgetDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] CHECK CONSTRAINT [FK_FactPurch_DimBudgetDateId]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactPurch_DimForecastModelId] FOREIGN KEY([DimForecastModelId])
REFERENCES [DWH].[DimForecastModel] ([DimForeCastModelId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] CHECK CONSTRAINT [FK_FactPurch_DimForecastModelId]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseBudget_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] CHECK CONSTRAINT [FK_FactPurchaseBudget_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseBudget_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] CHECK CONSTRAINT [FK_FactPurchaseBudget_DimCompany]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseBudget_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] CHECK CONSTRAINT [FK_FactPurchaseBudget_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactPurchaseBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseBudget_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseBudget] CHECK CONSTRAINT [FK_FactPurchaseBudget_DimTransactionCurrencyId]
GO
