/****** Object:  Table [DWH].[FactConsumedMaterial]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactConsumedMaterial](
	[FactConsumedMaterialId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimMonthId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[RealCostAmountAC] [numeric](38, 6) NULL,
	[RealCostAmountGC] [numeric](38, 6) NULL,
	[RealConsumptionQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactConsumedMaterial] PRIMARY KEY CLUSTERED 
(
	[FactConsumedMaterialId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactConsumedMaterial]  WITH CHECK ADD  CONSTRAINT [FK_FactConsumedMaterial_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactConsumedMaterial] CHECK CONSTRAINT [FK_FactConsumedMaterial_DimCompany]
GO
ALTER TABLE [DWH].[FactConsumedMaterial]  WITH CHECK ADD  CONSTRAINT [FK_FactConsumedMaterial_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactConsumedMaterial] CHECK CONSTRAINT [FK_FactConsumedMaterial_DimProduct]
GO
ALTER TABLE [DWH].[FactConsumedMaterial]  WITH CHECK ADD  CONSTRAINT [FK_FactConsumedMaterial_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactConsumedMaterial] CHECK CONSTRAINT [FK_FactConsumedMaterial_DimProductConfiguration]
GO
