/****** Object:  Table [DWH].[FactPlannedProductionOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactPlannedProductionOrder](
	[FactPlannedProductionOrderId] [int] IDENTITY(1,1) NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimProductionOrderId] [int] NOT NULL,
	[DimRequirementDateId] [int] NOT NULL,
	[RequestedDate] [datetime] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[PlannedProductionOrderCode] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[LeadTime] [int] NOT NULL,
	[InventoryUnit] [nvarchar](10) NOT NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[RequirementQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[RequirementQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[RequirementQuantity_SalesUnit] [numeric](38, 6) NULL,
	[PurchaseQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[PurchaseQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[PurchaseQuantity_SalesUnit] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactPlannedProductionOrder] PRIMARY KEY CLUSTERED 
(
	[FactPlannedProductionOrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedProductionOrder_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder] CHECK CONSTRAINT [FK_FactPlannedProductionOrder_DimCompany]
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedProductionOrder_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder] CHECK CONSTRAINT [FK_FactPlannedProductionOrder_DimProduct]
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedProductionOrder_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder] CHECK CONSTRAINT [FK_FactPlannedProductionOrder_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedProductionOrder_DimProductionOrderId] FOREIGN KEY([DimProductionOrderId])
REFERENCES [DWH].[DimProductionOrder] ([DimProductionOrderId])
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder] CHECK CONSTRAINT [FK_FactPlannedProductionOrder_DimProductionOrderId]
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedProductionOrder_DimRequirementDateId] FOREIGN KEY([DimRequirementDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPlannedProductionOrder] CHECK CONSTRAINT [FK_FactPlannedProductionOrder_DimRequirementDateId]
GO
