/****** Object:  View [DWH].[V_DimFacility]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DWH].[V_DimFacility] AS         

SELECT	  FacilityId
		, UPPER(FacilityCode) AS FacilityCode
		, FacilityName
		, FacilityCodeName
		, DimensionName         

FROM DataStore.Facility

/* Create Unknown Member */

UNION ALL
       
SELECT	-1
	  , N'_N/A'
	  , N'_N/A'
	  , N'_N/A'
	  , N'_N/A'
GO
