/****** Object:  View [DWH].[V_DimShipmentContract]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [DWH].[V_DimShipmentContract] AS         

SELECT    ShipmentContractId
		, UPPER(ShipmentContractCode) AS ShipmentContractCode
		, ShipmentContractName
		, ShipmentContractCodeName
		, DimensionName         

FROM DataStore.ShipmentContract

/* Create Unknown Member */

UNION ALL 
        
SELECT	-1
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
GO
