/****** Object:  Table [DWH].[FactGeneralLedgerBudget]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactGeneralLedgerBudget](
	[FactGeneralLedgerBudgetId] [int] IDENTITY(1,1) NOT NULL,
	[DimBudgetModelId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimBudgetCodeId] [int] NOT NULL,
	[DimBudgetDateId] [int] NOT NULL,
	[DimGLAccountId] [int] NOT NULL,
	[DimIntercompanyId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[TransactionNumber] [nvarchar](50) NOT NULL,
	[BudgetType] [nvarchar](255) NOT NULL,
	[BudgetAmountTC] [numeric](34, 17) NOT NULL,
	[BudgetAmountAC] [numeric](38, 6) NOT NULL,
	[BudgetAmountRC] [numeric](38, 6) NOT NULL,
	[BudgetAmountGC] [numeric](38, 6) NOT NULL,
	[BudgetAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[BudgetAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[BudgetAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[DimBusinessSegmentId] [int] NOT NULL,
	[DimDepartmentId] [int] NOT NULL,
	[DimEndCustomerId] [int] NOT NULL,
	[DimLocationId] [int] NOT NULL,
	[DimShipmentContractId] [int] NOT NULL,
	[DimLocalAccountId] [int] NOT NULL,
	[DimProductFDId] [int] NOT NULL,
 CONSTRAINT [PK_FactGeneralLedgerBudget] PRIMARY KEY CLUSTERED 
(
	[FactGeneralLedgerBudgetId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK__FactGener__DimBu__5D378935] FOREIGN KEY([DimBudgetDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK__FactGener__DimBu__5D378935]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK__FactGener__DimBu__5E2BAD6E] FOREIGN KEY([DimBudgetDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK__FactGener__DimBu__5E2BAD6E]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK__FactGener__DimBu__7232A61B] FOREIGN KEY([DimBudgetDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK__FactGener__DimBu__7232A61B]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK__FactGener__DimBu__7326CA54] FOREIGN KEY([DimBudgetDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK__FactGener__DimBu__7326CA54]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactGeneralLedgerBudget_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] NOCHECK CONSTRAINT [FK_DWH_FactGeneralLedgerBudget_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactGeneralLedgerBudget_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] NOCHECK CONSTRAINT [FK_DWH_FactGeneralLedgerBudget_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactGeneralLedgerBudget_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] NOCHECK CONSTRAINT [FK_DWH_FactGeneralLedgerBudget_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactGeneralLedgerBudget_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] NOCHECK CONSTRAINT [FK_DWH_FactGeneralLedgerBudget_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimBudgetCode] FOREIGN KEY([DimBudgetCodeId])
REFERENCES [DWH].[DimBudgetCode] ([DimBudgetCodeId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimBudgetCode]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimBudgetModel] FOREIGN KEY([DimBudgetModelId])
REFERENCES [DWH].[DimBudgetModel] ([DimBudgetModelId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimBudgetModel]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimBusinessSegment] FOREIGN KEY([DimBusinessSegmentId])
REFERENCES [DWH].[DimBusinessSegment] ([DimBusinessSegmentId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimBusinessSegment]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimCompany]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimDepartment] FOREIGN KEY([DimDepartmentId])
REFERENCES [DWH].[DimDepartment] ([DimDepartmentId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimDepartment]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimEndCustomer] FOREIGN KEY([DimEndCustomerId])
REFERENCES [DWH].[DimEndCustomer] ([DimEndCustomerId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimEndCustomer]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimGLAccount] FOREIGN KEY([DimGLAccountId])
REFERENCES [DWH].[DimGLAccount] ([DimGLAccountId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimGLAccount]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimIntercompany] FOREIGN KEY([DimIntercompanyId])
REFERENCES [DWH].[DimIntercompany] ([DimIntercompanyId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimIntercompany]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimLocalAccount] FOREIGN KEY([DimLocalAccountId])
REFERENCES [DWH].[DimLocalAccount] ([DimLocalAccountId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimLocalAccount]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimLocation] FOREIGN KEY([DimLocationId])
REFERENCES [DWH].[DimLocation] ([DimLocationId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimLocation]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimProductFD] FOREIGN KEY([DimProductFDId])
REFERENCES [DWH].[DimProductFD] ([DimProductFDId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimProductFD]
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget]  WITH CHECK ADD  CONSTRAINT [FK_FactGeneralLedgerBudget_DimShipmentContract] FOREIGN KEY([DimShipmentContractId])
REFERENCES [DWH].[DimShipmentContract] ([DimShipmentContractId])
GO
ALTER TABLE [DWH].[FactGeneralLedgerBudget] CHECK CONSTRAINT [FK_FactGeneralLedgerBudget_DimShipmentContract]
GO
