/****** Object:  Table [DWH].[DimEndCustomer]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimEndCustomer](
	[DimEndCustomerId] [int] IDENTITY(31,1) NOT NULL,
	[EndCustomerId] [bigint] NOT NULL,
	[EndCustomerCode] [nvarchar](50) NOT NULL,
	[EndCustomerName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[SalesSubSegmentCode] [nvarchar](20) NOT NULL,
	[SalesSegmentCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[CompanyChain] [nvarchar](20) NULL,
	[TaxGroup] [nvarchar](10) NULL,
 CONSTRAINT [PK_DimEndCustomer] PRIMARY KEY CLUSTERED 
(
	[DimEndCustomerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
