/****** Object:  Table [DWH].[FactSalesShipment]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactSalesShipment](
	[FactSalesShipmentId] [int] IDENTITY(1,1) NOT NULL,
	[DimSalesOrderId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimOrderCustomerId] [int] NULL,
	[DimRequestedShippingDateId] [int] NOT NULL,
	[DimConfirmedShippingDateId] [int] NOT NULL,
	[DimActualDeliveryDateId] [int] NOT NULL,
	[CustPackingSlipCode] [nvarchar](40) NOT NULL,
	[CustPackingSlipLineNumber] [numeric](32, 17) NOT NULL,
	[CustPackingSlipLineNumberCombination] [nvarchar](255) NOT NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_SalesUnit] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactSalesShipment] PRIMARY KEY CLUSTERED 
(
	[FactSalesShipmentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactSalesShipment_DimProductConfigurationId] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_DWH_FactSalesShipment_DimProductConfigurationId]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesShipment_DimActualDeliveryDateId] FOREIGN KEY([DimActualDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_FactSalesShipment_DimActualDeliveryDateId]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesShipment_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_FactSalesShipment_DimCompany]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesShipment_DimConfirmedShippingDateId] FOREIGN KEY([DimConfirmedShippingDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_FactSalesShipment_DimConfirmedShippingDateId]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesShipment_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_FactSalesShipment_DimCustomer]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesShipment_DimOrderCustomer] FOREIGN KEY([DimOrderCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_FactSalesShipment_DimOrderCustomer]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesShipment_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_FactSalesShipment_DimProduct]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesShipment_DimRequestedShippingDateId] FOREIGN KEY([DimRequestedShippingDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_FactSalesShipment_DimRequestedShippingDateId]
GO
ALTER TABLE [DWH].[FactSalesShipment]  WITH CHECK ADD  CONSTRAINT [FK_FactSalesShipment_DimSalesOrder] FOREIGN KEY([DimSalesOrderId])
REFERENCES [DWH].[DimSalesOrder] ([DimSalesOrderId])
GO
ALTER TABLE [DWH].[FactSalesShipment] CHECK CONSTRAINT [FK_FactSalesShipment_DimSalesOrder]
GO
