/****** Object:  Table [DWH].[FactSalesSecurity]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactSalesSecurity](
	[FactBISalesSecurityId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimSystemUserId] [int] NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactBISalesSecurityId] PRIMARY KEY CLUSTERED 
(
	[FactBISalesSecurityId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactSalesSecurity]  WITH CHECK ADD  CONSTRAINT [FK_FactBISalesSecurity_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactSalesSecurity] CHECK CONSTRAINT [FK_FactBISalesSecurity_DimCompany]
GO
ALTER TABLE [DWH].[FactSalesSecurity]  WITH CHECK ADD  CONSTRAINT [FK_FactBISalesSecurity_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactSalesSecurity] CHECK CONSTRAINT [FK_FactBISalesSecurity_DimCustomer]
GO
ALTER TABLE [DWH].[FactSalesSecurity]  WITH CHECK ADD  CONSTRAINT [FK_FactBISalesSecurity_DimSystemUser] FOREIGN KEY([DimSystemUserId])
REFERENCES [DWH].[DimSystemUser] ([DimSystemUserId])
GO
ALTER TABLE [DWH].[FactSalesSecurity] CHECK CONSTRAINT [FK_FactBISalesSecurity_DimSystemUser]
GO
