/****** Object:  Table [DWH].[DimDateCalculation]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimDateCalculation](
	[DateCalculation] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DimDateCalculation] PRIMARY KEY CLUSTERED 
(
	[DateCalculation] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
