/****** Object:  View [DWH].[V_FactCaseActivity]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE VIEW [DWH].[V_FactCaseActivity] AS

SELECT    ActivityNumber
		, UPPER(CaseCode) AS CaseCode
		, UPPER(CompanyCode) AS CompanyCode
		, UPPER(SupplierCode) AS SupplierCode
		, UPPER(SalesOrderCode) AS SalesOrderCode
		, UPPER(PurchaseOrderCode) AS PurchaseOrderCode
		, UPPER(CustomerCode) AS CustomerCode
		, UPPER(ProductCode) AS ProductCode
		, ETL.fn_DateKeyInt(StartDateTime) AS DimStartDateTimeId
		, ETL.fn_DateKeyInt(EndDateTime) AS DimEndDateTimeId
		, ETL.fn_DateKeyInt(ActualEndDateTime) AS DimActualEndDateTimeId
		, ActivityTimeType
		, ActivityTaskTimeType
		, ActualWork
		, AllDay
		, Category
		, Closed
		, DoneByWorker
		, PercentageCompleted
		, Purpose
		, ResponsibleWorker
		, Status
		, TypeCode
		, UserMemo

FROM DataStore2.CaseActivity
GO
