/****** Object:  Table [DWH].[FactCaseActivity]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactCaseActivity](
	[FactCaseActivityId] [int] IDENTITY(1,1) NOT NULL,
	[DimCaseId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimSalesOrderId] [int] NOT NULL,
	[DimPurchaseOrderId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimStartDateTimeId] [int] NOT NULL,
	[DimEndDateTimeId] [int] NOT NULL,
	[DimActualEndDateTimeId] [int] NOT NULL,
	[ActivityNumber] [nvarchar](50) NOT NULL,
	[ActivityTimeType] [nvarchar](50) NOT NULL,
	[ActivityTaskTimeType] [nvarchar](50) NOT NULL,
	[ActualWork] [numeric](32, 6) NOT NULL,
	[AllDay] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Closed] [nvarchar](50) NOT NULL,
	[DoneByWorker] [nvarchar](255) NOT NULL,
	[PercentageCompleted] [numeric](32, 6) NOT NULL,
	[Purpose] [nvarchar](255) NOT NULL,
	[ResponsibleWorker] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[TypeCode] [nvarchar](20) NOT NULL,
	[UserMemo] [nvarchar](max) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactCaseActivity] PRIMARY KEY CLUSTERED 
(
	[FactCaseActivityId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactCaseActivity_DimCase] FOREIGN KEY([DimCaseId])
REFERENCES [DWH].[DimCase] ([DimCaseId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactCaseActivity_DimCase]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactCaseActivity_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactCaseActivity_DimCompany]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactCaseActivity_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactCaseActivity_DimCustomer]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactCaseActivity_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactCaseActivity_DimProduct]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactCaseActivity_DimPurchaseOrder] FOREIGN KEY([DimPurchaseOrderId])
REFERENCES [DWH].[DimPurchaseOrder] ([DimPurchaseOrderId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactCaseActivity_DimPurchaseOrder]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactCaseActivity_DimSalesOrder] FOREIGN KEY([DimSalesOrderId])
REFERENCES [DWH].[DimSalesOrder] ([DimSalesOrderId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactCaseActivity_DimSalesOrder]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactCaseActivity_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactCaseActivity_DimSupplier]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactPurch_DimActualEndDateTimeId] FOREIGN KEY([DimActualEndDateTimeId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactPurch_DimActualEndDateTimeId]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactPurch_DimEndDateTimeId] FOREIGN KEY([DimEndDateTimeId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactPurch_DimEndDateTimeId]
GO
ALTER TABLE [DWH].[FactCaseActivity]  WITH CHECK ADD  CONSTRAINT [FK_FactPurch_DimStartDateTimeId] FOREIGN KEY([DimStartDateTimeId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactCaseActivity] CHECK CONSTRAINT [FK_FactPurch_DimStartDateTimeId]
GO
