/****** Object:  Table [DWH].[FactPlannedPurchaseOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactPlannedPurchaseOrder](
	[FactPlannedPurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimPurchaseOrderId] [int] NOT NULL,
	[DimRequirementDateId] [int] NOT NULL,
	[DimRequestedDateId] [int] NOT NULL,
	[DimOrderDateId] [int] NOT NULL,
	[DimDeliveryDateId] [int] NOT NULL,
	[PlannedPurchaseOrderCode] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[LeadTime] [int] NOT NULL,
	[InventoryUnit] [nvarchar](10) NOT NULL,
	[RequirementQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[RequirementQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[RequirementQuantity_SalesUnit] [numeric](38, 6) NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[PurchaseQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[PurchaseQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[PurchaseQuantity_SalesUnit] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactPlannedPurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[FactPlannedPurchaseOrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimCompany]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimDeliveryDateId] FOREIGN KEY([DimDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimDeliveryDateId]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimOrderDateId] FOREIGN KEY([DimOrderDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimOrderDateId]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimProduct]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimPurchaseOrderId] FOREIGN KEY([DimPurchaseOrderId])
REFERENCES [DWH].[DimPurchaseOrder] ([DimPurchaseOrderId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimPurchaseOrderId]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimRequestedDateId] FOREIGN KEY([DimRequestedDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimRequestedDateId]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimRequirementDateId] FOREIGN KEY([DimRequirementDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimRequirementDateId]
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPlannedPurchaseOrder_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactPlannedPurchaseOrder] CHECK CONSTRAINT [FK_FactPlannedPurchaseOrder_DimSupplier]
GO
