/****** Object:  Table [DWH].[DimDate]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimDate](
	[DimDateId] [int] NOT NULL,
	[DateTime] [datetime] NOT NULL,
	[YearId] [int] NOT NULL,
	[YearName] [nvarchar](10) NOT NULL,
	[SemesterId] [int] NOT NULL,
	[SemesterName] [nvarchar](10) NOT NULL,
	[SemesterOfYearId] [int] NOT NULL,
	[SemesterOfYearName] [nvarchar](10) NOT NULL,
	[QuarterId] [int] NOT NULL,
	[QuarterName] [nvarchar](10) NOT NULL,
	[QuarterOfYearName] [nvarchar](10) NOT NULL,
	[QuarterOfYearId] [int] NOT NULL,
	[MonthOfYearId] [int] NOT NULL,
	[MonthId] [int] NOT NULL,
	[MonthName] [nvarchar](50) NOT NULL,
	[MonthOfYearName] [nvarchar](50) NOT NULL,
	[DayOfYearId] [int] NOT NULL,
	[DayNameLong] [nvarchar](50) NOT NULL,
	[DayNameShort] [nvarchar](10) NOT NULL,
	[DayOfYearName] [nvarchar](50) NOT NULL,
	[DayOfWeekName] [nvarchar](50) NOT NULL,
	[DayOfWeekId] [int] NOT NULL,
	[WeekOfYearId] [int] NOT NULL,
	[WeekOfYearName] [nvarchar](50) NOT NULL,
	[WeekId] [int] NOT NULL,
	[WeekName] [nvarchar](50) NOT NULL,
	[IsCurrentYear] [bit] NOT NULL,
	[IsPreviousYear] [bit] NOT NULL,
	[IsToday] [bit] NOT NULL,
	[IsYesterday] [bit] NOT NULL,
	[IsCurrentMonth] [bit] NOT NULL,
	[IsPreviousMonth] [bit] NOT NULL,
	[IsCurrentWeek] [bit] NOT NULL,
	[IsPreviousWeek] [bit] NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[FYStart] [datetime] NOT NULL,
	[FYDayOfYearId] [int] NOT NULL,
	[FYDayId] [int] NOT NULL,
	[FYQuarterOfYearId] [int] NOT NULL,
	[FYQuarterOfYearName] [nvarchar](50) NOT NULL,
	[FYQuarterId] [int] NOT NULL,
	[FYQuarterName] [nvarchar](50) NOT NULL,
	[FYMonthOfYearId] [int] NOT NULL,
	[FYMonthId] [nvarchar](50) NOT NULL,
	[FYWeekOfYearId] [int] NOT NULL,
	[FYWeekOfYearName] [nvarchar](50) NOT NULL,
	[FYWeekId] [int] NOT NULL,
	[FYWeekName] [nvarchar](50) NOT NULL,
	[FYDayOfYearName] [nvarchar](50) NOT NULL,
	[FYMonthName] [nvarchar](50) NOT NULL,
	[FYMonthOfYearName] [nvarchar](50) NOT NULL,
	[FYYearId] [int] NOT NULL,
	[FYYearName] [nvarchar](50) NOT NULL,
	[FYIsPreviousYear] [bit] NOT NULL,
	[FYIsCurrentYear] [bit] NOT NULL,
	[FYDayNameLong] [nvarchar](100) NOT NULL,
	[FYDayNameShort] [nvarchar](50) NOT NULL,
	[FYDayOfWeekName] [nvarchar](50) NOT NULL,
	[FYDayOfWeekId] [int] NOT NULL,
 CONSTRAINT [PK_DimDate] PRIMARY KEY CLUSTERED 
(
	[DimDateId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
