/****** Object:  View [DWH].[V_DimForecastModel]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [DWH].[V_DimForecastModel] AS 

SELECT  UPPER(CompanyCode) AS CompanyCode, 
		UPPER(ForecastModelCode) AS ForecastModelCode,
		ForecastModelName,
		ForecastSubModelCode

FROM DataStore.ForecastModel

/* Create unknown member */

UNION ALL

SELECT	DISTINCT UPPER(CompanyCode) AS CompanyCode
		       , '_N/A'
		       , '_N/A'
		       , '_N/A'
FROM DataStore.Company
GO
