/****** Object:  Table [DWH].[FactInventoryMovements]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactInventoryMovements](
	[FactStockValueId] [bigint] IDENTITY(1,1) NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimBatchId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimSalesInvoiceId] [int] NOT NULL,
	[DimStockDateId] [int] NULL,
	[StockMonthId] [int] NULL,
	[InventoryUnit] [nvarchar](10) NOT NULL,
	[CurrencyCode] [nvarchar](4) NOT NULL,
	[Quantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[Quantity_PurchaseUnit] [numeric](38, 6) NULL,
	[Quantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[InventoryValueAC] [numeric](38, 6) NULL,
	[InventoryValueRC] [numeric](38, 6) NULL,
	[InventoryValueGC] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactStockValue] PRIMARY KEY CLUSTERED 
(
	[FactStockValueId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactInventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_FactInventoryMovements_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactInventoryMovements] CHECK CONSTRAINT [FK_FactInventoryMovements_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactInventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_FactInventoryMovements_DimSalesInvoice] FOREIGN KEY([DimSalesInvoiceId])
REFERENCES [DWH].[DimSalesInvoice] ([DimSalesInvoiceId])
GO
ALTER TABLE [DWH].[FactInventoryMovements] CHECK CONSTRAINT [FK_FactInventoryMovements_DimSalesInvoice]
GO
ALTER TABLE [DWH].[FactInventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_InventoryMovements_Batch] FOREIGN KEY([DimBatchId])
REFERENCES [DWH].[DimBatch] ([DimBatchId])
GO
ALTER TABLE [DWH].[FactInventoryMovements] CHECK CONSTRAINT [FK_InventoryMovements_Batch]
GO
ALTER TABLE [DWH].[FactInventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_InventoryMovements_Company] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactInventoryMovements] CHECK CONSTRAINT [FK_InventoryMovements_Company]
GO
ALTER TABLE [DWH].[FactInventoryMovements]  WITH CHECK ADD  CONSTRAINT [FK_InventoryMovements_Product] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactInventoryMovements] CHECK CONSTRAINT [FK_InventoryMovements_Product]
GO
