/****** Object:  Table [DWH].[DimProductFD]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimProductFD](
	[DimProductFDId] [int] IDENTITY(31,1) NOT NULL,
	[ProductFDId] [bigint] NOT NULL,
	[ProductFDCode] [nvarchar](50) NOT NULL,
	[ProductFDName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimProductFD] PRIMARY KEY CLUSTERED 
(
	[DimProductFDId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
