/****** Object:  Table [DWH].[DimBudgetModel]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimBudgetModel](
	[DimBudgetModelId] [int] IDENTITY(1,1) NOT NULL,
	[BudgetModelCode] [nvarchar](10) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[BudgetModelName] [nvarchar](60) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimBudgetModel] PRIMARY KEY CLUSTERED 
(
	[DimBudgetModelId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
