/****** Object:  Table [DWH].[DimTime]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimTime](
	[DimTimeId] [int] NOT NULL,
	[HourId] [int] NOT NULL,
	[HourZoneCode] [nvarchar](10) NOT NULL,
	[HourZoneName] [nvarchar](20) NOT NULL,
	[MinuteId] [int] NOT NULL,
	[Time] [nvarchar](10) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimTime] PRIMARY KEY CLUSTERED 
(
	[DimTimeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
