/****** Object:  Table [DWH].[FactProductCostBreakdownTheoretical]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactProductCostBreakdownTheoretical](
	[FactProductCostBreakdownTheoreticalId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimFinishedProductId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimProductCostBreakdownHierarchyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimPriceCalculationDateId] [int] NOT NULL,
	[PriceType] [nvarchar](10) NOT NULL,
	[CalculationType] [nvarchar](255) NULL,
	[CalculationCode] [nvarchar](80) NULL,
	[IsCalculatedPrice] [nvarchar](20) NOT NULL,
	[IsMaxCalculation] [nvarchar](20) NOT NULL,
	[IsMaxPrice] [nvarchar](10) NOT NULL,
	[Levelling] [nvarchar](20) NOT NULL,
	[IsActivePrice] [nvarchar](20) NOT NULL,
	[Resource_] [nvarchar](510) NOT NULL,
	[CostGroupCode] [nvarchar](40) NOT NULL,
	[CostPriceVersion] [nvarchar](40) NOT NULL,
	[CostPriceUnitSymbol] [nvarchar](20) NOT NULL,
	[CostPriceModel] [nvarchar](80) NOT NULL,
	[CostPriceCalculationNumber] [nvarchar](20) NOT NULL,
	[CostPriceType] [nvarchar](10) NOT NULL,
	[Level_1] [nvarchar](225) NOT NULL,
	[Level_2] [nvarchar](225) NOT NULL,
	[Level_3] [nvarchar](225) NOT NULL,
	[ProductCostPriceAC] [numeric](32, 17) NOT NULL,
	[ProductCostPriceRC] [numeric](31, 17) NOT NULL,
	[ProductCostPriceGC] [numeric](31, 17) NOT NULL,
	[ProductCostPriceRC_Budget] [numeric](31, 17) NOT NULL,
	[ProductCostPriceGC_Budget] [numeric](31, 17) NOT NULL,
	[ComponentCostPriceAC] [numeric](31, 17) NOT NULL,
	[ComponentCostPriceRC] [numeric](31, 17) NOT NULL,
	[ComponentCostPriceGC] [numeric](31, 17) NOT NULL,
	[ComponentCostPriceRC_Budget] [numeric](31, 17) NOT NULL,
	[ComponentCostPriceGC_Budget] [numeric](31, 17) NOT NULL,
 CONSTRAINT [PK_FactProductCostBreakdownTheoretical] PRIMARY KEY CLUSTERED 
(
	[FactProductCostBreakdownTheoreticalId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductCostBreakdownTheoretical_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] NOCHECK CONSTRAINT [FK_DWH_FactProductCostBreakdownTheoretical_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductCostBreakdownTheoretical_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] NOCHECK CONSTRAINT [FK_DWH_FactProductCostBreakdownTheoretical_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactProductCostBreakdownTheoretical_DimProductCostBreakdownHierarchyId] FOREIGN KEY([DimProductCostBreakdownHierarchyId])
REFERENCES [DWH].[DimProductCostBreakdownHierarchy] ([DimProductCostBreakdownHierarchyId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] CHECK CONSTRAINT [FK_DWH_FactProductCostBreakdownTheoretical_DimProductCostBreakdownHierarchyId]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductCostBreakdownTheoretical_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] NOCHECK CONSTRAINT [FK_DWH_FactProductCostBreakdownTheoretical_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH CHECK ADD  CONSTRAINT [FK_FactProductCostBreakdownTheoretical_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] CHECK CONSTRAINT [FK_FactProductCostBreakdownTheoretical_DimCompany]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH CHECK ADD  CONSTRAINT [FK_FactProductCostBreakdownTheoretical_DimFinishedProduct] FOREIGN KEY([DimFinishedProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] CHECK CONSTRAINT [FK_FactProductCostBreakdownTheoretical_DimFinishedProduct]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH CHECK ADD  CONSTRAINT [FK_FactProductCostBreakdownTheoretical_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] CHECK CONSTRAINT [FK_FactProductCostBreakdownTheoretical_DimProduct]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH CHECK ADD  CONSTRAINT [FK_FactProductCostBreakdownTheoretical_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] CHECK CONSTRAINT [FK_FactProductCostBreakdownTheoretical_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical]  WITH CHECK ADD  CONSTRAINT [FK_FactPurch_DimPriceCalculationDateId] FOREIGN KEY([DimPriceCalculationDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactProductCostBreakdownTheoretical] CHECK CONSTRAINT [FK_FactPurch_DimPriceCalculationDateId]
GO
