/****** Object:  Table [DWH].[DimBusinessSegment]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimBusinessSegment](
	[DimBusinessSegmentId] [int] IDENTITY(31,1) NOT NULL,
	[BusinessSegmentId] [bigint] NOT NULL,
	[BusinessSegmentCode] [nvarchar](50) NOT NULL,
	[BusinessSegmentName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimBusinessSegment] PRIMARY KEY CLUSTERED 
(
	[DimBusinessSegmentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
