/****** Object:  Table [DWH].[DimBusinessUnit]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimBusinessUnit](
	[DimBusinessUnitId] [int] IDENTITY(31,1) NOT NULL,
	[BusinessUnitId] [bigint] NOT NULL,
	[BusinessUnitCode] [nvarchar](50) NOT NULL,
	[BusinessUnitName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimBusinessUnit] PRIMARY KEY CLUSTERED 
(
	[DimBusinessUnitId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
