/****** Object:  Table [DWH].[FactPurchaseOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactPurchaseOrder](
	[FactPurchaseOrderId] [int] IDENTITY(1,1) NOT NULL,
	[DimPurchaseOrderId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimDeliveryTermsId] [int] NOT NULL,
	[DimDeliveryModeId] [int] NOT NULL,
	[DimPaymentTermsId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimOrderSupplierId] [int] NOT NULL,
	[DimCreationDateId] [int] NOT NULL,
	[DimRequestedDeliveryDateId] [int] NOT NULL,
	[DimConfirmedDeliveryDateId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[PurchaseOrderLineNumber] [nvarchar](50) NOT NULL,
	[OrderLineNumberCombination] [nvarchar](100) NOT NULL,
	[DeliveryAddress] [nvarchar](255) NOT NULL,
	[InventTransCode] [nvarchar](50) NOT NULL,
	[PurchaseOrderStatus] [nvarchar](20) NOT NULL,
	[PurchaseUnit] [nvarchar](40) NOT NULL,
	[OrderedQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[OrderedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[DeliveredQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[DeliveredQuantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitTC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitAC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitRC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitGC] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitAC_Budget] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitRC_Budget] [numeric](38, 6) NOT NULL,
	[PurchasePricePerUnitGC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseTC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseAC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseRC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseGC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseAC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseRC_Budget] [numeric](38, 6) NOT NULL,
	[GrossPurchaseGC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountTC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC] [numeric](38, 6) NOT NULL,
	[DiscountAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[DiscountAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountTC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountAC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountRC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountGC] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[InvoicedPurchaseAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountTC] [numeric](38, 6) NOT NULL,
	[MarkupAmountAC] [numeric](38, 6) NOT NULL,
	[MarkupAmountRC] [numeric](38, 6) NOT NULL,
	[MarkupAmountGC] [numeric](38, 6) NOT NULL,
	[MarkupAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[MarkupAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountTC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountAC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountRC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountGC] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[NetPurchaseAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportTC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportAC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC] [numeric](38, 6) NOT NULL,
	[SurchargeTransportAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTransportGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseTC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseAC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseRC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseGC] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargePurchaseGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryTC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryAC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryRC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryGC] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeDeliveryGC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalTC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalAC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC] [numeric](38, 6) NOT NULL,
	[SurchargeTotalAC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalRC_Budget] [numeric](38, 6) NOT NULL,
	[SurchargeTotalGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactPurchaseOrder] PRIMARY KEY CLUSTERED 
(
	[FactPurchaseOrderId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimCompany]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimConfirmedDeliveryDateId] FOREIGN KEY([DimConfirmedDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimConfirmedDeliveryDateId]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimCreationDateId] FOREIGN KEY([DimCreationDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimCreationDateId]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimDeliveryMode] FOREIGN KEY([DimDeliveryModeId])
REFERENCES [DWH].[DimDeliveryMode] ([DimDeliveryModeId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimDeliveryMode]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimDeliveryTerms] FOREIGN KEY([DimDeliveryTermsId])
REFERENCES [DWH].[DimDeliveryTerms] ([DimDeliveryTermsId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimDeliveryTerms]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] NOCHECK CONSTRAINT [FK_FactPurchaseOrder_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimOrderSupplier] FOREIGN KEY([DimOrderSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimOrderSupplier]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimPaymentTerms] FOREIGN KEY([DimPaymentTermsId])
REFERENCES [DWH].[DimPaymentTerms] ([DimPaymentTermsId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimPaymentTerms]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimProduct]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimPurchaseOrderId] FOREIGN KEY([DimPurchaseOrderId])
REFERENCES [DWH].[DimPurchaseOrder] ([DimPurchaseOrderId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimPurchaseOrderId]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH NOCHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] NOCHECK CONSTRAINT [FK_FactPurchaseOrder_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimRequestedDeliveryDateId] FOREIGN KEY([DimRequestedDeliveryDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimRequestedDeliveryDateId]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimSupplier]
GO
ALTER TABLE [DWH].[FactPurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_FactPurchaseOrder_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactPurchaseOrder] CHECK CONSTRAINT [FK_FactPurchaseOrder_DimTransactionCurrencyId]
GO
