/****** Object:  Table [DWH].[DimSupplier_BU20221007]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimSupplier_BU20221007](
	[DimSupplierId] [int] IDENTITY(1,1) NOT NULL,
	[SupplierId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[SupplierCode] [nvarchar](50) NOT NULL,
	[SupplierName] [nvarchar](255) NOT NULL,
	[SupplierCodeName] [nvarchar](308) NOT NULL,
	[SupplierGroupCode] [nvarchar](50) NOT NULL,
	[SupplierGroupName] [nvarchar](255) NOT NULL,
	[SupplierGroupCodeName] [nvarchar](308) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
	[City] [nvarchar](255) NOT NULL,
	[CountryRegionCode] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL
) ON [PRIMARY]
GO
