/****** Object:  Table [DWH].[DimCurrency]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimCurrency](
	[DimCurrencyId] [int] IDENTITY(1,1) NOT NULL,
	[CurrencyCode] [nvarchar](50) NOT NULL,
	[CurrencyName] [nvarchar](255) NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimCurrency] PRIMARY KEY CLUSTERED 
(
	[DimCurrencyId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
