/****** Object:  Table [DWH].[DimSystemUser]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimSystemUser](
	[DimSystemUserId] [int] IDENTITY(1,1) NOT NULL,
	[SystemUserCode] [nvarchar](50) NOT NULL,
	[DomainUserName] [nvarchar](255) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimSystemUserId] PRIMARY KEY CLUSTERED 
(
	[DimSystemUserId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
