/****** Object:  Table [DWH].[DimProductCostBreakdownHierarchy]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimProductCostBreakdownHierarchy](
	[DimProductCostBreakdownHierarchyId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[Level_1] [nvarchar](100) NOT NULL,
	[Level_2] [nvarchar](100) NOT NULL,
	[Level_3] [nvarchar](100) NOT NULL,
	[Dummy] [int] NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimProductCostBreakdownHierarchy] PRIMARY KEY CLUSTERED 
(
	[DimProductCostBreakdownHierarchyId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
