/****** Object:  Table [DWH].[FactShipmentInvoice]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactShipmentInvoice](
	[FactShipmentInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[DimBusinessOwnerId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimDepartmentId] [int] NOT NULL,
	[DimDestinationAgentId] [int] NOT NULL,
	[DimJobOwnerId] [int] NOT NULL,
	[DimBusinessSegmentId] [int] NOT NULL,
	[DimModeOfTransportId] [int] NOT NULL,
	[DimPurchaseInvoiceId] [int] NOT NULL,
	[DimSalesInvoiceId] [int] NOT NULL,
	[DimShipmentContractId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimShipmentInvoiceDateId] [int] NOT NULL,
	[MasterBillOfLading] [nvarchar](100) NULL,
	[HouseBillOfLading] [nvarchar](100) NULL,
	[Etd] [date] NULL,
	[Eta] [date] NULL,
	[Description] [nvarchar](100) NULL,
	[Branch] [nvarchar](100) NULL,
	[Remark] [nvarchar](100) NULL,
	[PortOfDestination] [nvarchar](100) NULL,
	[PortOfOrigin] [nvarchar](100) NULL,
	[ShipmentInvoiceLineNumber] [int] NULL,
	[Voucher] [nvarchar](100) NULL,
	[ShipmentInvoiceAmountTC] [numeric](38, 6) NULL,
	[ShipmentInvoiceAmountAC] [numeric](38, 6) NULL,
	[ShipmentInvoiceAmountRC] [numeric](38, 6) NULL,
	[ShipmentInvoiceAmountGC] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactShipmentInvoice] PRIMARY KEY CLUSTERED 
(
	[FactShipmentInvoiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimBusinessOwnerId] FOREIGN KEY([DimBusinessOwnerId])
REFERENCES [DWH].[DimBusinessOwner] ([DimBusinessOwnerId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimBusinessOwnerId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimBusinessSegmentId] FOREIGN KEY([DimBusinessSegmentId])
REFERENCES [DWH].[DimBusinessSegment] ([DimBusinessSegmentId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimBusinessSegmentId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimCompanyId] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimCompanyId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimCustomerId] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimCustomerId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimDepartmentId] FOREIGN KEY([DimDepartmentId])
REFERENCES [DWH].[DimDepartment] ([DimDepartmentId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimDepartmentId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimDestinationAgentId] FOREIGN KEY([DimDestinationAgentId])
REFERENCES [DWH].[DimDestinationAgent] ([DimDestinationAgentId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimDestinationAgentId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimJobOwnerId] FOREIGN KEY([DimJobOwnerId])
REFERENCES [DWH].[DimJobOwner] ([DimJobOwnerId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimJobOwnerId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimModeOfTransportId] FOREIGN KEY([DimModeOfTransportId])
REFERENCES [DWH].[DimDeliveryMode] ([DimDeliveryModeId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimModeOfTransportId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimPurchaseInvoiceId] FOREIGN KEY([DimPurchaseInvoiceId])
REFERENCES [DWH].[DimPurchaseInvoice] ([DimPurchaseInvoiceId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimPurchaseInvoiceId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimSalesInvoiceId] FOREIGN KEY([DimSalesInvoiceId])
REFERENCES [DWH].[DimSalesInvoice] ([DimSalesInvoiceId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimSalesInvoiceId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimShipmentContractId] FOREIGN KEY([DimShipmentContractId])
REFERENCES [DWH].[DimShipmentContract] ([DimShipmentContractId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimShipmentContractId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimShipmentInvoiceDateId] FOREIGN KEY([DimShipmentInvoiceDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimShipmentInvoiceDateId]
GO
ALTER TABLE [DWH].[FactShipmentInvoice]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactShipmentInvoice_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactShipmentInvoice] CHECK CONSTRAINT [FK_DWH_FactShipmentInvoice_DimTransactionCurrencyId]
GO
