/****** Object:  Table [DWH].[FactCase]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactCase](
	[FactCaseId] [int] IDENTITY(1,1) NOT NULL,
	[DimCaseId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimSalesOrderId] [int] NOT NULL,
	[DimPurchaseOrderId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimCreatedDateTimeId] [int] NOT NULL,
	[DimClosedDateTimeId] [int] NOT NULL,
	[DimPlannedEffectiveDateId] [int] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ClosedBy] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](60) NOT NULL,
	[Memo] [nvarchar](max) NOT NULL,
	[OwnerWorker] [nvarchar](255) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Process] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[CaseCategoryRecId] [bigint] NOT NULL,
	[CaseCategoryName] [nvarchar](10) NOT NULL,
	[CaseCategoryType] [nvarchar](50) NOT NULL,
	[CaseCategoryDescription] [nvarchar](60) NOT NULL,
	[CaseCategoryProcess] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DWH.FactCase] PRIMARY KEY CLUSTERED 
(
	[FactCaseId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimCase] FOREIGN KEY([DimCaseId])
REFERENCES [DWH].[DimCase] ([DimCaseId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimCase]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimClosedDateTimeId] FOREIGN KEY([DimClosedDateTimeId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimClosedDateTimeId]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimCompany]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimCreatedDateTimeId] FOREIGN KEY([DimCreatedDateTimeId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimCreatedDateTimeId]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimCustomer]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimPlannedEffectiveDateId] FOREIGN KEY([DimPlannedEffectiveDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimPlannedEffectiveDateId]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimProduct]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimPurchaseOrder] FOREIGN KEY([DimPurchaseOrderId])
REFERENCES [DWH].[DimPurchaseOrder] ([DimPurchaseOrderId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimPurchaseOrder]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimSalesOrder] FOREIGN KEY([DimSalesOrderId])
REFERENCES [DWH].[DimSalesOrder] ([DimSalesOrderId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimSalesOrder]
GO
ALTER TABLE [DWH].[FactCase]  WITH CHECK ADD  CONSTRAINT [FK_FactCase_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactCase] CHECK CONSTRAINT [FK_FactCase_DimSupplier]
GO
