/****** Object:  Table [DWH].[DimIntercompany]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimIntercompany](
	[DimIntercompanyId] [int] IDENTITY(31,1) NOT NULL,
	[IntercompanyId] [bigint] NOT NULL,
	[IntercompanyCode] [nvarchar](50) NOT NULL,
	[IntercompanyName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimIntercompany] PRIMARY KEY CLUSTERED 
(
	[DimIntercompanyId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
