/****** Object:  Table [DWH].[DimSalesInvoice]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimSalesInvoice](
	[DimSalesInvoiceId] [int] IDENTITY(1,1) NOT NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[TransactionType] [nvarchar](60) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimSalesInvoiceId] PRIMARY KEY CLUSTERED 
(
	[DimSalesInvoiceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
