/****** Object:  View [DWH].[V_DimEmployee]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DWH].[V_DimEmployee] AS         

SELECT	  EmployeeId
		, UPPER(EmployeeCode) AS EmployeeCode
		, EmployeeName
		, EmployeeCodeName
		, DimensionName         

FROM DataStore.Employee

/* Create Unknown Member */

UNION ALL
       
SELECT -1
	  ,	N'_N/A'
	  , N'_N/A'
	  , N'_N/A'
	  , N'_N/A'
GO
