/****** Object:  Table [DWH].[DimCalendar]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimCalendar](
	[DimCalendarId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[CalendarCode] [nvarchar](20) NOT NULL,
	[CalendarName] [nvarchar](120) NOT NULL,
	[StandardWorkDayHours] [numeric](32, 17) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimCalendar] PRIMARY KEY CLUSTERED 
(
	[DimCalendarId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
