/****** Object:  Table [DWH].[DimDestinationAgent]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimDestinationAgent](
	[DimDestinationAgentId] [int] IDENTITY(1,1) NOT NULL,
	[DestinationAgentId] [bigint] NOT NULL,
	[DestinationAgentCode] [nvarchar](50) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[DestinationAgentGroup] [nvarchar](50) NOT NULL,
	[SalesGroup] [nvarchar](50) NOT NULL,
	[DestinationAgentGroupName] [nvarchar](255) NOT NULL,
	[DestinationAgentGroupCodeName] [nvarchar](308) NOT NULL,
	[DestinationAgentClass] [nvarchar](255) NOT NULL,
	[DestinationAgentClassName] [nvarchar](255) NOT NULL,
	[DestinationAgentClassCodeName] [nvarchar](308) NOT NULL,
	[Agent] [nvarchar](50) NOT NULL,
	[DestinationAgentName] [nvarchar](255) NOT NULL,
	[DestinationAgentCodeName] [nvarchar](308) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[City] [nvarchar](255) NOT NULL,
	[Country] [nvarchar](255) NOT NULL,
	[FirstOrderDate] [datetime] NULL,
	[LastOrderDate] [datetime] NULL,
	[DateDiffFirstLastOrderDate] [int] NULL,
	[DateDiffLastTodayOrderDate] [int] NULL,
	[DeliveryTerms] [nvarchar](10) NOT NULL,
	[OnholdStatus] [nvarchar](20) NOT NULL,
	[CreditLimitIsMandatory] [nvarchar](10) NOT NULL,
	[CreditLimit] [numeric](32, 6) NOT NULL,
	[SalesResponsibleCode] [nvarchar](25) NOT NULL,
	[SalesResponsibleName] [nvarchar](100) NOT NULL,
	[SalesSegmentCode] [nvarchar](20) NOT NULL,
	[SalesSubSegmentCode] [nvarchar](20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[TaxGroup] [nvarchar](10) NULL,
 CONSTRAINT [PK_DimDestinationAgent] PRIMARY KEY CLUSTERED 
(
	[DimDestinationAgentId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
