/****** Object:  View [DWH].[V_DimPurchaseInvoice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [DWH].[V_DimPurchaseInvoice] AS

SELECT	  --UPPER(PurchaseInvoiceCode) AS PurchaseInvoiceCode
		CONVERT(NVARCHAR(20), REPLACE(CAST(UPPER(PurchaseInvoiceCode) AS VARCHAR(255)), '?', '')) AS PurchaseInvoiceCode
		, UPPER(CompanyCode) AS CompanyCode
		, MIN(SupplierCode) AS SupplierCode

FROM DataStore2.PurchaseInvoice
WHERE PurchaseInvoiceCode <> N'_N/A'
GROUP BY PurchaseInvoiceCode, CompanyCode

/* Create Unknown Member */

UNION ALL

SELECT	N'_N/A' AS PurchaseInvoiceCode
	  , UPPER(CompanyCode) AS CompanyCode
	  , N'N/A' AS SupplierCode

FROM DataStore.Company
GO
