/****** Object:  Table [DWH].[DimCostCenter]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimCostCenter](
	[DimCostCenterId] [int] IDENTITY(31,1) NOT NULL,
	[CostCenterId] [bigint] NOT NULL,
	[CostCenterCode] [nvarchar](50) NOT NULL,
	[CostCenterName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimCostCenter] PRIMARY KEY CLUSTERED 
(
	[DimCostCenterId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
