/****** Object:  Table [DWH].[SupplierDoubles]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[SupplierDoubles](
	[MinSupplierId] [int] NULL,
	[MAxSupplierID] [int] NULL,
	[SupplierId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
