/****** Object:  Table [DWH].[DimRoute]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimRoute](
	[DimRouteId] [int] IDENTITY(1,1) NOT NULL,
	[RouteCode] [nvarchar](20) NOT NULL,
	[RouteName] [nvarchar](60) NOT NULL,
	[RouteCodeName] [nvarchar](255) NOT NULL,
	[OperationCode] [nvarchar](10) NOT NULL,
	[OperationSequence] [bigint] NOT NULL,
	[OperationNumber] [int] NOT NULL,
	[OperationNumberNext] [int] NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[RouteGroupCode] [nvarchar](10) NOT NULL,
	[RouteGroupName] [nvarchar](60) NOT NULL,
	[RouteGroupCodeName] [nvarchar](255) NOT NULL,
	[SiteCode] [nvarchar](10) NOT NULL,
	[SiteName] [nvarchar](60) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimRoute] PRIMARY KEY CLUSTERED 
(
	[DimRouteId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
