/****** Object:  Table [DWH].[FactProductionTimeRegistration]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactProductionTimeRegistration](
	[FactProductionTimeRegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[DimProductionOrderId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimResourceId] [int] NOT NULL,
	[DimRouteId] [int] NOT NULL,
	[DimOperationsId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimPostedJournalDateId] [int] NOT NULL,
	[OperatorType] [nvarchar](30) NOT NULL,
	[OperatorName] [nvarchar](255) NOT NULL,
	[Shift] [nvarchar](20) NOT NULL,
	[MachineTimeMinutes] [numeric](35, 6) NULL,
	[MachineTimeHours] [numeric](32, 6) NULL,
	[MachineTimeDays] [numeric](35, 9) NULL,
	[MachineCostTC] [numeric](32, 6) NULL,
	[MachineCostAC] [numeric](38, 6) NULL,
	[MachineCostRC] [numeric](38, 6) NULL,
	[MachineCostGC] [numeric](38, 6) NULL,
	[MachineCostAC_Budget] [numeric](38, 6) NULL,
	[MachineCostRC_Budget] [numeric](38, 6) NULL,
	[MachineCostGC_Budget] [numeric](38, 6) NULL,
	[OperatorTimeMinutes] [numeric](35, 6) NULL,
	[OperatorTimeHours] [numeric](32, 6) NULL,
	[OperatorTimeDays] [numeric](35, 9) NULL,
	[LabourCostTC] [numeric](38, 6) NULL,
	[LabourCostAC] [numeric](38, 6) NULL,
	[LabourCostGC] [numeric](38, 6) NULL,
	[LabourCostRC] [numeric](38, 6) NULL,
	[LabourCostAC_Budget] [numeric](38, 6) NULL,
	[LabourCostGC_Budget] [numeric](38, 6) NULL,
	[LabourCostRC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 20) NULL,
	[AppliedExchangeRateAC] [numeric](38, 20) NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactProductionTimeRegistration] PRIMARY KEY CLUSTERED 
(
	[FactProductionTimeRegistrationId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductionTimeRegistration_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] NOCHECK CONSTRAINT [FK_DWH_FactProductionTimeRegistration_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactProductionTimeRegistration_DimOperationsId] FOREIGN KEY([DimOperationsId])
REFERENCES [DWH].[DimOperations] ([DimOperationsId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_DWH_FactProductionTimeRegistration_DimOperationsId]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactProductionTimeRegistration_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] NOCHECK CONSTRAINT [FK_DWH_FactProductionTimeRegistration_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactProductionTimeRegistration_DimRouteId] FOREIGN KEY([DimRouteId])
REFERENCES [DWH].[DimRoute] ([DimRouteId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_DWH_FactProductionTimeRegistration_DimRouteId]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionTimeRegistration_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_FactProductionTimeRegistration_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionTimeRegistration_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_FactProductionTimeRegistration_DimCompany]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionTimeRegistration_DimPostedJournalDateId] FOREIGN KEY([DimPostedJournalDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_FactProductionTimeRegistration_DimPostedJournalDateId]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionTimeRegistration_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_FactProductionTimeRegistration_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionTimeRegistration_DimProductionOrderId] FOREIGN KEY([DimProductionOrderId])
REFERENCES [DWH].[DimProductionOrder] ([DimProductionOrderId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_FactProductionTimeRegistration_DimProductionOrderId]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionTimeRegistration_DimResourceId] FOREIGN KEY([DimResourceId])
REFERENCES [DWH].[DimResource] ([DimResourceId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_FactProductionTimeRegistration_DimResourceId]
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration]  WITH CHECK ADD  CONSTRAINT [FK_FactProductionTimeRegistration_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactProductionTimeRegistration] CHECK CONSTRAINT [FK_FactProductionTimeRegistration_DimTransactionCurrencyId]
GO
