/****** Object:  Table [DWH].[DimBatch]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimBatch](
	[DimBatchId] [int] IDENTITY(1,1) NOT NULL,
	[RecId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[BatchCode] [nvarchar](50) NOT NULL,
	[ProductCode] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](4000) NOT NULL,
	[ExpiryDate] [nvarchar](50) NOT NULL,
	[ProductionDate] [nvarchar](50) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimBatch] PRIMARY KEY CLUSTERED 
(
	[DimBatchId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
