/****** Object:  View [DWH].[V_DimProductFD]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [DWH].[V_DimProductFD] AS         

SELECT    ProductFDId
		, UPPER(ProductFDCode) AS ProductFDCode
		, ProductFDName
		, ProductFDCodeName
		, DimensionName         

FROM DataStore.ProductFD

/* Create Unknown Member */

UNION ALL 
        
SELECT	-1
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
GO
