/****** Object:  Table [DWH].[DimLocalAccount]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimLocalAccount](
	[DimLocalAccountId] [int] IDENTITY(31,1) NOT NULL,
	[LocalAccountId] [bigint] NOT NULL,
	[LocalAccountCode] [nvarchar](50) NOT NULL,
	[LocalAccountName] [nvarchar](255) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimLocalAccount] PRIMARY KEY CLUSTERED 
(
	[DimLocalAccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
