/****** Object:  Table [DWH].[DimResource]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimResource](
	[DimResourceId] [int] IDENTITY(1,1) NOT NULL,
	[ResourceCode] [nvarchar](10) NOT NULL,
	[ResourceName] [nvarchar](60) NOT NULL,
	[ResourceCodeName] [nvarchar](255) NOT NULL,
	[ResourceGroupCode] [nvarchar](20) NOT NULL,
	[ResourceGroupName] [nvarchar](120) NOT NULL,
	[ResourceGroupCodeName] [nvarchar](255) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[ResourceType] [nvarchar](255) NOT NULL,
	[InputWarehouseCode] [nvarchar](20) NOT NULL,
	[InputWarehouseLocationCode] [nvarchar](20) NOT NULL,
	[OutputWarehouseCode] [nvarchar](20) NOT NULL,
	[OutputWarehouseLocationCode] [nvarchar](20) NOT NULL,
	[EfficiencyPercentage] [numeric](32, 17) NOT NULL,
	[RouteGroupCode] [nvarchar](20) NOT NULL,
	[HasFiniteSchedulingCapacity] [int] NOT NULL,
	[ValidFromDate] [date] NOT NULL,
	[ValidToDate] [date] NOT NULL,
	[CalendarCode] [nvarchar](50) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimResource] PRIMARY KEY CLUSTERED 
(
	[DimResourceId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
