/****** Object:  Table [DWH].[DimOperations]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimOperations](
	[DimOperationsId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[OperationCode] [nvarchar](50) NOT NULL,
	[OperationName] [nvarchar](60) NOT NULL,
	[OperationNumber] [int] NOT NULL,
	[OperationNumberNext] [int] NOT NULL,
	[OperationPriority] [int] NOT NULL,
	[OperationSequence] [bigint] NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimOperations] PRIMARY KEY CLUSTERED 
(
	[DimOperationsId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
