/****** Object:  Table [DWH].[FactInventory]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactInventory](
	[FactInventoryId] [int] IDENTITY(1,1) NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimBatchId] [int] NOT NULL,
	[DimReportDateId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[ReportDate] [date] NOT NULL,
	[IsEndOfMonth] [int] NOT NULL,
	[InventoryUnit] [nvarchar](10) NOT NULL,
	[StockQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[StockQuantity_InventoryUnit] [numeric](38, 6) NULL,
	[StockQuantity_SalesUnit] [numeric](38, 6) NULL,
	[StockValueAC] [numeric](38, 6) NULL,
	[StockValueRC] [numeric](38, 6) NULL,
	[StockValueGC] [numeric](38, 6) NULL,
	[StockValueAC_Budget] [numeric](38, 6) NULL,
	[StockValueRC_Budget] [numeric](38, 6) NULL,
	[StockValueGC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FactInventoryId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactInventory]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactInventory_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactInventory] NOCHECK CONSTRAINT [FK_DWH_FactInventory_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactInventory]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactInventory_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactInventory] NOCHECK CONSTRAINT [FK_DWH_FactInventory_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimBatch] FOREIGN KEY([DimBatchId])
REFERENCES [DWH].[DimBatch] ([DimBatchId])
GO
ALTER TABLE [DWH].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimBatch]
GO
ALTER TABLE [DWH].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimCompany]
GO
ALTER TABLE [DWH].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimProduct]
GO
ALTER TABLE [DWH].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactInventory]  WITH CHECK ADD  CONSTRAINT [FK_FactInventory_DimReportDateId] FOREIGN KEY([DimReportDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactInventory] CHECK CONSTRAINT [FK_FactInventory_DimReportDateId]
GO
