/****** Object:  View [DWH].[V_DimCase]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [DWH].[V_DimCase] AS 

SELECT	DISTINCT 

		  UPPER(CaseCode) AS CaseCode
		, UPPER(CompanyCode) AS CompanyCode
		, CAST(CreatedDateTime as datetime) AS CreatedDateTime
		, CreatedBy
		, CAST(ClosedDateTime as datetime) AS ClosedDateTime
		, ClosedBy
		, Description
		, CAST (Memo as NVARCHAR(510)) AS Memo 
		, OwnerWorker
		, Priority
		, Process
		, Status
		, CAST(PlannedEffectiveDate as datetime) AS PlannedEffectiveDate
		, CaseCategoryRecId
		, CaseCategoryName
		, CaseCategoryType
		, CaseCategoryDescription
		, CaseCategoryProcess

FROM DataStore.[Case]

UNION ALL 

SELECT	  '_N/A'
		, UPPER(CompanyCode) AS CompanyCode
		, '1900-01-01'
		, '_N/A'
		, '1900-01-01'
		, '_N/A'
		, '_N/A'
		, '_N/A'
		, '_N/A'
		, '_N/A'
		, '_N/A'
		, '_N/A'
		, '1900-01-01'
		, 0
		, '_N/A'
		, '_N/A'
		, '_N/A'
		, '_N/A'

FROM DataStore.Company
GO
