/****** Object:  View [DWH].[V_DimDate]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO













CREATE VIEW [DWH].[V_DimDate] AS


SELECT DimDateId
	, [DateTime]
	, YearId
	, YearName
	, SemesterId
	, SemesterName
	, SemesterOfYearId
	, SemesterOfYearName
	, QuarterOfYearId
	, QuarterId
	, QuarterName
	, QuarterOfYearName
	, MonthOfYearId
	, MonthId
	, [MonthName]
	, MonthOfYearName
	, DayOfYearId
	, DayNameLong
	, DayNameShort
	, DayOfYearName
	, DayOfWeekName
	, DayOfWeekId
	, WeekOfYearId
	, WeekOfYearName
	, WeekId
	, WeekName
	, FYStart

	-- FYYEAR
	, FYYearId
	, FYYearName

	-- FYQUARTER
	, FYQuarterOfYearId
	, CONCAT('Q', FYQuarterOfYearId) AS FYQuarterOfYearName	
	, FYQuarterId
	, CONCAT('Q', FYQuarterOfYearId, ' ',YEAR(FYStart)) AS FYQuarterName

	-- FYMONTH
	, FYMonthOfYearId
	, MonthOfYearName AS FYMonthOfYearName
	, FYMonthId
	--, CONCAT(MonthOfYearName, ' ',  FYYearName) AS FYMonthName
	, CONCAT(MonthOfYearName, ' ',  YearName) AS FYMonthName -- 

	-- FYDAY
	, FYDayOfYearId
	--, CONCAT('D',FYDayOfYearId) AS  FYDayOfYearName
	, FYDayId
	, CONCAT(DayOfWeekName, ' ', DayOfYearName , ' ' , FYYearName) AS FYDayNameLong
	, CONCAT(LEFT(DayNameShort,6), FYYearName) AS FYDayNameShort
	, DayOfYearName AS FYDayOfYearName
	, DayOfWeekName AS FYDayOfWeekName
	, DayOfWeekId AS FYDayOfWeekId
	
	-- WEEK
	, FYWeekOfYearid
	, CONCAT('Week ', FYWeekOfYearId) AS FYWeekOfYearName
	,  FYWeekId
	, CONCAT('Week ', FYWeekOfYearId, ' ',YEAR(FYStart)) AS FYWeekName


	-- IS CURRENT/PREVIOUS FYYEAR
	, FYIsCurrentYear = CONVERT(BIT, CASE 
			WHEN YEAR(Getdate()) = FYYearId
				THEN 1
			ELSE 0
			END)

	, FYIsPreviousYear = CONVERT(BIT, CASE 
			WHEN YEAR(Getdate()) - 1 = FYYearId
				THEN 1
			ELSE 0
			END)

	, IsCurrentYear = CONVERT(BIT, CASE 
			WHEN YEAR(Getdate()) = YearId
				THEN 1
			ELSE 0
			END)
	, IsPreviousYear = CONVERT(BIT, CASE 
			WHEN YEAR(Getdate()) - 1 = YearId
				THEN 1
			ELSE 0
			END)
	, IsToday = CONVERT(BIT, CASE 
			WHEN CONVERT(DATE, Getdate()) = DATETIME
				THEN 1
			ELSE 0
			END)
	, IsYesterday = CONVERT(BIT, CASE 
			WHEN CONVERT(DATE, Getdate() - 1) = DATETIME
				THEN 1
			ELSE 0
			END)
	, IsCurrentMonth = CONVERT(BIT, CASE 
			WHEN YEAR(Getdate()) = YearId AND MONTH(getdate()) = MonthOfYearId
				THEN 1
			ELSE 0
			END)
	, IsPreviousMonth = CONVERT(BIT, CASE 
			WHEN MONTH(getdate()) = 1 AND YEAR(Getdate()) - 1 = YearId AND MonthOfYearId = 1
				THEN 1
			WHEN YEAR(Getdate()) = YearId AND MONTH(getdate()) - 1 = MonthOfYearId
				THEN 1
			ELSE 0
			END)
	, IsCurrentWeek = CONVERT(BIT, CASE 
			WHEN YEAR(Getdate()) = YearId AND DATEPART(wk, getdate()) = WeekOfYearId
				THEN 1
			ELSE 0
			END)
	, IsPreviousWeek = CONVERT(BIT, CASE 
			WHEN YEAR(Getdate()) = YearId AND DatePart(wk, getdate()) - 1 = WeekOfYearId
				THEN 1
			ELSE 0
			END)
FROM DatAStore2.DATE

WHERE 1 = 1 AND (YEAR(GETDATE()) + 10 >= YearId AND DimDateId >= 20080101) -- Adjust if necessary
	OR DimDateId = 19000101


GO
