/****** Object:  Table [DWH].[DimBudgetCode]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimBudgetCode](
	[DimBudgetCodeId] [int] IDENTITY(1,1) NOT NULL,
	[BudgetCodeName] [nvarchar](20) NOT NULL,
	[BudgetCodeDescription] [nvarchar](60) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[BudgetTransactionCode] [bigint] NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimBudgetCode] PRIMARY KEY CLUSTERED 
(
	[DimBudgetCodeId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
