/****** Object:  Table [DWH].[DimCustomer]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimCustomer](
	[DimCustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [bigint] NOT NULL,
	[CustomerCode] [nvarchar](50) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[CustomerGroup] [nvarchar](50) NOT NULL,
	[SalesGroup] [nvarchar](50) NOT NULL,
	[CustomerGroupName] [nvarchar](255) NOT NULL,
	[CustomerGroupCodeName] [nvarchar](308) NOT NULL,
	[CustomerClass] [nvarchar](255) NOT NULL,
	[CustomerClassName] [nvarchar](255) NOT NULL,
	[CustomerClassCodeName] [nvarchar](308) NOT NULL,
	[Agent] [nvarchar](50) NOT NULL,
	[CustomerName] [nvarchar](255) NOT NULL,
	[CustomerCodeName] [nvarchar](308) NOT NULL,
	[PostalCode] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](255) NOT NULL,
	[City] [nvarchar](255) NOT NULL,
	[Country] [nvarchar](255) NOT NULL,
	[FirstOrderDate] [datetime] NULL,
	[LastOrderDate] [datetime] NULL,
	[DateDiffFirstLastOrderDate] [int] NULL,
	[DateDiffLastTodayOrderDate] [int] NULL,
	[DeliveryTerms] [nvarchar](10) NOT NULL,
	[OnholdStatus] [nvarchar](20) NOT NULL,
	[CreditLimitIsMandatory] [nvarchar](10) NOT NULL,
	[CreditLimit] [numeric](32, 6) NOT NULL,
	[SalesResponsibleCode] [nvarchar](25) NOT NULL,
	[SalesResponsibleName] [nvarchar](100) NOT NULL,
	[SalesSegmentCode] [nvarchar](20) NOT NULL,
	[SalesSubSegmentCode] [nvarchar](20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[CompanyChain] [nvarchar](20) NOT NULL,
	[TaxGroup] [nvarchar](10) NULL,
 CONSTRAINT [PK_DimCustomer] PRIMARY KEY CLUSTERED 
(
	[DimCustomerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[DimCustomer] ADD  CONSTRAINT [DF_DimCustomer_CompanyChain]  DEFAULT (N'_N/A') FOR [CompanyChain]
GO
