/****** Object:  Table [DWH].[FactNetRequirements]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactNetRequirements](
	[FactNetRequirementsId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DimProductConfigurationId] [int] NOT NULL,
	[DimRequirementDateId] [int] NOT NULL,
	[DimProducedItemId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[ReferenceType] [nvarchar](255) NOT NULL,
	[RankNr] [int] NOT NULL,
	[PlanVersion] [nvarchar](10) NOT NULL,
	[RequirementDateTime] [datetime] NOT NULL,
	[RequirementDateTimeTime] [datetime] NOT NULL,
	[RequirementTime] [datetime] NOT NULL,
	[ReferenceCode] [nvarchar](20) NOT NULL,
	[ActionDate] [datetime] NOT NULL,
	[ActionDays] [int] NOT NULL,
	[ActionType] [nvarchar](255) NOT NULL,
	[ActionMarked] [nvarchar](255) NOT NULL,
	[FuturesDate] [datetime] NOT NULL,
	[FuturesDays] [int] NOT NULL,
	[FuturesCalculated] [nvarchar](255) NOT NULL,
	[FuturesMarked] [nvarchar](255) NOT NULL,
	[Direction] [nvarchar](255) NOT NULL,
	[FictionalOOS] [bit] NOT NULL,
	[FictionalOOS_Confirmed] [bit] NOT NULL,
	[ActualOOS] [bit] NOT NULL,
	[ActualOOS_Confirmed] [bit] NOT NULL,
	[Quantity_InventoryUnit] [numeric](32, 6) NOT NULL,
	[Quantity_PurchaseUnit] [numeric](38, 6) NULL,
	[Quantity_SalesUnit] [numeric](38, 6) NULL,
	[AccumulatedQuantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantity_PurchaseUnit] [numeric](38, 6) NULL,
	[AccumulatedQuantity_SalesUnit] [numeric](38, 6) NULL,
	[QuantityConfirmed_InventoryUnit] [numeric](32, 6) NOT NULL,
	[QuantityConfirmed_PurchaseUnit] [numeric](38, 6) NULL,
	[QuantityConfirmed_SalesUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantityConfirmed_InventoryUnit] [numeric](38, 6) NOT NULL,
	[AccumulatedQuantityConfirmed_PurchaseUnit] [numeric](38, 6) NULL,
	[AccumulatedQuantityConfirmed_SalesUnit] [numeric](38, 6) NOT NULL,
	[ProductCostPriceAC] [numeric](24, 15) NOT NULL,
	[ProductCostPriceGC] [numeric](24, 15) NOT NULL,
	[ValueAC] [numeric](38, 6) NULL,
	[ValueGC] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_FactNetRequirements] PRIMARY KEY CLUSTERED 
(
	[FactNetRequirementsId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactNetRequirements]  WITH CHECK ADD  CONSTRAINT [FK_FactNetRequirements_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactNetRequirements] CHECK CONSTRAINT [FK_FactNetRequirements_DimCompany]
GO
ALTER TABLE [DWH].[FactNetRequirements]  WITH CHECK ADD  CONSTRAINT [FK_FactNetRequirements_DimCustomer] FOREIGN KEY([DimCustomerId])
REFERENCES [DWH].[DimCustomer] ([DimCustomerId])
GO
ALTER TABLE [DWH].[FactNetRequirements] CHECK CONSTRAINT [FK_FactNetRequirements_DimCustomer]
GO
ALTER TABLE [DWH].[FactNetRequirements]  WITH CHECK ADD  CONSTRAINT [FK_FactNetRequirements_DimProducedItem] FOREIGN KEY([DimProducedItemId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactNetRequirements] CHECK CONSTRAINT [FK_FactNetRequirements_DimProducedItem]
GO
ALTER TABLE [DWH].[FactNetRequirements]  WITH CHECK ADD  CONSTRAINT [FK_FactNetRequirements_DimProduct] FOREIGN KEY([DimProductId])
REFERENCES [DWH].[DimProduct] ([DimProductId])
GO
ALTER TABLE [DWH].[FactNetRequirements] CHECK CONSTRAINT [FK_FactNetRequirements_DimProduct]
GO
ALTER TABLE [DWH].[FactNetRequirements]  WITH CHECK ADD  CONSTRAINT [FK_FactNetRequirements_DimProductConfiguration] FOREIGN KEY([DimProductConfigurationId])
REFERENCES [DWH].[DimProductConfiguration] ([DimProductConfigurationId])
GO
ALTER TABLE [DWH].[FactNetRequirements] CHECK CONSTRAINT [FK_FactNetRequirements_DimProductConfiguration]
GO
ALTER TABLE [DWH].[FactNetRequirements]  WITH CHECK ADD  CONSTRAINT [FK_FactNetRequirements_DimRequirementDate] FOREIGN KEY([DimRequirementDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactNetRequirements] CHECK CONSTRAINT [FK_FactNetRequirements_DimRequirementDate]
GO
ALTER TABLE [DWH].[FactNetRequirements]  WITH CHECK ADD  CONSTRAINT [FK_FactNetRequirements_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactNetRequirements] CHECK CONSTRAINT [FK_FactNetRequirements_DimSupplier]
GO
