/****** Object:  Table [DWH].[FactHistoricGeneralLedger]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactHistoricGeneralLedger](
	[FactHistoricGeneralLedgerId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimGLAccountId] [int] NOT NULL,
	[DimIntercompanyId] [int] NOT NULL,
	[DimPostingDateId] [int] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[RecId] [bigint] NOT NULL,
	[TransactionText] [nvarchar](255) NOT NULL,
	[TransactionCode] [nvarchar](20) NOT NULL,
	[Voucher] [nvarchar](20) NOT NULL,
	[AmountTC] [numeric](32, 17) NOT NULL,
	[AmountAC] [numeric](32, 17) NOT NULL,
	[AmountRC] [numeric](32, 17) NOT NULL,
	[AmountGC] [numeric](38, 6) NOT NULL,
	[AmountAC_Budget] [numeric](38, 6) NOT NULL,
	[AmountRC_Budget] [numeric](38, 6) NOT NULL,
	[AmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 20) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[DimBusinessSegmentId] [int] NOT NULL,
	[DimDepartmentId] [int] NOT NULL,
	[DimEndCustomerId] [int] NOT NULL,
	[DimLocationId] [int] NOT NULL,
	[DimShipmentContractId] [int] NOT NULL,
	[DimLocalAccountId] [int] NOT NULL,
	[DimProductFDId] [int] NOT NULL,
	[DimSupplierId] [int] NULL,
 CONSTRAINT [PK_FactHistoricGeneralLedger] PRIMARY KEY CLUSTERED 
(
	[FactHistoricGeneralLedgerId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] NOCHECK CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] NOCHECK CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimPostingDateId] FOREIGN KEY([DimPostingDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimPostingDateId]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] NOCHECK CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] NOCHECK CONSTRAINT [FK_DWH_FactHistoricGeneralLedger_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimBusinessSegment] FOREIGN KEY([DimBusinessSegmentId])
REFERENCES [DWH].[DimBusinessSegment] ([DimBusinessSegmentId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimBusinessSegment]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimCompany]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimDepartment] FOREIGN KEY([DimDepartmentId])
REFERENCES [DWH].[DimDepartment] ([DimDepartmentId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimDepartment]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimEndCustomer] FOREIGN KEY([DimEndCustomerId])
REFERENCES [DWH].[DimEndCustomer] ([DimEndCustomerId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimEndCustomer]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimGLAccount] FOREIGN KEY([DimGLAccountId])
REFERENCES [DWH].[DimGLAccount] ([DimGLAccountId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimGLAccount]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimIntercompany] FOREIGN KEY([DimIntercompanyId])
REFERENCES [DWH].[DimIntercompany] ([DimIntercompanyId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimIntercompany]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimLocalAccount] FOREIGN KEY([DimLocalAccountId])
REFERENCES [DWH].[DimLocalAccount] ([DimLocalAccountId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimLocalAccount]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimLocation] FOREIGN KEY([DimLocationId])
REFERENCES [DWH].[DimLocation] ([DimLocationId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimLocation]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimProductFD] FOREIGN KEY([DimProductFDId])
REFERENCES [DWH].[DimProductFD] ([DimProductFDId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimProductFD]
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger]  WITH CHECK ADD  CONSTRAINT [FK_FactHistoricGeneralLedger_DimShipmentContract] FOREIGN KEY([DimShipmentContractId])
REFERENCES [DWH].[DimShipmentContract] ([DimShipmentContractId])
GO
ALTER TABLE [DWH].[FactHistoricGeneralLedger] CHECK CONSTRAINT [FK_FactHistoricGeneralLedger_DimShipmentContract]
GO
