/****** Object:  View [DWH].[V_DimIntercompany]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [DWH].[V_DimIntercompany] AS         

SELECT    IntercompanyId
		, UPPER(IntercompanyCode) AS IntercompanyCode
		, IntercompanyName
		, IntercompanyCodeName
		, DimensionName         

FROM DataStore.Intercompany

/* Create Unknown Member */

UNION ALL 
        
SELECT	-1
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
		, N'_N/A'
GO
