/****** Object:  View [DWH].[V_FactCCC]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE VIEW [DWH].[V_FactCCC] AS

WITH 
UnknownSupplier AS (
SELECT DimSupplierId
	 , C.CompanyCode
	 , SupplierGroupName
FROM DWH.DimSupplier DS
JOIN DWH.DimCompany C
ON DS.CompanyCode = C.CompanyCode
WHERE SupplierCode = '_N/A'
),

UnknownCustomer AS (
SELECT DimCustomerId
	 , C.CompanyCode
	 , CustomerGroupName
FROM DWH.DimCustomer DC
JOIN DWH.DimCompany C
ON DC.CompanyCode = C.CompanyCode
WHERE CustomerCode = '_N/A'
),

UnknownProduct AS (
SELECT DimProductId
	 , C.CompanyCode	
	 , ProductGroupName
FROM DWH.DimProduct DP
JOIN DWH.DimCompany C
ON DP.CompanyCode = C.CompanyCode
WHERE ProductCode = '_N/A'
)

SELECT *
	 , CCC.DSO + CCC.DIO_Value - CCC.DPO AS CashConversionCycle
FROM (

	--Load DSO:
SELECT	DSO.DimCustomerId AS DimCustomerId
	  , US.DimSupplierId AS DimSupplierId
	  , UP.DimProductId AS DimProductId
	  , C.DimCompanyId
	  , D.DimDateId AS DimReportingDateId
	  , DSO.DSO_CountBack AS DSO
	  , 1 AS DSOCount
	  , 0 AS DPO
	  , 0 AS DPOCount
	  , 0 AS DIO_Volume
	  , 0 AS DIO_Value
	  , 0 AS DIOCount
FROM TMP.DSO2 DSO
LEFT JOIN DWH.DimCompany C
ON DSO.DimCompanyId = C.DimCompanyId
LEFT JOIN UnknownSupplier US
ON C.CompanyCode = US.CompanyCode
LEFT JOIN UnknownProduct UP
ON C.CompanyCode = UP.CompanyCode
CROSS JOIN
	(SELECT D2.DimDateId
		FROM (SELECT DISTINCT DateTime = EOMONTH(DateTime) FROM DWH.DimDate) D1
		LEFT JOIN DWH.DimDate D2
		ON D1.DateTime = D2.DateTime
		WHERE 1=1
		AND D2.YearId >= (SELECT YearId - 2 FROM DWH.DimDate WHERE DateTime IN (SELECT CAST(CAST(GETDATE() AS DATE) AS DATETIME))) --Go back MAX 2 years
		AND D2.DateTime <= GETDATE()) D --Current month: there will be no balance yet!

UNION ALL

SELECT UC.DimCustomerId AS DimCustomerId
	 , DPO.DimSupplierId AS DimSupplierId
	 , UP.DimProductId AS DimProductId
	 , C.DimCompanyId
	 , D.DimDateId AS DimReportingDateId
	 , 0 AS DSO
	 , 0 AS DSOCount
	 , DPO.DPO_CountBack AS DPO
	 , 1 AS DPOCount
	 , 0 AS DIO_Volume
	 , 0 AS DIO_Value
	 , 0 AS DIOCount
FROM TMP.DPO2 DPO
LEFT JOIN DWH.DimCompany C
ON DPO.DimCompanyId = C.DimCompanyId
LEFT JOIN UnknownCustomer UC
ON C.CompanyCode = UC.CompanyCode
LEFT JOIN UnknownProduct UP
ON C.CompanyCode = UP.CompanyCode
CROSS JOIN
	(SELECT D2.DimDateId
	 FROM (SELECT DISTINCT DateTime = EOMONTH(DateTime) FROM DWH.DimDate) D1
	 LEFT JOIN DWH.DimDate D2
	 ON D1.DateTime = D2.DateTime
	 WHERE 1=1
	 AND D2.YearId >= (SELECT YearId - 2 FROM DWH.DimDate WHERE DateTime IN (SELECT CAST(CAST(GETDATE() AS DATE) AS DATETIME))) --Go back MAX 2 years
	 AND D2.DateTime <= GETDATE()) D --Current month: there will be no balance yet!

UNION ALL

SELECT UC.DimCustomerId AS DimCustomerId
	 , US.DimSupplierId AS DimSupplierId
	 , DIO.DimProductId AS DimProductId
	 , DIO.DimCompanyId AS DimCompanyId
	 , D.DimDateId AS DimReportingDateId
	 , 0 AS DSO
	 , 0 AS DSOCount
	 , 0 AS DPO
	 , 0 AS DPOCount
	 , DIO.DIO_Volume_CountBack AS DIO_Volume
	 , DIO.DIO_Value_CountBack AS DIO_Value
	 , 1 AS DIOCount
FROM TMP.DIO2 DIO
LEFT JOIN DWH.DimCompany C
ON DIO.DimCompanyId = C.DimCompanyId
LEFT JOIN UnknownCustomer UC
ON C.CompanyCode = UC.CompanyCode
LEFT JOIN UnknownSupplier US
ON C.CompanyCode = US.CompanyCode
CROSS JOIN
	(SELECT D2.DimDateId
		FROM (SELECT DISTINCT EOMONTH(DateTime) AS DateTime FROM DWH.DimDate) D1
		LEFT JOIN DWH.DimDate D2
		ON D1.DateTime = D2.DateTime
		WHERE 1=1
		AND D2.YearId >= (SELECT YearId - 2 FROM DWH.DimDate WHERE DateTime IN (SELECT CAST(CAST(GETDATE() AS DATE) AS DATETIME))) --Go back MAX 2 years
		AND D2.DateTime <= GETDATE()) D --Current month: there will be no balance yet!
	) CCC
GO
