/****** Object:  Table [DWH].[DimCase]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimCase](
	[DimCaseId] [int] IDENTITY(1,1) NOT NULL,
	[CaseCode] [nvarchar](10) NOT NULL,
	[CompanyCode] [nvarchar](10) NOT NULL,
	[CreatedDateTime] [datetime] NOT NULL,
	[CreatedBy] [nvarchar](20) NOT NULL,
	[ClosedDateTime] [datetime] NOT NULL,
	[ClosedBy] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](60) NOT NULL,
	[Memo] [nvarchar](510) NOT NULL,
	[OwnerWorker] [nvarchar](255) NOT NULL,
	[Priority] [nvarchar](20) NOT NULL,
	[Process] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[PlannedEffectiveDate] [datetime] NOT NULL,
	[CaseCategoryRecId] [bigint] NOT NULL,
	[CaseCategoryName] [nvarchar](10) NOT NULL,
	[CaseCategoryType] [nvarchar](50) NOT NULL,
	[CaseCategoryDescription] [nvarchar](60) NOT NULL,
	[CaseCategoryProcess] [nvarchar](20) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
 CONSTRAINT [PK_DimCase] PRIMARY KEY CLUSTERED 
(
	[DimCaseId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
