/****** Object:  Table [DWH].[DimGLAccount]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimGLAccount](
	[DimGLAccountId] [int] IDENTITY(1,1) NOT NULL,
	[CompanyCode] [nvarchar](50) NOT NULL,
	[GLAccountId] [bigint] NOT NULL,
	[GLAccountCode] [nvarchar](50) NOT NULL,
	[GLAccountName] [nvarchar](255) NOT NULL,
	[GLAccountType] [nvarchar](50) NOT NULL,
	[ChartOfAccountsName] [nvarchar](60) NOT NULL,
	[MainAccountCategory] [nvarchar](20) NOT NULL,
	[MainAccountCategoryDescription] [nvarchar](60) NOT NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[IsRevenueFlag] [bit] NULL,
	[IsGrossProfitFlag] [bit] NULL,
	[MainAccountCategoryCodeDescription] [nvarchar](255) NOT NULL,
	[MainAccountCategorySort] [int] NULL,
 CONSTRAINT [PK_DimGLAccount] PRIMARY KEY CLUSTERED 
(
	[DimGLAccountId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
