/****** Object:  Table [DWH].[DimOutstandingPeriod]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[DimOutstandingPeriod](
	[DimOutstandingPeriodId] [int] IDENTITY(1,1) NOT NULL,
	[OutstandingPeriodCode] [nvarchar](50) NOT NULL,
	[OutstandingPeriod] [nvarchar](50) NOT NULL,
	[SortOrder] [int] NOT NULL,
 CONSTRAINT [PK_DimOutstandingPeriod] PRIMARY KEY CLUSTERED 
(
	[DimOutstandingPeriodId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
