/****** Object:  View [DWH].[V_DimCostCenter]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [DWH].[V_DimCostCenter] AS         

SELECT	  CostCenterId
		, CostCenterCode
		, CostCenterName
		, CostCenterCodeName
		, DimensionName         

FROM DataStore.CostCenter

/* Create Unknown Member */
UNION ALL
       
SELECT	-1
	  , N'_N/A'
	  , N'_N/A'
	  , N'_N/A'
	  , N'_N/A'
GO
