/****** Object:  StoredProcedure [ETL].[SPR_SetSCDType]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [ETL].[SPR_SetSCDType] @SchemaName nvarchar(128), @TableName nvarchar(128)

AS

DECLARE @CreateDescriptionPropertiesStatement nvarchar(max)
SET @CreateDescriptionPropertiesStatement = ''

SELECT @CreateDescriptionPropertiesStatement = @CreateDescriptionPropertiesStatement +CHAR(10)+
'EXEC sp_addextendedproperty @name = ''SCDType'', @value = '''+
	CASE WHEN C.COLUMN_NAME IN ('CreatedETLRunId','ModifiedETLRunId') THEN 'SCD0' 
		WHEN C.COLUMN_NAME IN ('SCDStartDate','SCDEndDate','SCDIsCurrent') THEN 'Historical'
		WHEN COLUMN_NAME = TABLE_NAME+'Id' THEN 'PK' 
		ELSE 'SCD1' END+''', 
@level0type = ''Schema'', @level0name = '''+C.TABLE_SCHEMA+''',
@level1type = ''Table'', @level1name = '''+C.TABLE_NAME+''',
@level2type = ''Column'', @level2name = '''+C.COLUMN_NAME+''';'
FROM INFORMATION_SCHEMA.COLUMNS C
WHERE C.TABLE_NAME = @TableName
AND C.TABLE_SCHEMA = @SchemaName

PRINT CHAR(10)+'Debug: CreateDescriptionPropertiesStatement = '+@CreateDescriptionPropertiesStatement+CHAR(10)
EXEC sp_executesql @CreateDescriptionPropertiesStatement
GO
