/****** Object:  StoredProcedure [ETL].[SPR_CreateDataStoreTable]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/* Create the procedure to create tables on the staging database*/
CREATE PROCEDURE [ETL].[SPR_CreateDataStoreTable]
@DataStoreSchema NVARCHAR(255),
@DataStoreTable NVARCHAR(255)

AS

DECLARE @QueryStatement NVARCHAR(MAX)
DECLARE @CreateStagingTableColumns NVARCHAR(MAX)
DECLARE @Prefix NVARCHAR(255)
DECLARE @StagingDatabase NVARCHAR(255)
DECLARE @MetadataDatabase NVARCHAR(128) = DB_NAME()
DECLARE @PrimaryKey NVARCHAR(128)
DECLARE @CreateSchema INT
DECLARE @ErrorMessage NVARCHAR(MAX)

--Get Input Parameters
SELECT @Prefix=ConfiguredValue
FROM ETL.S_ProjectParameters
WHERE ConfigurationFilter = 'Prefix'

IF (@Prefix IS NULL)
BEGIN
	SET @ErrorMessage = 'Missing SSISDB ProjectParameter for ''Prefix''';
	THROW 51000, @ErrorMessage, 1
END
PRINT 'Debug: Prefix: '+ @Prefix

SELECT @StagingDatabase=ConfiguredValue
FROM ETL.S_ProjectParameters
WHERE ConfigurationFilter = 'DatabaseStaging'

IF (@StagingDatabase IS NULL)
BEGIN
	SET @ErrorMessage = 'Missing SSISDB ProjectParameter for ''DatabaseStaging''';
	THROW 51000, @ErrorMessage, 1
END
PRINT 'Debug: StagingDatabase: '+ @StagingDatabase

--Get PrimaryKey information
SELECT
@PrimaryKey = PrimaryKey
FROM ETL.StagingInputTarget
WHERE TargetName = 'Staging'
AND TargetSchema = @DataStoreSchema
AND TargetTable = @DataStoreTable

PRINT 'Debug: PrimaryKey = '+ISNULL(@PrimaryKey,'')

--Build up Create Schema Statement for Staging Database
SET @QueryStatement  = CASE WHEN @StagingDatabase <> @MetadataDatabase THEN 'USE ['+@StagingDatabase+']'+CHAR(10) ELSE '' END +
'SELECT @CreateSchema = 1 FROM INFORMATION_SCHEMA.SCHEMATA WHERE SCHEMA_NAME = '''+@DataStoreSchema+''''
EXECUTE sp_executesql @QueryStatement, N'@CreateSchema INT OUTPUT',	@CreateSchema=@CreateSchema OUTPUT

SELECT @CreateSchema = ISNULL(@@RowCount,0)
IF @CreateSchema IS NULL
BEGIN
	PRINT CHAR(10)+'Debug: CREATE SCHEMA '+@DataStoreSchema
	BEGIN TRY
	SET @QueryStatement = CASE WHEN @StagingDatabase <> @MetadataDatabase THEN 'USE ['+@StagingDatabase+'] ' ELSE '' END +
		'CREATE SCHEMA '+@DataStoreSchema+ ' AUTHORIZATION [db_ddladmin]'
	EXECUTE(@QueryStatement)
	END TRY
	BEGIN CATCH
	PRINT 'Debug: Error in schema creation'
	END CATCH
END

--Build Drop Data Store Table Statement
SET @QueryStatement = CASE WHEN @StagingDatabase <> @MetadataDatabase THEN 'USE ['+@StagingDatabase+']'+CHAR(10) ELSE '' END +
'IF EXISTS (SELECT 1 FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_NAME='''+@DataStoreTable+''' AND TABLE_SCHEMA = '''+@DataStoreSchema+''')'+CHAR(10)+
'DROP TABLE ['+@DataStoreSchema+'].['+@DataStoreTable+']'
PRINT CHAR(10)+'Debug: DropStagingTableStatement = '+@QueryStatement
EXECUTE(@QueryStatement)


--Build Create Data Store Table Statement
SET @QueryStatement = CASE WHEN @StagingDatabase <> @MetadataDatabase THEN 'USE ['+@StagingDatabase+']'+CHAR(10) ELSE '' END +
	'SELECT @CreateStagingTableColumns=ISNULL(@CreateStagingTableColumns+'',''+CHAR(10),'''')+''[''+C.COLUMN_NAME+'']'' + '' ['' + UPPER(C.DATA_TYPE)+'']''' + CHAR(10)+
		'+ CASE WHEN C.CHARACTER_MAXIMUM_LENGTH IS NOT NULL AND C.DATA_TYPE <> ''ntext'' THEN ''(''+CASE WHEN C.CHARACTER_MAXIMUM_LENGTH = -1 THEN ''MAX'' ELSE CONVERT(VARCHAR(50),C.CHARACTER_MAXIMUM_LENGTH) END +'')'' ELSE '''' END' + CHAR(10)+
		'+ CASE WHEN C.DATA_TYPE IN (''decimal'',''numeric'') THEN ''(''+CONVERT(NVARCHAR(50),C.NUMERIC_PRECISION)+'',''+CONVERT(NVARCHAR(50),C.NUMERIC_SCALE)+'')'' ELSE '''' END' + CHAR(10)+
		'+ CASE WHEN C.IS_NULLABLE IS NOT NULL AND C.IS_NULLABLE = ''NO'' THEN '' NOT NULL'' ELSE '' NULL'' END ' + CHAR(10)+
	'FROM INFORMATION_SCHEMA.COLUMNS C ' + CHAR(10)+
	'WHERE C.TABLE_SCHEMA= @DataStoreSchema ' + CHAR(10)+
	'AND C.TABLE_NAME = @Prefix+@DataStoreTable ' + CHAR(10)+
	'ORDER BY C.ORDINAL_POSITION'
PRINT CHAR(10)+ 'Debug: @CreateStagingTableColumns = ' +@QueryStatement
EXECUTE sp_executesql @QueryStatement,
	N'@Prefix NVARCHAR(10), @DataStoreSchema NVARCHAR(128), @DataStoreTable NVARCHAR(128), @CreateStagingTableColumns NVARCHAR(MAX) OUTPUT',
	@Prefix=@Prefix, @DataStoreSchema=@DataStoreSchema, @DataStoreTable=@DataStoreTable, @CreateStagingTableColumns=@CreateStagingTableColumns OUTPUT

IF (@CreateStagingTableColumns IS NULL)
BEGIN
	SET @ErrorMessage = 'View ''' + @DataStoreSchema + '.' + @Prefix+@DataStoreTable + ''' doesn''t exists';
	THROW 51000, @ErrorMessage, 1
END

SET @QueryStatement = CASE WHEN @StagingDatabase <> @MetadataDatabase THEN 'USE ['+@StagingDatabase+']'+CHAR(10) ELSE '' END +
	'CREATE TABLE ['+@DataStoreSchema+'].['+@DataStoreTable+'] ('+CHAR(10)+
	ISNULL(@CreateStagingTableColumns,'')+
	ISNULL(','+CHAR(10)+'CONSTRAINT [PK_' + @DataStoreSchema + '_' + @DataStoreTable + '] PRIMARY KEY (' + @PrimaryKey + ')','')+CHAR(10)+
	')'
PRINT CHAR(10)+'Debug: CreateStagingTableStatement = '+ISNULL(@QueryStatement,'No Statement')
EXECUTE(@QueryStatement)
GO
