/****** Object:  StoredProcedure [ETL].[SPR_UpdateStagingInputTarget]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ETL].[SPR_UpdateStagingInputTarget]
AS 

DECLARE @SQL NVARCHAR(MAX)

SET @SQL = 'INSERT INTO ETL.StagingInputTarget (
		[TargetName]
		, [TargetSchema]
		, [TargetTable]
		, [SourceSchema]
		, [SourceTable]
		, [PrimaryKey]
		, [ActionType]
		, [Category]
		, [Status]
		, [Description]
		)
	SELECT	''DWH''
		, ''DWH''
		, SUBSTRING(TABLE_NAME, 3, LEN(TABLE_NAME))
		, ''DWH''
		, TABLE_NAME
		, NULL
		, ''UPSERT''
		, NULL
		, ''Active''
		, ''Upsert to '' + SUBSTRING(TABLE_NAME, 3, LEN(TABLE_NAME))
	FROM INFORMATION_SCHEMA.TABLES
	WHERE TABLE_SCHEMA = ''DWH''
		AND TABLE_NAME LIKE ''V_DIM%''
		AND TABLE_NAME NOT IN (
			SELECT SourceTable
			FROM ETL.StagingInputTarget
			)'

			EXEC (@SQL)
GO
