/****** Object:  UserDefinedFunction [ETL].[fn_MonthKeyInt]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE FUNCTION [ETL].[fn_MonthKeyInt]
(
	-- Add the parameters for the function here
	@Date datetime
)
RETURNS int
AS
BEGIN
RETURN ISNULL(CONVERT(Integer,RIGHT(Convert(varchar,DatePart(Year,@Date)),4)+RIGHT('0'+Convert(varchar,DatePart(Month,@Date)),2)), 190001)
END
GO
