/****** Object:  Table [ETL].[Parameter]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Parameter](
	[Variable] [nvarchar](100) NOT NULL,
	[Value] [int] NOT NULL
) ON [PRIMARY]
GO
