/****** Object:  UserDefinedFunction [ETL].[F_SplitString]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [ETL].[F_SplitString] (@Value NVARCHAR(MAX), @Separator NCHAR(1))
RETURNS @Result TABLE(Value NVARCHAR(MAX))
AS
BEGIN

      DECLARE @x XML 
      SELECT @x = CAST('<A>'+ REPLACE(@Value,@Separator,'</A><A>')+ '</A>' AS XML)
      INSERT INTO @Result            
      SELECT t.value('.', 'NVARCHAR(MAX)') AS inVal
      FROM @x.nodes('/A') AS x(t)
    RETURN
END
GO
