/****** Object:  Table [ETL].[StagingInputSource]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingInputSource](
	[SourceName] [nvarchar](255) NOT NULL,
	[Prefix] [nvarchar](255) NOT NULL,
	[TargetSchema] [nvarchar](255) NOT NULL,
	[SourceType] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_ETL_StagingInputSource] PRIMARY KEY CLUSTERED 
(
	[SourceName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
