/****** Object:  StoredProcedure [ETL].[SPR_CreateDataStoreIndices]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE PROCEDURE [ETL].[SPR_CreateDataStoreIndices]
@DataStoreSchema NVARCHAR(255),
@DataStoreTable NVARCHAR(255)

AS

SET NOCOUNT ON
DECLARE @RowsToProcess  INT
DECLARE @CurrentRow     INT
DECLARE @IndexName NVARCHAR(255)
DECLARE @Staging NVARCHAR(10) = 'Staging'
DECLARE @Indices TABLE (Id INT IDENTITY(1,1), IndexName NVARCHAR(255))

INSERT INTO @Indices (IndexName)
SELECT I.IndexName
FROM ETL.StagingInputIndex I
WHERE I.SourceName = @Staging
	AND I.TargetSchema = @DataStoreSchema
	AND I.TargetTable = @DataStoreTable


SET @RowsToProcess=@@ROWCOUNT

SET @CurrentRow=0
WHILE @CurrentRow<@RowsToProcess
BEGIN
SET @CurrentRow=@CurrentRow+1
SELECT 
	@IndexName=IndexName
	FROM @Indices WHERE Id = @CurrentRow
EXECUTE ETL.SPR_CreateStagingIndex @IndexName = @IndexName
END
GO
