/****** Object:  StoredProcedure [ETL].[SPR_RunTableScreenings]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [ETL].[SPR_RunTableScreenings] 
@Schema nvarchar(255),
@Table nvarchar(255),
@ETLRunId int

AS
SET NOCOUNT ON

DECLARE @RowsToProcess  int
DECLARE @CurrentRow     int
DECLARE @ScreeningExecutionId int
DECLARE @ScreeningCategory nvarchar(250)
DECLARE @Query nvarchar(max)
DECLARE @Query2 nvarchar(max)

PRINT '--Running screenings for ' +@Schema+'.'+ @Table + CHAR(10)

SET @Query =
'INSERT INTO ETL.ScreeningExecution (
	ScreeningId,
	StartTime,
	Status,
	ETLRunId,
	NrOfRows,
	NrOfErrors )
(
	SELECT ScreeningId, 
	GETDATE() AS StartTime,
	''Created'' AS Status,'''+
	CAST(@ETLRunId AS NVARCHAR(20))+''' AS ETLRunId,
	0 AS NrOfRows,
	0 AS NrOfErrors
	FROM ETL.Screening
	WHERE TableName = '''+@Table+'''
	AND SchemaName = '''+@Schema+'''
	AND ScreeningActive =1
)'

EXECUTE (@Query)

CREATE TABLE #Temp
(Id int IDENTITY(1,1), ScreeningExecutionId int, ScreeningCategory nvarchar(250))

SET @Query2 =
'INSERT INTO #Temp
(ScreeningExecutionId, ScreeningCategory)
(
	SELECT ScreeningExecutionId, ScreeningCategory
	FROM ETL.ScreeningExecution SE
	INNER JOIN ETL.Screening S
	ON S.ScreeningId = SE.ScreeningId
	WHERE EndTime IS NULL AND ETLRunId = '''+CAST(@ETLRunId AS NVARCHAR(20))+'''
)'

EXECUTE(@Query2)

SET @RowsToProcess=@@ROWCOUNT


SET @CurrentRow=0
WHILE @CurrentRow<@RowsToProcess
BEGIN
SET @CurrentRow=@CurrentRow+1
SELECT @ScreeningExecutionId = ScreeningExecutionId,@ScreeningCategory=ScreeningCategory FROM #Temp WHERE Id = @CurrentRow
IF @ScreeningCategory = 'REFERENCE' BEGIN EXECUTE ETL.SPR_ScreeningStructureFK @ScreeningExecutionId END
IF @ScreeningCategory = 'VALUE' BEGIN EXECUTE ETL.SPR_ScreeningValue @ScreeningExecutionId END
END
GO
