/****** Object:  StoredProcedure [ETL].[SPR_UpsertBackup]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*
Working with SCD2:
- Create your target table: @SchemaName.@TableName
	* Add an Identity column called @TableName + 'ID' (as first column)
	* Add SCDStartDate DATETIME, SCDEndDate DATETIME, SCDIsCurrent BIT at the end of the table
- Execute: EXEC SPR_SetSCDType @SchemaName, @TableName
	* Notice that column @TableName + 'ID' has now an extended property 'PK'
	* Notice that columns SCDStartDate, SCDEndDate, SCDIsCurrnet have now extended property 'Historical'
	* Modify the BusinessKey columns so the extended property 'SCDType' is set to 'BK'
	* Modify the SCD2 columns so the extended property 'SCDType' is set to 'SCD2'
- Create a helper table: @SourceSchemaName.@TableName+'2' (eg: stg.FactTable2)
	* Having the same table definition as the target table @SchemaName.@TableName
	* Except for the PK (@TableName + 'ID'), no need to add this column
*/

CREATE PROCEDURE [ETL].[SPR_UpsertBackup]
@SchemaName NVARCHAR(255),
@TableName NVARCHAR(255),
@SourceSchemaName NVARCHAR(128) = N'TMP',
@SourceTableName NVARCHAR(128) = NULL,
@SourceDatabaseName NVARCHAR(128) = NULL,
@TargetName NVARCHAR(128) = NULL,
@MetadataDatabaseName NVARCHAR(128) = NULL,
@ETLRunId INT = NULL,
@InsertCount INT = NULL OUTPUT,
@UpdateCount INT = NULL OUTPUT,
@DeleteCount INT = NULL OUTPUT

AS

DECLARE @Statement NVARCHAR(MAX)
DECLARE @Statement1 NVARCHAR(MAX) = ''
DECLARE @Statement2 NVARCHAR(MAX) = ''
DECLARE @Statement3 NVARCHAR(MAX) = ''
DECLARE @StatementDeclareRowCount NVARCHAR(MAX)
DECLARE @StatementRowCount NVARCHAR(MAX)
DECLARE @TargetLookupQuery NVARCHAR(MAX)
DECLARE @Columns TABLE (ColumnName NVARCHAR(255) NOT NULL, SCDType NVARCHAR(10) NOT NULL, DefaultDefinition NVARCHAR(MAX) NULL, PersistDefault BIT NULL)
DECLARE @MaxId INT
DECLARE @TargetLookups ETL.TargetLookup

--Get Columns
INSERT INTO @Columns (ColumnName, SCDType, DefaultDefinition, PersistDefault)
SELECT C.name AS ColumnName,
ISNULL(CONVERT(NVARCHAR(10),P.value),'SCD1') AS SCDType,
D.definition AS DefaultDefinition,
CAST(DP.value AS BIT) AS PersistDefault

FROM sys.columns c

INNER JOIN 
sys.tables T 
ON C.object_id = T.object_id

INNER JOIN
sys.schemas S
ON T.schema_id = S.schema_id

LEFT JOIN
sys.extended_properties P 
ON C.column_id = P.minor_id
AND C.object_id = P.major_id
AND  P.name = 'SCDType'

LEFT JOIN
sys.extended_properties DP
ON C.column_id = DP.minor_id
AND C.object_id = DP.major_id
AND DP.name = 'MDM_PersistDefault'

LEFT JOIN
sys.default_constraints D
ON C.default_object_id = D.object_id

WHERE T.name =@TableName
AND S.name = @SchemaName
AND NOT ISNULL(P.value,'SCD1') = 'PK' --If no 'SCDType' is defined, declare it as an SCD1
AND NOT C.is_computed = 1
AND C.generated_always_type = 0

SET @StatementDeclareRowCount = 'DECLARE @rowcounts TABLE(mergeAction nvarchar(10));'+CHAR(10)

SET @StatementRowCount = 'OUTPUT $action INTO @rowcounts;'+CHAR(10)+
'SELECT  @InsertCount = [INSERT] , @UpdateCount = [UPDATE] , @DeleteCount = [DELETE]'+CHAR(10)+
'FROM (SELECT mergeAction, 1 ROWS FROM @rowcounts) AS p'+CHAR(10)+
'PIVOT ( COUNT(ROWS)  FOR mergeAction IN ([INSERT], [UPDATE], [DELETE]) ) AS pvt;'+CHAR(10)+
'SELECT  ISNULL(@InsertCount, 0) AS NrOfNew, ISNULL(@UpdateCount, 0) AS NrOfChangingUpdates, ISNULL(@DeleteCount, 0) AS NrOfDeletions'


-- Check for TargetLookups.
IF (@MetadataDatabaseName IS NOT NULL AND @TargetName IS NOT NULL)
BEGIN
	SET @TargetLookupQuery = 
		'SELECT LookupTableAlias, LookupSchema, LookupTable, LookupColumn, TargetColumn, SourceJoinColumns, LookupJoinColumns'+CHAR(10)+
		'FROM '+'['+@MetadataDatabaseName + '].ETL.StagingInputTargetLookup'+CHAR(10)+
		'WHERE TargetName='''+@TargetName+''' AND TargetSchema='''+@SchemaName+''' AND TargetTable='''+@TableName+''''

	INSERT INTO @TargetLookups 
	EXEC sp_executesql @TargetLookupQuery
	PRINT 'Debug: TargetLookup Query: ' + ISNULL(@TargetLookupQuery,'')+CHAR(10)

	SET @TargetLookupQuery = NULL
	SELECT @TargetLookupQuery=ISNULL(@TargetLookupQuery+',','')+LookupTableAlias
	FROM @TargetLookups
	PRINT 'Debug: TargetLookups: ' + ISNULL(@TargetLookupQuery,'')+CHAR(10)
	

END

--SCD1
SET @Statement1 = 'MERGE INTO ['+@SchemaName+'].['+ @TableName + '] AS T'+CHAR(10)

IF EXISTS (SELECT 1 FROM @TargetLookups) OR (@ETLRunId IS NOT NULL AND EXISTS (SELECT 1 FROM @Columns WHERE ColumnName = 'ETLRunId'))
BEGIN
	SET @Statement1 += 'USING'+CHAR(10)+'('+CHAR(10)+CHAR(9)+
		'SELECT'+CHAR(10)+CHAR(9)+'Source.*'

	IF EXISTS (SELECT 1 FROM @TargetLookups)
	BEGIN
		PRINT 'Merge Source will contain joins based on StagingInputTargetLookup'
		SELECT @Statement1 += ',' + CHAR(10)+CHAR(9) + TL.LookupTableAlias + '.' + TL.LookupColumn +
			CASE WHEN TL.LookupColumn <> TL.TargetColumn THEN ' AS '+TL.TargetColumn ELSE '' END
		FROM @TargetLookups TL
	END
	IF (@ETLRunId IS NOT NULL AND EXISTS (SELECT 1 FROM @Columns WHERE ColumnName = 'ETLRunId'))
		SET @Statement1 += ',' + CHAR(10)+CHAR(9)+ '@ETLRunId AS ETLRunId'
	
	SET @Statement1 += CHAR(10)+CHAR(9)+'FROM '+ ISNULL('['+@SourceDatabaseName +'].', '') + '[' + @SourceSchemaName + '].' + ISNULL('['+@SourceTableName+']', '['+@TableName+']') + ' AS Source'

	IF EXISTS (SELECT 1 FROM @TargetLookups)
	BEGIN
		-- Remark: Use LEFT JOIN + add NOT NULL Constraint on LookupColumn(Alias) in Target: in case of mismatch by LEFT JOIN, MERGE should fail on NOT NULL Constraint.
		SELECT @Statement1 += CHAR(10)+CHAR(9)+'LEFT JOIN [' + TL.LookupSchema + '].[' + TL.LookupTable + '] AS ' + TL.LookupTableAlias
			+CHAR(10)+CHAR(9)+CHAR(9)+'ON ' + ETL.F_GetTargetLookupJoinClause(@TargetLookups, TL.LookupTableAlias)
		FROM @TargetLookups AS TL
	END

	SET @Statement1 += CHAR(10)+ ') AS S'+CHAR(10)
END
ELSE
	SET @Statement1 += 'USING ' + ISNULL('['+@SourceDatabaseName +'].', '') + '[' + @SourceSchemaName + '].' + ISNULL('['+@SourceTableName+']', '['+@TableName+']') + ' AS S'+CHAR(10)

SET @Statement1 += 'ON '

SELECT @Statement1 = @Statement1 + 'T.['+ColumnName + '] = S.['+ColumnName+ '] AND'+CHAR(10)
FROM @Columns
WHERE SCDType= 'BK'

SET @Statement1 = SUBSTRING(@Statement1,1,LEN(@Statement1)-4)

SET @Statement1 = @Statement1 +CHAR(10)+CHAR(10)+ 'WHEN MATCHED AND ('+CHAR(10)

SET @Statement2 = @Statement2 + 'NOT EXISTS ('+CHAR(10)+'SELECT'+CHAR(10)
SELECT @Statement2 = @Statement2 + 'S.['+ColumnName+'],'+CHAR(10)
FROM @Columns
WHERE SCDType= 'SCD1'
SET @Statement2 = SUBSTRING(@Statement2,1,LEN(@Statement2)-2)
+CHAR(10)

SET @Statement2 = @Statement2 + 'INTERSECT'+CHAR(10)+'SELECT'+CHAR(10)
SELECT @Statement2 = @Statement2 + 'T.['+ColumnName+'],'+CHAR(10)
FROM @Columns
WHERE SCDType = 'SCD1'
SET @Statement2 = SUBSTRING(@Statement2,1,LEN(@Statement2)-2) + ')'

SET @Statement2 = @Statement2 + CHAR(10) + ')'
+CHAR(10)+CHAR(10)+ 'THEN '+CHAR(10)


SET @Statement3 = 'UPDATE'+CHAR(10)
+'SET'+CHAR(10)

SELECT @Statement3 = @Statement3 +'T.['+ColumnName +'] = ' + CASE WHEN PersistDefault = 1 THEN DefaultDefinition ELSE 'S.['+ColumnName+']' END + ','+CHAR(10)
FROM @Columns
WHERE SCDType IN ('SCD0', 'SCD1')	-- Also include SCDType = SCD0, even if there is a default for update statement, but take into account PersistDefault.

SET @Statement3 = SUBSTRING(@Statement3,1,LEN(@Statement3)-2)

SET @Statement3 = @Statement3 +CHAR(10)+CHAR(10)+ 'WHEN NOT MATCHED BY TARGET'+CHAR(10)
+'THEN INSERT('+CHAR(10)

SELECT @Statement3 = @Statement3 +'['+ColumnName +'],'+CHAR(10)
FROM @Columns

SET @Statement3 = SUBSTRING(@Statement3,1,LEN(@Statement3)-2)+CHAR(10)
+')'+CHAR(10)
+'VALUES('+CHAR(10)


SELECT @Statement3 = @Statement3 + COALESCE(DefaultDefinition, 'S.['+ColumnName+']') + ','+CHAR(10)
FROM @Columns
WHERE SCDType <> 'Historical'
	
IF ((SELECT COUNT(*) FROM @Columns WHERE SCDType='SCD2')>0)
BEGIN
SET @Statement3 = @Statement3 + 'GETDATE(),' + CHAR(10)
+'NULL,'+CHAR(10)
+'1' + CHAR(10) + ','
END

SET @Statement3 = SUBSTRING(@Statement3,1,LEN(@Statement3)-2)+CHAR(10)
+')'+CHAR(10)

SET @Statement = @StatementDeclareRowCount + @Statement1 + @Statement2 + @Statement3 + @StatementRowCount
PRINT @Statement
SELECT @Statement
EXECUTE sp_executesql @Statement, 
	N'@InsertCount INT OUTPUT, @UpdateCount INT OUTPUT, @DeleteCount INT OUTPUT, @ETLRunId INT',
	@InsertCount=@InsertCount OUTPUT, @UpdateCount=@UpdateCount OUTPUT, @DeleteCount=@DeleteCount OUTPUT, @ETLRunId=@ETLRunId

SET @InsertCount = ISNULL(@InsertCount,0)
SET @UpdateCount = ISNULL(@UpdateCount,0)
SET @DeleteCount = ISNULL(@DeleteCount,0)


--SCD2
SET @Statement1= ''
SET @Statement2 = ''
SET @Statement3 = ''
IF ((SELECT COUNT(*) FROM @Columns WHERE SCDType='SCD2')>0)
BEGIN
PRINT '--SCD2 Detected'
SELECT ('TRUNCATE TABLE '+@SourceSchemaName+'.'+ @TableName+'2')
EXECUTE('TRUNCATE TABLE '+@SourceSchemaName+'.'+ @TableName+'2')
SET @Statement1 = 'INSERT INTO '+@SourceSchemaName+'.'+ @TableName+'2('+CHAR(10)

SELECT @Statement1 = @Statement1 +'['+ColumnName +'],'+CHAR(10)
FROM @Columns
WHERE SCDType <> 'Historical'

SET @Statement1 = @Statement1 + 'SCDStartDate,' + CHAR(10)
+'SCDEndDate,'+CHAR(10)
+'SCDIsCurrent)'+CHAR(10)

SET @Statement1 = @Statement1 + 'SELECT '+CHAR(10)
SELECT @Statement1 = @Statement1 +'['+ColumnName +'],'+CHAR(10)
FROM @Columns
WHERE SCDType <> 'Historical'

SET @Statement1 = @Statement1 + 'GETDATE(),' + CHAR(10)
+'NULL,'+CHAR(10)
+'1'+CHAR(10)
+'FROM ('+CHAR(10)

SET @Statement1 = @Statement1 + 'MERGE INTO '+@SchemaName+'.'+ @TableName + ' AS T'+CHAR(10)
+'USING ' + @SourceSchemaName + '.'+@TableName+' AS S'+CHAR(10)
+'ON '

SELECT @Statement1 = @Statement1 + 'T.['+ColumnName + '] = S.['+ColumnName+ '] AND'+CHAR(10)
FROM @Columns
WHERE SCDType= 'BK'

SET @Statement1 = SUBSTRING(@Statement1,1,LEN(@Statement1)-4)

SET @Statement1 = @Statement1 +CHAR(10)+CHAR(10)+ 'WHEN MATCHED AND ('+CHAR(10)

SET @Statement2 = @Statement2 + 'NOT EXISTS ('+CHAR(10)+'SELECT'+CHAR(10)
SELECT @Statement2 = @Statement2 + 'S.['+ColumnName+'],'+CHAR(10)
FROM @Columns
WHERE SCDType= 'SCD2'
SET @Statement2 = SUBSTRING(@Statement2,1,LEN(@Statement2)-2)
+CHAR(10)

SET @Statement2 = @Statement2 + 'INTERSECT'+CHAR(10)+'SELECT'+CHAR(10)
SELECT @Statement2 = @Statement2 + 'T.['+ColumnName+'],'+CHAR(10)
FROM @Columns
WHERE SCDType = 'SCD2'
SET @Statement2 = SUBSTRING(@Statement2,1,LEN(@Statement2)-2) + ')'

SET @Statement2 = @Statement2 + CHAR(10) + ') AND T.SCDIsCurrent = 1'
+CHAR(10)+CHAR(10)+ 'THEN '+CHAR(10)

SET @Statement3 = 'UPDATE'+CHAR(10)
+'SET'+CHAR(10)
+'SCDIsCurrent = 0,'+CHAR(10)
+'SCDEndDate = GETDATE()' + CHAR(10)
+'OUTPUT $action AS Action,'+CHAR(10)
+'S.* ) AS MergeOutput'+CHAR(10)
+'WHERE MergeOutput.Action = ''UPDATE'''

PRINT @Statement1 + @Statement2 + @Statement3
SELECT (@Statement1 + @Statement2 + @Statement3)
EXECUTE(@Statement1 + @Statement2 + @Statement3)

SET @Statement1 = 'INSERT INTO '+@SchemaName+'.'+ @TableName+'('+CHAR(10)

SELECT @Statement1 = @Statement1 +'['+ColumnName +'],'+CHAR(10)
FROM @Columns
WHERE SCDType <> 'Historical'

SET @Statement1 = @Statement1 + 'SCDStartDate,' + CHAR(10)
+'SCDEndDate,'+CHAR(10)
+'SCDIsCurrent)'+CHAR(10)

SET @Statement1 = @Statement1+ '(SELECT '+CHAR(10)
SELECT @Statement1 = @Statement1 +'['+ColumnName +'],'+CHAR(10)
FROM @Columns
WHERE SCDType <> 'Historical'

SET @Statement1 = @Statement1 + 'GETDATE(),' + CHAR(10)
+'NULL,'+CHAR(10)
+'1'+CHAR(10)
+'FROM '+@SourceSchemaName+'.'+@TableName+'2)'

PRINT(@Statement1)
SELECT(@Statement1)
EXECUTE(@Statement1)

SET @Statement2 = 'SELECT Count(1) AS NrOfSCD2Changes FROM '+@SourceSchemaName+'.'+@TableName+'2'
PRINT(@Statement2)
SELECT(@Statement2)
EXECUTE(@Statement2)

END
GO
