/****** Object:  StoredProcedure [ETL].[SPR_ScreeningStructureFK]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ETL].[SPR_ScreeningStructureFK]
    @ScreeningExecutionId int

AS 

PRINT '--Run Screening Execution '+ CONVERT(nvarchar(50),@ScreeningExecutionId)+ CHAR(10)

DECLARE @Column nvarchar(255)
DECLARE @Table nvarchar(255)
DECLARE @RowIdColumns nvarchar(512)
DECLARE @RowIdValues nvarchar(1000)
DECLARE @ErrorDetails nvarchar(255)
DECLARE @CorrectionValue nvarchar(255)
DECLARE @CorrectionType nvarchar(255)
DECLARE @Schema nvarchar(255)
DECLARE @TestColumn nvarchar(500)
DECLARE @ReferenceTable nvarchar(255)
DECLARE @ReferenceColumns nvarchar(255)
DECLARE @ReferenceSchema nvarchar(50)
DECLARE @CompanyCodeColumn nvarchar(255)
DECLARE @FromAndWhereClause nvarchar(max)
DECLARE @WhereClause nvarchar(max)
DECLARE @ErrorQuery nvarchar(max)
DECLARE @CorrectQuery nvarchar(max)
DECLARE @SourceColumns nvarchar(max)
DECLARE @CountQuery nvarchar(max)
CREATE TABLE #NrOfRowsTable (NrOfRows INT)
DECLARE @NrOfRows int
DECLARE @NrOfErrors int
DECLARE @SourceTableJoinColumns TABLE
(
Id [int] IDENTITY(1,1),
SourceJoinColumn nvarchar(500) NOT NULL
)
DECLARE @ReferenceTableJoinColumns TABLE
(
Id [int] IDENTITY(1,1),
ReferenceJoinColumn nvarchar(500) NOT NULL
)
DECLARE @Query nvarchar(max)
DECLARE @Query2 nvarchar(max)

CREATE TABLE #TableScreening
([Column] nvarchar(255),
[Table] nvarchar(255),
[Schema] nvarchar(255),
ErrorDetails nvarchar(255),
CorrectionValue nvarchar(255),
ReferenceColumns nvarchar(255),
ReferenceTable nvarchar(255),
ReferenceSchema nvarchar(50),
WhereClause nvarchar(max),
CorrectionType nvarchar(255),
CompanyCodeColumn nvarchar(255),
RowIdColumns nvarchar(512)
)

--Get screening values
SET @Query2= 
'INSERT INTO #TableScreening
(
[Column],
[Table],
[Schema],
ErrorDetails,
CorrectionValue,
ReferenceColumns,
ReferenceTable,
ReferenceSchema,
WhereClause,
CorrectionType,
CompanyCodeColumn,
RowIdColumns
)
(SELECT
S.ColumnName,
S.TableName,
S.SchemaName,
S.ErrorDetails,
S.CorrectionValue,
S.ReferenceColumns,
S.ReferenceTable,
S.ReferenceSchema,
S.WhereClause,
S.CorrectionAction,
S.CompanyCode,
S.RowIdColumns

FROM ETL.ScreeningExecution SE
INNER JOIN ETL.Screening S 
ON SE.ScreeningId = S.ScreeningId
WHERE SE.ScreeningExecutionId = '''+CAST(@ScreeningExecutionId AS NVARCHAR(100))+'''
AND (ScreeningActive = 1 OR ScreeningActive IS NULL))'

EXECUTE(@Query2)

SELECT
@Column = [Column],
@Table = [Table],
@Schema = [Schema],
@ErrorDetails = ErrorDetails,
@CorrectionValue = CorrectionValue,
@ReferenceColumns = ReferenceColumns,
@ReferenceTable = ReferenceTable,
@ReferenceSchema = ReferenceSchema,
@WhereClause = WhereClause,
@CorrectionType = CorrectionType,
@CompanyCodeColumn = CompanyCodeColumn,
@RowIdColumns = RowIdColumns

FROM #TableScreening



--Split the join columns from the source table
INSERT INTO @SourceTableJoinColumns(SourceJoinColumn)
(SELECT Value FROM [ETL].fn_Split(@Column,','))

--Split the join columns from the reference table
INSERT INTO @ReferenceTableJoinColumns(ReferenceJoinColumn)
(SELECT Value FROM [ETL].fn_Split(@ReferenceColumns,','))

--The first join column from the reference table is the column we will test for having the value NULL
SELECT @TestColumn = MAX(ReferenceJoinColumn) FROM @ReferenceTableJoinColumns

--Prepare FROM and WHERE clause
SET @FromAndWhereClause = 'FROM '+@Schema+'.'+@Table+' AS T1 '+CHAR(13)+
'LEFT JOIN ' + @ReferenceSchema + '.' + @ReferenceTable + ' AS T2 '+ CHAR(13)+
'ON '

SELECT @FromAndWhereClause = @FromAndWhereClause + CASE WHEN T1.Id = 1 THEN CHAR(13) ELSE CHAR(13)+'AND ' END +'T1.'+ T1.SourceJoinColumn + '=T2.'+T2.ReferenceJoinColumn
FROM @SourceTableJoinColumns T1
INNER JOIN
@ReferenceTableJoinColumns T2
ON T1.Id = T2.Id

SET @FromAndWhereClause = @FromAndWhereClause +CHAR(13)+
'WHERE T2.'+@TestColumn +' IS NULL '+CHAR(13)+
CASE WHEN @WhereClause IS NULL THEN '' ELSE ' AND '+@WhereClause END

SET @RowIdValues = 'T1.'+@RowIdColumns
SET @RowIdValues = REPLACE(@RowIdValues,',','+'' - '''+'+T1.')

--Count all tested rows
SET @CountQuery = 'INSERT INTO #NrOfRowsTable(NrOfRows) (SELECT COUNT(*) FROM '+@Schema+'.'+@Table+' AS T1 '+CHAR(13)+CASE WHEN @WhereClause IS NULL THEN '' ELSE 'WHERE '+@WhereClause END+')'
EXECUTE(@CountQuery)
SELECT @NrOfRows=ISNULL(MAX(NrOfRows),0) FROM #NrOfRowsTable
TRUNCATE TABLE #NrOfRowsTable

--PRINT @FromAndWhereClause
--If we want to write away the incorrect rows in an error table
IF @ErrorDetails ='ROW'
BEGIN

SELECT @SourceColumns = COALESCE(@SourceColumns+ '+ '' - '' + ','')+'T1.'+SourceJoinColumn
FROM @SourceTableJoinColumns
WHERE SourceJoinColumn <> ISNULL(@CompanyCodeColumn,'')

SET @ErrorQuery = 'INSERT INTO ETL.ScreeningError
(ErrorCode,
RowIdColumns,
RowIdValues,
ErrorColumns,
ErrorValues,
Occurence,
CompanyCode,
ScreeningExecutionId)

(SELECT 
''FK Constraint'','+CHAR(13)+
''''+@RowIdColumns+''','+CHAR(13)+
@RowIdValues+','+CHAR(13)+
''''+@Column+''','+CHAR(13)+
@SourceColumns+','+CHAR(13)+
'1,'+CHAR(13)+
ISNULL('T1.'+@CompanyCodeColumn,'''''')+','+CHAR(13)+
CONVERT(nvarchar(50),@ScreeningExecutionId)+CHAR(13)+
@FromAndWhereClause+')'+ CHAR(13)+
'INSERT INTO #NrOfRowsTable(NrOfRows) (SELECT ISNULL(@@ROWCOUNT,0))'

PRINT '--Error Query:' + CHAR(10) +ISNULl(@ErrorQuery,'') + CHAR(10)
EXECUTE (@ErrorQuery)
END

--If we want to update the incorrect rows
IF @CorrectionType = 'UPDATE'
BEGIN
SET @CorrectQuery= 'UPDATE T1' + CHAR(13)+'SET'

SELECT @CorrectQuery = @CorrectQuery + CASE WHEN T1.Id = 1 THEN CHAR(13) ELSE CHAR(13)+', ' END +'T1.'+ T1.SourceJoinColumn + CASE WHEN @CorrectionValue = 'NULL' THEN '= NULL ' ELSE '= '''+@CorrectionValue+'''' END
FROM @SourceTableJoinColumns T1
WHERE (SELECT COUNT(*) FROM @SourceTableJoinColumns)=1 OR SourceJoinColumn <> @CompanyCodeColumn

SET @CorrectQuery = @CorrectQuery+CHAR(13)+@FromAndWhereClause+ CHAR(13)+
'INSERT INTO #NrOfRowsTable(NrOfRows) (SELECT ISNULL(@@ROWCOUNT,0))'

PRINT '--Correction Query: ' +CHAR(10)+ ISNULL(@CorrectQuery,'') + CHAR(10)
EXECUTE(@CorrectQuery)
END

--If we want to delete the incorrect rows
IF @CorrectionType = 'DELETE'
BEGIN
SET @CorrectQuery= 'DELETE T1' + CHAR(13)+@FromAndWhereClause+ CHAR(13)+
'INSERT INTO #NrOfRowsTable(NrOfRows) (SELECT ISNULL(@@ROWCOUNT,0))'
PRINT '--Correction Query: ' + CHAR(10) + ISNULL(@CorrectQuery,'')+ CHAR(10)
EXECUTE(@CorrectQuery)
END
SELECT @NrOfErrors=ISNULL(MAX(NrOfRows),0) FROM #NrOfRowsTable

--Update the screening execution table
SET @Query = 
'UPDATE ETL.ScreeningExecution
SET Status = CASE WHEN '''+CAST(@NrOfErrors AS NVARCHAR(20))+''' =0 OR '''+@ErrorDetails+''' = ''NO'' THEN ''Completed'' ELSE ''Failed'' END,
EndTime = GETDATE(),
NrOfErrors = '''+CAST(@NrOfErrors AS NVARCHAR(20))+''',
NrOfRows = '''+CAST(@NrOfRows AS NVARCHAR(20))+'''
WHERE ScreeningExecutionId = '''+CAST(@ScreeningExecutionId AS NVARCHAR(100))+''' '

EXECUTE(@Query)

DROP TABLE #NrOfRowsTable
GO
