/****** Object:  Table [ETL].[StagingInputIndex]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingInputIndex](
	[SourceName] [nvarchar](255) NOT NULL,
	[TargetSchema] [nvarchar](255) NOT NULL,
	[TargetTable] [nvarchar](255) NOT NULL,
	[IndexName] [nvarchar](255) NOT NULL,
	[IsClustered] [bit] NOT NULL,
	[IsUnique] [bit] NOT NULL,
	[Columns] [nvarchar](255) NOT NULL,
	[IncludeColumns] [nvarchar](255) NULL,
	[FilteredPredicate] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_StagingInputIndex] PRIMARY KEY CLUSTERED 
(
	[IndexName] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
