/****** Object:  Table [ETL].[StagingInputColumn]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingInputColumn](
	[SourceName] [nvarchar](128) NOT NULL,
	[SourceSchema] [nvarchar](128) NOT NULL,
	[SourceTable] [nvarchar](128) NOT NULL,
	[SourceColumn] [nvarchar](128) NOT NULL,
	[TargetColumn] [nvarchar](128) NOT NULL,
	[IsNullable] [bit] NULL,
	[Upper] [nvarchar](255) NULL,
	[Trim] [nvarchar](255) NULL,
	[SourceDataType] [nvarchar](255) NULL,
	[TargetDataType] [nvarchar](255) NULL,
	[ReplaceEmptyValue] [nvarchar](255) NULL,
	[DefaultValue] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Example] [nvarchar](255) NULL,
 CONSTRAINT [PK_ETL_StagingInputColumn] PRIMARY KEY CLUSTERED 
(
	[SourceName] ASC,
	[SourceSchema] ASC,
	[SourceTable] ASC,
	[SourceColumn] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
