/****** Object:  StoredProcedure [ETL].[SPR_Merge]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* It makes no sense to do SPR_Merge on a table having SCD2 columns because target contains versioning */
/* Columns of SCDType 'BK' should not be nullable or contain NULL values. */
CREATE PROCEDURE [ETL].[SPR_Merge]
@SourceSchemaName NVARCHAR(255),
@SourceTableName NVARCHAR(255),
@SchemaName NVARCHAR(255),
@TableName NVARCHAR(255),
@SourceDatabaseName NVARCHAR(255) = NULL,
@TargetName NVARCHAR(128) = NULL,
@MetadataDatabaseName NVARCHAR(128) = NULL,
@ETLRunId INT = NULL,
@InsertCount INT = NULL OUTPUT,
@UpdateCount INT = NULL OUTPUT,
@DeleteCount INT = NULL OUTPUT

AS

DECLARE @Statement Nvarchar(max)
DECLARE @Columns TABLE (ColumnName Nvarchar(255) NOT NULL, SCDType Nvarchar(10) NOT NULL, DefaultDefinition NVARCHAR(MAX) NULL, PersistDefault BIT NULL)
DECLARE @TargetLookups ETL.TargetLookup

--Get Columns
INSERT INTO @Columns (ColumnName, SCDType, DefaultDefinition, PersistDefault)
SELECT C.name,
ISNULL(CONVERT(nvarchar(10),P.value),'SCD1') AS SCDType,
D.definition AS DefaultDefinition,
CAST(DP.value AS BIT) AS PersistDefault

FROM sys.columns c

INNER JOIN 
sys.tables T 
ON C.object_id = T.object_id

INNER JOIN
sys.schemas S
ON T.schema_id = S.schema_id

LEFT JOIN
sys.extended_properties P 
ON C.column_id = P.minor_id
AND C.object_id = P.major_id
AND  P.name = 'SCDType'

LEFT JOIN
sys.extended_properties DP
ON C.column_id = DP.minor_id
AND C.object_id = DP.major_id
AND  DP.name = 'MDM_PersistDefault'

LEFT JOIN
sys.default_constraints D
ON C.default_object_id = D.object_id

WHERE T.name =@TableName
AND S.name = @SchemaName
AND NOT ISNULL(P.value,'SCD1') = 'PK' --If no 'SCDType' is defined, declare it as an SCD1
AND NOT C.is_computed = 1
AND C.generated_always_type = 0


-- Check for TargetLookups.
IF (@MetadataDatabaseName IS NOT NULL AND @TargetName IS NOT NULL)
BEGIN
	SET @Statement = 
		'SELECT LookupTableAlias, LookupSchema, LookupTable, LookupColumn, TargetColumn, SourceJoinColumns, LookupJoinColumns'+CHAR(10)+
		'FROM '+'['+@MetadataDatabaseName + '].ETL.StagingInputTargetLookup'+CHAR(10)+
		'WHERE TargetName='''+@TargetName+''' AND TargetSchema='''+@SchemaName+''' AND TargetTable='''+@TableName+''''

	INSERT INTO @TargetLookups 
	EXEC sp_executesql @Statement
	PRINT 'Debug: TargetLookup Query: ' + ISNULL(@Statement,'')+CHAR(10)

	SET @Statement = NULL
	SELECT @Statement=ISNULL(@Statement+',','')+LookupTableAlias
	FROM @TargetLookups
	PRINT 'Debug: TargetLookups: ' + ISNULL(@Statement,'')+CHAR(10)
	

END

SET @Statement = 'DECLARE @rowcounts TABLE(mergeAction nvarchar(10));'+CHAR(10)

--SCD1
SET @Statement = 'MERGE INTO ['+@SchemaName+'].['+ @TableName + '] AS T'+CHAR(10)

IF EXISTS (SELECT 1 FROM @TargetLookups) OR (@ETLRunId IS NOT NULL AND EXISTS (SELECT 1 FROM @Columns WHERE ColumnName = 'ETLRunId'))
BEGIN
	SET @Statement += 'USING'+CHAR(10)+'('+CHAR(10)+CHAR(9)+
		'SELECT'+CHAR(10)+CHAR(9)+'Source.*'

	IF EXISTS (SELECT 1 FROM @TargetLookups)
	BEGIN
		PRINT 'Merge Source will contain joins based on StagingInputTargetLookup'
		SELECT @Statement += ',' + CHAR(10)+CHAR(9) + TL.LookupTableAlias + '.' + TL.LookupColumn +
			CASE WHEN TL.LookupColumn <> TL.TargetColumn THEN ' AS '+TL.TargetColumn ELSE '' END
		FROM @TargetLookups TL
	END
	IF (@ETLRunId IS NOT NULL AND EXISTS (SELECT 1 FROM @Columns WHERE ColumnName = 'ETLRunId'))
		SET @Statement += ',' + CHAR(10)+CHAR(9)+ '@ETLRunId AS ETLRunId'
	
	SET @Statement += CHAR(10)+CHAR(9)+'FROM '+ ISNULL('['+@SourceDatabaseName +'].', '') + '[' + @SourceSchemaName + '].' + ISNULL('['+@SourceTableName+']', '['+@TableName+']') + ' AS Source'

	IF EXISTS (SELECT 1 FROM @TargetLookups)
	BEGIN
		-- Remark: Use LEFT JOIN + add NOT NULL Constraint on LookupColumn(Alias) in Target: in case of mismatch by LEFT JOIN, MERGE should fail on NOT NULL Constraint.
		SELECT @Statement += CHAR(10)+CHAR(9)+'LEFT JOIN [' + TL.LookupSchema + '].[' + TL.LookupTable + '] AS ' + TL.LookupTableAlias
			+CHAR(10)+CHAR(9)+CHAR(9)+'ON ' + ETL.F_GetTargetLookupJoinClause(@TargetLookups, TL.LookupTableAlias)
		FROM @TargetLookups AS TL
	END

	SET @Statement += CHAR(10)+ ') AS S'+CHAR(10)
END
ELSE
	SET @Statement += 'USING ' + ISNULL('['+@SourceDatabaseName +'].', '') + '[' + @SourceSchemaName + '].' + ISNULL('['+@SourceTableName+']', '['+@TableName+']') + ' AS S'+CHAR(10)

SET @Statement += 'ON '

SELECT @Statement = @Statement + 'T.['+ColumnName + '] = S.['+ColumnName+ '] AND'+CHAR(10)
FROM @Columns
WHERE SCDType= 'BK'

SET @Statement = SUBSTRING(@Statement,1,LEN(@Statement)-4)

SET @Statement = @Statement +CHAR(10)+CHAR(10)+ 'WHEN MATCHED AND ('+CHAR(10)

SET @Statement = @Statement + 'NOT EXISTS ('+CHAR(10)+'SELECT'+CHAR(10)
SELECT @Statement = @Statement + 'S.['+ColumnName+'],'+CHAR(10)
FROM @Columns
WHERE SCDType= 'SCD1'
SET @Statement = SUBSTRING(@Statement,1,LEN(@Statement)-2)
+CHAR(10)

SET @Statement = @Statement + 'INTERSECT'+CHAR(10)+'SELECT'+CHAR(10)
SELECT @Statement = @Statement + 'T.['+ColumnName+'],'+CHAR(10)
FROM @Columns
WHERE SCDType = 'SCD1'
SET @Statement = SUBSTRING(@Statement,1,LEN(@Statement)-2) + ')'

SET @Statement = @Statement + CHAR(10) + ')'
+CHAR(10)+CHAR(10)+ 'THEN '+CHAR(10)

SET @Statement = @Statement + 'UPDATE'+CHAR(10)
+'SET'+CHAR(10)

SELECT @Statement = @Statement +'T.['+ColumnName +'] = ' + CASE WHEN PersistDefault = 1 THEN DefaultDefinition ELSE 'S.['+ColumnName+']' END + ','+CHAR(10)
FROM @Columns

SET @Statement = SUBSTRING(@Statement,1,LEN(@Statement)-2) + CHAR(10)
SET @Statement = @Statement +CHAR(10)+CHAR(10)+ 'WHEN NOT MATCHED BY TARGET'+CHAR(10)
+'THEN INSERT('+CHAR(10)

SELECT @Statement = @Statement +'['+ColumnName +'],'+CHAR(10)
FROM @Columns

SET @Statement = SUBSTRING(@Statement,1,LEN(@Statement)-2)+CHAR(10)
+')'+CHAR(10)
+'VALUES('+CHAR(10)


SELECT @Statement = @Statement + COALESCE(DefaultDefinition, 'S.['+ColumnName+']') + ','+CHAR(10)
FROM @Columns

SET @Statement = SUBSTRING(@Statement,1,LEN(@Statement)-2)+CHAR(10)
+')'+CHAR(10)

SET @Statement = @Statement + 'WHEN NOT MATCHED BY SOURCE THEN' + CHAR(10) + 'DELETE' + CHAR(10)

SET @Statement = @Statement+ 'OUTPUT $action INTO @rowcounts;'+CHAR(10)+
'SELECT  @InsertCount = [INSERT] , @UpdateCount = [UPDATE] , @DeleteCount = [DELETE]'+CHAR(10)+
'FROM (SELECT mergeAction, 1 ROWS FROM @rowcounts) AS p'+CHAR(10)+
'PIVOT ( COUNT(ROWS)  FOR mergeAction IN ([INSERT], [UPDATE], [DELETE]) ) AS pvt;'+CHAR(10)+
'SELECT  ISNULL(@InsertCount, 0) AS NrOfNew, ISNULL(@UpdateCount, 0) AS NrOfChangingUpdates, ISNULL(@DeleteCount, 0) AS NrOfDeletions'

SELECT @Statement --Debugging
PRINT @Statement
EXECUTE sp_executesql @Statement, 
	N'@InsertCount INT OUTPUT, @UpdateCount INT OUTPUT, @DeleteCount INT OUTPUT, @ETLRunId INT',
	@InsertCount=@InsertCount OUTPUT, @UpdateCount=@UpdateCount OUTPUT, @DeleteCount=@DeleteCount OUTPUT, @ETLRunId=@ETLRunId

SET @InsertCount = ISNULL(@InsertCount,0)
SET @UpdateCount = ISNULL(@UpdateCount,0)
SET @DeleteCount = ISNULL(@DeleteCount,0)
GO
