/****** Object:  Table [ETL].[SQLDictionary]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[SQLDictionary](
	[TableName] [nvarchar](50) NOT NULL,
	[TableId] [bigint] NULL
) ON [PRIMARY]
GO
