/****** Object:  StoredProcedure [ETL].[SPR_LoadDataStoreData]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



















/* Create the procedure to create views on the source database*/  
CREATE PROCEDURE [ETL].[SPR_LoadDataStoreData]  
@DataStoreSchema NVARCHAR(255),
@DataStoreTable NVARCHAR(255),
@ETLRunId INT

AS  
  
DECLARE @NrOfRows int  
DECLARE @ETLRunDetailId TABLE (ETLRunDetailId int)  

BEGIN TRAN 
--Log Start  
PRINT N'SPR_LoadDataStoreTable: Log Start'
INSERT INTO ETL.RunDetail  
(  
TaskName,  
StartTime,  
NrOfIn, 
NrOfOut, 
NrOfNew, 
NrOfUpdates, 
NrOfDeletions, 
NrOfErrors,
ETLRunId  
) OUTPUT Inserted.ETLRunDetailsId INTO @ETLRunDetailId  
VALUES   
(  
'Load '+@DataStoreSchema + ' ' + @DataStoreTable +' to Data Store',    
GETDATE(),  
0,  
0,  
0,  
0,  
0, 
0, 
@ETLRunId  
)  
COMMIT
  
--Load Data Store Table  
PRINT N'SPR_LoadDataStoreTable: Stage Source Table'
BEGIN  
	BEGIN TRY
	BEGIN TRAN  
		PRINT N'SPR_LoadDataStoreTable: EXEC SPR_CreateDataStoreTable'
		EXEC ETL.SPR_CreateDataStoreTable 
			@DataStoreSchema = @DataStoreSchema, 
			@DataStoreTable  = @DataStoreTable 

		PRINT N'SPR_LoadDataStoreTable: EXEC SPR_MoveDataStoreData'
		EXEC ETL.SPR_MoveDataStoreData 
			@DataStoreSchema = @DataStoreSchema, 
			@DataStoreTable = @DataStoreTable, 
			@NrOfRows = @NrOfRows 

		PRINT N'SPR_LoadDataStoreTable: EXEC SPR_CreateDataStoreIndices'
		EXEC ETL.SPR_CreateDataStoreIndices 
			@DataStoreSchema = @DataStoreSchema, 
			@DataStoreTable = @DataStoreTable 
	COMMIT TRAN
	END TRY
	BEGIN CATCH
		IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
		THROW
	END CATCH
END  
  
--Log End  
UPDATE ETL.RunDetail  
SET EndTime = GETDATE(),  
	NrOfIn = ISNULL(@NrOfRows,0),  
	Status = 'Completed'  
WHERE ETLRunDetailsId = (SELECT MAX(ETLRunDetailId) FROM @ETLRunDetailId)
GO
