/****** Object:  StoredProcedure [ETL].[SPR_MoveDataStoreData]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO














/* Create the procedure to move the data between the source system and the staging database*/
CREATE PROCEDURE [ETL].[SPR_MoveDataStoreData]
@DataStoreSchema NVARCHAR(255),
@DataStoreTable NVARCHAR(255),
@NrOfRows INT OUTPUT

AS

DECLARE @MoveDataStatement NVARCHAR(MAX)
DECLARE @StagingDatabase NVARCHAR(255)
DECLARE @TargetTable NVARCHAR(255)
DECLARE @TargetSchema NVARCHAR(255)
DECLARE @Prefix NVARCHAR(255)
DECLARE @TableColumnsStatement NVARCHAR(MAX)
DECLARE @TableColumns NVARCHAR(MAX)
DECLARE @ErrorMessage NVARCHAR(MAX)
DECLARE @MetadataDatabase NVARCHAR(128) = DB_NAME()

--Get Input Parameters
SELECT @StagingDatabase=ConfiguredValue
FROM ETL.S_ProjectParameters
WHERE ConfigurationFilter='DatabaseStaging'

IF (@StagingDatabase IS NULL)
BEGIN
	SET @ErrorMessage = 'Missing SSISDB ProjectParameter for ''DatabaseStaging''';
	THROW 51000, @ErrorMessage, 1
END
PRINT 'Debug: StagingDatabase: '+ @StagingDatabase

SELECT @Prefix=ConfiguredValue
FROM ETL.S_ProjectParameters
WHERE ConfigurationFilter='Prefix'

IF (@Prefix IS NULL)
BEGIN
	SET @ErrorMessage = 'Missing SSISDB ProjectParameter for ''Prefix''';
	THROW 51000, @ErrorMessage, 1
END
PRINT 'Debug: Prefix: '+ @Prefix

-- Build TableColumns
SET @TableColumnsStatement = CASE WHEN @StagingDatabase <> @MetadataDatabase THEN 'USE ['+@StagingDatabase+']'+CHAR(10) ELSE '' END +
	'SELECT @TableColumns=ISNULL(@TableColumns+'','','''')+''[''+C.COLUMN_NAME +'']'''+CHAR(10)+
	'FROM INFORMATION_SCHEMA.COLUMNS C '+CHAR(10)+
	'WHERE TABLE_SCHEMA=@DataStoreSchema AND TABLE_NAME=@DataStoreTable'
EXECUTE sp_executesql @TableColumnsStatement, N'@StagingDatabase NVARCHAR(100),@DataStoreSchema NVARCHAR(100),@DataStoreTable NVARCHAR(100),@TableColumns NVARCHAR(MAX) OUTPUT', 
	@StagingDatabase=@StagingDatabase,@DataStoreSchema=@DataStoreSchema,@DataStoreTable=@DataStoreTable,
	@TableColumns=@TableColumns OUTPUT

IF (@TableColumns IS NULL)
BEGIN
	SET @ErrorMessage = 'View ''' + @DataStoreSchema + '.' + @Prefix+@DataStoreTable + ''' doesn''t exists';
	THROW 51000, @ErrorMessage, 1
END

--Build MoveDataStatement
SET @MoveDataStatement = CASE WHEN @StagingDatabase <> @MetadataDatabase THEN 'USE ['+@StagingDatabase+']'+CHAR(10) ELSE '' END +
'INSERT INTO ['+@DataStoreSchema+'].['+@DataStoreTable+'] WITH (TABLOCK)' +CHAR(10)+ '(' + @TableColumns + ')' +CHAR(10)+
'SELECT ' +CHAR(10)+ @TableColumns +CHAR(10)+ 'FROM ['+@DataStoreSchema+'].['+@Prefix+@DataStoreTable+']  WITH(NOLOCK)'

PRINT CHAR(10)+'Debug: MoveDataStatement = '+ @MoveDataStatement
EXECUTE(@MoveDataStatement)

SELECT @NrOfRows = @@ROWCOUNT
PRINT 'Debug: RowCount = '+CONVERT(NVARCHAR(50),@NrOfRows)

RETURN @NrOfRows
GO
