/****** Object:  Table [ETL].[RunDetail]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[RunDetail](
	[ETLRunDetailsId] [int] IDENTITY(1,1) NOT NULL,
	[TaskName] [nvarchar](255) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Duration]  AS ([EndTime]-[StartTime]),
	[NrOfIn] [int] NULL,
	[NrOfOut] [int] NULL,
	[NrOfNew] [int] NULL,
	[NrOfUpdates] [int] NULL,
	[NrOfDeletions] [int] NULL,
	[NrOfErrors] [int] NULL,
	[ETLRunId] [int] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_ETLRunDetails] PRIMARY KEY CLUSTERED 
(
	[ETLRunDetailsId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
