/****** Object:  StoredProcedure [ETL].[uspCreateForeignKeysAll]    Script Date: 03/03/2026 16:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [ETL].[uspCreateForeignKeysAll]
AS
SET NOCOUNT ON

DECLARE @Temp TABLE (RowNumber int IDENTITY(1,1),TableName varchar(255),SchemaName varchar(255))
DECLARE @Counter int
DECLARE @Table nvarchar(255)
DECLARE @Schema nvarchar(255)
DECLARE @End int
SET @Counter = 1

INSERT INTO @Temp(TableName,SchemaName)
(SELECT TABLE_NAME, TABLE_SCHEMA FROM INFORMATION_SCHEMA.TABLES
WHERE (TABLE_NAME LIKE 'Dim%'
OR TABLE_NAME LIKE 'Fact%')
AND NOT TABLE_SCHEMA = 'TMP')

SELECT @End = MAX(RowNumber) FROM @Temp

WHILE @Counter<@End
BEGIN
SELECT @Table =TableName, @Schema = SchemaName FROM @Temp WHERE RowNumber = @Counter
PRINT 'Searching Foreign Keys for ' +@Schema+'.'+@Table
EXEC ETL.uspCreateForeignKeysTable @Table, @Schema, 1
SET @Counter = @Counter +1
END
GO
