/****** Object:  UserDefinedFunction [ETL].[fn_Split]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE FUNCTION [ETL].[fn_Split]
(
  @inputString     NVARCHAR(MAX)
  ,@splitCharacter NVARCHAR(10)
)
RETURNS @tmp TABLE
(Value NVARCHAR(500))
AS
  BEGIN
      --DECLARE @tmp TABLE (
      --  searchColumn NVARCHAR(20))
      DECLARE @pos INT
      DECLARE @piece NVARCHAR(500)

      -- Need to tack a delimiter onto the END of the input string if one doesn't exist
      IF RIGHT(RTRIM(@inputString), 1) <> @splitCharacter
        SET @inputString = @inputString + @splitCharacter

      SET @pos = patindex('%' + @splitCharacter + '%', @inputString)

      WHILE @pos <> 0
        BEGIN
            SET @piece = LEFT(@inputString, @pos - 1)

            -- You have a piece of data, so INSERT it, print it, do whatever you want to with it.
            --print cast(@piece as varchar(500))
            INSERT INTO @tmp
            VALUES     (@piece)

            SET @inputString = stuff(@inputString, 1, @pos, '')
            SET @pos = patindex('%' + @splitCharacter + '%', @inputString)
        END

      return
  END
GO
