/****** Object:  StoredProcedure [ETL].[SPR_CreateStagingIndex]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [ETL].[SPR_CreateStagingIndex]
@IndexName NVARCHAR(255)

AS

DECLARE @StagingDatabase NVARCHAR(255)
DECLARE @TargetSchema NVARCHAR(255)
DECLARE @TargetTable NVARCHAR(255)
DECLARE @IsClustered BIT
DECLARE @IsUnique BIT
DECLARE @Columns NVARCHAR(255)
DECLARE @IncludeColumns NVARCHAR(255)
DECLARE @FilterPredicate NVARCHAR(255)
DECLARE @CreateStagingIndexStatement NVARCHAR(MAX)

PRINT 'Debug: IndexName = '+@IndexName

--Get Input Parameters

SET @StagingDatabase = 'smartbi'
/*
SELECT @StagingDatabase=ConfiguredValue
FROM ETL.V_ProjectParameters
WHERE ConfigurationFilter = 'DatabaseStaging'
AND EnvironmentName = @Environment*/

PRINT 'Debug: StagingDatabase: '+ @StagingDatabase

SELECT
	@TargetSchema = TargetSchema,
	@TargetTable = TargetTable,
	@IsClustered = IsClustered,
	@IsUnique = IsUnique,
	@Columns = Columns,
	@IncludeColumns = IncludeColumns,
	@FilterPredicate = FilteredPredicate
FROM ETL.StagingInputIndex
WHERE IndexName = @IndexName

PRINT 'Debug: TargetSchema = '+ @TargetSchema
PRINT 'Debug: TargetTable = '+ @TargetTable
PRINT 'Debug: IsClustered = '+ CAST(@IsClustered AS NVARCHAR(10))
PRINT 'Debug: IsUnique = '+ CAST(@IsUnique AS NVARCHAR(10))
PRINT 'Debug: Columns = '+ @Columns
PRINT 'Debug: IncludeColumns = '+ ISNULL(@IncludeColumns,'')
PRINT 'Debug: FilterPredicate = '+ ISNULL(@FilterPredicate,'')

--Build Create Staging Table Statement
SET @CreateStagingIndexStatement = 'USE ['+@StagingDatabase+']'+CHAR(10)+
	'CREATE ' +
	CASE WHEN @IsUnique = 1 THEN 'UNIQUE ' ELSE '' END +
	CASE WHEN @IsClustered = 1 THEN 'CLUSTERED ' ELSE '' END +
	'INDEX [' + @IndexName + '] ON [' + @TargetSchema + '].[' + @TargetTable + '] ' + 
	'(' + @Columns + ') ' +
	CASE WHEN @IncludeColumns IS NOT NULL THEN 'INCLUDE (' + @IncludeColumns + ') ' ELSE '' END +
	CASE WHEN @FilterPredicate IS NOT NULL THEN 'WHERE ' + @FilterPredicate ELSE '' END

PRINT CHAR(10)+'Debug: @CreateStagingIndexStatement = '+@CreateStagingIndexStatement
EXECUTE(@CreateStagingIndexStatement)
GO
