/****** Object:  Table [ETL].[StagingInputTargetLookup]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingInputTargetLookup](
	[TargetName] [nvarchar](128) NOT NULL,
	[TargetSchema] [nvarchar](128) NOT NULL,
	[TargetTable] [nvarchar](128) NOT NULL,
	[LookupTableAlias] [nvarchar](128) NOT NULL,
	[LookupSchema] [nvarchar](128) NOT NULL,
	[LookupTable] [nvarchar](128) NOT NULL,
	[LookupColumn] [nvarchar](128) NOT NULL,
	[TargetColumn] [nvarchar](128) NOT NULL,
	[SourceJoinColumns] [nvarchar](500) NOT NULL,
	[LookupJoinColumns] [nvarchar](500) NOT NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_ETL_StagingInputTargetLookup] PRIMARY KEY CLUSTERED 
(
	[TargetName] ASC,
	[TargetSchema] ASC,
	[TargetTable] ASC,
	[LookupTableAlias] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
