/****** Object:  StoredProcedure [ETL].[SPR_UpsertData]    Script Date: 03/03/2026 16:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE PROCEDURE [ETL].[SPR_UpsertData]
	@Environment NVARCHAR(255) = NULL,
	@TargetTable NVARCHAR(255),
	@ETLRunId INT,
	@TargetSchema NVARCHAR(255) = NULL

AS

DECLARE @ETLRunDetailsId TABLE (ETLRunDetailsId INT)
DECLARE @InsertCount INT
DECLARE @UpdateCount INT
DECLARE @DeleteCount INT

DECLARE @SourceSchema NVARCHAR(128)
DECLARE @SourceTable NVARCHAR(128)

DECLARE @Query NVARCHAR(MAX)

--Log Start  
PRINT N'SPR_UpsertData: Log Start'
INSERT INTO ETL.RunDetail  
(  
TaskName,  
StartTime,  
NrOfIn, 
NrOfOut, 
NrOfNew, 
NrOfUpdates, 
NrOfDeletions, 
NrOfErrors,
ETLRunId  
) OUTPUT Inserted.ETLRunDetailsId INTO @ETLRunDetailsId  
VALUES   
(  
'Upsert '+  @TargetSchema + '.' + @TargetTable,   
GETDATE(),  
0,  
0,  
0,  
0,  
0, 
0, 
@ETLRunId  
)

--Get Target information
SELECT
	@SourceSchema = SourceSchema,
	@SourceTable = SourceTable
FROM ETL.StagingInputTarget
WHERE TargetTable = @TargetTable
	AND (@TargetSchema IS NULL OR TargetSchema = @TargetSchema)

PRINT 'Debug: TargetSchema = ' + @TargetSchema
PRINT 'Debug: SourceSchema = ' + @SourceSchema
PRINT 'Debug: SourceTable = ' + @SourceTable


-- Build Query.
SET @Query = 'EXEC ETL.SPR_Upsert ' + CHAR(10) +
	'@SourceSchemaName = ''' + @SourceSchema + ''',' + CHAR(10) +
	'@SourceTableName = ''' + @SourceTable + ''',' + CHAR(10) + 
	'@SchemaName = ''' + @TargetSchema + ''',' + CHAR(10) + 
	'@TableName = ''' + @TargetTable + ''',' + CHAR(10) + 
	'@ETLRunId = ' + CAST(@ETLRunId AS NVARCHAR(10)) + ',' + CHAR(10) + 
	'@InsertCount = @InsertCount OUTPUT,' + CHAR(10) +
	'@UpdateCount = @UpdateCount OUTPUT,' + CHAR(10) + 
	'@DeleteCount = @DeleteCount OUTPUT'


PRINT CHAR(10) + 'Debug: Query: ' + CHAR(10) + ISNULL(@Query, '') + CHAR(10)
EXECUTE sp_executesql @Query, 
	N'@InsertCount INT OUTPUT, @UpdateCount INT OUTPUT, @DeleteCount INT OUTPUT',
	@InsertCount=@InsertCount OUTPUT, @UpdateCount=@UpdateCount OUTPUT, @DeleteCount=@DeleteCount OUTPUT


--Log End
PRINT N'SPR_UpsertData: Log End'
UPDATE ETL.RunDetail  
SET EndTime = GETDATE(),  
	NrOfNew = @InsertCount,
	NrOfUpdates = @UpdateCount,
	NrOfDeletions = @DeleteCount,
	Status = 'Completed'  
WHERE ETLRunDetailsId = (SELECT MAX(ETLRunDetailsId) FROM @ETLRunDetailsId)
GO
