/****** Object:  StoredProcedure [ETL].[SPR_TruncateStagingEntity]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* Create the procedure to create views on the source database*/  
CREATE PROCEDURE [ETL].[SPR_TruncateStagingEntity]  AS  

DECLARE @DynamicSQL AS VARCHAR(MAX) = '';

SELECT @DynamicSQL = @DynamicSQL + 'TRUNCATE TABLE ' + QUOTENAME(SCHEMA_NAME(schema_id)) + QUOTENAME(t.name ) + '; '
FROM sys.tables AS t

LEFT JOIN sys.partitions AS p
ON t.object_id = p.object_id
AND p.index_id IN ( 0, 1 )

WHERE SCHEMA_NAME(schema_id) = 'dbo'

GROUP BY SCHEMA_NAME(schema_id), t.name

HAVING SUM(p.rows) > 50000

--PRINT @DynamicSQL
EXEC (@DynamicSQL)

GO
