/****** Object:  Table [ETL].[StagingMissingColumn]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingMissingColumn](
	[TableName] [nvarchar](200) NULL,
	[ColumnName] [nvarchar](50) NULL
) ON [PRIMARY]
GO
