/****** Object:  Table [ETL].[StagingMissingTable]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingMissingTable](
	[TableName] [nvarchar](200) NULL,
	[SourceName] [nvarchar](128) NULL
) ON [PRIMARY]
GO
