/****** Object:  Table [ETL].[StagingEmptyTable]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingEmptyTable](
	[TableName] [nvarchar](200) NULL
) ON [PRIMARY]
GO
