/****** Object:  UserDefinedFunction [ETL].[F_GetTargetLookupJoinClause]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [ETL].[F_GetTargetLookupJoinClause] (@TargetLookups ETL.TargetLookup READONLY, @LookupTableAlias NVARCHAR(128))
RETURNS NVARCHAR(1000)
AS
BEGIN
	DECLARE @JoinClause NVARCHAR(1000);

	WITH SourceJoinColumns AS
	(
		SELECT 
			TL.LookupTableAlias,
			SplittedSource.Value,
			ROW_NUMBER() OVER (ORDER BY TL.LookupTableAlias) AS RowNum
		FROM @TargetLookups AS TL
		CROSS APPLY ETL.F_SplitString(TL.SourceJoinColumns,',') AS SplittedSource
		WHERE TL.LookupTableAlias = @LookupTableAlias
	),
	LookupJoinColumns AS
	(
		SELECT 
			TL.LookupTableAlias,
			SplittedLookup.Value,
			ROW_NUMBER() OVER (ORDER BY TL.LookupTableAlias) AS RowNum
		FROM @TargetLookups AS TL
		CROSS APPLY ETL.F_SplitString(TL.LookupJoinColumns,',') AS SplittedLookup
		WHERE TL.LookupTableAlias = @LookupTableAlias
	)
	SELECT @JoinClause = ISNULL(@JoinClause + ' AND ','') +
		'Source.' + S.Value + '=' + S.LookupTableAlias + '.' + L.Value
	FROM SourceJoinColumns S
	INNER JOIN LookupJoinColumns L
		ON L.LookupTableAlias = S.LookupTableAlias
		AND L.RowNum = S.RowNum

	RETURN @JoinClause
END
GO
