/****** Object:  StoredProcedure [ETL].[SPR_CreateIndices]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* Create the procedure to create indices on the staging database*/
CREATE PROCEDURE [ETL].[SPR_CreateIndices]
@Environment NVARCHAR(255),
@TargetName NVARCHAR(255),
@TargetTable NVARCHAR(255),
@TargetSchema NVARCHAR(255) = NULL

AS

SET NOCOUNT ON
DECLARE @RowsToProcess  INT
DECLARE @CurrentRow     INT
DECLARE @Query NVARCHAR(MAX)
DECLARE @IndexName NVARCHAR(255)

CREATE TABLE #Indices
(
	Id INT IDENTITY(1,1),
	IndexName NVARCHAR(255)
)

SET @Query = 
'INSERT INTO #Indices (IndexName)
(SELECT I.IndexName
FROM ETL.StagingInputIndex I
WHERE I.SourceName = ''' + @TargetName + '''
	AND I.TargetTable = ''' + @TargetTable + '''
	AND (''' + ISNULL(@TargetSchema,'') + ''' = '''' OR TargetSchema = ''' + ISNULL(@TargetSchema,'') + ''')
)'

PRINT @Query
EXECUTE (@Query) 

SET @RowsToProcess=@@ROWCOUNT

SET @CurrentRow=0
WHILE @CurrentRow<@RowsToProcess
BEGIN
SET @CurrentRow=@CurrentRow+1
SELECT 
	@IndexName=IndexName
	FROM #Indices WHERE Id = @CurrentRow
EXECUTE ETL.SPR_CreateIndex @Environment, @IndexName
END

DROP TABLE #Indices
GO
