/****** Object:  Table [ETL].[StagingInputTarget]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingInputTarget](
	[TargetName] [nvarchar](128) NOT NULL,
	[TargetSchema] [nvarchar](128) NOT NULL,
	[TargetTable] [nvarchar](128) NOT NULL,
	[SourceSchema] [nvarchar](128) NOT NULL,
	[SourceTable] [nvarchar](128) NOT NULL,
	[PrimaryKey] [nvarchar](255) NULL,
	[ActionType] [nvarchar](10) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ETL_StagingInputTarget] PRIMARY KEY CLUSTERED 
(
	[TargetName] ASC,
	[TargetSchema] ASC,
	[TargetTable] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ETL].[StagingInputTarget] ADD  CONSTRAINT [DF_ETL_StagingInputTarget_ActionType]  DEFAULT ('Upsert') FOR [ActionType]
GO
ALTER TABLE [ETL].[StagingInputTarget] ADD  CONSTRAINT [DF_ETL_StagingInputTarget_Status]  DEFAULT (N'ACTIVE') FOR [Status]
GO
