/****** Object:  Table [ETL].[StringMap]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StringMap](
	[SourceSystem] [nvarchar](50) NOT NULL,
	[SourceTable] [nvarchar](255) NOT NULL,
	[SourceColumn] [nvarchar](50) NOT NULL,
	[Enum] [nvarchar](255) NOT NULL,
	[Name] [nvarchar](255) NOT NULL
) ON [PRIMARY]
GO
