/****** Object:  StoredProcedure [ETL].[uspCreateForeignKeysTable]    Script Date: 03/03/2026 16:26:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [ETL].[uspCreateForeignKeysTable]
	@Table [nvarchar](255),
	@Schema [nvarchar](255),
	@Execute [bit]
WITH EXECUTE AS CALLER
AS
DECLARE @Columns TABLE (ColumnName varchar(255), TableName varchar(255))
DECLARE @ScriptTable TABLE (Query varchar(max))
DECLARE @Query VARCHAR(max)

INSERT INTO @Columns (ColumnName, TableName)

(SELECT C.COLUMN_NAME,
ISNULL(T2.TABLE_NAME,T3.TABLE_NAME)

FROM INFORMATION_SCHEMA.COLUMNS C

LEFT JOIN  INFORMATION_SCHEMA.TABLES T2
ON T2.TABLE_NAME = SUBSTRING(C.COLUMN_NAME,4,LEN(C.COLUMN_NAME)-5)
AND T2.TABLE_SCHEMA = C.TABLE_SCHEMA
AND LEFT(T2.TABLE_NAME,3)<>'Tmp'

LEFT JOIN 
(SELECT MAX(LEN(T3.TABLE_NAME)) AS TableLength,
C.COLUMN_NAME AS COLUMN_NAME
FROM INFORMATION_SCHEMA.COLUMNS C
INNER JOIN
INFORMATION_SCHEMA.TABLES T3
ON CHARINDEX(RIGHT(T3.TABLE_NAME,LEN(T3.TABLE_NAME)-3),C.COLUMN_NAME,0)>0
AND (LEN(C.COLUMN_NAME)-CHARINDEX(RIGHT(T3.TABLE_NAME,LEN(T3.TABLE_NAME)-3),C.COLUMN_NAME,0)-LEN(T3.TABLE_NAME)+2) = 0
WHERE C.TABLE_NAME = @Table
AND C.TABLE_SCHEMA = @Schema
AND C.DATA_TYPE = 'int'
AND LEFT(C.COLUMN_NAME,3)='Dim'
AND LEFT(T3.TABLE_NAME,3)<>'Tmp'
AND RIGHT(C.COLUMN_NAME,2)='Id'
GROUP BY C.COLUMN_NAME) AS Temp
ON Temp.COLUMN_NAME = C.COLUMN_NAME

LEFT JOIN INFORMATION_SCHEMA.TABLES T3
ON CHARINDEX(RIGHT(T3.TABLE_NAME,LEN(T3.TABLE_NAME)-3),C.COLUMN_NAME,0)>0
AND (LEN(C.COLUMN_NAME)-CHARINDEX(RIGHT(T3.TABLE_NAME,LEN(T3.TABLE_NAME)-3),C.COLUMN_NAME,0)-LEN(T3.TABLE_NAME)+2) = 0
AND LEN(T3.TABLE_NAME)=Temp.TableLength
AND T3.TABLE_SCHEMA = C.TABLE_SCHEMA

WHERE C.TABLE_NAME = @Table
AND C.TABLE_SCHEMA = @Schema
AND LEFT(T3.TABLE_NAME,3)<> 'Tmp'
AND C.DATA_TYPE = 'int'
AND LEFT(C.COLUMN_NAME,3)='Dim'
AND RIGHT(C.COLUMN_NAME,2)='Id'
AND C.COLUMN_NAME NOT IN (SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE WHERE TABLE_NAME = @Table AND TABLE_SCHEMA = @Schema)
)

INSERT INTO @ScriptTable(Query)
(SELECT 'ALTER TABLE '+@Schema+'.'+@Table+'  WITH NOCHECK ADD  CONSTRAINT [FK_'+@Schema+'_'
+Replace(@Table,'.','_')+'_'+ColumnName
+'] FOREIGN KEY(['+ColumnName+']) REFERENCES [DWH].['+ISNULL(TableName,'Unkown')+'] (['+REPLACE(ISNULL(TableName,'Unknown'),'DWH','PK')+'Id'+']) ALTER TABLE '+@Schema+'.'+@Table+' NOCHECK CONSTRAINT [FK_'+@Schema+'_'+Replace(@Table,'.','_')+'_'+ColumnName+']'

FROM @Columns)

select *
 from @Columns

SELECT
    @Query = COALESCE(@Query + CHAR(10), '') + Query
FROM
    @ScriptTable
	PRINT @Query
IF @Execute = 1
BEGIN

EXECUTE(@Query)
END

PRINT @Query
GO
