/****** Object:  View [ETL].[V_ProjectParametersPaaS]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [ETL].[V_ProjectParametersPaaS] AS

WITH CurrentEnvironment AS
(
	-- There can be multiple Metadata databases on the current server linked to a certain environment.
	-- But there can only be 1 Metadata database configured per environment on the current server.
	SELECT EnvironmentName
	FROM ETL.ProjectParameters
	WHERE ConfigurationFilter = 'DatabaseMetaData'
		AND ConfiguredValue = DB_NAME()
)
SELECT 
	PP.EnvironmentName,
    PP.ConfigurationFilter,
    PP.ConfiguredValue
FROM ETL.ProjectParameters PP
INNER JOIN CurrentEnvironment CurrEnv
	ON CurrEnv.EnvironmentName = PP.EnvironmentName --
GO
