/****** Object:  Table [ETL].[StagingInputTable]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[StagingInputTable](
	[SourceName] [nvarchar](128) NOT NULL,
	[SourceSchema] [nvarchar](128) NOT NULL,
	[SourceTable] [nvarchar](128) NOT NULL,
	[TargetTable] [nvarchar](128) NOT NULL,
	[PrimaryKey] [nvarchar](255) NULL,
	[WhereClause] [nvarchar](255) NULL,
	[DeltaWhereClause] [nvarchar](4000) NULL,
	[Category] [nvarchar](100) NULL,
	[Status] [nvarchar](10) NOT NULL,
	[Load] [bit] NOT NULL,
	[Rebuild] [bit] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ETL_StagingInputTable] PRIMARY KEY CLUSTERED 
(
	[SourceName] ASC,
	[SourceSchema] ASC,
	[SourceTable] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_ETL_StagingInputTable_SourceNameTargetTable] UNIQUE NONCLUSTERED 
(
	[SourceName] ASC,
	[TargetTable] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ETL].[StagingInputTable] ADD  CONSTRAINT [DF_ETL_StagingInputTable_Status]  DEFAULT (N'ACTIVE') FOR [Status]
GO
