/****** Object:  Table [ETL].[ScreeningError]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[ScreeningError](
	[ErrorCode] [nvarchar](50) NULL,
	[RowIdColumns] [nvarchar](max) NULL,
	[RowIdValues] [nvarchar](max) NULL,
	[ErrorColumns] [nvarchar](max) NULL,
	[ErrorValues] [nvarchar](max) NULL,
	[Occurence] [int] NULL,
	[CompanyCode] [nvarchar](50) NULL,
	[ScreeningExecutionId] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
