/****** Object:  Table [ETL].[ProjectParameters]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[ProjectParameters](
	[EnvironmentName] [nvarchar](20) NOT NULL,
	[ConfigurationFilter] [nvarchar](128) NOT NULL,
	[ConfiguredValue] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_ETL_ProjectParameters] PRIMARY KEY CLUSTERED 
(
	[EnvironmentName] ASC,
	[ConfigurationFilter] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ETL].[ProjectParameters] ADD  CONSTRAINT [DF_ETL_ProjectParameters_ConfiguredValue]  DEFAULT ('') FOR [ConfiguredValue]
GO
