/****** Object:  StoredProcedure [ETL].[CostSheetNodeHierarchy]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE PROCEDURE [ETL].[CostSheetNodeHierarchy] AS

DECLARE @maxLevels INT

-- Retrieve Max Number of Levels From Hierarchy
; WITH depthCheck as
(
  SELECT H.NodeId, H.ParentNodeId, Code, CostGroupId, Description, DataAreaId, 0 AS Level
  FROM dbo.SMRBICostSheetNodeTableStaging H
  WHERE 1=1
	and H.ParentNodeId = 0
	and H.Level_ = 0

  UNION ALL

  SELECT Hc.NodeId, Hc.ParentNodeId, Hc.Code, Hc.CostGroupId, Hc.Description, Hc.DataAreaId, dc.Level + 1 AS Level
  FROM dbo.SMRBICostSheetNodeTableStaging Hc
  INNER JOIN depthCheck dC
  ON Hc.ParentNodeId = dC.NodeId
	and Hc.DataAreaId = dC.DataAreaId
 )

-- Add 1 Level because your column labels start with 1 instead of 0

--SELECT * FROM depthCheck

-- Check if table dbo.SMRBICostSheetNodeStaging contains rows
	-- if no rows default 3 (default in DataStore.V_ProductCostBreakdownHierarchy)
SELECT @maxlevels = 
		CASE  WHEN exists (select 1 from depthCheck) 
			 THEN MAX(Level) + 1
			 ELSE 3
		END 

FROM depthCheck

SELECT @maxLevels

--PRINT @maxLevels

-- Declare some variables needed to assemble the Dynamic SQL Statement
DECLARE @qLevel INT = @maxLevels, @iLevel INT = @maxLevels, @sqlSelectStmt VARCHAR(MAX) = '', @sqlFromStmt VARCHAR(MAX) = ''

--PRINT @sqlSelectStmt
--PRINT @sqlFromStmt

-- This nested While Loop builds out both custom SELECT and FROM clauses
WHILE @qLevel > 0
BEGIN

    -- If Root level, the format will be different
    IF @qLevel = 1
    BEGIN
		SET @sqlSelectStmt = CHAR(9) + CHAR(32) + ', /\CostGroupId/\ AS Level_' + CAST(@qLevel AS VARCHAR(20)) + '_CostGroupId' + CHAR(13) + CHAR(10) + @sqlSelectStmt
		SET @sqlSelectStmt = CHAR(9) + CHAR(32) + ', /\Description/\ AS Level_' + CAST(@qLevel AS VARCHAR(20)) + '_Description' + CHAR(13) + CHAR(10) + @sqlSelectStmt
		SET @sqlSelectStmt = CHAR(9) + CHAR(32) + ', /\Code/\ AS Level_' + CAST(@qLevel AS VARCHAR(20)) + '_Code' + CHAR(13) + CHAR(10) + @sqlSelectStmt
        SET @sqlFromStmt = CHAR(9) + 'dbo.SMRBICostSheetNodeTableStaging L' + CAST(@qLevel AS VARCHAR(20)) + CHAR(13) + CHAR(10) + @sqlFromStmt
    END
    -- If not a Root Level, COALESCE statements will be required for the SELECT clause and JOINS will be required in the FROM clause
    ELSE
    BEGIN
		SET @sqlSelectStmt = CHAR(9) + CHAR(32) + ', COALESCE(/\CostGroupId/\) AS Level_' + CAST(@qLevel AS VARCHAR(20)) + '_CostGroupId' + CHAR(13) + CHAR(10) + @sqlSelectStmt
		SET @sqlSelectStmt = CHAR(9) + CHAR(32) + ', COALESCE(/\Description/\) AS Level_' + CAST(@qLevel AS VARCHAR(20)) + '_Description' + CHAR(13) + CHAR(10) + @sqlSelectStmt
		SET @sqlSelectStmt = CHAR(9) + CHAR(32) + ', COALESCE(/\Code/\) AS Level_' + CAST(@qLevel AS VARCHAR(20)) + '_Code' + CHAR(13) + CHAR(10) + @sqlSelectStmt
		SET @sqlFromStmt = CHAR(9) + 'LEFT JOIN dbo.SMRBICostSheetNodeTableStaging L' + CAST(@qLevel AS VARCHAR(20)) + CHAR(13) + CHAR(10) + CHAR(9) + CHAR(9) 
                         + 'ON L' + CAST(@qLevel - 1 AS VARCHAR(20)) + '.NodeId = L' + CAST(@qLevel AS VARCHAR(20)) + '.ParentNodeId' + CHAR(13) + CHAR(10) + CHAR(9) + CHAR(9) 
						 + 'and L' + CAST(@qLevel - 1 AS VARCHAR(20)) + '.DataAreaId = L' + CAST(@qLevel AS VARCHAR(20)) + '.DataAreaId' + CHAR(13) + CHAR(10) + @sqlFromStmt
    END

    -- Build out the cascading COALESCE statement for CODE and DESCRIPTION
    WHILE @iLevel > 0
    BEGIN
		SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, '/\CostGroupId/\', 'L' + CAST(@iLevel AS VARCHAR(20)) + '.CostGroupId, /\CostGroupId/\')
		SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, '/\Description/\', 'L' + CAST(@iLevel AS VARCHAR(20)) + '.Description, /\Description/\')
		SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, '/\Code/\', 'L' + CAST(@iLevel AS VARCHAR(20)) + '.Code, /\Code/\')

		IF @iLevel = 1
			SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, ', /\CostGroupId/\', '')
        IF @iLevel = 1
			SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, ', /\Description/\', '')
		IF @iLevel = 1
			SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, ', /\Code/\', '')

        SET @iLevel = @iLevel - 1
    END

    -- Decriment @qLevel and Reset @iLevel counters
    SET @qLevel = @qLevel - 1
    SET @iLevel = @qLevel
END

-- Include the AccId Column
SET @sqlSelectStmt = CHAR(13) + CHAR(9) + ' , COALESCE(/\ID/\) AS AccId' + CHAR(13) + CHAR(10) + @sqlSelectStmt

-- Include the DataAreaId Column
SET @sqlSelectStmt = CHAR(9) + ' UPPER(COALESCE(/\D_ID/\)) AS DataAreaId' + @sqlSelectStmt

-- Build out the cascading COALESCE statement for the AccId column
SET @iLevel = @maxLevels
WHILE @iLevel > 0
BEGIN
    SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, '/\ID/\', 'L' + CAST(@iLevel AS VARCHAR(20)) + '.NodeId, /\ID/\')

    IF @iLevel = 1
        SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, ', /\ID/\', '')

    SET @iLevel = @iLevel - 1
END

-- Build out the cascading COALESCE statement for the DataAreaId column
SET @iLevel = @maxLevels
WHILE @iLevel > 0
BEGIN
    SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, '/\D_ID/\', 'L' + CAST(@iLevel AS VARCHAR(20)) + '.DataAreaId, /\D_ID/\')

    IF @iLevel = 1
        SET @sqlSelectStmt = REPLACE(@sqlSelectStmt, ', /\D_ID/\', '')

    SET @iLevel = @iLevel - 1
END

--PRINT @sqlSelectStmt
--PRINT @sqlFromStmt

-- Assemble final Dynamic SQL Statement
DECLARE @finalSQL VARCHAR(MAX)
SET @finalSQL = 'IF OBJECT_ID(''dbo.CostSheetNodeHierarchyTable'', ''U'') IS NOT NULL' + CHAR(13) + CHAR(10)
			  + 'DROP TABLE dbo.CostSheetNodeHierarchyTable' + CHAR(13)
			  + 'SELECT DISTINCT' + CHAR(13) + CHAR(10) + @sqlSelectStmt
              + 'INTO dbo.CostSheetNodeHierarchyTable' + CHAR(13)
			  + 'FROM' + CHAR(13) + CHAR(10) + @sqlFromStmt
              + 'WHERE 1=1' + CHAR(13) + CHAR(9) + CHAR(9)
			  + 'and L1.Level_ = 0' + CHAR(13) + CHAR(9) + CHAR(9)
			  + 'and L1.ParentNodeId = 0' + CHAR(13)

-- Print for good measure
PRINT @finalSQL

-- Execute the assembled statement
EXEC(@finalSQL)
GO
