/****** Object:  StoredProcedure [ETL].[SPR_RunAllScreenings]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE PROCEDURE [ETL].[SPR_RunAllScreenings]

@ETLRunId int,
@SchemaName nvarchar(255)

AS
SET NOCOUNT ON
DECLARE @RowsToProcess  int
DECLARE @CurrentRow     int
DECLARE @TableName		nvarchar(255)
DECLARE @SchemaName2		nvarchar(255)
DECLARE @Query nvarchar(max)

CREATE TABLE #Tables
(Id int IDENTITY(1,1), TableName nvarchar(255),SchemaName nvarchar(255))

SET @Query = 
'INSERT INTO #Tables
(TableName,SchemaName)
(SELECT DISTINCT TableName,SchemaName
FROM ETL.Screening
WHERE (ScreeningActive = 1 OR ScreeningActive IS NULL) AND (SchemaName = '''+@SchemaName+''' OR '''+@SchemaName+''' = ''All'')
)'

EXECUTE (@Query) 

SET @RowsToProcess=@@ROWCOUNT

SET @CurrentRow=0
WHILE @CurrentRow<@RowsToProcess
BEGIN
SET @CurrentRow=@CurrentRow+1
SELECT @TableName = TableName,@SchemaName2 = SchemaName FROM #Tables WHERE Id = @CurrentRow
EXECUTE ETL.SPR_RunTableScreenings @SchemaName2, @TableName, @ETLRunId
END
GO
