/****** Object:  UserDefinedFunction [ETL].[fn_TimeKeyInt]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [ETL].[fn_TimeKeyInt]
(
	-- Add the parameters for the function here
	@Time time
)
RETURNS int
AS
BEGIN
RETURN CAST(CAST(DATEPART(HOUR,@Time) AS NVARCHAR)+ LEFT('0' + CAST(DATEPART(MI,@Time) AS NVARCHAR),2) AS INT)
END
GO
