/****** Object:  UserDefinedTableType [ETL].[TargetLookup]    Script Date: 03/03/2026 16:26:08 ******/
CREATE TYPE [ETL].[TargetLookup] AS TABLE(
	[LookupTableAlias] [nvarchar](128) NOT NULL,
	[LookupSchema] [nvarchar](128) NOT NULL,
	[LookupTable] [nvarchar](128) NOT NULL,
	[LookupColumn] [nvarchar](128) NOT NULL,
	[TargetColumn] [nvarchar](128) NULL,
	[SourceJoinColumns] [nvarchar](500) NOT NULL,
	[LookupJoinColumns] [nvarchar](500) NOT NULL
)
GO
