/****** Object:  Table [ETL].[ScreeningExecution]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[ScreeningExecution](
	[ScreeningExecutionId] [int] IDENTITY(1,1) NOT NULL,
	[ScreeningId] [int] NOT NULL,
	[ETLRunId] [int] NOT NULL,
	[StartTime] [datetime] NOT NULL,
	[EndTime] [datetime] NULL,
	[Status] [nvarchar](50) NOT NULL,
	[NrOfErrors] [int] NOT NULL,
	[NrOfRows] [int] NOT NULL
) ON [PRIMARY]
GO
