/****** Object:  Table [ETL].[Run]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Run](
	[ETLRunId] [int] IDENTITY(1,1) NOT NULL,
	[ExecutionInstanceGUID] [uniqueidentifier] NULL,
	[PackageName] [nvarchar](255) NULL,
	[StartTime] [datetime] NULL,
	[EndTime] [datetime] NULL,
	[Duration]  AS ([EndTime]-[StartTime]),
	[Machine] [nvarchar](50) NULL,
	[Version] [nvarchar](50) NULL,
	[ServerExecutionId] [int] NULL,
 CONSTRAINT [PK_ETLRun] PRIMARY KEY CLUSTERED 
(
	[ETLRunId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [ETL].[Run]  WITH CHECK ADD  CONSTRAINT [FK_Run_Run] FOREIGN KEY([ETLRunId])
REFERENCES [ETL].[Run] ([ETLRunId])
GO
ALTER TABLE [ETL].[Run] CHECK CONSTRAINT [FK_Run_Run]
GO
