/****** Object:  Table [ETL].[Screening]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[Screening](
	[ScreeningId] [int] NOT NULL,
	[ScreeningCategory] [nvarchar](255) NOT NULL,
	[ScreeningOrder] [int] NOT NULL,
	[ScreeningDescription] [nvarchar](255) NULL,
	[ScreeningActive] [bit] NOT NULL,
	[TableName] [nvarchar](255) NOT NULL,
	[ColumnName] [nvarchar](255) NOT NULL,
	[ReferenceTable] [nvarchar](255) NULL,
	[ReferenceColumns] [nvarchar](255) NULL,
	[CorrectionValue] [nvarchar](255) NULL,
	[CompanyCode] [nvarchar](255) NULL,
	[WhereClause] [nvarchar](255) NULL,
	[CorrectionAction] [nvarchar](255) NOT NULL,
	[RowIdColumns] [nvarchar](255) NULL,
	[ErrorDetails] [nvarchar](255) NOT NULL,
	[SchemaName] [nvarchar](255) NOT NULL,
	[ReferenceSchema] [nvarchar](255) NULL,
 CONSTRAINT [PK_ETL_Screening] PRIMARY KEY CLUSTERED 
(
	[ScreeningId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
