/****** Object:  StoredProcedure [ETL].[SPR_CreateStagingIndices]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







/* Create the procedure to create indices on the staging database*/
CREATE PROCEDURE [ETL].[SPR_CreateStagingIndices]
@SourceName NVARCHAR(255),
@TargetTable NVARCHAR(255)

AS

SET NOCOUNT ON
DECLARE @RowsToProcess  INT
DECLARE @CurrentRow     INT
DECLARE @IndexName NVARCHAR(255)
DECLARE @Indices TABLE (Id INT IDENTITY(1,1), IndexName NVARCHAR(255))

INSERT INTO @Indices (IndexName)
SELECT I.IndexName
FROM ETL.StagingInputIndex I
WHERE I.SourceName = @SourceName
	AND I.TargetTable = @TargetTable


SET @RowsToProcess=@@ROWCOUNT

SET @CurrentRow=0
WHILE @CurrentRow<@RowsToProcess
BEGIN
SET @CurrentRow=@CurrentRow+1
SELECT 
	@IndexName=IndexName
	FROM @Indices WHERE Id = @CurrentRow
EXECUTE ETL.SPR_CreateStagingIndex @IndexName = @IndexName
END
GO
