/****** Object:  View [SSAS].[V_FactBadDebtProvision]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






CREATE VIEW [SSAS].[V_FactBadDebtProvision] AS

WITH AR AS
(
SELECT    DimCompanyId
		, DimReportDateId
		, DimDueDateId
		, DimVoucherId
		, DimOutstandingPeriodId
		, DimSalesInvoiceId
		, DimCustomerId
		, SUM(OpenAmountTC) AS OpenAmountTC
		, SUM(PaidAmountTC) AS PaidAmountTC
		, SUM(InvoiceAmountTC) AS InvoiceAmountTC
		, CASE WHEN SUM(InvoiceAmountTC) = 0 THEN 1
		       ELSE SUM(OpenAmountTC) / SUM(InvoiceAmountTC) 
		  END AS Perc
	 
FROM DWH.FactAccountsReceivable
WHERE InvoiceAmountTC <> 0
GROUP BY  DimCompanyId
		, DimVoucherId
		, DimOutstandingPeriodId
		, DimSalesInvoiceId
		, DimReportDateId
		, DimDueDateId
		, DimCustomerId
)

SELECT    GL.DimCompanyId
		, GL.DimTransactionCurrencyId
		, GL.DimAccountingCurrencyId
		, GL.DimReportingCurrencyId
		, GL.DimGroupCurrencyId
		, GL.DimGLAccountId
		, GL.DimIntercompanyId
		, GL.DimDepartmentId
		, GL.DimEndCustomerId
		, GL.DimLocationId
		, GL.DimShipmentContractId
		, GL.DimLocalAccountId
		, GL.DimProductFDId
		, GL.DimVoucherId
		, GL.DimSupplierId
		, GL.DimBusinessSegmentId
		, AR.DimCustomerId
		, - AmountTC AS AmountTC
		, - AmountAC AS AmountAC
		, - AmountGC AS AmountGC
		, - AmountRC AS AmountRC
		, - (AmountTC * AR.Perc) AS OutstandingAmountTC
		, - (AmountAC * AR.Perc) AS OutstandingAmountAC
		, - (AmountGC * AR.Perc) AS OutstandingAmountGC
		, - (AmountRC * AR.Perc) AS OutstandingAmountRC
		, AR.DimOutstandingPeriodId
		, AR.DimSalesInvoiceId
		, AR.DimReportDateId
		, AR.DimDueDateId

FROM DWH.FactGeneralLedger GL

INNER JOIN AR 
ON GL.DimCompanyId = AR.DimCompanyId
AND GL.DimVoucherId = AR.DimVoucherId

WHERE GL.IsDebitCredit = 'Credit'

/* 
20210402 Include credit notes 
a credit note is just a reversed invoice, but still a record in AR subledger.
There might be a difficulty to distinguish the GL postings between settlements and credits
Maybe ignore the lines where the Bank account type is involved?

*/
UNION

SELECT    GL.DimCompanyId
		, GL.DimTransactionCurrencyId
		, GL.DimAccountingCurrencyId
		, GL.DimReportingCurrencyId
		, GL.DimGroupCurrencyId
		, GL.DimGLAccountId
		, GL.DimIntercompanyId
		, GL.DimDepartmentId
		, GL.DimEndCustomerId
		, GL.DimLocationId
		, GL.DimShipmentContractId
		, GL.DimLocalAccountId
		, GL.DimProductFDId
		, GL.DimVoucherId
		, GL.DimSupplierId
		, GL.DimBusinessSegmentId
		, AR.DimCustomerId
		, - AmountTC AS AmountTC
		, - AmountAC AS AmountAC
		, - AmountGC AS AmountGC
		, - AmountRC AS AmountRC
		, - (AmountTC * AR.Perc) AS OutstandingAmountTC
		, - (AmountAC * AR.Perc) AS OutstandingAmountAC
		, - (AmountGC * AR.Perc) AS OutstandingAmountGC
		, - (AmountRC * AR.Perc) AS OutstandingAmountRC
		, AR.DimOutstandingPeriodId
		, AR.DimSalesInvoiceId
		, AR.DimReportDateId
		, AR.DimDueDateId

FROM DWH.FactGeneralLedger GL

INNER JOIN AR 
ON GL.DimCompanyId = AR.DimCompanyId
AND GL.DimVoucherId = AR.DimVoucherId

INNER JOIN DWH.DimGLAccount GLA
ON GLA.DimGLAccountId = GL.DimGLAccountId

WHERE GL.IsDebitCredit = 'Debit'
AND GLA.MainAccountCategory <> '100100'	--Bank account type


GO
