/****** Object:  View [SSAS].[V_NEW_FactBadDebtProvision_GeneralLedger]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [SSAS].[V_NEW_FactBadDebtProvision_GeneralLedger] AS
SELECT DISTINCT FACTGL.FactGeneralLedgerId,BADDEBT.DimReportDateId, CONCAT(BADDEBT.DimReportDateId, '_', FACTGL.DimVoucherId) AS ReportDate_Voucher
FROM DWH.FactGeneralLedger FACTGL
INNER JOIN SSAS.V_NEW_FactBadDebtProvision BADDEBT
ON FACTGL.DimVoucherId = BADDEBT.DimVoucherId
GO
