/****** Object:  View [SSAS].[V_NEW_FactBadDebtProvision]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE VIEW [SSAS].[V_NEW_FactBadDebtProvision] AS

WITH BAD_CALC
AS (
	SELECT InvoiceAmountTC * ProvisionPercentage AS ProvisionAmountTC,
		InvoiceAmountAC * ProvisionPercentage AS ProvisionAmountAC,
		InvoiceAmountRC * ProvisionPercentage AS ProvisionAmountRC,
		OpenAmountTC * ProvisionPercentage AS OutstandingProvisionAmountTC,
		OpenAmountAC * ProvisionPercentage AS OutstandingProvisionAmountAC,
		OpenAmountRC * ProvisionPercentage AS OutstandingProvisionAmountRC,
		*
	FROM (
		SELECT CASE 
				WHEN CUST.CustomerGroup = 'INTERCO'
					AND OP.OutstandingPeriodCode = '181-365'
					THEN 0.25
				WHEN CUST.CustomerGroup = 'INTERCO'
					AND OP.OutstandingPeriodCode = '>365'
					THEN 0.50
				WHEN (
						CUST.CustomerGroup = 'THIRDP'
						OR CUST.CustomerGroup = 'AGENT'
						)
					AND OP.OutstandingPeriodCode = '181-365'
					THEN 0.50
				WHEN (
						CUST.CustomerGroup = 'THIRDP'
						OR CUST.CustomerGroup = 'AGENT'
						)
					AND OP.OutstandingPeriodCode = '>365'
					THEN 1
				ELSE 0
				END AS ProvisionPercentage,
			CUST.CustomerGroup,
			CUST.CustomerCode,
			OP.OutstandingPeriod,
			AR.*
		FROM DWH.FactAccountsReceivable AR
		INNER JOIN DWH.DimCustomer CUST ON CUST.DimCustomerId = AR.DimCustomerId
		INNER JOIN DWH.DimOutstandingPeriod OP ON OP.DimOutstandingPeriodId = AR.DimOutstandingPeriodId
		WHERE AR.InvoiceAmountTC <> 0
			AND AR.DimIsOpenAmountId = 1
		) T
	),

BAD_CALC_CUSTOMER_TOTAL
AS (
	SELECT DimReportDateId,
		DimCustomerId,
		SUM(InvoiceAmountRC) AS TotalInvoiceAmountRC,
		SUM(OutstandingProvisionAmountRC) AS TotalOutstandingProvisionAmountRC
	FROM BAD_CALC
	GROUP BY DimReportDateId,
		DimCustomerId
	)


SELECT
	--Master data - dimensions
	BC.DimReportDateId,
	BC.DimCompanyId,
	BC.DimCustomerId,
	BC.DimVoucherId,
	BC.ReceivablesVoucher,
	BC.CustomerCode,
	--Used for relation table between Bad Debt - General Ledger
	CONCAT(BC.DimReportDateId, '_', BC.DimVoucherId) AS ReportDate_Voucher,
	--Currencies
	BC.DimTransactionCurrencyId,
	BC.DimAccountingCurrencyId,
	BC.DimReportingCurrencyId,
	BC.DimGroupCurrencyId,
	--Account Receivables
	BC.FactAccountsReceivableId,
	BC.OpenAmountAC,
	BC.OpenAmountGC,
	BC.OpenAmountTC,
	--Bad debts information
	BC.ProvisionPercentage,
	BC.ProvisionAmountTC,
	BC.ProvisionAmountRC,
	BC.ProvisionAmountAC,
	BC.OutstandingProvisionAmountTC,
	BC.OutstandingProvisionAmountRC,
	BC.OutstandingProvisionAmountAC
FROM BAD_CALC BC
INNER JOIN BAD_CALC_CUSTOMER_TOTAL BCT ON BCT.DimCustomerId = BC.DimCustomerId
	AND BCT.DimReportDateId = BC.DimReportDateId
WHERE 1 = 1
	--Exclude from Bad Debts in case customer has negative balance in total
	AND BCT.TotalInvoiceAmountRC > 0
	--Exclude from Bad Debts in case Negative total bad debt
	AND BCT.TotalOutstandingProvisionAmountRC > 0
	AND ProvisionPercentage <> 0
GO
