/****** Object:  Table [StagingHistoric].[GeneralLedger]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [StagingHistoric].[GeneralLedger](
	[CompanyCode] [nvarchar](max) NULL,
	[AccountingCurrencyCode] [nvarchar](max) NULL,
	[GLAccountCode] [nvarchar](max) NULL,
	[IntercompanyCode] [nvarchar](max) NULL,
	[BusinessSegmentCode] [nvarchar](max) NULL,
	[DepartmentCode] [nvarchar](max) NULL,
	[EndCustomerCode] [nvarchar](max) NULL,
	[ShipmentContractCode] [nvarchar](max) NULL,
	[LocalAccountCode] [nvarchar](max) NULL,
	[ProductCode] [nvarchar](max) NULL,
	[DimPostingDateId] [nvarchar](max) NULL,
	[AmountAC] [nvarchar](max) NULL,
	[LocationCode] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
