/****** Object:  Table [StagingInterCompany].[ARAP_EM14]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [StagingInterCompany].[ARAP_EM14](
	[Invoice] [nvarchar](255) NULL,
	[Posted] [nvarchar](255) NULL,
	[Due] [nvarchar](255) NULL,
	[Brn.] [nvarchar](255) NULL,
	[Dept] [nvarchar](255) NULL,
	[Lgr.] [nvarchar](255) NULL,
	[Type] [nvarchar](255) NULL,
	[Transaction #] [nvarchar](255) NULL,
	[Job Invoice / Posting Ref] [nvarchar](255) NULL,
	[Cur] [nvarchar](255) NULL,
	[Invoice Total] [nvarchar](255) NULL,
	[Exchange] [nvarchar](255) NULL,
	[Local Total] [nvarchar](255) NULL,
	[Outstanding OS Currency] [nvarchar](255) NULL,
	[Outstanding Local Equiv] [nvarchar](255) NULL,
	[Account] [nvarchar](255) NULL,
	[Account Name] [nvarchar](255) NULL,
	[AP Settlement] [nvarchar](255) NULL,
	[AR Settlement] [nvarchar](255) NULL,
	[CR GRP] [nvarchar](255) NULL,
	[DR GRP] [nvarchar](255) NULL,
	[Dest. / Disch.] [nvarchar](255) NULL,
	[ETA] [nvarchar](255) NULL,
	[ETD] [nvarchar](255) NULL,
	[House] [nvarchar](255) NULL,
	[Job Number] [nvarchar](255) NULL,
	[Master] [nvarchar](255) NULL,
	[Org. Country ] [nvarchar](255) NULL,
	[Org. Country Name ] [nvarchar](255) NULL,
	[Origin / Load] [nvarchar](255) NULL
) ON [PRIMARY]
GO
