/****** Object:  Table [TMP].[FactInventoryMovements]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[FactInventoryMovements](
	[ProductCode] [nvarchar](20) NOT NULL,
	[InventLocationCode] [nvarchar](10) NOT NULL,
	[InventBatchCode] [nvarchar](100) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[StockDate] [date] NOT NULL,
	[IsCurrentDate] [bit] NOT NULL,
	[InventoryUnit] [nvarchar](10) NOT NULL,
	[Quantity_InventoryUnit] [numeric](38, 6) NOT NULL,
	[Quantity_PurchaseUnit] [numeric](38, 6) NULL,
	[Quantity_SalesUnit] [numeric](38, 6) NOT NULL,
	[CurrencyCode] [nvarchar](4) NOT NULL,
	[InventoryValueTC] [numeric](38, 6) NOT NULL,
	[InventoryValueAC] [numeric](38, 6) NOT NULL,
	[InventoryValueRC] [numeric](38, 6) NOT NULL,
	[InventoryValueGC] [numeric](38, 6) NOT NULL
) ON [PRIMARY]
GO
