/****** Object:  Table [TMP].[DSO2]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[DSO2](
	[MonthId] [varchar](6) NOT NULL,
	[CalendarDays] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimCustomerId] [int] NOT NULL,
	[DSO_CountBack] [int] NOT NULL,
	[DSO_Standard] [int] NOT NULL
) ON [PRIMARY]
GO
