/****** Object:  Table [TMP].[DSO1]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[DSO1](
	[MonthId] [varchar](6) NULL,
	[DimCompanyId] [int] NULL,
	[DimCustomerId] [int] NULL,
	[CalendarDays] [int] NULL,
	[Turnover] [numeric](38, 12) NULL,
	[OpenAmount] [numeric](38, 12) NULL
) ON [PRIMARY]
GO
