/****** Object:  Table [TMP].[DIO2]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[DIO2](
	[MonthId] [varchar](6) NOT NULL,
	[CalendarDays] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimProductId] [int] NOT NULL,
	[DIO_Volume_CountBack] [int] NOT NULL,
	[DIO_Volume_Standard] [int] NOT NULL,
	[DIO_Value_CountBack] [int] NOT NULL,
	[DIO_Value_Standard] [int] NOT NULL
) ON [PRIMARY]
GO
