/****** Object:  Table [TMP].[DPO2]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[DPO2](
	[MonthId] [varchar](6) NOT NULL,
	[CalendarDays] [int] NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DPO_CountBack] [int] NOT NULL,
	[DPO_Standard] [int] NOT NULL
) ON [PRIMARY]
GO
