/****** Object:  Table [TMP].[DIO1]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TMP].[DIO1](
	[MonthId] [varchar](6) NULL,
	[DimCompanyId] [int] NULL,
	[DimProductId] [int] NULL,
	[CalendarDays] [int] NULL,
	[SalesVolume] [numeric](38, 12) NULL,
	[SalesValue] [numeric](38, 12) NULL,
	[StockVolume] [numeric](38, 12) NULL,
	[StockValue] [numeric](38, 12) NULL
) ON [PRIMARY]
GO
