/****** Object:  Table [DataStore].[Customer]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Customer](
	[CustomerId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[CustomerCodeName] [nvarchar](121) NULL,
	[CustomerGroup] [nvarchar](10) NOT NULL,
	[CustomerGroupName] [nvarchar](60) NOT NULL,
	[CustomerGroupCodeName] [nvarchar](73) NOT NULL,
	[CustomerClass] [nvarchar](10) NOT NULL,
	[CustomerClassName] [nvarchar](60) NOT NULL,
	[CustomerClassCodeName] [nvarchar](73) NOT NULL,
	[Address] [nvarchar](255) NULL,
	[PostalCode] [nvarchar](10) NOT NULL,
	[City] [nvarchar](60) NOT NULL,
	[Country] [nvarchar](10) NOT NULL,
	[SalesGroup] [nvarchar](10) NOT NULL,
	[Agent] [nvarchar](10) NOT NULL,
	[SalesResponsibleCode] [nvarchar](25) NOT NULL,
	[SalesResponsibleName] [nvarchar](100) NOT NULL,
	[SalesSegmentCode] [nvarchar](20) NOT NULL,
	[SalesSubSegmentCode] [nvarchar](20) NOT NULL,
	[DeliveryTerms] [nvarchar](10) NOT NULL,
	[OnholdStatus] [nvarchar](20) NULL,
	[CreditLimitIsMandatory] [nvarchar](10) NULL,
	[CreditLimit] [numeric](32, 6) NOT NULL,
	[CompanyChain] [nvarchar](20) NOT NULL,
	[TaxGroup] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
