/****** Object:  Table [DataStore].[ShipmentContract]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ShipmentContract](
	[ShipmentContractId] [bigint] NOT NULL,
	[ShipmentContractCode] [nvarchar](30) NOT NULL,
	[ShipmentContractName] [nvarchar](60) NOT NULL,
	[ShipmentContractCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
