/****** Object:  Table [DataStore].[ProductCostBreakdownPrice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ProductCostBreakdownPrice](
	[ItemNumber] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[UnitCode] [nvarchar](10) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[PriceCalcId] [nvarchar](20) NOT NULL,
	[Price] [numeric](38, 17) NULL,
	[VersionCode] [nvarchar](10) NOT NULL,
	[PriceType] [nvarchar](10) NULL,
	[StartValidityDate] [datetime] NOT NULL,
	[EndValidityDate] [datetime] NULL,
	[CalculationNr] [nvarchar](20) NULL,
	[CalculationNrTech] [bigint] NULL,
	[IsMaxCalculation] [varchar](3) NOT NULL,
	[IsActivePrice] [varchar](3) NOT NULL,
	[IsMaxPrice] [varchar](3) NOT NULL
) ON [PRIMARY]
GO
