/****** Object:  Table [DataStore].[Facility]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Facility](
	[FacilityId] [bigint] NOT NULL,
	[FacilityCode] [nvarchar](30) NOT NULL,
	[FacilityName] [nvarchar](60) NOT NULL,
	[FacilityCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
