/****** Object:  Table [DataStore].[Inventory]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Inventory](
	[ProductCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductConfigurationCode] [nvarchar](20) NOT NULL,
	[BatchCode] [nvarchar](20) NOT NULL,
	[ReportDate] [datetime] NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[AccountingCurrencyCode] [nvarchar](3) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](3) NOT NULL,
	[GroupCurrencyCode] [nvarchar](50) NOT NULL,
	[InventoryUnit] [nvarchar](10) NOT NULL,
	[StockQuantity] [numeric](32, 6) NOT NULL,
	[StockValueAC] [numeric](38, 6) NOT NULL,
	[StockValueRC] [numeric](38, 6) NOT NULL,
	[StockValueGC] [numeric](38, 6) NOT NULL,
	[StockValueAC_Budget] [numeric](38, 6) NOT NULL,
	[StockValueRC_Budget] [numeric](38, 6) NOT NULL,
	[StockValueGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 21) NOT NULL
) ON [PRIMARY]
GO
