/****** Object:  Table [DataStore].[GeneralLedgerHistoric]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[GeneralLedgerHistoric](
	[RecId] [int] NULL,
	[TransactionCode] [nvarchar](100) NULL,
	[CompanyCode] [nvarchar](100) NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](100) NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](100) NULL,
	[TransactionCurrencyCode] [nvarchar](100) NULL,
	[AccountingCurrencyCode] [nvarchar](100) NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[GLAccountCode] [nvarchar](100) NULL,
	[InterCompanyCode] [nvarchar](100) NULL,
	[BusinessSegmentCode] [nvarchar](100) NULL,
	[DepartmentCode] [nvarchar](100) NULL,
	[EndCustomerCode] [nvarchar](100) NULL,
	[LocationCode] [nvarchar](100) NULL,
	[ShipmentContractCode] [nvarchar](100) NULL,
	[LocalAccountCode] [nvarchar](100) NULL,
	[ProductFDCode] [nvarchar](100) NULL,
	[DocumentDate] [datetime2](7) NULL,
	[DimPostingDateId] [int] NULL,
	[Voucher] [nvarchar](4) NOT NULL,
	[AmountTC] [numeric](38, 6) NOT NULL,
	[AmountAC] [numeric](38, 6) NULL,
	[AmountRC] [numeric](38, 6) NULL,
	[AmountGC] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 17) NULL,
	[AppliedExchangeRateRC] [numeric](38, 17) NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL
) ON [PRIMARY]
GO
