/****** Object:  Table [DataStore].[PurchaseInvoice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[PurchaseInvoice](
	[PurchaseInvoiceCode] [nvarchar](20) NULL,
	[InternalInvoiceCode] [nvarchar](20) NOT NULL,
	[TransactionType] [nvarchar](60) NULL,
	[PurchaseInvoiceLineNumber] [numeric](32, 16) NOT NULL,
	[InvoiceLineNumberCombination] [nvarchar](53) NULL,
	[LineDescription] [nvarchar](1000) NOT NULL,
	[LineRecId] [bigint] NOT NULL,
	[HeaderRecId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[PurchaseOrderCode] [nvarchar](20) NOT NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[TaxWriteCode] [int] NULL,
	[SupplierCode] [nvarchar](20) NULL,
	[DeliveryModeCode] [nvarchar](10) NULL,
	[PaymentTermsCode] [nvarchar](100) NULL,
	[DeliveryTermsCode] [nvarchar](10) NULL,
	[PurchaseOrderStatus] [nvarchar](20) NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[DefaultDimension] [bigint] NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[PurchaseUnit] [nvarchar](20) NULL,
	[InvoicedQuantity] [numeric](38, 12) NULL,
	[PurchasePricePerUnitTC] [numeric](38, 6) NULL,
	[GrossPurchaseTC] [numeric](38, 6) NULL,
	[DiscountAmountTC] [numeric](38, 6) NULL,
	[InvoicedPurchaseAmountTC] [numeric](38, 6) NULL,
	[MarkupAmountTC] [numeric](38, 6) NULL,
	[NetPurchaseTC] [numeric](38, 6) NULL,
	[NetPurchaseInclTaxTC] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
