/****** Object:  Table [DataStore].[AccountsReceivable]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[AccountsReceivable](
	[AccountsReceivableIdScreening] [nvarchar](28) NOT NULL,
	[RecId] [bigint] NOT NULL,
	[ReceivablesVoucher] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[DimIsOpenAmountId] [int] NOT NULL,
	[OutStandingPeriodCode] [nvarchar](7) NOT NULL,
	[Test] [datetime] NULL,
	[CustomerCode] [nvarchar](20) NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NOT NULL,
	[AccountingCurrencyCode] [nvarchar](5) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](5) NOT NULL,
	[GroupCurrencyCode] [nvarchar](5) NOT NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[DueDate] [datetime] NULL,
	[LastPaymentDate] [datetime] NOT NULL,
	[DocumentDate] [datetime] NULL,
	[ReportDate] [int] NULL,
	[InvoiceAmountTC] [decimal](22, 6) NULL,
	[InvoiceAmountAC] [decimal](38, 6) NOT NULL,
	[InvoiceAmountRC] [decimal](38, 6) NOT NULL,
	[InvoiceAmountGC] [decimal](38, 6) NOT NULL,
	[InvoiceAmountAC_Budget] [decimal](38, 6) NOT NULL,
	[InvoiceAmountRC_Budget] [decimal](38, 6) NOT NULL,
	[InvoiceAmountGC_Budget] [decimal](38, 6) NOT NULL,
	[PaidAmountTC] [numeric](38, 6) NULL,
	[PaidAmountAC] [numeric](38, 6) NOT NULL,
	[PaidAmountRC] [numeric](38, 6) NOT NULL,
	[PaidAmountGC] [numeric](38, 6) NOT NULL,
	[PaidAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[PaidAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[PaidAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[OpenAmountTC] [numeric](38, 6) NULL,
	[OpenAmountAC] [numeric](38, 6) NOT NULL,
	[OpenAmountRC] [numeric](38, 6) NOT NULL,
	[OpenAmountGC] [numeric](38, 6) NOT NULL,
	[OpenAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[OpenAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[OpenAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateRC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 17) NOT NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 17) NOT NULL
) ON [PRIMARY]
GO
