/****** Object:  Table [DataStore].[SalesInvoice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[SalesInvoice](
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[TransactionType] [nvarchar](60) NULL,
	[SalesInvoiceLineNumber] [numeric](32, 16) NOT NULL,
	[SalesInvoiceLineNumberCombination] [nvarchar](53) NULL,
	[HeaderRecId] [bigint] NOT NULL,
	[LineRecId] [bigint] NOT NULL,
	[SalesOrderCode] [nvarchar](20) NOT NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[TaxWriteCode] [int] NULL,
	[SalesOrderStatus] [nvarchar](20) NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[OrderCustomerCode] [nvarchar](20) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[PaymentTermsCode] [nvarchar](100) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[LedgerCode] [nvarchar](500) NOT NULL,
	[OrigSalesOrderId] [nvarchar](20) NOT NULL,
	[InvoiceDate] [date] NULL,
	[RequestedDeliveryDate] [date] NULL,
	[ConfirmedDeliveryDate] [date] NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[InvoicedQuantity] [numeric](32, 6) NOT NULL,
	[SalesPricePerUnitTC] [numeric](38, 6) NULL,
	[GrossSalesTC] [numeric](38, 6) NULL,
	[DiscountAmountTC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountTC] [numeric](38, 6) NULL,
	[MarkupAmountTC] [numeric](38, 6) NULL,
	[NetSalesTC] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
