/****** Object:  Table [DataStore].[Company]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Company](
	[CompanyCode] [nvarchar](4) NULL,
	[CompanyName] [nvarchar](100) NOT NULL,
	[CompanyCodeName] [nvarchar](105) NULL,
	[CompanyType] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
