/****** Object:  Table [DataStore].[Product]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Product](
	[ProductId] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[ProductName] [nvarchar](60) NOT NULL,
	[ProductGroupCode] [nvarchar](10) NOT NULL,
	[ProductGroupName] [nvarchar](60) NOT NULL,
	[ProductGroupCodeName] [nvarchar](73) NOT NULL,
	[ProductInventoryUnit] [nvarchar](10) NOT NULL,
	[ProductPurchaseUnit] [nvarchar](10) NOT NULL,
	[ProductSalesUnit] [nvarchar](10) NOT NULL,
	[PhysicalUnitSymbol] [nvarchar](10) NOT NULL,
	[PhysicalVolume] [numeric](38, 6) NULL,
	[PhysicalWeight] [numeric](32, 12) NOT NULL,
	[PrimaryVendorCode] [nvarchar](20) NULL,
	[CountryOfOrigin] [nvarchar](10) NOT NULL,
	[IntrastatCommodityCode] [nvarchar](20) NOT NULL,
	[ABCClassification] [nvarchar](10) NULL,
	[Brand] [nvarchar](100) NOT NULL,
	[Material] [nvarchar](100) NOT NULL,
	[BusinessType] [nvarchar](100) NOT NULL
) ON [PRIMARY]
GO
