/****** Object:  Table [DataStore].[Operations]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Operations](
	[OperationCode] [nvarchar](10) NOT NULL,
	[OperationName] [nvarchar](60) NOT NULL,
	[OperationSequence] [bigint] NULL,
	[OperationNumber] [nvarchar](10) NOT NULL,
	[OperationNumberNext] [int] NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[OperationPriority] [int] NOT NULL
) ON [PRIMARY]
GO
