/****** Object:  Table [DataStore].[BudgetModel]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[BudgetModel](
	[CompanyCode] [nvarchar](4) NULL,
	[BudgetModelCode] [nvarchar](10) NULL,
	[BudgetModelName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
