/****** Object:  Table [DataStore].[PaymentTerms]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[PaymentTerms](
	[CompanyCode] [nvarchar](4) NULL,
	[PaymentTermsCode] [nvarchar](100) NULL,
	[PaymentTermsName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
