/****** Object:  Table [DataStore].[AnalyticalDimensionLedgerSalesAndPurchase]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[AnalyticalDimensionLedgerSalesAndPurchase](
	[DefaultDimensionId] [bigint] NOT NULL,
	[MainAccount] [nvarchar](30) NOT NULL,
	[Intercompany] [nvarchar](30) NOT NULL,
	[BusinessSegment] [nvarchar](30) NOT NULL,
	[EndCustomer] [nvarchar](30) NOT NULL,
	[Department] [nvarchar](30) NOT NULL,
	[LocalAccount] [nvarchar](30) NOT NULL,
	[Location] [nvarchar](30) NOT NULL,
	[Product] [nvarchar](30) NOT NULL,
	[ShipmentContract] [nvarchar](30) NOT NULL,
	[Vendor] [nvarchar](30) NOT NULL
) ON [PRIMARY]
GO
