/****** Object:  Table [DataStore].[IntercompanyARAP]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[IntercompanyARAP](
	[InvoiceDate] [datetime] NULL,
	[YearInvoice] [int] NULL,
	[PostedDate] [datetime] NULL,
	[DueDate] [datetime] NULL,
	[Brn] [nvarchar](max) NOT NULL,
	[Departement] [nvarchar](max) NOT NULL,
	[AR_AP_Type] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[SalesInvoiceCode] [nvarchar](max) NOT NULL,
	[PurchaseInvoiceCode] [nvarchar](max) NOT NULL,
	[JobInvoice] [nvarchar](max) NOT NULL,
	[Currency] [nvarchar](max) NOT NULL,
	[InvoiceTotal] [numeric](38, 8) NOT NULL,
	[CustomerCode] [nvarchar](max) NOT NULL,
	[SupplierCode] [nvarchar](max) NOT NULL,
	[AccountName] [nvarchar](max) NOT NULL,
	[AP_Settlement] [nvarchar](max) NOT NULL,
	[AR_Settlement] [nvarchar](max) NOT NULL,
	[CrGRP] [nvarchar](max) NOT NULL,
	[DrGRP] [nvarchar](max) NOT NULL,
	[DestDisch] [nvarchar](max) NOT NULL,
	[ETA] [datetime2](7) NULL,
	[ETD] [datetime2](7) NULL,
	[House] [nvarchar](max) NOT NULL,
	[JobNumber] [nvarchar](max) NOT NULL,
	[Master] [nvarchar](max) NOT NULL,
	[OrigCountry] [nvarchar](max) NOT NULL,
	[OrigCountryName] [nvarchar](max) NOT NULL,
	[OriginLoad] [nvarchar](max) NOT NULL,
	[CompanyCode] [varchar](4) NOT NULL,
	[ExchangeRate] [numeric](32, 16) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
