/****** Object:  Table [DataStore].[Employee]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Employee](
	[EmployeeId] [bigint] NOT NULL,
	[EmployeeCode] [nvarchar](25) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[EmployeeCodeName] [nvarchar](126) NOT NULL,
	[DimensionName] [nvarchar](9) NOT NULL
) ON [PRIMARY]
GO
