/****** Object:  Table [DataStore].[CaseActivity]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[CaseActivity](
	[CaseCode] [nvarchar](10) NOT NULL,
	[ActivityNumber] [nvarchar](50) NOT NULL,
	[StartDateTime] [date] NULL,
	[EndDateTime] [date] NULL,
	[ActualEndDateTime] [date] NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[ActivityTimeType] [nvarchar](50) NULL,
	[ActivityTaskTimeType] [nvarchar](50) NULL,
	[ActualWork] [numeric](32, 6) NOT NULL,
	[AllDay] [nvarchar](50) NULL,
	[Category] [nvarchar](50) NULL,
	[Closed] [nvarchar](50) NULL,
	[DoneByWorker] [nvarchar](100) NOT NULL,
	[PercentageCompleted] [numeric](32, 6) NOT NULL,
	[Purpose] [nvarchar](255) NOT NULL,
	[ResponsibleWorker] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NULL,
	[TypeCode] [nvarchar](20) NOT NULL,
	[UserMemo] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
