/****** Object:  Table [DataStore].[SalesOrder]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[SalesOrder](
	[SalesOrderCode] [nvarchar](20) NOT NULL,
	[SalesOrderLineNumber] [numeric](32, 16) NOT NULL,
	[SalesOrderLineNumberCombination] [nvarchar](53) NULL,
	[OrderTransaction] [nvarchar](20) NULL,
	[DeliveryAddress] [nvarchar](356) NOT NULL,
	[DocumentStatus] [nvarchar](255) NOT NULL,
	[HeaderRecId] [bigint] NOT NULL,
	[LineRecId] [bigint] NOT NULL,
	[DefaultDimension] [bigint] NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[OrderCustomerCode] [nvarchar](20) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[PaymentTermsCode] [nvarchar](100) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[SalesOrderStatus] [nvarchar](255) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[CreationDate] [date] NULL,
	[RequestedShippingDate] [date] NULL,
	[ConfirmedShippingDate] [date] NULL,
	[RequestedDeliveryDate] [date] NULL,
	[ConfirmedDeliveryDate] [date] NULL,
	[FirstShipmentDate] [date] NULL,
	[LastShipmentDate] [date] NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[OrderedQuantity] [numeric](32, 6) NOT NULL,
	[OrderedQuantityRemaining] [numeric](32, 6) NOT NULL,
	[DeliveredQuantity] [numeric](33, 6) NULL,
	[SalesPricePerUnitTC] [numeric](38, 6) NULL,
	[GrossSalesTC] [numeric](38, 6) NULL,
	[DiscountAmountTC] [numeric](38, 6) NULL,
	[InvoicedSalesAmountTC] [numeric](38, 6) NULL,
	[MarkupAmountTC] [numeric](38, 6) NULL,
	[NetSalesTC] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
