/****** Object:  Table [DataStore].[ProductConfiguration]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ProductConfiguration](
	[CompanyCode] [nvarchar](4) NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[ProductConfigurationCode] [nvarchar](50) NOT NULL,
	[InventBatchCode] [nvarchar](20) NOT NULL,
	[InventColorCode] [nvarchar](10) NOT NULL,
	[InventSizeCode] [nvarchar](10) NOT NULL,
	[InventStyleCode] [nvarchar](10) NOT NULL,
	[InventStatusCode] [nvarchar](10) NOT NULL,
	[SiteCode] [nvarchar](10) NOT NULL,
	[SiteName] [nvarchar](60) NOT NULL,
	[WarehouseCode] [nvarchar](10) NOT NULL,
	[WarehouseName] [nvarchar](60) NOT NULL,
	[WarehouseLocationCode] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
