/****** Object:  Table [DataStore].[ProductCostBreakdownTheoretical]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ProductCostBreakdownTheoretical](
	[BOM] [int] NOT NULL,
	[BOMCalcTransRecId] [bigint] NOT NULL,
	[CalcGroupCode] [nvarchar](10) NOT NULL,
	[CalcType] [int] NOT NULL,
	[ConsistOfPrice] [nvarchar](20) NOT NULL,
	[ConsumptionConstant] [numeric](32, 16) NOT NULL,
	[ConsumptionVariable] [numeric](32, 16) NOT NULL,
	[ConsumpType] [int] NOT NULL,
	[CostCalculationMethod] [int] NOT NULL,
	[CostGroupCode] [nvarchar](10) NOT NULL,
	[CostMarkup] [numeric](32, 16) NOT NULL,
	[CostMarkupQty] [numeric](32, 16) NOT NULL,
	[CostPrice] [numeric](32, 16) NOT NULL,
	[CostPriceModelUsed] [int] NOT NULL,
	[CostPriceQty] [numeric](32, 16) NOT NULL,
	[CostPriceUnit] [numeric](32, 12) NOT NULL,
	[DataAreaId] [nvarchar](4) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[Level_] [int] NOT NULL,
	[LineNum] [numeric](32, 16) NOT NULL,
	[NetWeightQty] [numeric](32, 12) NOT NULL,
	[NumOfSeries] [numeric](32, 6) NOT NULL,
	[OprId] [nvarchar](10) NOT NULL,
	[OprNum] [int] NOT NULL,
	[OprNumNext] [int] NOT NULL,
	[OprPriority] [int] NOT NULL,
	[ParentBOMCalcTrans] [bigint] NOT NULL,
	[PriceCalcId] [nvarchar](20) NOT NULL,
	[Qty] [numeric](32, 6) NOT NULL,
	[Resource_] [nvarchar](30) NOT NULL,
	[SalesMarkup] [numeric](32, 6) NOT NULL,
	[SalesMarkupQty] [numeric](32, 6) NOT NULL,
	[SalesPrice] [numeric](32, 6) NOT NULL,
	[SalesPriceQty] [numeric](32, 6) NOT NULL,
	[SalesPriceUnit] [numeric](32, 12) NOT NULL,
	[TransDate] [datetime] NOT NULL,
	[UnitCode] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
