/****** Object:  Table [DataStore].[Markup]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Markup](
	[CompanyCode] [nvarchar](4) NULL,
	[TransRecId] [bigint] NOT NULL,
	[MarkupCategory] [int] NOT NULL,
	[TransTableCode] [int] NOT NULL,
	[SurchargeTransport] [numeric](32, 6) NOT NULL,
	[SurchargePurchase] [numeric](32, 6) NOT NULL,
	[SurchargeDelivery] [numeric](32, 6) NOT NULL,
	[SurchargeTotal] [numeric](34, 6) NULL
) ON [PRIMARY]
GO
