/****** Object:  Table [DataStore].[SystemUser]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[SystemUser](
	[SystemUserCode] [nvarchar](20) NOT NULL,
	[UserName] [nvarchar](81) NOT NULL,
	[DomainUserName] [nvarchar](255) NULL
) ON [PRIMARY]
GO
