/****** Object:  Table [DataStore].[RFQ]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[RFQ](
	[RFQCaseCode] [nvarchar](20) NOT NULL,
	[RFQCaseName] [nvarchar](60) NOT NULL,
	[RFQCaseLineNumber] [bigint] NOT NULL,
	[RFQCode] [nvarchar](20) NOT NULL,
	[RFQName] [nvarchar](100) NOT NULL,
	[RFQLineNumber] [numeric](32, 16) NOT NULL,
	[SupplierCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductConfigurationCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[DefaultExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[BudgetExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](4) NOT NULL,
	[AccountingCurrencyCode] [nvarchar](3) NOT NULL,
	[ReportingCurrencyCode] [nvarchar](3) NOT NULL,
	[GroupCurrencyCode] [nvarchar](50) NOT NULL,
	[DeliveryDate] [date] NULL,
	[ExpiryDate] [date] NULL,
	[CreatedDate] [date] NULL,
	[RFQCaseStatusLow] [nvarchar](50) NULL,
	[RFQCaseStatusHigh] [nvarchar](50) NULL,
	[RFQLineStatus] [nvarchar](50) NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[PurchQuantity] [numeric](32, 6) NOT NULL,
	[PurchPriceTC] [numeric](32, 6) NOT NULL,
	[PurchPriceAC] [numeric](38, 6) NOT NULL,
	[PurchPriceRC] [numeric](38, 6) NOT NULL,
	[PurchPriceGC] [numeric](38, 6) NOT NULL,
	[PurchPriceAC_Budget] [numeric](38, 6) NOT NULL,
	[PurchPriceRC_Budget] [numeric](38, 6) NOT NULL,
	[PurchPriceGC_Budget] [numeric](38, 6) NOT NULL,
	[RFQLineAmountTC] [numeric](32, 6) NOT NULL,
	[RFQLineAmountAC] [numeric](38, 6) NOT NULL,
	[RFQLineAmountRC] [numeric](38, 6) NOT NULL,
	[RFQLineAmountGC] [numeric](38, 6) NOT NULL,
	[RFQLineAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[RFQLineAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[RFQLineAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[CostAvoidanceAmountTC] [numeric](33, 6) NOT NULL,
	[CostAvoidanceAmountAC] [numeric](38, 6) NOT NULL,
	[CostAvoidanceAmountRC] [numeric](38, 6) NOT NULL,
	[CostAvoidanceAmountGC] [numeric](38, 6) NOT NULL,
	[CostAvoidanceAmountAC_Budget] [numeric](38, 6) NOT NULL,
	[CostAvoidanceAmountRC_Budget] [numeric](38, 6) NOT NULL,
	[CostAvoidanceAmountGC_Budget] [numeric](38, 6) NOT NULL,
	[MaxPurchPriceTC] [numeric](32, 6) NOT NULL,
	[MaxPurchPriceAC] [numeric](38, 6) NOT NULL,
	[MaxPurchPriceRC] [numeric](38, 6) NOT NULL,
	[MaxPurchPriceGC] [numeric](38, 6) NOT NULL,
	[MaxPurchPriceAC_Budget] [numeric](38, 6) NOT NULL,
	[MaxPurchPriceRC_Budget] [numeric](38, 6) NOT NULL,
	[MaxPurchPriceGC_Budget] [numeric](38, 6) NOT NULL,
	[MinPurchPriceTC] [numeric](32, 6) NOT NULL,
	[MinPurchPriceAC] [numeric](38, 6) NOT NULL,
	[MinPurchPriceRC] [numeric](38, 6) NOT NULL,
	[MinPurchPriceGC] [numeric](38, 6) NOT NULL,
	[MinPurchPriceAC_Budget] [numeric](38, 6) NOT NULL,
	[MinPurchPriceRC_Budget] [numeric](38, 6) NOT NULL,
	[MinPurchPriceGC_Budget] [numeric](38, 6) NOT NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateAC] [numeric](38, 21) NOT NULL,
	[AppliedExchangeRateGC] [numeric](38, 21) NOT NULL
) ON [PRIMARY]
GO
