/****** Object:  Table [DataStore].[EndCustomer]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[EndCustomer](
	[EndCustomerId] [bigint] NOT NULL,
	[EndCustomerCode] [nvarchar](30) NOT NULL,
	[EndCustomerName] [nvarchar](60) NOT NULL,
	[EndCustomerCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
