/****** Object:  Table [DataStore].[PurchaseOrder]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[PurchaseOrder](
	[PurchaseOrderCode] [nvarchar](20) NULL,
	[RecId] [bigint] NOT NULL,
	[PurchaseOrderLineNumber] [bigint] NOT NULL,
	[OrderLineNumberCombination] [nvarchar](53) NULL,
	[DeliveryAddress] [nvarchar](356) NOT NULL,
	[CompanyCode] [nvarchar](4) NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[SupplierCode] [nvarchar](20) NULL,
	[OrderSupplierCode] [nvarchar](20) NULL,
	[DeliveryModeCode] [nvarchar](10) NOT NULL,
	[PaymentTermsCode] [nvarchar](100) NOT NULL,
	[DeliveryTermsCode] [nvarchar](10) NOT NULL,
	[PurchaseOrderStatus] [nvarchar](255) NOT NULL,
	[TransactionCurrencyCode] [nvarchar](3) NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[CreationDate] [date] NULL,
	[RequestedDeliveryDate] [datetime] NOT NULL,
	[ConfirmedDeliveryDate] [datetime] NOT NULL,
	[OrderedQuantity] [numeric](32, 6) NOT NULL,
	[OrderedQuantityRemaining] [numeric](32, 6) NOT NULL,
	[DeliveredQuantity] [numeric](33, 6) NULL,
	[PurchaseUnit] [nvarchar](10) NOT NULL,
	[PurchasePricePerUnitTC] [numeric](38, 6) NOT NULL,
	[GrossPurchaseTC] [numeric](38, 6) NULL,
	[DiscountAmountTC] [numeric](38, 6) NULL,
	[InvoicedPurchaseAmountTC] [numeric](38, 6) NULL,
	[MarkupAmountTC] [numeric](38, 6) NULL,
	[NetPurchaseTC] [numeric](38, 6) NULL
) ON [PRIMARY]
GO
