/****** Object:  Table [DataStore].[ProductCostBreakdownHierarchy]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ProductCostBreakdownHierarchy](
	[CompanyCode] [nvarchar](4) NULL,
	[Level_1] [nvarchar](93) NOT NULL,
	[Level_2] [nvarchar](93) NOT NULL,
	[Level_3] [nvarchar](93) NOT NULL
) ON [PRIMARY]
GO
