/****** Object:  Table [DataStore].[PriceAgreement]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[PriceAgreement](
	[VendorCode] [nvarchar](20) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[Amount] [numeric](32, 6) NOT NULL,
	[Currency] [nvarchar](3) NOT NULL,
	[FromDate] [datetime] NOT NULL,
	[ToDate] [datetime] NOT NULL,
	[QtyFrom] [numeric](32, 6) NOT NULL,
	[QtyTo] [numeric](32, 6) NOT NULL,
	[UnitId] [nvarchar](10) NOT NULL,
	[PriceUnit] [numeric](32, 12) NOT NULL
) ON [PRIMARY]
GO
