/****** Object:  Table [DataStore].[Location]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Location](
	[LocationId] [bigint] NOT NULL,
	[LocationCode] [nvarchar](30) NOT NULL,
	[LocationName] [nvarchar](60) NOT NULL,
	[LocationCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
