/****** Object:  Table [DataStore].[BusinessUnit]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[BusinessUnit](
	[BusinessUnitId] [bigint] NOT NULL,
	[BusinessUnitCode] [nvarchar](30) NOT NULL,
	[BusinessUnitName] [nvarchar](60) NOT NULL,
	[BusinessUnitCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
