/****** Object:  Table [DataStore].[CostPrice]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[CostPrice](
	[ItemNumber] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[UnitCode] [nvarchar](10) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[Price] [numeric](38, 9) NULL,
	[StartValidityDate] [datetime] NOT NULL,
	[EndValidityDate] [datetime] NULL
) ON [PRIMARY]
GO
