/****** Object:  Table [DataStore].[Department]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[Department](
	[DepartmentId] [bigint] NOT NULL,
	[DepartmentCode] [nvarchar](30) NOT NULL,
	[DepartmentName] [nvarchar](60) NOT NULL,
	[DepartmentCodeName] [nvarchar](91) NOT NULL,
	[DimensionName] [nvarchar](60) NOT NULL
) ON [PRIMARY]
GO
