/****** Object:  Table [DataStore].[SalesShipment]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[SalesShipment](
	[CustPackingSlipCode] [nvarchar](20) NOT NULL,
	[CustPackingSlipLineNumber] [numeric](32, 16) NOT NULL,
	[CustPackingSlipLineNumberCombination] [nvarchar](53) NOT NULL,
	[SalesOrderCode] [nvarchar](20) NOT NULL,
	[SalesInvoiceCode] [nvarchar](20) NOT NULL,
	[CompanyCode] [nvarchar](4) NOT NULL,
	[ProductCode] [nvarchar](20) NOT NULL,
	[OrderCustomerCode] [nvarchar](20) NOT NULL,
	[CustomerCode] [nvarchar](20) NOT NULL,
	[InventTransCode] [nvarchar](20) NOT NULL,
	[InventDimCode] [nvarchar](20) NOT NULL,
	[RequestedShippingDate] [date] NULL,
	[ConfirmedShippingDate] [date] NULL,
	[ActualDeliveryDate] [date] NULL,
	[SalesUnit] [nvarchar](10) NOT NULL,
	[OrderedQuantity] [numeric](32, 6) NOT NULL,
	[DeliveredQuantity] [numeric](32, 6) NOT NULL
) ON [PRIMARY]
GO
