/****** Object:  Table [DataStore].[ForecastModel]    Script Date: 03/03/2026 16:26:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ForecastModel](
	[CompanyCode] [nvarchar](4) NULL,
	[ForecastModelCode] [nvarchar](10) NULL,
	[ForecastModelName] [nvarchar](60) NOT NULL,
	[ForecastSubModelCode] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
