/****** Object:  Table [DataStore].[ExchangeRate]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DataStore].[ExchangeRate](
	[ExchangeRateTypeCode] [nvarchar](20) NOT NULL,
	[ExchangeRateTypeName] [nvarchar](60) NOT NULL,
	[DataSource] [varchar](11) NOT NULL,
	[FromCurrencyCode] [nvarchar](3) NOT NULL,
	[ToCurrencyCode] [nvarchar](3) NOT NULL,
	[ValidFrom] [datetime] NULL,
	[ValidTo] [datetime] NULL,
	[ExchangeRate] [numeric](38, 17) NULL
) ON [PRIMARY]
GO
