/****** Object:  Table [dbo].[SMRBIVendTransStaging]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SMRBIVendTransStaging](
	[DEFINITIONGROUP] [nvarchar](60) NOT NULL,
	[EXECUTIONID] [nvarchar](90) NOT NULL,
	[ISSELECTED] [int] NOT NULL,
	[TRANSFERSTATUS] [int] NOT NULL,
	[ACCOUNTNUM] [nvarchar](20) NOT NULL,
	[AMOUNTCUR] [numeric](32, 6) NOT NULL,
	[AMOUNTMST] [numeric](32, 6) NOT NULL,
	[CLOSED] [datetime] NOT NULL,
	[CURRENCYCODE] [nvarchar](3) NOT NULL,
	[DOCUMENTDATE] [datetime] NOT NULL,
	[DUEDATE] [datetime] NOT NULL,
	[INVOICE] [nvarchar](20) NOT NULL,
	[VENDTRANSRECID] [bigint] NOT NULL,
	[SETTLEAMOUNTCUR] [numeric](32, 6) NOT NULL,
	[SETTLEAMOUNTMST] [numeric](32, 6) NOT NULL,
	[TRANSDATE] [datetime] NOT NULL,
	[TXT] [nvarchar](60) NOT NULL,
	[VOUCHER] [nvarchar](20) NOT NULL,
	[COMPANY] [nvarchar](4) NOT NULL,
	[APPROVED] [int] NOT NULL,
	[PARTITION] [nvarchar](20) NOT NULL,
	[DATAAREAID] [nvarchar](4) NOT NULL,
	[SYNCSTARTDATETIME] [datetime] NOT NULL,
	[RECID] [bigint] NOT NULL
) ON [PRIMARY]
GO
