/****** Object:  Table [DWH].[FactAccountsPayable]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [DWH].[FactAccountsPayable](
	[FactAccountsPayableId] [int] IDENTITY(1,1) NOT NULL,
	[DimCompanyId] [int] NOT NULL,
	[DimPurchaseInvoiceId] [int] NOT NULL,
	[DimIsOpenAmountId] [bit] NOT NULL,
	[DimOutstandingPeriodId] [int] NOT NULL,
	[DimSupplierId] [int] NOT NULL,
	[DimTransactionCurrencyId] [int] NOT NULL,
	[DimAccountingCurrencyId] [int] NOT NULL,
	[DimReportingCurrencyId] [int] NOT NULL,
	[DimGroupCurrencyId] [int] NOT NULL,
	[DimReportDateId] [int] NOT NULL,
	[DimDueDateId] [int] NOT NULL,
	[ReportMonthId] [int] NULL,
	[InvoiceDate] [datetime] NOT NULL,
	[LastPaymentDate] [datetime] NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[RecId] [bigint] NOT NULL,
	[PayablesVoucher] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[InvoiceAmountTC] [numeric](38, 6) NULL,
	[InvoiceAmountAC] [numeric](38, 6) NULL,
	[InvoiceAmountRC] [numeric](38, 6) NULL,
	[InvoiceAmountGC] [numeric](38, 6) NULL,
	[InvoiceAmountAC_Budget] [numeric](38, 6) NULL,
	[InvoiceAmountRC_Budget] [numeric](38, 6) NULL,
	[InvoiceAmountGC_Budget] [numeric](38, 6) NULL,
	[PaidAmountTC] [numeric](38, 6) NULL,
	[PaidAmountAC] [numeric](38, 6) NULL,
	[PaidAmountRC] [numeric](38, 6) NULL,
	[PaidAmountGC] [numeric](38, 6) NULL,
	[PaidAmountAC_Budget] [numeric](38, 6) NULL,
	[PaidAmountRC_Budget] [numeric](38, 6) NULL,
	[PaidAmountGC_Budget] [numeric](38, 6) NULL,
	[OpenAmountTC] [numeric](38, 6) NULL,
	[OpenAmountAC] [numeric](38, 6) NULL,
	[OpenAmountRC] [numeric](38, 6) NULL,
	[OpenAmountGC] [numeric](38, 6) NULL,
	[OpenAmountAC_Budget] [numeric](38, 6) NULL,
	[OpenAmountRC_Budget] [numeric](38, 6) NULL,
	[OpenAmountGC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateTC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC] [numeric](38, 6) NULL,
	[AppliedExchangeRateAC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateRC_Budget] [numeric](38, 6) NULL,
	[AppliedExchangeRateGC_Budget] [numeric](38, 6) NULL,
	[CreatedETLRunId] [int] NOT NULL,
	[ModifiedETLRunId] [int] NOT NULL,
	[DimVoucherId] [int] NULL,
 CONSTRAINT [PK_FactAPCurrent] PRIMARY KEY CLUSTERED 
(
	[FactAccountsPayableId] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH CHECK ADD  CONSTRAINT [FK__FactAccou__DimDu__377BF4A1] FOREIGN KEY([DimDueDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] CHECK CONSTRAINT [FK__FactAccou__DimDu__377BF4A1]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH CHECK ADD  CONSTRAINT [FK__FactAccou__DimRe__3B4C8585] FOREIGN KEY([DimReportDateId])
REFERENCES [DWH].[DimDate] ([DimDateId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] CHECK CONSTRAINT [FK__FactAccou__DimRe__3B4C8585]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactAPCurrent_DimAccountingCurrencyId] FOREIGN KEY([DimAccountingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] NOCHECK CONSTRAINT [FK_DWH_FactAPCurrent_DimAccountingCurrencyId]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactAPCurrent_DimGroupCurrencyId] FOREIGN KEY([DimGroupCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] NOCHECK CONSTRAINT [FK_DWH_FactAPCurrent_DimGroupCurrencyId]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactAPCurrent_DimReportingCurrencyId] FOREIGN KEY([DimReportingCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] NOCHECK CONSTRAINT [FK_DWH_FactAPCurrent_DimReportingCurrencyId]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH NOCHECK ADD  CONSTRAINT [FK_DWH_FactAPCurrent_DimTransactionCurrencyId] FOREIGN KEY([DimTransactionCurrencyId])
REFERENCES [DWH].[DimCurrency] ([DimCurrencyId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] NOCHECK CONSTRAINT [FK_DWH_FactAPCurrent_DimTransactionCurrencyId]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH CHECK ADD  CONSTRAINT [FK_FactAPCurrent_DimCompany] FOREIGN KEY([DimCompanyId])
REFERENCES [DWH].[DimCompany] ([DimCompanyId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] CHECK CONSTRAINT [FK_FactAPCurrent_DimCompany]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH CHECK ADD  CONSTRAINT [FK_FactAPCurrent_DimIsOpenAmount] FOREIGN KEY([DimIsOpenAmountId])
REFERENCES [DWH].[DimIsOpenAmount] ([DimIsOpenAmountId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] CHECK CONSTRAINT [FK_FactAPCurrent_DimIsOpenAmount]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH CHECK ADD  CONSTRAINT [FK_FactAPCurrent_DimOutstandingPeriod] FOREIGN KEY([DimOutstandingPeriodId])
REFERENCES [DWH].[DimOutstandingPeriod] ([DimOutstandingPeriodId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] CHECK CONSTRAINT [FK_FactAPCurrent_DimOutstandingPeriod]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH CHECK ADD  CONSTRAINT [FK_FactAPCurrent_DimPurchaseInvoice] FOREIGN KEY([DimPurchaseInvoiceId])
REFERENCES [DWH].[DimPurchaseInvoice] ([DimPurchaseInvoiceId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] CHECK CONSTRAINT [FK_FactAPCurrent_DimPurchaseInvoice]
GO
ALTER TABLE [DWH].[FactAccountsPayable]  WITH CHECK ADD  CONSTRAINT [FK_FactAPCurrent_DimSupplier] FOREIGN KEY([DimSupplierId])
REFERENCES [DWH].[DimSupplier] ([DimSupplierId])
GO
ALTER TABLE [DWH].[FactAccountsPayable] CHECK CONSTRAINT [FK_FactAPCurrent_DimSupplier]
GO
