/****** Object:  Table [ETL].[GroupCurrency]    Script Date: 03/03/2026 16:26:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [ETL].[GroupCurrency](
	[GroupCurrencyCode] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
